adding:
  dependencies:
    config:
      - field.field.node.page.field_reference
      - field.field.node.page.field_related_content
  _core:
    default_config_hash: NhmTCEIwoFEiLieuvd46cPOjOsyH2UmhShZypCi9rX4
  content:
    field_featured_image_display:
      weight: 15
    field_publish_options:
      weight: 13
    field_reference:
      type: entity_reference_autocomplete_tags
      weight: 17
      region: content
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
      third_party_settings: {  }
    field_related_content:
      type: entity_reference_autocomplete
      weight: 16
      region: content
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
      third_party_settings: {  }
    moderation_state:
      weight: 14
removing:
  content:
    field_featured_image_display:
      weight: 26
    field_publish_options:
      weight: 14
    moderation_state:
      weight: 15
