.uiowa-alerts-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  .alert.alert--icon.alert--danger {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .custom-alert-wrapper {
    display: none;
  }
}
