.block-inline-blockslideshow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.block-inline-blockslideshow .node--type-slide {
  //width: 100%;
  //height: 100%;
  //padding: 0;
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  z-index: 0;
  transform: translateZ(0px);
  transition: all 2s ease-in-out;
  transition-property: opacity, transform;

}

.block-inline-blockslideshow .node--type-slide.show-slide {
  opacity: 1;
  transform: translateZ(10px);
  z-index: 1;
}

/* TODO: Should pre-process the title out or make custom template instead. */
.block-inline-blockslideshow .node--type-slide .page-title, > h2 {
  display: none;
}

.block-inline-blockslideshow .node--type-slide .node__content {
  height: 100%;
}

.block-inline-blockslideshow .node--type-slide .node__content .layout {
  height: 100%;
}

.block-inline-blockslideshow .node--type-slide .node__content .banner {
  height: 100%;
}

.block-inline-blockslideshow .node--type-slide .layout__spacing_container {
  grid-template-columns: 1fr;
}
