{%
  set classes = [
  'bg--white',
]
%}

<span {{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    <a href="{{ item.content['#url'] }}" class="bttn bttn--outline bttn--sans-serif">{{ item.content['#title']|render }}<i role="presentation" class="fas fa-arrow-right"></i></a>
  {%- endfor -%}
</span>
