<h2><div class="headline bold-headline--serif bold-headline--underline">US Citizens & Permanent Residents</div></h2>
{%
  set classes = [
    'badge',
    'badge--primary',
  ]
%}

<div {{ attributes.addClass(classes) }}>
	{%- for item in items -%}
    {{ item.content }}
	{%- endfor -%}
</div>
<hr class="element--spacer-separator" />
