{% block field_icon %}
  <span class="fa-desktop fas"></span> &nbsp;
  {% embed '@uids_base/field/field.html.twig' %}
  {% endembed %}
{% endblock %}
<hr class="element--spacer-gold element--spacer-gold" />
