
  <blockquote>
    <p>
      <em>This is a properly formatted blockquote, btw.</em>
      Measuring programming progress by lines of code is like measuring aircraft
      building progress by weight.</p>
    <footer>
      —
      <cite>
        <a href="/">Bill Gates</a>
      </cite>
    </footer>
  </blockquote>

