.uiowa-search--search-form {
  flex: 0 0 auto;
  width: 250px;
}

#uiowa-search {
  flex-direction: column;
}
@media(min-width: 768px) {
  #uiowa-search {
    flex-direction: row;
  }
}
#uiowa-search fieldset.form-item-search-terms {
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
#uiowa-search input.form-submit {
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
