.page-node-type-residence-hall .fa-ul li .field,
.page-node-type-residence-hall .fa-ul li svg {
  display: inline-block;
}

.page-node-type-residence-hall .fa-ul li {
  margin-bottom: 0.5rem;
}

.page-node-type-residence-hall .fa-ul svg {
  margin-right: 0.5rem;
}

.page-node-type-residence-hall .banner [class*="block-field-blocknoderesidence-hallfield-"] {
  display: inline-block;
}

.page-node-type-residence-hall .banner .block-field-blocknoderesidence-hallfield-residence-hall-population {
  display: inline;
}

.page-node-type-residence-hall .banner .block-field-blocknoderesidence-hallfield-residence-hall-population:before {
  content: "";
  display: inline-block;
  width: 100%;
}

.page-node-type-residence-hall .accordion .grid--twocol--50-50 .list-container {
  column-gap: 1rem;
}

.page-node-type-residence-hall .card .bttn {
  background: #fff;
}
/* Banner view mode style adjustments */
.field--name-field-residence-hall-llc .field__items {
  display: flex;
  flex-flow: wrap;
  margin-top: 2rem;
}

.field--name-field-residence-hall-llc .field__item {
  width: 100%;
}

.field--name-field-residence-hall-llc .banner .headline--small {
  font-size: 1.8rem;
  font-size: clamp(1.6rem,1.6rem,1.6rem);
}
@media (min-width: 84.375em) {
  .layout--onecol[class*=page__container--edge] .field--name-field-residence-hall-llc .banner.banner--vertical-bottom.banner--horizontal-left .banner__content {
    padding: 2rem;
    width: 100%;
  }

  .field--name-field-residence-hall-llc .field__items {
    flex-flow: row nowrap;
  }
}

.field--name-field-housing-floor-plan-image {
  width: 40%;
  float: right;
  margin: 1rem 0 2rem 2rem;
}
