.page-node-type-residence-hall .fa-ul li svg,
.page-node-type-residence-hall .fa-ul li .field {
  display:inline-block;
}

.page-node-type-residence-hall .fa-ul li {
  margin-bottom: .5rem;
}

.page-node-type-residence-hall .fa-ul svg {
  margin-right: .5rem;
}

.page-node-type-residence-hall .banner [class*="block-field-blocknoderesidence-hallfield-"] {
  display: inline-block;
}

.page-node-type-residence-hall .banner .block-field-blocknoderesidence-hallfield-residence-hall-population {
  display: inline;
}

.page-node-type-residence-hall .banner .block-field-blocknoderesidence-hallfield-residence-hall-population:before {
  content: "";
  display: inline-block;
  width: 100%;
}

.block--border {
  border: 1px solid #ccc;
}


