adding:
  dependencies:
    config:
      - field.field.node.page.field_page_content_block
  hidden:
    field_page_content_block: true
removing:
  dependencies:
    config:
      - field.field.node.page.layout_builder__layout
