@use "sass:color";
@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// @todo Move back to UIDS4.

.accordion {
  .accordion__heading {
    margin: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: $font-weight-bold;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    button {
      all: inherit;
      font-size: 1.2rem;
      width: 100%;
      background-color: #edeceb;
      color: $secondary;
      padding: $md;
      display: flex;
      justify-content: space-between;
      transition: all 0.2s ease-in-out;
      transition-property: background-color;
      cursor: pointer;

      &:focus {
        outline: 5px auto -webkit-focus-ring-color;
      }

      i, svg {
        color: currentColor;
        transform: rotate(-180deg) translate(0px, -0.1em);
        transition: all 0.3s ease-in-out;
        transition-property: transform, background-color;
        background-color: transparent;
        width: 30px !important;
        height: 30px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -0.3rem 0;
        border-radius: 50%;
      }

      &:hover, &:focus {
        background-color: color.scale(#edeceb, $lightness: -4%);

        i {
          transform: rotate(-180deg) translate(0px, -0.2em);
        }

        &[aria-expanded="true"] i, &[aria-expanded="true"] svg {
          transform: rotate(0deg) translate(0px, 0em);
        }
      }

      &[aria-expanded="true"] i, &[aria-expanded="true"] svg {
        transform: rotate(0deg) translate(0px, 0.1em);
        background-color: #fafafa;
      }
    }
  }

  .accordion__content {
    padding: $md;
    border: 1px solid #edeceb;
  }
}

// uids_base styles.
.collection--accordion .accordion__content {
  background-color: $white;
  &:not([hidden]) {
    display: flow-root;
  }

  blockquote {
    border-color: $primary;
    color: $secondary;
    a {
      color: $link-color;
    }
  }
}

// @todo remove when https://github.com/uiowa/uids/issues/714 is complete.
.accordion .accordion__heading button.border {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
