@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/accordion/accordion.scss";

.collection--accordion .accordion__content {
  background-color: $white;

  blockquote {
    border-color: $primary;
    color: $secondary;
    a {
      color: $link-color;
    }
  }
}
