@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/accordion/accordion.scss";

.collection--accordion .accordion__content {
  background-color: $white;
  &:not([hidden]) {
    display: flow-root;
  }

  blockquote {
    border-color: $primary;
    color: $secondary;
    a {
      color: $link-color;
    }
  }
}

// @todo remove when https://github.com/uiowa/uids/issues/714 is complete.
.accordion .accordion__heading button.border {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
