@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/alert.scss";

.alert {
 [class*="bg--black"] & {
   color: $secondary;
   a {
     color: $secondary;
   }
 }
}


.alert ul {
  margin-top: 0;
  li {
    margin: 0;
    line-height: 1.6;
    + li {
      margin: 0;
    }
  }
}

// SVG in JS style adjustments for alert icon.
.alert__icon .svg-inline--fa.fa-stack-2x {
  height: 100%;
}

.alert__icon .svg-inline--fa.fa-stack-1x {
  margin-top: 9px;
}

// If alerts are stacked, add top margin between them.
.alert + .alert {
  margin-top: 1.6rem;
}

// Override form styles for type="button".
.alert--dismissible [type="button"] {
  position: absolute;
  padding: 0;
  margin: 0;
  svg {
    margin-left: 0;
  }
}

// Set max width for alert region.
.region-alert {
  max-width: $container-width;
  margin: 0 $mobile-width-gutter;
  @include breakpoint(page-container) {
    margin: 0 auto;
    width: 100%;
  }

  .alert {
    margin-top: 1.6rem;

    &:nth-last-child(n+1) {
      margin-bottom: 1.6rem;
    }
  }
}
