@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/alert/alert.scss";

// @todo Move this to UIDS?
.alert {
  padding: 1.05rem 1.05rem;
}

.alert a {
 .bg--black--pattern--brain &,
 .bg-pattern--brain-black &,
 .bg--black & {
   color: inherit;
 }
}
