@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/badge.scss";

.badge--light {
  background: $light;
  color: $secondary;
}

.badge {
  display: inline-flex;
  .svg-inline--fa {
    margin-right: .4rem;
    align-self: center;
  }
}
