@import "uids3/assets/scss/_variables.scss";
@import "uids3/components/badge/badge.scss";

.badge--light {
  background: $light;
  color: $secondary;
}

.fa-triangle-exclamation {
  vertical-align: -0.225em;
}
