@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/banner/banner.scss";

.banner.banner--gradient-left-reversed .bold-headline.bold-headline--negative {
  text-shadow: none;
  color: $secondary;
}

.banner {
  @include breakpoint(sm) {
    min-height: 18rem;
  }
}

.bg-pattern--brain-reversed,
.bg--gold {
  .bttn--primary {
    color: #fff;
    background: $secondary;
    border: 1px solid $secondary;

    svg {
      color: $primary;
    }
  }
}
