@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/banner/banner.scss";

.banner.banner--gradient-left-reversed .bold-headline.bold-headline--negative {
  text-shadow: none;
  color: $secondary;
}

.banner {
  @include breakpoint(sm) {
    min-height: 18rem;
  }
}

.bg-pattern--brain-reversed,
.bg--gold {
  .bttn--primary {
    color: #fff;
    background: $secondary;
    border: 1px solid $secondary;

    svg {
      color: $primary;
    }
  }
}

.layout--threecol,
.layout--fourcol,
.layout--twocol--25-75 .layout__region--first,
.layout--twocol--75-25 .layout__region--second,
.layout--twocol--33-67 .layout__region--first,
.layout--twocol--67-33 .layout__region--second {
  .banner {
    height: auto;
    min-height: auto;

    .bttn {
      font-size: 1.1vw;
    }

    .bold-headline {
      font-size: 1.2vw;
    }

    .banner__content {
      padding: 1.5rem;
    }

    .banner__text {
      display: none;
    }
  }
}
