@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/banner.scss";

.banner.banner--gradient-left-reversed .bold-headline.bold-headline--negative,
.banner.banner--gradient-left-reversed .headline.headline--highlight{
  text-shadow: none;
  color: $secondary;
}


.layout--onecol,
.layout--twocol--75-25 .layout__region--first,
.layout--twocol--25-75 .layout__region--second,
.layout--twocol--67-33 .layout__region--first,
.layout--twocol--33-67 .layout__region--second,
.layout--twocol--50-50 {
  .banner {

    // Set layout text width for onecol containers only excluding the rule below
    &:not([class*="banner--horizontal-left"]) {
      .banner__text {
        @include breakpoint(sm) {
          width: 100%;
        }

        @include breakpoint(md) {
          width: 80%;
        }

        @include breakpoint(page-container) {
          width: 60%;
        }
      }
    }
  }
}


// Adjust small padding for layout banner headers
.layout--onecol--background.banner--small {
  &::before {
    float: left;
    padding-top: 17.75%;
    content: '';
  }
}

// Layout specific sizing overrides
.layout--threecol,
.layout--fourcol,
.layout--twocol--25-75 .layout__region--first,
.layout--twocol--75-25 .layout__region--second,
.layout--twocol--33-67 .layout__region--first,
.layout--twocol--67-33 .layout__region--second {
  .banner {
    // Set large heading size
    .headline--large.headline--serif:not([class*="banner__pre-title"]),
    .headline--large:not([class*="banner__pre-title"]) {
      font-size: 2.6rem;
    }

    // Set medium heading size
    .headline--medium.headline--serif:not([class*="banner__pre-title"]),
    .headline--medium:not([class*="banner__pre-title"]) {
      font-size: 2.2rem;
    }

    // Set small heading size
    .headline--small.headline--serif:not([class*="banner__pre-title"]),
    .headline--small:not([class*="banner__pre-title"]) {
      font-size: 1.8rem;
    }
  }

  .banner__content {
    @include breakpoint(sm) {
      padding: 2rem;
    }
  }
}

.layout--onecol,
.layout--twocol--25-75 .layout__region--second,
.layout--twocol--75-25 .layout__region--first,
.layout--twocol--33-67 .layout__region--second,
.layout--twocol--67-33 .layout__region--first,
.layout--twocol--50-50 {
  .banner .banner__content {
    @include breakpoint(sm) {
      padding: 1.5rem;
    }
  }

  // Set banner content width if centered left is selected
  .banner--vertical-center.banner--horizontal-left {
    .banner__content {
      @include breakpoint(sm) {
        width: 100%;
      }

      @include breakpoint(md) {
        width: 80%;
      }

      @include breakpoint(page-container) {
        width: 50%;
      }
    }
  }
}

// Adjust padding for left aligned bottom content
.layout--onecol {
  &[class*=page__container--edge] {
    .slider__slide {
      .banner.banner--vertical-bottom.banner--horizontal-left {
        .banner__content {
          @include breakpoint(page-container) {
            padding: 3rem 1.5rem 4rem;
          }
        }
      }
    }
    .banner.banner--video.banner--vertical-bottom.banner--horizontal-left {
      .banner__content {
        @include breakpoint(page-container) {
          padding: 3rem 1.5rem 4rem 0rem;
        }
      }
    }
  }
  .banner.banner--video {
    &.banner--vertical-bottom.banner--horizontal-left {
      .banner__content {
        @include breakpoint(sm) {
          padding: 3rem 1.5rem 4rem 1.5rem;
        }
      }
    }
  }
}

// Add more padding for play/pause button for banners with video.
.banner.banner--video,
.layout--onecol[class*=page__container--edge] .banner.banner--video {
  .banner__content {
    padding-bottom: 4rem;
    padding-top: 4rem;
    @include breakpoint(page-container) {
      padding-bottom: 6rem;
      padding-top: 6rem;
    }
  }
  &.banner--stacked {
    .banner__content {
      padding: 1.25rem;
      @include breakpoint(sm) {
        padding-bottom: 4rem;
        padding-top: 4rem;
      }
      @include breakpoint(page-container) {
        padding-bottom: 6rem;
        padding-top: 6rem;
      }
    }
  }
}

  // Remove left/right padding if edge-to-edge is selected
  .layout--onecol[class*=page__container--edge] {
    .banner__content {
      @include breakpoint(page-container) {
        padding: 3rem 0;
      }
    }
  }

// Set medium heading size for page titles in banner
.layout--title.banner .bold-headline,
.layout--title.banner .headline.page-title {
  font-size: 3.7rem;
  font-size: clamp(2.2rem,calc(3.3803vw + .9324rem),3.7rem);
}

.banner__image {
  .contextual-region {
    // Remove contextual position for logged in view of banner image
    position: unset;
    &.media--video {
      position: absolute;
      @include breakpoint(sm) {
        position: unset;
      }
      .banner--stacked & {
        position: relative;
        @include breakpoint(sm) {
          position: unset;
        }
      }
    }
  }
}

// Video override
.banner video {
  width: 100% !important;
}

.media--video .video-controls {
  z-index: 2;
  .banner--vertical-bottom.banner--horizontal-left & {
    @include breakpoint(sm) {
      left: 1.5rem;
      bottom: 1.5rem;
    }
  }
}

// Default padding fixes
// Removes left padding if banner is a background color
// is placed within a section that has the same background color.
.layout:not([class*="bg-"]) {
  .banner.bg--white {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

.layout.bg--black {
  .banner.bg--black {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

.layout.bg--gray {
  .banner.bg--gray {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

.layout.bg--gold {
  .banner.bg--gold {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

.layout[class*="bg--gold--pattern--brain"] {
  .banner[class*="bg--gold--pattern--brain"] {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

.layout[class*="bg--white--pattern--brain"] {
  .banner[class*="bg--white--pattern--brain"] {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

.layout[class*="bg--black--pattern--brain"] {
  .banner[class*="bg--black--pattern--brain"] {
    .banner__content {
      padding: 1.5rem 0;
    }
  }
}

// @todo move back to UIDS
.banner__pre-title {
  font-weight: 500;
}

.slider__slide {
  .banner__container {
    position: relative;
  }
}

.banner.banner--horizontal-center {
  .banner__action .bttn {
    margin: 1rem auto;
    display: block;
    width: fit-content;
    @include breakpoint(sm) {
      margin: 0 1rem 1rem 0;
      display: inline-block;
      width: auto;
    }

    + .bttn {
      @include breakpoint(sm) {
        margin: 0 1rem 1rem 0;
      }
    }

    &:last-child {
      margin: 1rem auto;
      @include breakpoint(sm) {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
}

// @todo revisit these styles once https://github.com/uiowa/uids/issues/722 is completed.
.banner--list {
  height: 100%;
  .headline--small {
    font-size: 1.5rem;
  }
  .banner__content {
    .layout--onecol[class*="page"] & {
      padding: 2rem;
    }
  }
}

// @todo incorporate this into https://github.com/uiowa/uids/issues/721.
.banner--stacked {
  &.layout--onecol--background.banner--small {
    .banner__image {
      max-height: 15rem;
      overflow: hidden;
      @include breakpoint(sm) {
        max-height: auto;
        overflow: visible;
      }
    }
  }
}
