@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/banner/_banner.scss";

.banner--reversed *:not(.bttn) {
  color: #fff;
}

.banner__summary {
  line-height: 1.7;

  div, p {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1.05rem;
    margin-bottom: 1.875rem;
  }

  strong {
    font-weight: $font-weight-medium-bold;
  }

  a {
    font-weight: $font-weight-medium;
  }

}
