@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/blockquote/blockquote.scss";

blockquote p[class*="h"] {
  font-weight: 300;
}

blockquote {
  p:last-of-type {
    margin-bottom: 0;
  }

  &.blockquote--no-left-margin {
    margin-left: 0;
  }
}

// @todo remove with v2.
.bg-yellow blockquote {
  border-color: #fff;
}

.bg-yellow .blockquote-center blockquote {
  &:before {
    background-color: #fff;
  }
}
