@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/blockquote/blockquote.scss";

blockquote p[class*="h"] {
  font-weight: 300;
}

blockquote {
  p:last-of-type {
    margin-bottom: 0;
  }

  &.blockquote--no-left-margin {
    margin-left: 0;
  }
}


// @todo move to CSS container queries when available.
.layout--twocol--33-67 .layout__region--first,
.layout--twocol--67-33 .layout__region--second,
.layout--twocol--25-75 .layout__region--first,
.layout--twocol--75-25 .layout__region--second,
.layout--threecol--50-25-25 .layout__region--second,
.layout--threecol--50-25-25 .layout__region--third,
.layout--threecol--25-25-50 .layout__region--first,
.layout--threecol--25-25-50 .layout__region--second,
.layout--threecol--25-50-25 .layout__region--first,
.layout--threecol--25-50-25 .layout__region--third,
.layout--threecol--33-34-33,
.layout--fourcol {
  // Remove default margins.
  blockquote {
    margin: 0;
  }
  blockquote.blockquote--img-below {
    .blockquote__media {
      margin: 1rem 0;
    }
    footer {
      flex-flow: column nowrap;
      flex-direction: column;
    }
    &.blockquote--center {
      footer {
        text-align: center;
        max-width: 100%;
        cite {
          text-align: unset;
        }
      }
    }
    &.blockquote--right {
      footer {
        align-items: flex-end;
      }
    }
    &.blockquote--left {
      footer {
        align-items: start;
      }
    }
  }
}

.layout--threecol--50-25-25 .layout__region--first,
.layout--threecol--25-50-25 .layout__region--second,
.layout--threecol--25-25-50 .layout__region--third {
  blockquote.blockquote--img-below {
    &.blockquote--center {
      footer {
        @include breakpoint(sm) {
          max-width: 70%;
        }
      }
    }
  }
}

// @todo remove with v2.
.bg-yellow blockquote {
  border-color: #fff;
}

.bg-yellow .blockquote-center blockquote {
  &:before {
    background-color: #fff;
  }
}
