@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";
@use "uids/scss/components/blockquote.scss";

blockquote p[class*="h"] {
  font-weight: 300;
}

blockquote {
  &.blockquote--no-left-margin {
    margin-left: 0;
  }
}


// @todo move to CSS container queries when available.
.layout--twocol--33-67 .layout__region--first,
.layout--twocol--67-33 .layout__region--second,
.layout--twocol--25-75 .layout__region--first,
.layout--twocol--75-25 .layout__region--second,
.layout--threecol--50-25-25 .layout__region--second,
.layout--threecol--50-25-25 .layout__region--third,
.layout--threecol--25-25-50 .layout__region--first,
.layout--threecol--25-25-50 .layout__region--second,
.layout--threecol--25-50-25 .layout__region--first,
.layout--threecol--25-50-25 .layout__region--third,
.layout--threecol--33-34-33,
.layout--fourcol {
  // Remove default margins.
  blockquote {
    margin: 0;
  }
  blockquote.blockquote--img-above {
   .blockquote__media {
     margin-bottom: .9rem;
   }
    &.blockquote:not(.blockquote--center) {
      padding:  0;
      .blockquote__media {
        margin-top: 0;
      }
    }
  }
  blockquote.blockquote--img-below {
    .blockquote__media {
      margin: 1rem 0;
    }
    footer {
      flex-flow: column nowrap;
      flex-direction: column;
    }
    &.blockquote {
      footer {
        align-items: start;
      }
      &.blockquote--center {
        footer {
          align-items: center;
          text-align: center;
          max-width: 100%;
          cite {
            text-align: unset;
          }
        }
      }
      &.blockquote--right {
        footer {
          align-items: flex-end;
        }
      }
    }
  }
}

.layout--threecol--50-25-25 .layout__region--first,
.layout--threecol--25-50-25 .layout__region--second,
.layout--threecol--25-25-50 .layout__region--third {
  blockquote.blockquote--img-below {
    &.blockquote--center {
      footer {
        @include utilities.breakpoint(sm) {
          max-width: 70%;
        }
      }
    }
  }
}

// @todo Remove after v2 dies.
//   See https://github.com/uiowa/uiowa/issues/4948
.bg-yellow blockquote {
  border-color: #fff;
}

.bg-yellow .blockquote-center blockquote {
  &:before {
    background-color: #fff;
  }
}
