@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "uids/components/brand-bar/brand-bar.scss";

// Todo move back to UIDS
.nav--horizontal.iowa-bar--full {
  @include breakpoint(md) {
    margin-top: 5px;
  }
}

.iowa-bar--narrow .site_name--wrapper {
  border-bottom: 1px solid #e6e5e5;
}

// 43 Characters
// Iowa Bar Full adjustments
.iowa-bar--full.mega,
.iowa-bar--full.horizontal,
.iowa-bar--full.toggle {
  .site-name {
    @include breakpoint(md) {
      margin: 0;
      text-align: left;
      font-size: 1.7rem;
      font-size: 2rem;
      flex: 0 1 43%;
      font-weight: 400;
    }
    @include breakpoint(page-container) {
      margin: 5px 0 0;
      flex: 0 1 48%;
      font-weight: 300;
    }
  }
}

.iowa-bar--full.toggle {
  .site-name {
    @include breakpoint(md) {
      flex: 0 1 30%;
    }
    @include breakpoint(page-container) {
      flex: 0 1 48%;
    }
  }
}


@media screen and (max-width: 1605px) and (min-width: 855px) {
  .iowa-bar--full.mega .site-name,
  .iowa-bar--full.horizontal .site-name,
  .iowa-bar--full.toggle .site-name {
    font-size: 2vw;
  }
}

// Firefox width fix
.iowa-bar--narrow.iowa-bar .site-name {
  @include breakpoint(md) {
    flex-basis: auto;
  }
}

.iowa-bar {
  .logo--tab,
  .site-name {
    z-index: 1;
  }
}

// Parent site name.
.parent-site-name {
  margin: 0;
}

