@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/brand-bar.scss";

// Todo move back to UIDS
.nav--horizontal.iowa-bar--full {
  @include breakpoint(md) {
    margin-top: 5px;
  }
}

.iowa-bar--narrow .site_name--wrapper {
  border-bottom: 1px solid #e6e5e5;
}

// 43 Characters
// Iowa Bar Full adjustments
.iowa-bar--full.mega,
.iowa-bar--full.horizontal,
.iowa-bar--full.toggle {
  .site-name {
    @include breakpoint(md) {
      margin: 0;
      text-align: left;
      font-size: 1.7rem;
      font-size: 2rem;
      flex: 0 1 43%;
      font-weight: 400;
    }
    @include breakpoint(page-container) {
      margin: 5px 0 0;
      flex: 0 1 48%;
      font-weight: 300;
    }
  }
}

.iowa-bar--full.toggle {
  .site-name {
    @include breakpoint(md) {
      flex: 0 1 30%;
    }
    @include breakpoint(page-container) {
      flex: 0 1 48%;
    }
  }
}


@media screen and (max-width: 1605px) and (min-width: 855px) {
  .iowa-bar--full.mega .site-name,
  .iowa-bar--full.horizontal .site-name,
  .iowa-bar--full.toggle .site-name {
    font-size: 2vw;
  }
}

// Firefox width fix
.iowa-bar--narrow.iowa-bar .site-name {
  @include breakpoint(md) {
    flex-basis: auto;
  }
}

.iowa-bar {
  .logo--tab,
  .site-name {
    z-index: 1;
  }
}

// Parent site name.
.parent-site-name {
  margin: 0;
}

// sticky header

.header-sticky .iowa-bar {
  @include breakpoint(md) {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.4s;
  }
}


// fixed scroll bar

.header-sticky.scroll-down .iowa-bar {
  @include breakpoint(md) {
    transform: translate3d(0, -100%, 0);
    overflow: hidden;
  }

  .logo--tab {
    @include breakpoint(md) {
      margin-top: -17px;
    }
  }
}

.header-sticky.scroll-up .iowa-bar {
  @include breakpoint(md) {
    transform: none;
  }
}

.header-sticky.scroll-up:not(.menu-open) .iowa-bar {
  @include breakpoint(md) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
}

.parent-site-name {
  .o-canvas--lock & {
    @include breakpoint(md) {
      background: transparent;
    }
  }
}
