@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/breadcrumbs/breadcrumbs.scss";

.breadcrumb {
  margin-bottom: 0;
  margin-top: 1.75rem;
  .hero__content & {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

.block-system-breadcrumb-block {
  //margin-bottom: -35px;
  z-index: 1;
    .hero__content & {
      //@include: -25px;
    }
}

