@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/button/button.scss";

// @todo is this still necessary?
a.bttn {
  span {
    margin-left: $sm;
    color: $primary;
  }

  &.bttn--primary {
    span {
      color: white;
    }
  }
}

// @todo move back to UIDS
.bttn--primary {

  .bg--gray &,
  .bg-pattern--brain &,
  .bg--white--pattern--brain & {
    border: none;
  }

  .bg-pattern--brain-reversed &,
  .bg--gold--pattern--brain &,
  .bg--gold & {
    background: $secondary;
    color: $primary;
  }

  .bg-pattern--brain-reversed .bg--gray &,
  .bg--gold .bg--gray &,
  .bg--gold--pattern--brain .bg--gray & {
    background: $primary;
    color: $secondary;
  }

  .bg--black--pattern--brain &,
  .bg-pattern--brain-black &,
  .bg--black & {
    color: $secondary;
  }
}

.bttn--tertiary {
  [class*=bg-] .bg--gray & {
    border-color: $secondary;
  }
}


.bttn--secondary {

  [class*=bg-] .bg--gray &,
  .bg--white &,
  .bg--gray &,
  .bg-pattern--brain-reversed &,
  .bg--gold--pattern--brain &,
  .bg--gold &,
  .bg-pattern--brain &,
  .bg--white--pattern--brain & {
    color: #fff;
    border: none;
  }
}

.bttn--tertiary i,
.bttn--tertiary span,
.bttn--tertiary svg {

  .bg-pattern--brain-reversed &,
  .bg--gold--pattern--brain &,
  .bg--gold & {
    color: inherit;
  }
}
