@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/button.scss";

.block-inline-blockuiowa-text-area,
.block-field-blocknodepagebody {
  .bttn {
    margin: 0 1rem 1rem 0;

    @include breakpoint(sm) {
      margin: inherit;
    }

    +.bttn {
      @include breakpoint(sm) {
        margin: inherit;
      }
    }
  }
}

.bttn--full {
  flex-basis: 100%;
  height: min-content;
}

.more-link {
  margin-top: $mobile-height-gutter;
}

.block.bttn--row {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;

  @include breakpoint(sm) {
    display: block;
  }

  &.bttn--full {

    @include breakpoint(sm) {
      flex-direction: row;
      display: flex;
      gap: 1.5rem;
    }

    a.bttn {
      width: 100%;
    }
  }

  .bttn {

    @include breakpoint(sm) {
      margin: 0 1.5rem 1.5rem 0;
    }

    +.bttn {
      @include breakpoint(sm) {
        margin: 0 1.5rem 1.5rem 0;
      }
    }

    &.bttn--full {
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.layout--twocol,
.layout--threecol,
.layout--fourcol,
.layout--page--left-sidebar.layout--has-sidebar {
  .block.bttn--row.bttn--full {
    flex-direction: column;
  }
}
