@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "uids/components/button/button.scss";

.block-inline-blockuiowa-text-area,
.block-field-blocknodepagebody {
  .bttn {
    margin: 0 1rem 1rem 0;

    @include breakpoint(sm) {
      margin: inherit;
    }

    +.bttn {
      @include breakpoint(sm) {
        margin: inherit;
      }
    }
  }
}

.more-link {
  margin-top: $mobile-height-gutter;
}
