@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/button/button.scss";

// @todo is this still necessary?
a.bttn {
  span {
    margin-left: $sm;
    color: $primary;
  }

  &.bttn--primary {
    span {
      color: white;
    }
  }
}
