@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/card/card.scss";
@import "background.scss";

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body .media {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }

  .card__body .media img {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }
}

// Allow cards to be stacked within layouts
.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .card {
    flex: 1 1 100%;
  }
}

// Add padding if card is on a bg or bg pattern.

.layout.layout__container {
  .card--stacked[class*="bg-"] {
    .card__body {
      padding: 2rem;
    }
  }

  &[class*="bg-"] {
    .card--stacked:not([class*="bg-"]) {
      .card__body {
        padding: 2rem;
      }
    }
  }

  // remove card body padding if section and card have same bg color
  &.bg--gray {
    .card--stacked.bg--gray:not(.card--enclosed) {
      .card__body {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}


.layout__container .card {
  blockquote {
    color: $secondary;

    a {
      color: $link-color;
    }
  }
}

// adjust card title for large size in one and two and three cols
.layout--onecol,
.layout--twocol {

  .card--media-right,
  .card--media-left {
    .card__media--medium+.card__body .card__title {
      @include breakpoint(sm) {
        font-size: 2.3rem;
        //line-height: 1;
      }
    }

    .card__media--medium+.card__body p {
      @include breakpoint(sm) {
        font-size: 1.1rem;
      }
    }

    .card__media--large+.card__body .card__title {
      @include breakpoint(sm) {
        font-size: 2.8rem;
        margin-bottom: .7rem;
        line-height: 1;
      }
    }

    .card__media--large+.card__body p {
      @include breakpoint(sm) {
        font-size: 1.2rem;
      }
    }
  }
}

// Adjust padding if there's a section background color
.layout.layout__container[class*="bg-"] .card.card--media-left,
.layout.layout__container[class*="bg-"] .card.card--media-right {
  padding: 1.25rem;
}

@include add-backgrounds();
