@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/card/card.scss";

// @todo move back to UIDS
.card p + p {
  margin-top: $sm;
}

.card .card__description + .btn,
.card .card__description + .bttn,
.card__title + .bttn {
  margin-top: 1.05rem;
}

// set font weight to normal if intro classes are used
.card p[class*="element-"], .card p[class*="uids-component-"] {
  font-weight: normal;
}

.card__description {
  font-size: 1rem;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body .media {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }

  .card__body .media img {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }
}

// Allow cards to be stacked within layouts
.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .card {
    flex: 1 1 100%;
  }
}

// Border color adjustment for cards not using a bg color
.card:not([class*="bg-"]) {
  border-color: rgba(0,0,0,.125);
  .bg--black--pattern--brain &,
  .bg-pattern--brain-black &,
  .bg--black & {
    border-color: rgba(255,255,255,.325);
    .bttn--sans-serif {
      border-color: rgba(255,255,255,.325);
    }
  }
  .bttn--sans-serif {
    border-color: rgba(0,0,0,.125);
  }
}

.card:not([class*="bg-"]) {
  .layout__container:not([class*="bg-"]) & {
    .bttn--sans-serif {
      border-color: rgba(0,0,0,.125);
    }
  }
}

// Set background for all v2 cards
.paragraph--type--section {
  &[class*=bg-] {
    .card {
      //color: $secondary;
    }
  }

  .card {
    background: #fff;
  }

  .paragraph--type--card {
    .card {
      border: 1px solid rgba(0, 0, 0, .125);
    }
  }
}

.card {

  &__label {
    position: relative;

    .svg-inline--fa {
      height: 100%;
    }
  }
  &--alignment-center {
    .card__label {
      padding-left: 0;

      .svg-inline--fa {
        @include element-invisible;
      }
    }
  }

  &.hide-descriptions {
    .card__description,
    .item-description {
      display: none;
    }
  }
  &.hide-images {
    .card__media {
      display: none;
    }
    .card__body {
      @include breakpoint(menu) {
        padding: 0 !important;
      }
    }
  }
  &.hide-details .card__details {
    display: none;
  }
}
