@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/card.scss";

// @todo move back to UIDS
// https://github.com/uiowa/uiowa/issues/6295

.card {
  p + p {
    margin-top: $sm;
  }

  // set font weight to normal if intro classes are used
  p[class*="element-"],
  p[class*="uids-component-"] {
    font-weight: normal;
  }
}


// Circle button.
.card {
  .bttn--transparent.bttn--circle {
    padding: .55rem .7em;
    border-radius: 50%;
    transform: none;
    line-height: 1;

    &:after {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: transparent;
      transition: border-color .3s ease-in-out;
      transform: none;
      position: absolute;
    }

    &:hover:after,
    &:focus:after {
      transform: none;
      transition: none;
      border: 3px solid;
      border-color: inherit;
      background-color: transparent;
    }
  }
}

.card__meta {
  margin-top: 0.3rem;
  .field + .field {
    margin-top: .3rem;
  }
}

// Icons.
.card--centered {
  .fa-circle {
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
  }
  svg[class*="fa-"] {
    left: 0;
    position: relative;
  }

  .fa-field-item {
    margin-left: 0;
  }
  .card__meta {
    .fa-field-item {
      margin-left: 0;
    }
  }
}

.card__meta {
  svg[class*="fa-"] {
    width: 1.5em;
    .card--centered & {
      top: 0;
    }
  }
  .fa-field-item {
    margin-left: 2rem;
  }
  .svg-inline--fa {
    font-size: 1rem;
    margin-right: .3rem;
    margin-left: 0;
  }
  .fa-stack {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    &svg[class*="fa-"] {
      position: absolute;
      margin-left: 0.3rem;
      top: -2px;
    }
  }
  .svg-inline--fa.fa-stack-2x {
    height: 1.2rem;
    width: 1.3rem;
  }
  .svg-inline--fa.fa-stack-1x {
    height: 0.6rem;
    font-size: .8rem;
    width: 1.3rem;
  }
}

  // Allow cards to be stacked within layouts.
  .layout--fourcol,
  .layout--threecol,
  .layout--twocol {
    .card {
      flex: 1 1 100%;
    }
  }

  // Remove text decoration.
  .card {
    .card__meta,
    .card__subtitle {
      a {
        text-decoration: none;
      }
    }
  }


  // Hide styles used in events list block and featured content block.
  .card {
    &.hide-descriptions {
      .card__description,
      .item-description,
      .field--name-body {
        display: none;
      }
    }
    &.hide-images {
      .media__inner {
        display: none;
      }
    }
    &.hide-details {
      .card__details {
        display: none;
      }
    }
  }

  // V2 - Set background for all v2 cards.
  .paragraph--type--section {
    .card {
      background: #fff;
    }

    .paragraph--type--card {
      .card {
        border: 1px solid rgba(0, 0, 0, .125);
      }
    }
  }

// Event block
.card {
  .fontawesome-icons {
    display: inline-block;
  }
  &.hide-images .media {
    display: none;
  }
}

// Remove padding if no section background and bg--white is set on card.
.layout__container:not([class*="bg--"]) {
  .card[class*="bg--white"][class*="borderless"] {
    padding: 0;
    .media__inner {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }
    &.card--layout-left .media__inner {
      @include container-query() {
        margin-right: 2rem;
      }
    }
    &.card--layout-right .media__inner {
      @include container-query() {
        margin-left: 2rem;
      }
    }
  }
}

.card .headline {
  line-height: inherit;
}

// Card Details.
.card details {
  summary {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: $light;
    padding: 0.5rem 1.2rem 0.5rem calc(20px + 0.5rem);
    border-radius: 2px;
    transition: background .15s ease-in-out;
    width: fit-content;

    &:hover {
      background: #ededed;
    }

    &::-webkit-details-marker,
    &::marker {
      display:none;
    }
  }

  summary::before {
    padding: $xsm .9rem $xsm .625rem;
    content: "\f0da";
    color: $secondary;
    @include fas();
    line-height: 9px;
    padding: 0.5rem;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    transform: rotate(0);
    transition: .15s transform ease;
  }

  &[open] {
    > summary::before {
      transform: rotate(90deg);
    }
    > summary {
      margin-bottom: .5rem;
    }
  }
}
