@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "uids/components/card/card.scss";

// @todo move back to UIDS

.card {
  p + p {
    margin-top: $sm;
  }

  // set font weight to normal if intro classes are used
  p[class*="element-"],
  p[class*="uids-component-"] {
    font-weight: normal;
  }
}


// Circle button.
.card {
  .bttn--transparent.bttn--circle {
    padding: .55rem .7em;
    border-radius: 50%;
    transform: none;
    line-height: 1;

    &:after {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: transparent;
      transition: border-color .3s ease-in-out;
      transform: none;
      position: absolute;
    }

    &:hover:after,
    &:focus:after {
      transform: none;
      transition: none;
      border: 3px solid;
      border-color: inherit;
      background-color: transparent;
    }
  }
}


// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card.card--button-position {
    .card__body {
      display: block;

      div:last-child {
        margin-bottom: 0;
      }
    }

    .card__description {
      margin-bottom: 0;
    }

    .bttn {
      margin-top: 1.05rem;
    }
  }

  .card__body .media {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }

  .card__body .media img {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }
}

// Remove padding if no section background and bg--white is set on card
.layout__container:not([class*="bg-"]) {
  .card--media-left[class*="bg--white"]:not([class*="card--enclosed"]) {
    .card__media + .card__body {
      @include breakpoint(sm) {
        padding: 0 0 $md 2rem;
      }
    }
  }
  .card--media-right[class*="bg--white"]:not([class*="card--enclosed"]) {
    .card__media + .card__body {
      @include breakpoint(sm) {
        padding: 0 2rem $md 0;
      }
    }
  }
  .card--media-left[class*="bg--white"]:not([class*="card--enclosed"]),
  .card--media-right[class*="bg--white"]:not([class*="card--enclosed"]) {
    .card__body {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

// Allow cards to be stacked within layouts
.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .card {
    flex: 1 1 100%;
  }
}

// Set background for all v2 cards
.paragraph--type--section {
  &[class*=bg-] {
    .card {
      //color: $secondary;
    }
  }

  .card {
    background: #fff;
  }

  .paragraph--type--card {
    .card {
      border: 1px solid rgba(0, 0, 0, .125);
    }
  }
}

.card {
  .card__meta,
  .card__subtitle {
    .svg-inline--fa {
      margin-right: .3rem;
    }
    a {
      text-decoration: none;
    }
  }

  .card__meta {
    .fontawesome-icons {
      display: inline-block;
    }
    .svg-inline--fa {
      font-size: 1rem;
      line-height: 1.2;
    }
  }

  &__label {
    position: relative;

    .svg-inline--fa {
      height: 100%;
    }
  }
  &--alignment-center {
    .card__label {
      padding-left: 0;

      .svg-inline--fa {
        @include element-invisible;
      }
    }
  }

  &.hide-descriptions {
    .card__description,
    .item-description,
    .field--name-field-teaser {
      display: none;
    }
  }
  &.hide-images {
    .card__media {
      display: none;
    }
    .card__body {
      @include breakpoint(sm) {
        padding: 0 !important;
      }
    }
  }
  &.hide-details .card__details {
    display: none;
  }
}

// Fix for adding padding if images are hidden within stack format.
.card.hide-images.card--stacked.card--enclosed .card__body,
.card.hide-images.card--stacked.card--enclosed .card__media + .card__body {
  padding: 2rem!important;
}

// Card list styles
.card--list .card__meta {
  margin-top: .3rem;
}

.card__meta {
  .field + .field {
    margin-top: .3rem
  }
}

.card--media-left.card--list .card__title,
.card--media-right.card--list .card__title {
  margin: 0 0 .125rem
}

// Flexbox for centered icons
.card__meta.card__meta--icon {
  display: flex;
  flex-wrap: wrap;
  .card__icon {
    flex: 0 1 $lg;
    display: flex;
    justify-content: center;
    padding-top: .135rem;
  }
}
