@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/card/card.scss";

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body .media {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }

  .card__body .media img {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }
}

// Allow cards to be stacked within layouts
.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .card {
    flex: 1 1 100%;
  }
}

.layout-builder-block.card {
  background-color: $white;

  blockquote {
    border-color: $primary;
    color: $secondary;
  }
}
