@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "uids/components/card/card.scss";

// @todo move back to UIDS

.card {
  p + p {
    margin-top: $sm;
  }

  // set font weight to normal if intro classes are used
  p[class*="element-"],
  p[class*="uids-component-"] {
    font-weight: normal;
  }
}


// Circle button.
.card {
  .bttn--transparent.bttn--circle {
    padding: .55rem .7em;
    border-radius: 50%;
    transform: none;
    line-height: 1;

    &:after {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: transparent;
      transition: border-color .3s ease-in-out;
      transform: none;
      position: absolute;
    }

    &:hover:after,
    &:focus:after {
      transform: none;
      transition: none;
      border: 3px solid;
      border-color: inherit;
      background-color: transparent;
    }
  }
}

// Icons.
.card--centered {
  .fa-circle {
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
  }
  .fa-li {
    left: 0;
    position: relative;
  }

  .fa-ul {
    margin-left: 0;
  }
}

.card__meta {
  .svg-inline--fa {
    font-size: 1rem;
    margin-right: .3rem;
    margin-left: 0;
  }
  .fa-stack {
    display: inline-block;
    width: 1.5rem;
  }
  .svg-inline--fa.fa-stack-2x {
    height: 1.3em;
    width: 1.3em;
  }
  .svg-inline--fa.fa-stack-1x {
    height: 0.75em;
    font-size: .8rem;
    width: 1.3rem;
  }
}


  // Remove padding if no section background and bg--white is set on card.
  .layout__container:not([class*="bg--"]) {
    .card[class*="bg--white"][class*="borderless"] {
      padding: 0;
    }
  }

  // Remove padding if section background matches card background with borderless.
  $bg-colors: "white", "gray", "black", "gold";

  @each $color in $bg-colors {
    .layout__container[class*="bg--#{$color}"] {
      .card[class*="bg--#{$color}"][class*="borderless"] {
        padding: 0;
      }
    }
  }


  // Allow cards to be stacked within layouts.
  .layout--fourcol,
  .layout--threecol,
  .layout--twocol {
    .card {
      flex: 1 1 100%;
    }
  }

  // Remove text decoration.
  .card {
    .card__meta,
    .card__subtitle {
      a {
        text-decoration: none;
      }
    }
  }


  // Hide styles used in events list block.
  .card {
    &.hide-descriptions {
      .item-description,
      .field--name-field-teaser {
        display: none;
      }
    }
    &.hide-images {
      .media__inner {
        display: none;
      }
    }
    &.hide-details {
      .card__details {
        display: none;
      }
    }
  }

  // V2 - Set background for all v2 cards.
  .paragraph--type--section {
    .card {
      background: #fff;
    }

    .paragraph--type--card {
      .card {
        border: 1px solid rgba(0, 0, 0, .125);
      }
    }
  }

