@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/card/card.scss";

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body .media {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }

  .card__body .media img {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }
}

// Allow cards to be stacked within layouts
.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .card {
    flex: 1 1 100%;
  }
}

// Adjust card title for large size in one and two and three cols
.layout--onecol,
.layout--twocol {

  .card--media-right,
  .card--media-left {
    .card__media--medium+.card__body .card__title {
      @include breakpoint(sm) {
        font-size: 2.3rem;
      }
    }

    .card__media--medium+.card__body p {
      @include breakpoint(sm) {
        font-size: 1.1rem;
      }
    }

    .card__media--large+.card__body .card__title {
      @include breakpoint(sm) {
        font-size: 2.8rem;
        margin-bottom: .7rem;
        line-height: 1;
      }
    }

    .card__media--large+.card__body p {
      @include breakpoint(sm) {
        font-size: 1.2rem;
      }
    }
  }
}

// Set background for all v2 cards
.paragraph--type--section {
  .card {
    background: #fff;
  }
}
