@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/cta/cta.scss";


.layout__region--first,
.layout__region--second,
.layout__region--third,
.layout__region--fourth {
  .uids-component--brain-black .cta__container>div {
    @include breakpoint(sm) {
      margin: .5rem 0;
    }
  }

  .cta__container>div {
    @include breakpoint(sm) {
      margin: 1.05rem 0;
    }
  }

  .cta__container {
    .cta__title {
      //margin-left: 1.05rem;
    }

    .cta__content {
      //margin-left: 1.05rem;
    }

    .cta__link {
      //margin-right: 1.05rem;
    }
  }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .cta__container>div {
    @include breakpoint(container) {
      margin: 1.05rem 0;
    }
  }
}

.grid--1-3 .cta__wrapper.uids-component--flex-center {
  padding: 0;
}

.grid--1-3 .cta__wrapper.uids-component--flex-center .cta__title {
  margin: 0 0 .5rem 0;
}

.grid--1-3 .cta__wrapper.uids-component--flex-center .cta__link {
  margin: .5rem 0 0 0;
}
