@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-1by1 {
  padding-bottom: 100%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-21by9 {
  padding-bottom: 42.85714286%;
}
