@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/event/event.scss";


@include breakpoint(sm) {
  .fontawesome-icons {
    display: inline-block;
    width: 17px;
    height: 17px;
  }

  .events-card__row .svg-inline--fa {
    margin-left: -10px;
  }
}

@include breakpoint(container) {
  .fontawesome-icons {
    display: unset;
    width: auto;
    height: auto;
  }

  .events-card__row .svg-inline--fa {
    margin-left: -20px;
  }
}


.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .events-card__row {
    flex: 1 1 100%;
  }
}

.bg-pattern--brain-black {
  .events-card__title a {
    color: $white;
  }
  .events-card__date {
    color: $primary;
  }
  .events-card__label {
    color: $light;
  }
}
