@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/event/event.scss";
@import "components/card/_card-mixins.scss";


.layout--fourcol,
.layout--threecol,
.layout--twocol {
  .card__row {
    flex: 1 1 100%;
  }
}

// Events.
.block-inline-blockuiowa-events {
  margin-top: $gutter;
}

// Event block
.uiowa-card-event.card.card--media-left {
  flex-direction: unset;
  margin-bottom: 0;

  .layout--fourcol &,
  .layout--threecol & {
    @include breakpoint(container) {
      padding: 1.5rem;
    }
  }
}

// Events List
.block-inline-blockuiowa-events,
.uiowa-events,
.uiowa-card-event {
  .card {
    @include breakpoint(sm) {

      &__title.headline {
        font-size: 1.4rem;
      }
    }
  }

  .card {
    &__row {
      @include breakpoint(sm) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        border: none;
        padding: 1.5rem 0;
        background: transparent;
      }
    }
  }

  .layout--twocol .layout__spacing_container & {
    @media screen and (min-width: 40em) {
      .card__media img {
        border-radius: 50%;
        margin-top: 0;
        height: auto;
        padding: 8px;
      }
    }
  }

  .layout--fourcol .layout__spacing_container & {
    @media screen and (min-width: 40em) {
      .card__media img {
        border-radius: 50%;
        margin-top: 0;
        height: auto;
        padding: 8px;
      }
    }
  }

  &.hide-descriptions,
  .paragraph--type--events.hide-descriptions & {
    .card__description {
      display: none;
    }
  }

  &.image-right .card__media.media--circle {
    @include breakpoint(sm) {
      margin-left: 15px;
      margin-right: 0;
      order: 1;

      &+.card__body {
        padding-left: 0;
        padding-right: 1.25rem;
      }
    }
  }

  &.hide-images,
  .paragraph--type--events.hide-images &,
    {
    .card__media.media--circle {
      display: none;

      &+.card__body {
        padding: 0;
      }
    }
  }

  &.hide-details .card__details {
    display: none;
  }

  .paragraph--type--events.grid & {
    .card {
      &__row {
        display: inline-block;
        padding: 1.5rem;
        flex-basis: 33%;
        border: none;
      }

      &__media {
        max-width: 165px;
        margin: 0 auto 1.25rem;
      }

      &__body {
        text-align: center;
      }
    }
  }

  .paragraph--type--events.masonry & {
    .card {
      &__row {
        display: inline-block;
        padding: 1.5rem;
        border: none;
      }

      &__media {
        max-width: 165px;
        margin: 0 auto 1.25rem;
      }

      &__body {
        text-align: center;
      }
    }
  }
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

// v2 styles

.bg-black .paragraph--type--events {
  color: #fff;

  a {
    color: $primary;
  }
}

.paragraph--type--section.bg-black .paragraph--type--events {
  color: inherit;

  a {
    color: inherit;
  }
}


.paragraph.bg-black .paragraph--type--events .card__body a:not(.btn):not(.bttn):not(.button),
.paragraph.bg-dark .paragraph--type--events .card__body a:not(.btn):not(.bttn):not(.button) {
  color: #fff;
  text-decoration: none;
  ;
}

.paragraph--type--events {
  .card {
    background: transparent;
  }
}

.bg-yellow.paragraph .paragraph--type--events.list .card,
.bg-black.paragraph.paragraph--type--section .paragraph--type--events.list .card,
.bg-dark.paragraph.paragraph--type--section .paragraph--type--events.list .card {
  border-bottom: none;
}
