@import "../uids/assets/scss/_variables.scss";
@import "../uids/assets/scss/_utilities.scss";
$imgpath: '../../../../../uids/assets/images/';
@import "components/branding/footer/footer.scss";

.footer {
  h2, h3, h4, h5, h6 {
    color: $white;
    font-weight: $font-weight-normal;
  }
  .lead {
    color: $white;
  }
  .footer__site--name {
    color: #ccc;
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: .625rem;
    display: block;
    background: #151515;
    padding: 0;
  }
}

.uiowa-footer--login-link {
  a {
    &:before {
      @include fas();
      content: "\f2f6";
      padding-right: $md;
      color: $grey;
    }
  }
}

#block-uids-base-socialmedia {
  .menu li {
    display: inline-block;
  }

  .menu a {
    color: $white;
    display: block;
    //padding: 1rem 0.5rem 1rem 0;
    font-size: 1rem;
  }

  .menu a.fa-icon {
    //padding: 0.5rem;
    font-size: 1.8rem;
    margin-right: 1.05rem;
  }

  .menu a:hover,
  .menu a:focus {
    color: $primary;
  }

  .menu a.fa-icon .menu-link-title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    margin-right: 0.5rem;
  }
}

.footer__links--nav {
  flex-wrap: wrap;
  align-content: start;
  h2 {
    font-weight: $font-weight-bold;
    font-size: $h5-font-size;
  }
  > * {
    flex-basis: 100%;
  }
}
