@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/grid/grid.scss";

// List container spacing.
// @todo we would need to add list-container wrapper class to all views, articles list, and taxonomy lists.
.list-container:not([class*="grid"]) {
  .list-container__inner {
    > div + div {
      margin-top: 1.6rem;
    }
  }
}


.list-container__inner {
  [class*="grid--"].view & {
    margin-bottom: $mobile-height-gutter;
  }
  .card,
  .views-field {
    height: 100%;
    .section-alignment__start & {
      height: auto;
    }
  }
}

// Set first item within list-container to full width
.grid--first-item-full-width {
  .list-container__inner {
    :first-child {
      grid-column: 1 / -1;
    }
  }
}

// These lines help the inner-grid mixin.
.list-container--grid.grid--threecol--33-34-33 .list-container__inner,
.list-container--grid.grid--twocol--50-50 .list-container__inner {
  grid-template-columns: inherit;
  gap: $mobile-height-gutter;
}

.list-container--grid .more-link {
  margin-top: $mobile-height-gutter;
}

.grid--twocol--50-50 .list-container__inner {
  @include breakpoint(sm) {
    row-gap: $desktop-width-gutter;
    align-self: self-start;
  }
}

// Additional grid classes.
.grid--fourcol--25 {
  .list-container__inner {
    display: grid;
    gap: $mobile-height-gutter;
    @include grid-base;
    @include breakpoint(md) {
      @include fourcol-grid;
    }
  }
}

// For use only for images.
.grid--fivecol--20.photoswipe-gallery {
  .list-container__inner {
    @include breakpoint(sm) {
      @include threecol-grid;
    }
    @include breakpoint(md) {
      grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
    }
  }
}

.grid--fivecol--20.photoswipe-gallery,
.grid--threecol--33-34-33.photoswipe-gallery {
  .list-container__inner {
    display: grid;
    gap: 1rem;
    @include breakpoint(md) {
      gap: 1.5rem;
    }
  }
}
