@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/layout/grid.scss";

// List container spacing.
.list-container.list-container--list:not([class*="grid-"]) {
  .list-container__inner {
    > div + div {
      margin-top: 1.6rem;
    }
  }
}

.list-container__inner {
  [class*="grid--"].view & {
    margin-bottom: $mobile-height-gutter;
  }
  .card,
  .views-field {
    height: 100%;
    .section-alignment__start & {
      height: auto;
    }
  }
}

// Set first item within list-container to full width
.grid--first-item-full-width {
  .list-container__inner {
    :first-child {
      grid-column: 1 / -1;
    }
  }
}

// Utility class to set an item within a grid to full-width.
.list-container__item--full {
  grid-column: 1 / -1;
}

.grid--threecol--33-34-33,
.grid--twocol--50-50 {
  .list-container__inner {
    display: grid;
  }
}

// These lines help the inner-grid mixin.
.list-container--grid.grid--threecol--33-34-33 .list-container__inner,
.list-container--grid.grid--twocol--50-50 .list-container__inner {
  grid-template-columns: inherit;
  gap: $mobile-height-gutter;
}

.list-container--grid .more-link {
  margin-top: $mobile-height-gutter;
}

.grid--twocol--50-50 .list-container__inner {
  @include breakpoint(sm) {
    row-gap: $desktop-width-gutter;
    align-self: self-start;
  }
}

// Additional grid classes.
.grid--fourcol--25 {
  .list-container__inner {
    display: grid;
    gap: $mobile-height-gutter;
    @include grid-base;
    @include breakpoint(md) {
      @include fourcol-grid;
    }
  }
}
