@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

// Determines if the placement is grid worthy based on parent container percentage.
@mixin inner-grid($parent) {
  .inner--grid.grid--twocol--50-50 {
    @if $parent >= 50 {
      @media screen and (min-width: 768px) {
        .aggregator-wrapper,
        .view-content,
        .list-wrapper {
          display: grid;
          gap: 3rem;
          grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
        }
      }
    }
  }
  .inner--grid.grid--threecol--33-34-33 {
    @if $parent >= 75 {
      @media screen and (min-width: 40em) {
        .aggregator-wrapper,
        .view-content,
        .list-wrapper {
          display: grid;
          gap: 3rem;
          grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
        }
      }
    }
  }
}
