@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/grid/grid.scss";

.list-container {
  .card {
    height: 100%;
    .section-alignment__start & {
      height: auto;
    }
  }
}

// These override the grid settings in grid.scss from UIDS
.inner--list.grid--threecol--33-34-33 .list-container,
.inner--list.grid--twocol--50-50 .list-container {
  display: block;
}

.inner--grid.grid--threecol--33-34-33 .list-container,
.inner--grid.grid--twocol--50-50 .list-container{
  grid-template-columns: inherit;
}
