@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/grid/grid.scss";

.list-container {
  [class*="grid--"].view & {
    margin-bottom: $mobile-height-gutter;;
  }
  .card {
    height: 100%;
    .section-alignment__start & {
      height: auto;
    }
  }
}

// Set first item within list-container to full width
.grid--first-item-full-width {
  .list-container {
    :first-child {
      grid-column: 1 / -1;
    }
  }
}

  // These override the grid settings in grid.scss from UIDS
.inner--list.grid--threecol--33-34-33 .list-container,
.inner--list.grid--twocol--50-50 .list-container {
  display: inherit;
}

.inner--grid.grid--threecol--33-34-33 .list-container,
.inner--grid.grid--twocol--50-50 .list-container{
  grid-template-columns: inherit;
  gap: $mobile-height-gutter;
}

.inner--grid .more-link {
  margin-top: $mobile-height-gutter;
}
