@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/header/_header.scss";

.slogan__disabled.site-header--secondary {
  .header__brand {
    padding-top: 0;
  }
}

.header--secondary.mega .page__container,
.header--secondary.horizontal .page__container,
.header--secondary.header--horizontal .page__container,
.header--tertiary.horizontal .page__container,
.header--tertiary.mega .page__container,
.header--tertiary.header--horizontal .page__container {
  position: unset;
  @include breakpoint(menu) {
    position: relative;
  }
}

