@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/hero/hero.scss";

.hero__img {
  position: relative;
}

.hero {
  .field__label {
    @include element-invisible;
  }
}

.hero:hover {
  .caption-wrapper {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.hero .media--video {
  height: 100%;
}
