@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.pswp {
  a {
    color: $light;
  }
}
.pswp__caption__center {
  text-align: center;
}

// Masonry
.block-inline-blockuiowa-image-gallery.image-gallery--masonry .uiowa-image-gallery {
  display: block;
  column-count: 2;
  gap: 1.5rem;
  @include breakpoint(sm) {
    column-count: 3;
  }
  @include breakpoint(md) {
    column-count: 4;
  }
  .media--view-mode-image-gallery {
    flex: none;
    display: flex;
    margin: 0 0 1.5rem;
    img {
      object-fit: unset;
      aspect-ratio: unset;
      height: auto;
    }
  }
}

// Use :has to provide better visual fallback for 1 or 2 items.
.uiowa-image-gallery {
  // One item.
  &:has(> .media:only-child),
  // Two items.
  &:has(> .media:first-child + .media:last-child) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

// image-gallery--auto-fit.
.uiowa-image-gallery {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.uiowa-image-gallery img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.media--no-crop .uiowa-image-gallery img {
  object-fit: unset;
  aspect-ratio: unset;
  width: 100%;
}

.media--square .uiowa-image-gallery img {
  aspect-ratio: 1 / 1;
}

.media--widescreen .uiowa-image-gallery img {
  aspect-ratio: 16 / 9;
}

// Single page photoswipe image with thumbnails.
.uiowa-image-gallery--single {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.uiowa-image-gallery--single  .field__item {
  flex: 1;
  &:first-child {
    flex: 0 0 100%;
  }
  // Set a max width for smaller images.
  &:not(:first-child) {
    @include breakpoint(sm) {
      max-width: calc(20% - 10px);
    }
  }
}

.uiowa-image-gallery--single img {
  width: 100%;
  height: auto;
  display: block;
}

.uiowa-image-gallery--single {
  .field__item:first-child:last-child a {
   position: relative;
   float: right;
   text-align: right;
    &:after {
     @include fas();
     content: "\f065";
     font-size: 1.3rem;
     padding-top: 1.5rem;
    }
  }
}
