@use 'uids/scss/abstracts/_variables.scss';
@use 'uids/scss/abstracts/_utilities.scss';

.image-block {
  img {
    width: 100%;
  }
  a:focus-visible img {
    outline: 1px solid blue;
  }
  a:focus-visible img,
  a:hover img {
    opacity: .6;
  }
}

figure.image-block.caption {
  @include utilities.breakpoint(sm) {
    width: 100%;
  }
}
