@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.pswp {
  a {
    color: $light;
  }
}
.pswp__caption__center {
  text-align: center;
}

// Default flex styles.
.block-inline-blockuiowa-image-gallery:not([class*="image-gallery--grid"])  .uiowa-image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;

  .field--name-field-gallery-images {
    flex-basis: 100%;
  }
  .media--view-mode-image-gallery {
    display: table-cell;
    flex: 220px 1 1;
    margin: 0 .6rem 1rem;
    a.photoswipe {
      &:hover, &:focus {
        img {
          opacity:0.6;
        }
      }
    }
    img {
      object-fit: cover;
      height: 220px;
      width: 100%;
    }
  }
}

// Masonry
.block-inline-blockuiowa-image-gallery.image-gallery--masonry .uiowa-image-gallery {
  display: block;
  column-count: 2;
  gap: 1.5rem;
  @include breakpoint(sm) {
    column-count: 3;
  }
  @include breakpoint(md) {
    column-count: 4;
  }
  .media--view-mode-image-gallery {
    flex: none;
    display: flex;
    margin: 0 0 1.5rem;
    img {
      object-fit: unset;
      height: auto;
    }
  }
}

.image-gallery--grid .uiowa-image-gallery {
  display: grid;
  grid-gap: 1.5rem;
}

/* Use :has to provide better visual fallback for 1 or 2 items */
/* Only works in https://caniuse.com/css-has */
.image-gallery--auto-fit .uiowa-image-gallery:has(.media:first-child:last-child),
.image-gallery--auto-fit .uiowa-image-gallery:has(.media:first-child + .media:last-child) {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.image-gallery--auto-fit .uiowa-image-gallery {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.image-gallery--auto-fill .uiowa-image-gallery  {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.uiowa-image-gallery img {
  object-fit: cover;
  width: 100%;
}

.image-gallery--default .uiowa-image-gallery img {
  object-fit: unset;
  width: 100%;
}

.image-gallery--square .uiowa-image-gallery img {
  aspect-ratio: 1 / 1;
}

.image-gallery--widescreen .uiowa-image-gallery img {
  aspect-ratio: 16 / 9;
}

.image-gallery--portrait .uiowa-image-gallery img {
  aspect-ratio: 0.5;
}
