@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.pswp {
  a {
    color: $light;
  }
}
.pswp__caption__center {
  text-align: center;
}

// Masonry
.block-inline-blockuiowa-image-gallery.image-gallery--masonry .uiowa-image-gallery {
  display: block;
  column-count: 2;
  gap: 1.5rem;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  @include breakpoint(sm) {
    column-count: 3;
  }
  @include breakpoint(md) {
    column-count: 4;
  }
  .media--view-mode-image-gallery {
    flex: none;
    display: flex;
    margin: 0 0 1.5rem;
    img {
      object-fit: unset;
      aspect-ratio: unset;
      height: auto;
    }
  }
}


/* Use :has to provide better visual fallback for 1 or 2 items */
/* Only works in https://caniuse.com/css-has */
.uiowa-image-gallery:has(.media:first-child:last-child),
.uiowa-image-gallery:has(.media:first-child + .media:last-child) {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

//image-gallery--auto-fit
.uiowa-image-gallery {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.uiowa-image-gallery img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.media--no-crop .uiowa-image-gallery img {
  object-fit: unset;
  aspect-ratio: unset;
  width: 100%;
}

.media--square .uiowa-image-gallery img {
  aspect-ratio: 1 / 1;
}

.media--widescreen .uiowa-image-gallery img {
  aspect-ratio: 16 / 9;
}

.media--portrait .uiowa-image-gallery img {
  aspect-ratio: 0.5;
}
