@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.pswp {
  a {
    color: $light;
  }
}
.pswp__caption__center {
  text-align: center;
}
.block-inline-blockuiowa-image-gallery .uiowa-image-gallery,
.block-field-blocknodearticlefield-gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;

  .page-node-type-article & {
    margin-left: unset;
    margin-right: unset;
  }

  .field--name-field-gallery-images {
    flex-basis: 100%;
  }
  .media--view-mode-image-gallery {
    display: table-cell;
    flex: 220px 1 1;
    margin: 0 .6rem 1rem;
    a.photoswipe {
      &:hover, &:focus {
        img {
          opacity:0.6;
        }
      }
    }
    img {
      object-fit: cover;
      height: 220px;
      width: 100%;
    }
  }
}

.block-field-blocknodearticlefield-gallery-images .media--view-mode-image-gallery {
  display: block;
  margin: 0 .6rem 1rem;
  @include breakpoint(sm) {
    margin: 0;
  }
}

// Masonry
.block-inline-blockuiowa-image-gallery.image-gallery--masonry .uiowa-image-gallery {
  display: block;
  column-count: 2;
  gap: 1.5rem;
  @include breakpoint(sm) {
    column-count: 3;
  }
  @include breakpoint(md) {
    column-count: 4;
  }
  .media--view-mode-image-gallery {
    flex: none;
    display: flex;
    margin: 0 0 1.5rem;
    img {
      object-fit: unset;
      height: auto;
    }
  }
}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  /*
    Define here the CSS styles applied only to the Safari 9 version when
    running in any device
   */

  .block-inline-blockuiowa-image-gallery.image-gallery--masonry .uiowa-image-gallery .media--view-mode-image-gallery {
    display: inline-flex;
  }
}
