@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/components/logo.scss";


.search-is-open {
  .logo--tab {
    opacity: 0;

    @include breakpoint(md) {
      opacity: 1;
    }
  }
  .iowa-bar__below {
    .site-name {
      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
