@use '../../uids/scss/abstracts/_variables.scss';
@use '../../uids/scss/abstracts/_utilities.scss';
@use '../../uids/scss/components/logo.scss';

.logo--tab h1 {
  line-height: 0;
}

.search-is-open {
  .logo--tab {
    opacity: 0;

    @include utilities.breakpoint(md) {
      opacity: 1;
    }
  }
}
