@use 'uids/scss/abstracts/_variables.scss';
@use 'uids/scss/abstracts/_utilities.scss';

//////////// pagination

.pager {
  @include utilities.margin(variables.$bottom: variables.$sm, variables.$left: 0);
  &__items {
    @extend %no-ul-list;
  }
}

.pager::before,
.pager::after {
  display: table;
  order: 1;
  content: ' ';
  @include utilities.flex(variables.$fb: 0);
}

.pager::after {
  clear: both;
}

.pager li {
  font-size: variables.$small-font-size;
  @include utilities.margin(variables.$right: variables.$xsm);
}

.pager li:last-child,
.pager li:first-child {
  display: inline-block;
}

@media print,
screen and (min-width: 40em) {
  .pager li {
    display: inline-block;
  }
}

.pager a,
.pager button {
  display: block;
  text-decoration: none;
  color: variables.$secondary;
  @include utilities.padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
}

.pager a:hover,
.pager button:hover {
  background: variables.$light;
}

.pager .is-active a {
  cursor: default;
  color: variables.$white;
  background: variables.$secondary;
  &:hover {
    color: variables.$secondary;
    background: variables.$primary;
  }
}

.pager .disabled {
  cursor: not-allowed;
  color: variables.$grey-light;
  @include utilities.padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
}

.pager .disabled:hover {
  background: transparent;
}

.pager .ellipsis::after {
  content: '\2026';
  color: variables.$secondary;
  @include utilities.padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
}

// uids_base styles.
.pager {
  margin-bottom: variables.$mobile-height-gutter;
  margin-top: 1.5rem;
}

.pager a {
  color: variables.$secondary;
  [class*=bg--black] & {
    background-color: variables.$secondary;
  }
  [class*=bg--white] & {
    background-color: variables.$white;
  }
  [class*=bg--gold] & {
    background-color: variables.$primary;
  }
  [class*=bg--gray] & {
    background-color: variables.$light;
  }
}
.pager a:hover,
.pager a:focus {
  background-color: variables.$light;
  color: variables.$secondary;
  [class*=bg--black] &,
  [class*=bg--gold] & {
    background-color: variables.$white;
  }
  [class*=bg--gray] & {
    background-color: variables.$lighter-gray;
  }
}

/* Active State */
.pager .is-active a {
  background-color: variables.$secondary;
  color: variables.$white;

  [class*=bg--gray] &,
  [class*=bg--white] & {
    color: variables.$white;
  }

  [class*=bg--black] & {
    background-color: variables.$primary;
    color: variables.$secondary;
  }

  /* Active Hover/Focus States */
  &:hover, &:focus {
    background-color: variables.$primary;
    color: variables.$secondary;
    [class*=bg--black] &,
    [class*=bg--gold] & {
      background-color: variables.$white;
    }
  }
}
