.content__container.after_content {
  position: sticky;
  width: 100%;
  bottom: -1px;
  z-index: 99999;
  box-shadow: 0 5px 10px #3333338a;
}

.region-after-content .layout__container {
  &:first-child {
    padding-top: 1.5rem;
  }
  padding-bottom: 1.5rem;
}

.region-after-content .layout__region {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  a.bttn {
    display: flex;
    height: 100%;
  }
}
