.content__container.after_content {
  position: sticky;
  width: 100%;
  bottom: -1px;
  z-index: 99999;
  transition: box-shadow 0.15s ease-in-out;

  &.after_content--is_pinned {
    box-shadow: 0 0 10px #00000059
  }
}
