@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";
@use "uids/scss/abstracts/_headline-mixins.scss";

.related {
  :is(h1, h2, h3, h4, h5, h6) a,
  :is(h1, h2, h3, h4, h5, h6) {
    text-decoration: none;
    font-family: variables.$font-family-serif;
  }
  &.col--grid-threecol--33 {
    .list-container__inner {
      gap: variables.$desktop-width-gutter;
      @include utilities.breakpoint(sm) {
        column-count: 2;
      }
      @include utilities.breakpoint(md) {
        column-count: 3;
      }
      .item-list {
        break-inside: avoid;
        display: inline-block;
        width: 100%;
        margin-bottom: variables.$md;
        ul {
          break-inside: avoid;
        }
      }
    }
  }
}
