@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/search-toggle/search-toggle.scss";

$search-mobile-img-path: '../../../uids/assets/images/search-white-01.svg';
$search-img-path: '../../../uids/assets/images/search-01.svg';

/* @todo Remove this when .hds-search class has been converted to .uids-search */
.search-overlay .hds-search [type="submit"]::before {
  background-image: url($search-img-path);
}

.search-overlay .uids-search [type="submit"]::before {
  background-image: url($search-mobile-img-path);
  background-repeat: no-repeat;
  @include breakpoint(menu) {
    background-image: url($search-img-path);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 90%;
  }
}

/*
.search-overlay .uids-search {
  margin-top: 19px;
  @include breakpoint(menu) {
    margin-top: 18px;
  }
}
*/
/*
.iowa-bar--narrow .search-overlay .uids-search,
.iowa-bar--full .search-overlay .uids-search {
  margin-top: 14px;
  @include breakpoint(menu) {
    margin-top: 18px;
  }
}
*/

// Iowa Bar Full adjustments
.iowa-bar--full.horizontal {
  .search-button {
    @include breakpoint(menu) {
      width: 159px;
    }
  }
}


.iowa-bar--full.toggle {
  .search-wrapper {
    @include breakpoint(menu) {
    //  flex: 0 1 15%;
    //  margin-left: auto;
    }

    .search-is-open & {
      @include breakpoint(menu) {
        flex: 1;
      }
    }
  }
}


