@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

/* Google Custom Search Engine Results */
#search-results .gsc-control-cse {
  padding: 1em 0;
  border: 0;
  font-family: $font-family-sans-serif;
}
#search-results .gsc-search-box {
  padding: 0 0 0 15px;
  background-color: #f1f1f1;
}
#search-results .gsst_a .gscb_a {
  color: #ccc;
}
#search-results .gsst_a:hover .gscb_a, #search-results .gsst_a:focus .gscb_a {
  color: $blk;
}
#search-results .gsc-input {
  padding-left: 0;
}
#search-results .gsc-input .gsc-input-box {
  border-radius: 0px;
}
#search-results .gsc-orderby-container {
  padding-right: 0;
}
/* Do no display the count of search results */
#search-results .gsc-result-info {
  display: none;
}
#search-results .gsc-above-wrapper-area {
  border-bottom: 0px;
}
/* Hide the thumbnail images in search results */
#search-results .gsc-thumbnail {
  display: none;
}
#search-results .gsc-result-info-container, #search-results .gsc-thumbnail-inside, #search-results .gsc-url-top, #search-results .gsc-url-bottom, #search-results .gsc-table-result {
  padding: 0;
}
#search-results .gs-title, #search-results .gs-snippet {
  font-family: $font-family-sans-serif !important;
}
#search-results .gs-result .gs-title, #search-results .gs-result .gs-title a, #search-results .gs-title b {
  color: $blk;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
}
#search-results .gs-snippet, #search-results .gs-snippet b {
  font-size: 18px;
  line-height: 1.7;
}
#search-results .gs-no-results-result .gs-snippet, #search-results .gs-error-result .gs-snippet {
  border: 2px solid #FFCD00;
  background-color: #fffae6;
}
#search-results button.gsc-search-button {
  @include bttn;
  background-color: #ccc;
  border-radius: 0;
  padding-right: 2.5rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  border: 1px solid #ccc;
}
#search-results .gsc-search-button-v2 svg {
  fill: $blk;
  width: 18px;
  height: 18px;
}
#search-results .gsc-webResult .gsc-result {
  border-bottom: 0;
}
#search-results .gsc-webResult .gsc-result {
  padding: 0 0 35px 0;
}
#search-results .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0;
}
#search-results .gsc-url-top .gs-visibleUrl, #search-results .gsc-url-bottom .gs-visibleUrl {
  color: $link-color;
  font-size: 25px;
  line-height: 1.5;
}
#search-results .gcsc-find-more-on-google {
  color: $link-color;
}
#search-results .gcsc-find-more-on-google-magnifier {
  fill: $link-color;
}

// Style pagination with inspiration from A-Z.
#search-results .gsc-results .gsc-cursor-box .gsc-cursor {
  display: inline-block;
  padding-left: 0;
  @include margin($top: 0, $left: 0, $bottom: $xlg);
  border-radius: 0;

  > div {
    margin: 0;
    display: inline;
    position: relative;
    float: left;
    font-size: 16px;
    @include padding($top: $md, $right: 1.35rem, $bottom: $md, $left: 1.35rem);
    line-height: 1;
    text-decoration: none;
    color: #4F4F4F;
    background-color: transparent;
    border: 1px solid $grey-light;
    margin-left: -1px;

    &:hover,
    &:focus {
      z-index: 2;
      color: #4F4F4F;
      background-color: $light;
      border-color: $grey-light;
    }

    &.gsc-cursor-current-page {
      &,
      &:hover,
      &:focus {
        z-index: 3;
        font-weight: normal;
        color: #4F4F4F;
        background-color: $light;
        border-color: $grey-light;
        cursor: default;
      }
    }
  }
}
