@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/search-toggle/search-toggle.scss";

$search-mobile-img-path: '../../../uids/assets/images/search-white-01.svg';
$search-img-path: '../../../uids/assets/images/search-01.svg';


.search-overlay .uids-search [type="submit"]::before {
  background-image: url($search-mobile-img-path);
  background-repeat: no-repeat;
  @include breakpoint(md) {
    background-image: url($search-img-path);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 90%;
  }
}

.search-overlay[aria-hidden=false] {
  .region-search {
    width: 100%;
  }
}

.iowa-bar--full .search-overlay .uids-search,
.iowa-bar--narrow .search-overlay .uids-search {
    overflow: hidden;
}

// Iowa Bar Full adjustments
.iowa-bar--full.horizontal,
.iowa-bar--full.mega {
  .search-button {
    @include breakpoint(page-container) {
      height: 85px;
      width: 159px;
    }
  }
}

.iowa-bar--full.toggle {
  .search-button {
    @include breakpoint(page-container) {
      height: 85px;
      width: 159px;
    }
  }
}

.iowa-bar--full.toggle {
  .search-wrapper {
    @include breakpoint(page-container) {
      flex: 1;
    }
  }
  .site-name + .menu--top + .search-wrapper {
    @include breakpoint(md) {
      flex: 1;
    }
  }
}

.iowa-bar--full.toggle {
  .search-wrapper {
    .search-is-open & {
      @include breakpoint(md) {
        flex: 1;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 855px) {
  .search-is-open .iowa-bar--full .menu--top {
    display: block !important;
  }
}


@media (max-width: 980px) {
  .search-is-open .search-overlay .uids-search {
    width: calc(100% - 111px);
  }
}
