@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/branding/site-name/site-name.scss";

// 43 Characters
// Iowa Bar Full adjustments
.iowa-bar--full.mega,
.iowa-bar--full.horizontal,
.iowa-bar--full.toggle {
  .site-name {
    @include breakpoint(menu) {
      margin: 0;
      text-align: left;
      font-size: 1.7rem;
      font-size: 2rem;
      flex: 0 1 43%;
      font-weight: 400;
    }
    @include breakpoint(container) {
      margin: 5px 0 0;
      flex: 0 1 48%;
      font-weight: 300;
    }
  }
}

.iowa-bar--full.toggle {
  .site-name {
    @include breakpoint(menu) {
      flex: 0 1 30%;
    }
    @include breakpoint(container) {
      flex: 0 1 48%;
    }
  }
}


@media screen and (max-width: 1605px) and (min-width: 855px) {
  .iowa-bar--full.mega .site-name,
  .iowa-bar--full.horizontal .site-name,
  .iowa-bar--full.toggle .site-name {
    font-size: 2vw;
  }
}
