@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "uids/components/slider/slider.scss";

// @todo Make this better.
.slider__teaser {
  svg {
    padding-left: 0.625rem;
    position: absolute;
    right: 20px;

    &.fa-plus {
      padding: 0.325rem;
      color: #FFCD00;
      border: 1px solid #fff;
      border-radius: 50%;
      font-size: 1.5rem;
      width: 25px;
      height: 25px;
    }
  }
}

