@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/slider/slider.scss";

// @todo Make this better.
.slider__teaser {
  svg {
    padding-left: 0.625rem;
    position: absolute;
    right: 20px;

    &.fa-plus {
      padding: 0.325rem;
      color: $primary;
      border: 1px solid #fff;
      border-radius: 50%;
      font-size: 1.5rem;
      width: 25px;
      height: 25px;
    }
  }
}

.layout--onecol {
  .slider__slide .banner .banner__content {
    @include breakpoint(sm) {
      padding: 3rem;
    }
  }
}
