@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/stat/stat.scss";

.grid--3-2 .media {
  width: 100%;

  img {
    width: 100%;
  }
}

.stat__grid.element--flex-center {
  padding: 1.5rem 0;

  &:first-of-type {
    padding-top: 0;
  }
}

.stat--static .stat__content {
  position: static!important;
  clip: auto;
  height: auto;
  overflow: auto;
  opacity: 1;
}
