@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// @todo Move to UIDS4 as a component.
.stat__grid {
  margin: 0;
  width: 100%;
  transition: all .55s cubic-bezier(.95, 1.25, .375, 1.15);

  &.stat--transform {
    &:hover {
      @include breakpoint(md) {
        transform: translateY(-10px);
      }
    }
  }

  &:hover .stat__content {
    @include breakpoint(md) {
      @include element-invisible-off;
      opacity: 1;
    }
  }
}

.stat {
  position: relative;

  &__title {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    font-family: $font-family-caps-bold;
    font-weight: bold;
    font-size: 4rem;
    border-bottom: 8px solid $primary;
    padding: $lg 0 $sm 0;

    @include breakpoint(sm) {
      padding: $md $lg $sm 0;
    }

    .element--flex-center & {
      padding: $md $lg $sm $lg;
      display: block;
    }

    .bg-pattern--brain &,
    [class*="bg--white"] &,
    [class*="bg--gray"] &,
    [class*="bg--black"] & {
      border-bottom: 8px solid $primary;
    }

    // @todo This should probably be resolved with https://sass-lang.com/documentation/values/maps#using-maps
    .stat--horizontal.bg-pattern--brain-black &,
    .stat--horizontal[class*="bg--black"] &,
    .bg-pattern--brain-black &,
    [class*="bg--black"] & {
      color: $primary;
    }

    .bg-pattern--brain-reversed &,
    [class*="bg--gold"] & {
      border-bottom: 8px solid white;
    }

    @include breakpoint(sm) {
      font-size: 5rem;
      padding: 0 $lg $sm 0;

      .element--flex-center & {
        padding: 0 $lg $sm;
      }
    }
  }

  &__content {
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 1.4;

    @include breakpoint(md) {
      opacity: 0;
      transition: 1s;
      @include element-invisible;
    }

    [class*="bg--black"] &,
    .bg-pattern--brain-black & {
      color: #ccc;
    }

    .bg-pattern--brain-reversed &,
    [class*="bg--gold"] & {
      color: $secondary;
    }

    .element--flex-center & {
      @include breakpoint(md) {
        margin: 0 10%;
      }
    }

  }

  &__description {
    position: relative;
    font-family: $font-family-caps-bold;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.2;
    width: 85%;
    margin: $sm 0;

    .bg-pattern--brain-black &,
    [class*="bg--black"] & {
      color: white;
    }

    @include breakpoint(md) {
      font-size: 1.5rem;
    }

    .grid--3-2 & {
      @include breakpoint(md) {
        width: 60%;
      }
    }
  }
}

.grid--3-2 .stat__description {
  @include breakpoint(md) {
    width: 60%;
  }
}


.headline__prefix,
.headline__suffix{
  font-size: 3.5rem;
  vertical-align: middle;
}

.headline__prefix {
  margin-right: -7px;
}

.headline__suffix {
  margin-left: -7px;
}

.stat--horizontal:not(.element--flex-center) {

  &.bg-pattern--brain-reversed,
  &[class*="bg--gold"],
  .bg-pattern--brain-reversed &,
  [class*="bg--gold"] & {
    .stat__content {
      @include breakpoint(page-container) {
        border-top: 8px solid $secondary;
      }
    }
  }


  .stat__title {
    font-size: 3.1rem;

    @include breakpoint(md) {
      padding: 0 $lg $xsm 0;
      border-bottom: none;
    }

    @include breakpoint(page-container) {
      flex-basis: 50%;
    }

  }

  &.element--flex-left {
    flex-flow: wrap;
  }

  .stat__content {
    font-size: 1.1rem;

    @include breakpoint(md) {
      padding-top: .5rem;
      margin-top: .75rem;
      border-top: 8px solid $primary;
      flex-basis: 100%;
    }

  }

  .headline__prefix,
  .headline__suffix{
    font-size: 2.1rem;
    vertical-align: middle;
  }

  .headline__prefix {
    margin-right: -3px;
  }

  .headline__suffix{
    margin-left: -3px;
  }


  .stat__description {
    width: 100%;
    font-size: 1.3rem;
    margin: 0.625rem 0 0;

    @include breakpoint(md) {
      flex-basis: 50%;
      margin: 0;
    }
  }

}

.stat__grid.stat--horizontal {
  margin-bottom: 0rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all .55s cubic-bezier(.95, 1.25, .375, 1.15);

  &.stat--transform {
    &:hover {
      @include breakpoint(md) {
        transform: translateY(-10px) scale(1.02);
      }
    }
  }
}

// uids_base styles.

.grid--3-2 .media {
  width: 100%;

  img {
    width: 100%;
  }
}

.stat__grid.element--flex-center {
  padding: 1.5rem 0;

  &:first-of-type {
    padding-top: 0;
  }
}

.stat--static .stat__content {
  position: static!important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
  opacity: 1;
}

// @todo update in https://github.com/uiowa/uids/issues/910.
.stat__grid.stat--horizontal {
  cursor: inherit;
}

.stat.stat--transform {
  cursor: pointer;
}
