@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/tables/tables.scss";

.lb__container .table-responsive {
  margin-right: auto;
}

table th {
  a[href]::after {
    content: none !important;
  }
}

.table--align-top {
  thead, tbody {
    vertical-align: top;
  }
}
.table--sort-arrow-inline {
  th[aria-sort] a {
    display: flex;
    align-items: center;
    filter: saturate(0) brightness(0.2);
    margin-left: 2px;
  }
}
