@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/tables/tables.scss";

.lb__container .table-responsive {
  margin-right: auto;
}

table th {
  a[href]::after {
    content: none !important;
  }
}
