@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// @todo Move to UIDS4 as a component.
//// Table Elements

table[border] {
  border-style: solid;
  border-color: #eee;
  td,
  th {
    border-color: #eee;
  }
}

table {
  background-color: $white;
  border-collapse: collapse;
  border-spacing: 0;
  color: $secondary;
  display: inline-block;
  font-size: $content-font-size;
  line-height: 1.15;
  max-width: 100%;
  overflow-x: auto;
  // @todo Add white-space: nowrap?
  width: 100%;

  tbody a {
    [class*="bg--gray"] &,
    [class*="bg--white"] &,
    [class*="bg--black"] &,
    [class*="bg--gold"] &,
    .bg-pattern--brain-reversed &,
    .bg--gold--pattern--brain &,
    .bg-pattern--brain &,
    .bg--white--pattern--brain &,
    .bg--black--pattern--brain &,
    .bg-pattern--brain-black & {
      color: $link-color;
    }
  }

  @include breakpoint(sm) {
    display: table;
  }

  p, ul, ol {
    font-size: $base-font-size;
  }

  ul, ol {
    p {
      margin-bottom: 0;
    }
  }

  td,
  th {
    padding: $md;
    font-size: $base-font-size;
  }

  th {
    color: $secondary;

    &:not([align]) {
      text-align: left;
    }
  }

  thead th {
    background-color: $primary;
    border: none;
    text-transform: uppercase;
    a {
      color: $secondary;
      [class*="bg--"] & {
        color: $secondary;
      }
    }
  }

  tbody th {
    background-color: #fff;
    border: none;
    position: static;
    left: 0;
    padding-left: $md;
  }

  tbody tr:not(.is-selected):nth-child(even),
  tbody tr:not(.is-selected):nth-child(even) th {
    background-color: $light;
  }

  &.table--hover-highlight tbody tr:not(.is-selected),
  &.table--hover-highlight tbody tr:not(.is-selected):nth-child(even) {
    &:hover {
      th {
        background-color: #fff3c3
      }
      background-color: #fff3c3;
    }
  }

  caption {
    width: 100%;
    padding: 1.05rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    font-weight: bold;
    a,
    :where(p) a:not(.bttn) {
      color: $primary;
      [class*="bg--"] &,
      [class*="bg--"] [class*="bg--"] & {
        color: $primary;
      }
    }
  }

  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 0;
  }

  thead td,
  thead th {
    color: $secondary;
  }

  &.table--width-default {
    width: unset;
    caption {
      width: unset;
    }
  }
}

.table-responsive {
  overflow: auto;

  caption {
    text-align: left;
    @include breakpoint(sm) {
      text-align: center;
    }
  }

  &.table-sticky {
    height: 80vh;

    thead {
      position: sticky;
      top: 0;
      border-top: 0;
    }

    .table--gray-borders {
      thead th {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -1px;
          top: 0;
          width: calc(100% + 2px);
          height: calc(100% + 1px);
          border-left: #7c7c7c 1px solid;
          border-bottom: #ddd 1px solid;
        }
        &:first-child:before {
          border-left: none;
        }
      }
    }
  }

  table {
    display: table;
  }
}

table.table--gray-borders {
  & > tr,
  & > tbody > tr,
  & > tfoot > tr {
    & > td,
    & > th {
      border: #ddd 1px solid;
    }
  }

  & > thead > tr,
  & > caption {
    & > td,
    & > th {
      border: #7c7c7c 1px solid;
    }
  }

  & > thead > tr {
    & > td,
    & > th {
      border-bottom: #ddd 1px solid;
      border-top: #ddd 1px solid;

      &:first-child {
        border-left: #ddd 1px solid;
      }

      &:last-child {
        border-right: #ddd 1px solid;
      }
    }
  }

}

// uids_base styles.

.lb__container .table-responsive {
  margin-right: auto;
}

table th {
  a[href]::after {
    content: none !important;
  }
}

.table--align-top {
  thead, tbody {
    vertical-align: top;
  }
}
.table--sort-arrow-inline {
  th[aria-sort] a{
    display: flex;
    align-items: center;
    margin-left: 2px;

    .tablesort {
      filter: saturate(0) brightness(0.2);
    }
  }
}
