@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

// Timeline block
.timeline {
  transition: all 0.4s ease;
  position: relative;
  display: grid;
  grid-gap: $desktop-width-gutter;
  &:before {
    content: "";
    width: 5px;
    height: 100%;
    background: $primary;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

// Timeline icon
.timeline--wrapper {
  .card__icon {
    position: absolute;
    font-size: 25px;
    background: $light;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: -90px;
    right: -35px;
    @include breakpoint(sm) {
      top: -30px;
      right: inherit;
    }
  }
  .card__icon-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    @include breakpoint(sm) {
      top: 50%;
    }
  }
}

.timeline--wrapper {
  @include breakpoint(sm) {
    width: 50%;
  }
  &:first-child {
    margin-top: $desktop-width-gutter;
  }
  &:last-child {
    margin-bottom: $desktop-width-gutter;
  }
  .timeline--card {
    margin-top: $desktop-width-gutter;
    @include breakpoint(sm) {
      margin-top: inherit;
    }
    &:after {
      bottom: 100%;
      left: 50%;
      margin-left: -12px;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-width: 15px;
      //border-bottom-color: #63666a;
      @include breakpoint(sm) {
        top: 50%;
        border-bottom-color: transparent;
        margin-top: -15px;
        margin-left: unset;
        left: unset;
      }
    }
  }
  .field--name-field-timeline-date {
    @include breakpoint(sm) {
      position: absolute;
      width: 50%;
      bottom: 48%;
    }
  }
  &:nth-child(odd) {
    @include breakpoint(sm) {
      margin-left: auto;
    }
    .card__icon {
      @include breakpoint(sm) {
        right: 25px;
      }
    }
    .field--name-field-timeline-date {
      @include breakpoint(sm) {
        left: -70%;
        text-align: right;
      }
    }
    .card__icon-wrapper {
      @include breakpoint(sm) {
        left: 0;
      }
    }
    .timeline--card {
      @include breakpoint(sm) {
        margin-left: 3.5rem;
        margin-right: $desktop-width-gutter;
      }
      &:after {
        @include breakpoint(sm) {
          right: 100%;
          border-right-color: $brand-cool-gray;
        }
      }
    }
  }
  &:nth-child(even) {
    @include breakpoint(sm) {
      margin-right: auto;
    }
    .card__icon {
      @include breakpoint(sm) {
        right: -90px;
      }
    }
    .field--name-field-timeline-date {
      @include breakpoint(sm) {
        right: -70%;
      }
    }
    .card__icon-wrapper {
      @include breakpoint(sm) {
        right: 0;
      }
    }
    .timeline--card {
      @include breakpoint(sm) {
        margin-right: 3.5rem;
        margin-left: $desktop-width-gutter;
      }
      &:after {
        @include breakpoint(sm) {
          left: 100%;
          border-left-color: $brand-cool-gray;
        }
      }
    }
  }
}

.timeline--card.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.timeline--card.js-scroll.scrolled {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .timeline--card.js-scroll {
    opacity: 1;
  }
}
