@import "assets/scss/_variables.scss";
@import 'assets/scss/_utilities';

.top-scroll main {
  position: relative;
}

.top-scroll-container {
  position: absolute;
  top: 100vh;
  right: 0.25rem;
  // Optional, extends the final link into the
  // footer at the bottom of the page
  // Set to `0` to stop at the end of `main`
  bottom: -5em;
  // Required for best support in browsers not supporting `sticky`
  width: 3em;
  // Disable interaction with this element
  pointer-events: none;

  ul {
    list-style: none;
    margin: 0;
    position: fixed;
    position: sticky;
    // reinstate clicks
    pointer-events: all;
    // achieves desired positioning within the viewport
    // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
    top: calc(100vh - 5rem);
    z-index: 1;
  }


  .v-dot-link {
    svg {
      height: 32px;
      width: 32px;
      background-color: #151515;
      z-index: 3;
      text-align: center;
      display: flex;
      color: #ffcd00;
      border: 2px solid #ffffff;
      align-items: center;
      justify-content: center;
      border-radius: 21px;
      margin-right: 20px;
      padding: 6px;
    }
  }
}



