@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities";

.top-scroll main {
  position: relative;
  min-height: 90vh;
}

.top-scroll-container {
  position: absolute;
  top: 90vh;
  right: 0.25rem;
  bottom: -5em;
  width: 3em;
  pointer-events: none;

  .after_content--spacing & {
    ul {

      top: calc(100vh - 5rem - 100px);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);
    z-index: 1;
  }

  .v-dot-link {
    svg {
      height: 22px;
      width: 22px;
      background-color: $secondary;
      z-index: 3;
      text-align: center;
      display: flex;
      color: $primary;
      border: 2px solid #ffffff;
      align-items: center;
      justify-content: center;
      border-radius: 21px;
      margin-right: 20px;
      padding: 6px;
    }
    svg:focus,
    svg:hover {
      border: 2px solid $primary;
    }
  }
}
