/*
 * @file
 * Provides the layout styles for three-column layout section.
 */


@media screen and (min-width: 40em) {

  .layout--threecol {
    display: flex;
  }

  .layout--threecol>.layout__region {
    flex: 0 1 100%;
  }

  .layout--threecol--50-25-25>.layout__region--second,
  .layout--threecol--50-25-25>.layout__region--third {
    flex: 0 1 24.5%;
  }

  .layout--threecol--50-25-25>.layout__region--second {
    margin: 0 1%;
  }

  .layout--threecol--50-25-25.section-margin__removed>.layout__region--second {
    margin: 0;
  }

  .layout--threecol--50-25-25.section-margin__removed>.layout__region--first {
    flex: 0 1 51%;
  }

  .layout--threecol--50-25-25>.layout__region--first {
    flex: 0 1 49%;
  }

  .layout--threecol--33-34-33>.layout__region--first,
  .layout--threecol--33-34-33>.layout__region--second,
  .layout--threecol--33-34-33>.layout__region--third {
    flex: 0 1 32.66%;
  }

  .layout--threecol--33-34-33.section-margin__removed>.layout__region--first,
  .layout--threecol--33-34-33.section-margin__removed>.layout__region--second,
  .layout--threecol--33-34-33.section-margin__removed>.layout__region--third {
    flex: 0 1 33.3%;
  }

  .layout--threecol--33-34-33>.layout__region--second {
    margin: 0 1%;
  }

  .layout--threecol--33-34-33.section-margin__removed>.layout__region--second {
    margin: 0;
  }

  .layout--threecol--25-25-50>.layout__region--first,
  .layout--threecol--25-25-50>.layout__region--second {
    flex: 0 1 24.5%;
  }

  .layout--threecol--25-25-50>.layout__region--second {
    margin: 0 1%;
  }

  .layout--threecol--25-25-50.section-margin__removed>.layout__region--second {
    margin: 0;
  }

  .layout--threecol--25-25-50>.layout__region--third {
    flex: 0 1 49%;
  }

  .layout--threecol--25-25-50.section-margin__removed>.layout__region--third {
    flex: 0 1 51%;
  }

  .layout--threecol--25-50-25>.layout__region--first,
  .layout--threecol--25-50-25>.layout__region--third {
    flex: 0 1 24.5%;
  }

  .layout--threecol--25-50-25>.layout__region--second {
    flex: 0 1 49%;
    margin: 0 1%;
  }

  .layout--threecol--25-50-25.section-margin__removed>.layout__region--second {
    margin: 0;
    flex: 0 1 51%;
  }
}
