/* ShowPage elements
----------------------------------------- */
nav.breadcrumb {
  display:block !important;
  margin-top: 0;
}

nav.breadcrumb  a:not(.bttn):not(.photoswipe)[href]:after {
  content: "";
}
