$sf-color: $white;
.block-superfish {
  #superfish-main-toggle {
    color: $sf-color;
  }
  // Shared styles
  .sf-style-none {
    li {
      a {
        color: $sf-color;
        text-transform: uppercase;
        &:hover,
        &:focus {
          color: $gray-400;
          box-shadow: none;
        }
      }
    }
  }

  // Horizontal styles.
  .sf-horizontal {

    li.sf-depth-1.active-trail > a {
      box-shadow: none;
      color: $primary;
    }

  }

  // Accordion styles.
  .sf-accordion {
    border-top: 1px solid darken($sf-color, 6);
  }
}