.block-superfishmain .menu.sf-horiz-menu > li:nth-child(6) > a,
.block-superfishmain .menu.sf-horiz-menu  > li:nth-child(7) > a,
.block-superfishmain .menu.sf-horiz-menu  > li:nth-child(8) > a {
  color: #63666A;
}
@media (max-width: 980px) {
  .sf-main.sf-horiz-menu.sf-accordion {
    display: flex;
    flex-wrap: wrap;
  }

  .block-superfishmain .menu.sf-horiz-menu > li:nth-child(6) a,
  .block-superfishmain .menu.sf-horiz-menu > li:nth-child(7) a,
  .block-superfishmain .menu.sf-horiz-menu > li:nth-child(8) a {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-weight: 400;
    padding: 1.5rem;
  }

  ul.sf-menu.sf-accordion > li:nth-child(6),
  ul.sf-menu.sf-accordion > li:nth-child(7),
  ul.sf-menu.sf-accordion > li:nth-child(8) {
    width: 33.3%;
    border: 1px solid #cacaca;
    text-align: center;
    float: none;
    margin: 2rem 0;
  }

  ul.sf-menu.sf-accordion li:nth-child(7) {
    border-right: none;
    border-left: none;
  }
}
@media (min-width: 980px) {
  .search-is-open .search-overlay .uids-search {
    border: none;
    background: #fff;
    padding-left: 1rem;
    width: 95%;
    position: relative;
    margin-left: 0;
    height: 2.8rem;
  }

  .search-overlay[aria-hidden=false] {
    display: contents;
  }

  .search-overlay[aria-hidden=false] .region-search {
    width: 70%;
  }

  .search-is-open .search-wrapper {
    justify-content: unset;
  }

  .search-overlay .uids-search input[type=text] {
    padding: 0;
    height: auto;
    font-size: 1.2rem;
  }

  .iowa-bar--full.horizontal .logo--tab + .menu--top {
    flex: 0 1 70%;
  }

  ul.menu.sf-horiz-menu li:nth-child(6) {
    margin-left: auto;
  }

  .block-superfishmain .menu.sf-horiz-menu li:nth-child(8) a {
    padding-right: 0;
  }

  .block-superfishmain ..menu.sf-horiz-menu li:nth-child(7):after {
    right: 0;
    left: unset;
  }

  .block-superfishmain nav {
    width: 100%;
  }
}
@media (min-width: 84.375em) {
  .iowa-bar--full.horizontal .search-button {
    height: 85px;
    width: auto;
    padding-right: 0;
  }

  .iowa-bar--full .search-overlay .uids-search {
    margin-top: 25px;
  }

  .search-is-open .search-overlay .uids-search {
    height: 2.8rem;
  }

  .menu--quick-links {
    top: 1.7rem;
  }
}
