@media (min-width: 855px) {
  .search-is-open .search-overlay .uids-search {
    border-bottom: none;
    background: #fff;
    padding-left: 1rem;
    width: 95%;
    position: relative;
  }

  .search-overlay[aria-hidden=false] {
    display: contents;
  }

  .search-overlay[aria-hidden=false] .region-search {
    width: 70%;
  }

  .search-is-open .search-wrapper {
    justify-content: unset;
  }

  .iowa-bar--full.horizontal .logo--tab + .menu--top {
    flex: 0 1 65%;
  }

  ul.sf-menu.menu li:nth-child(6) {
    margin-left: auto;
  }

  .block-superfishmain .menu li:nth-child(6) a,
  .block-superfishmain .menu li:nth-child(7) a,
  .block-superfishmain .menu li:nth-child(8) a {
    color: #63666a;
    font-weight: 500;
  }

  .block-superfishmain .menu li:nth-child(8) a {
    padding-right: 0;
  }

  .block-superfishmain .menu li:nth-child(7):before,
  .block-superfishmain .menu li:nth-child(7):after {
    position: absolute;
    bottom: 35%;
    width: 1px;
    height: 25%;
    content: "";
    background: #ffcd00;
    left: 0;
  }

  .block-superfishmain .menu li:nth-child(7):after {
    right: 0;
    left: unset;
  }

  .block-superfishmain nav {
    width: 100%;
  }
}
