@media (min-width: 855px) {
  input placeholder {
    margin-left: 2rem;
  }

  .search-is-open .search-overlay .uids-search {
    border-bottom: none;
    background: #fff;
    padding-left: 1rem;
  }

  .search-overlay[aria-hidden=false] {
    display: contents;
  }


.search-is-open .search-overlay .uids-search {
  width: 95%;
  position: relative;
}

.search-overlay[aria-hidden=false] .region-search {
  width: 70%;
}

.search-is-open .search-wrapper {
  justify-content: unset;
}

.iowa-bar--full.horizontal .logo--tab + .menu--top {
  flex: 0 1 65%;
}

}


