.btn-primary {
  color: $gray-700;
  border-color: $gray-700;
  background-color: #f3f3f3;
}
.btn-primary:hover {
  color: $gray-900;
  background-color: $gray-300;
  border-color: $gray-700;
}
.btn-primary:focus {
  color: $gray-900;
  background-color: $gray-300;
  border-color: $gray-700;
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,0.5);
}