{% if content['#href'] != '' %}
  <div class="layout-builder-block">
    <a class="bttn bttn--primary bttn--caps" href="{{ content['#href'] }}">
      Add to Cart <span class="fa-arrow-right fas"></span>
    </a>
    <a class="bttn bttn--secondary bttn--caps" href="https://cdcshoppingcart.uchicago.edu/Cart/Cart?PRESS=iowa">
      View Cart <span class="fa-arrow-right fas"></span>
    </a>
  </div>
{% else %}
  <div class="layout-builder-block">
    Cart buttons block
  </div>
{% endif %}
