.graph-container {
  position: relative;
}

.graph-canvas__container {
  min-height: 400px;
}

.graph-table__details summary {
  color: #535353;
  padding-bottom: 10px;
  cursor: pointer;
}

table.graph-table caption {
  width: unset;
}
