#ighn-person-group .fieldset-wrapper {
  border: 1px #ccc solid;
  max-width: 100%;
  position: relative;
  
}
article.contextual-region.node.node--type-ighn-person.node--promoted.node--view-mode-teaser  {
  width: 100%;
}
article.contextual-region.node.node--type-ighn-person.node--promoted.node--view-mode-teaser .node__content .node__content {
  width: 110%;
}

.field--name-field-ighn-person-first-name, .field--name-field-ighn-person-last-name, .field--name-field-ighn-person-credentials {
  display: inline-flex;
  font-size: 1.2em;
  line-height: 1.4em;
}

.field.field--name-field-ighn-person-language.field--type-entity-reference.field--label-visually_hidden .field__items .field__item, .field.field--name-field-ighn-person-focus-areas.field--type-entity-reference.field--label-visually_hidden .field__items .field__item, .field.field--name-field-ighn-person-global-regions.field--type-entity-reference.field--label-visually_hidden .field__items .field__item {
  display: inline-flex;
  padding: 1%;
}

#ighn-person-group legend, span.h5.field.field--name-title.field--type-string.field--label-hidden {
  display: none;
}
.field--name-field-ighn-person-biography.field--type-text-long.field--label-visually_hidden, .field.field--name-field-ighn-person-cv-link.field--type-link.field--label-visually_hidden {
  padding: 1%;
}
.ighn-person.contextual-region.view.view-ighn-person-view.view-id-ighn_person_view.view-display-id-ighn_person {
  border: 3px #ccc solid;
}

#ighn-person-main-info {
  background: rgb(236, 236, 236);
  left: 0;
  width: 100%;
  padding: 10px 16px;
  /* font-size: 1.2em;
  line-height: 1.4em; */
  margin: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.col-md-10{
  max-width: 33% !important;
}