.page-header {
  background-image: url(../images/world-bg.svg);
  background-position: center 40%;
  background-size: 100% 1600%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3) inset, 0px -5px 10px -3px rgba(0, 0, 0, 0.1) inset;
  padding: 0.5rem 0;
}
.card-body:hover {
  background: white;
}
.node.node--type-ighn-person.node--view-mode-teaser:hover {
  border: 2px #ffcd00 solid;
}
.view-display-id-ighn_person {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.view-display-id-ighn_person .views-row {
  margin-bottom: 20px;
}
.node--type-ighn-person.node--view-mode-teaser .node__content {
  margin-right: 0;
}
.node--type-ighn-person .content-image {
  flex-basis: unset;
  margin-bottom: 0;
}
.node--type-ighn-person img.content-image {
  max-width: 100%;
  height: auto;
}
.node--type-ighn-person .card-body {
  padding-top: 0;
}
.node--type-ighn-person .field--name-field-ighn-person-biography {
  height: 355px;
  overflow: auto;
  margin-top: 1rem;
  font-size: 14px;
}
.node--type-ighn-person .field--name-field-ighn-person-department,
.node--type-ighn-person .field--name-field-ighn-primary-college {
  font-size: 16px;
  line-height: 20px;
}
.node--type-ighn-person .field--name-field-ighn-primary-college {
  font-weight: 600;
}
.node--type-ighn-person .field--name-field-ighn-person-department {
  font-size: 14px;
}
.node--type-ighn-person .field--name-field-ighn-person-position-title {
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
.node--type-ighn-person .field--name-field-ighn-person-language .field__items .field__item,
.node--type-ighn-person .field--name-field-ighn-person-focus-areas .field__items .field__item,
.node--type-ighn-person .field--name-field-ighn-person-global-regions .field__items .field__item {
  font-size: 14px;
  line-height: 18px;
}
.node--type-ighn-person h3 {
  margin-bottom: 0;
}
#ighn-person-field-groups .field__label {
  font-size: 1.0rem;
}
#ighn-person-main-info, .node--type-ighn-person h3 {
  background: #EDECEB;
  padding: 0 1.25rem;
  margin-left: -20px;
  margin-right: -20px;
}
#ighn-person-main-info {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}
.node--type-ighn-person .field--name-field-ighn-primary-college .field__items::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  content: "\f66f";
}
