.ighn-person .view-wrapper .view-content {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: stretch;
}
.ighn-person .views-row {
  margin-bottom: 2%;
}
.field--name-field-ighn-person-biography.field--type-text-long.field--label-visually_hidden {
  height: 355px;
  overflow: auto;
}
fieldset.js-form-item.js-form-type-select.form-type-select.js-form-item-focus-area-filter.form-item-focus-area-filter.form-group label, fieldset.js-form-item.js-form-type-textfield.form-type-textfield.js-form-item-title.form-item-title.form-group label {
  font-size: 1.2rem;
  font-weight: 600;
}
.col-md-4 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.field--name-field-ighn-person-credentials .field__items .field__item {
  display: inline-flex;
}
.ighn-person.view.view-ighn-person-view {
  border: 3px #ccc solid;
  margin-bottom: 2%;
  min-width: 275px;
}
.node--view-mode-teaser .ighn_node__content {
  border: 1px #ccc solid;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.node--view-mode-teaser .ighn_node__content:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.ighn-person .region-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ighn-person img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  display: block;
  min-height: 275px;
  max-height: 275px;
  object-fit: cover;
}
.field.field--name-field-ighn-person-department, .field.field--name-field-ighn-primary-college {
  font-size: 16px;
  display: flex;
}
.field.field--name-field-ighn-primary-college {
  font-weight: 550;
}
.field.field--name-field-ighn-person-department {
  font-size: 14px;
  margin-left: 9%;
  margin-top: 1%;
}
.field.field--name-field-ighn-person-position-title {
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
  margin-left: 9%;
  margin-top: 1%;
}

.node--view-mode-teaser .ighn_node__content {
  margin-right: 0 !important;
}
.field--name-field-ighn-person-first-name, .field--name-field-ighn-person-last-name, .field--name-field-ighn-person-credentials {
  display: inline-flex;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4em;
}
.field--name-field-ighn-person-language, .field.field--name-field-ighn-person-global-regions {
  width: 50%;
  margin: 2% 0%;
}
.field.field--name-field-ighn-person-language .field__items .field__item, .field.field--name-field-ighn-person-focus-areas .field__items .field__item, .field.field--name-field-ighn-person-global-regions .field__items .field__item {
  display: inline-flex;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
}
@media only screen and (min-width: 1350px) {
  #ighn-person-group {
    max-width: 320px;
    min-width: 320px;
  }
}
@media only screen and (max-width: 1200px) {
  #ighn-person-group {
    max-width: 275px;
    min-width: 275px;
    position: relative;
    display: inline-block;
  }
}
.field.field--name-field-ighn-person-language .field__label, .field.field--name-field-ighn-person-focus-areas .field__label, .field.field--name-field-ighn-person-global-regions .field__label {
  margin-left: 5px;
  display: flex;
}
#ighn-person-group legend, span.h5.field.field--name-title.field--type-string.field--label-hidden {
  display: none;
}
.field--name-field-ighn-person-biography.field--type-text-long.field--label-visually_hidden, .field.field--name-field-ighn-person-cv-link.field--type-link.field--label-visually_hidden {
  padding: 2%;
  margin: 10px;
}
.ighn-person.contextual-region.view.view-ighn-person-view.view-id-ighn_person_view.view-display-id-ighn_person {
  border: 3px #ccc solid;
}
.navbar--main .navbar-brand {
  width: 90%;
}
#ighn-person-main-info {
  background: rgb(236, 236, 236);
  left: 0;
  width: 100%;
  padding: 10px 16px;
  min-height: 125px;
  margin: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.ighn-person .col-md-10{
  max-width: 33% !important;
}
.ighn-person .field-label {
  margin-left: 20%;
}

.icon::before {
  display: inline-flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.field.field--name-field-ighn-person-cv-link {
  background: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 2%;
  width: 40%;
  margin: 5%;
  font-size: 95%;
  text-align: center;
}
.field--name-field-ighn-person-cv-link .field__item {
  padding: 2% 4%;
}
.field--name-field-ighn-person-cv-link .field__item a {
  color: black;
  text-decoration: underline;
}
.field.field--name-field-ighn-person-cv-link .field__item::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f360";
  margin-left: 10%;
}
.field--name-field-ighn-person-biography {
  border-top: 2px solid #ccc;
  margin: 4% 3% -5%;
  font-size: 14px;
}
.field--name-field-ighn-person-biography .field__item p {
  margin-top: 1rem;
}
.field.field--name-field-ighn-primary-college::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  content: "\f66f";
  margin-right: 2%;
}
#hover-icon-group {
  display: inline-flex;
  width: 100%;
}
select#edit-focus-area-filter::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  content: "\f66f";
  margin-right: 2%;
}