.logo-icon {
  display: block;
  margin-left: -$xsm;
  &:hover {
    opacity: 0.7;
  }
  .logo-icon--primary & {
    fill: $secondary;
  }
  .logo-icon--secondary & {
    fill: $primary;
  }
  .uiowa-bar--home & {
    width: 180px;
    height: 70px;
  }
  .uiowa-bar--standard & {
    width: 120px;
    height: 40px;
  }
}
