<div class="logo {{ logo_color }}">
<a href="http://www.uiowa.edu">
        <div class="element-invisible">The University of Iowa</div>
<svg class="logo-icon" width="100%" height="100%" viewbox="0 0 611 195">
    <use xlink:href="{{ logo_path_2 }}"></use>
</svg>
    </a>
</div>
