language: php
dist: xenial
php: '7.4'

env:
  global:
    - COMPOSER_BIN=$TRAVIS_BUILD_DIR/vendor/bin
    - BLT_TRAVIS_DIR=$TRAVIS_BUILD_DIR/vendor/acquia/blt-travis
    - PERCY_POSTINSTALL_BROWSER=true

cache:
  directories:
    - "$HOME/.drush/cache"
    - "$TRAVIS_BUILD_DIR/node_modules/"

services:
  - mysql

addons:
  ssh_known_hosts:
    - svn-14671.prod.hosting.acquia.com
    - svn-29892.prod.hosting.acquia.com
    - svn-37631.prod.hosting.acquia.com

before_install:
  - openssl aes-256-cbc -K $encrypted_189e52c2c347_key -iv $encrypted_189e52c2c347_iv -in deploy_key.enc -out deploy_key -d
  - mv deploy_key $HOME/.ssh/id_rsa
  - chmod 600 $HOME/.ssh/id_rsa
  - phpenv config-rm xdebug.ini
  - yes | pecl install memcache-4.0.5.2

install:
  - nvm install
  - nvm use
  - yarn --version
  - composer install
  - source ${BLT_TRAVIS_DIR}/scripts/exit_early
  - source ${BLT_TRAVIS_DIR}/scripts/setup_environment
  - source ${BLT_TRAVIS_DIR}/scripts/setup_project

script:
  - blt blt:telemetry:disable --no-interaction
  - source ${BLT_TRAVIS_DIR}/scripts/run_tests

deploy:
  - provider: script
    script: "${BLT_TRAVIS_DIR}/scripts/deploy_branch"
    skip_cleanup: true
    on:
      branch: develop
      php: 7.4
  - provider: script
    script: "${BLT_TRAVIS_DIR}/scripts/deploy_branch"
    skip_cleanup: true
    on:
      branch: main
      php: 7.4
  - provider: script
    script: "${BLT_TRAVIS_DIR}/scripts/deploy_tag"
    skip_cleanup: true
    on:
      tags: true
      php: 7.4
