language: php
dist: xenial
php: '7.3'

env:
  global:
    - COMPOSER_BIN=$TRAVIS_BUILD_DIR/vendor/bin
    - BLT_DIR=$TRAVIS_BUILD_DIR/vendor/acquia/blt

cache:
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$TRAVIS_BUILD_DIR/node_modules/"

services:
  - mysql

addons:
  ssh_known_hosts:
    - svn-14671.prod.hosting.acquia.com
    - svn-29892.prod.hosting.acquia.com
    - svn-37631.prod.hosting.acquia.com

before_install:
  - openssl aes-256-cbc -K $encrypted_8bb691529416_key -iv $encrypted_8bb691529416_iv
    -in deploy_key.enc -out deploy_key -d
  - mv deploy_key $HOME/.ssh/id_rsa
  - chmod 600 $HOME/.ssh/id_rsa
  - phpenv config-rm xdebug.ini
  - yes | pecl install memcache-4.0.5.2

install:
  - nvm install
  - nvm use
  - composer install
  - source ${BLT_DIR}/scripts/travis/exit_early
  - source ${BLT_DIR}/scripts/travis/setup_environment
  - source ${BLT_DIR}/scripts/travis/setup_project

script:
  - source ${TRAVIS_BUILD_DIR}/tests/travis_run_tests

deploy:
  - provider: script
    script: "${BLT_DIR}/scripts/travis/deploy_branch"
    skip_cleanup: true
    on:
      branch: develop
      php: 7.3
  - provider: script
    script: "${BLT_DIR}/scripts/travis/deploy_branch"
    skip_cleanup: true
    on:
      branch: main
      php: 7.3
  - provider: script
    script: "${BLT_DIR}/scripts/travis/deploy_tag"
    skip_cleanup: true
    on:
      tags: true
      php: 7.3
