# https://github.com/mglaman/drupal-check?tab=readme-ov-file#rollback-update-to-phpstan-level-2-for-deprecation-analysis
parameters:
  customRulesetUsed: true
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Plugin definitions cannot be altered.#'
    - '#Missing cache backend declaration for performance.#'
    - '#Plugin manager has cache backend specified but does not declare cache tags.#'
    - '#Class .+ extends deprecated class Drupal\\Core\\Render\\Element\\FormElement:#'
    - '#Class .+ extends deprecated class Drupal\\Core\\Render\\Element\\RenderElement:#'
    - '#Call to deprecated method renderPlain\(\) of class Drupal\\Core\\Render\\Renderer:#'
    - '#Fetching deprecated class constant EXISTS_REPLACE of interface Drupal\\Core\\File\\FileSystemInterface:#'
    - '#Instantiation of deprecated class Drupal\\migrate\\MigrateSkipProcessException:#'
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - */sites/simpletest/*
    - */sites/default/files/*
    - */tests/Drupal/Tests/Listeners/Legacy/*
    - */tests/fixtures/*.php
    - */settings*.php
    - */bower_components/*
    - */node_modules/*
