parameters:
  level: 0
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Class __TwigTemplate_.* extends @internal class#'
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - */sites/simpletest/*
    - */sites/default/files/*
    - */sites/*/files/*
    - */tests/Drupal/Tests/Listeners/Legacy/*
    - */tests/fixtures/*.php
    - */settings*.php
    - */bower_components/*
    - */node_modules/*
