# https://github.com/mglaman/drupal-check?tab=readme-ov-file#rollback-update-to-phpstan-level-2-for-deprecation-analysis
parameters:
  customRulesetUsed: true
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Class .+ extends deprecated class Drupal\\Core\\Render\\Element\\FormElement:#'
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - */sites/simpletest/*
    - */sites/default/files/*
    - */tests/Drupal/Tests/Listeners/Legacy/*
    - */tests/fixtures/*.php
    - */settings*.php
    - */bower_components/*
    - */node_modules/*
