@media screen and (min-width: 61rem) {
  .layout-region.layout-region--node-main,
  .layout-region.layout-region--node-footer {
    width: 65%;
  }

  .layout-region.layout-region--node-main .layout-region__content,
  .layout-region.layout-region--node-footer .layout-region__content {
    max-width: 100%;
  }

  .layout-region.layout-region--node-secondary {
    width: 35%;
  }
}
