@media (min-width: 992px) {
  #block-claro-content .views-exposed-form label {
    font-size: clamp(0.6rem, 0.386rem + 0.571vw, 0.9rem);
  }
  #block-claro-content .views-exposed-form {
    flex-wrap: nowrap !important;
  }

  #block-claro-content .views-exposed-form .form-item {
    flex: 1 1 0 !important;
  }

  #block-claro-content .views-exposed-form .form-item.form-item--title,
  #block-claro-content .views-exposed-form .form-item.form-item--name {
    flex: 1 1 10% !important;
  }

  #block-claro-content .views-exposed-form input, select {
    width: 100%;
  }

  #block-claro-content .views-exposed-form .claro-autocomplete {
    position: relative;
    display: flex;
  }

  #block-claro-content .views-exposed-form .form-actions {
    flex-wrap: nowrap !important;
  }
}
