/* UIowa event page */
.field--name-field-event-category a:hover, .field--name-field-event-category a:focus {
  text-decoration: underline;
}
.field--name-field-event-category a {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  padding: 0.5rem 1rem;
  background: #f3f3f3;
  border-radius: 3px;
  margin-right: 0.5rem;
  color: var(--brand-secondary);
  text-decoration: none;
}
