@media only screen and (min-width: 900px) {
  .sitenow-event {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.sitenow-event .event-field {
  margin-bottom: 10px;
}

.sitenow-event .event-field.event-description {
  margin-top: 2rem;
}

.sitenow-event .main-column {
  -webkit-flex: 1 0 64%;
  -ms-flex: 1 0 64%;
  flex: 1 0 64%;
}

.sitenow-event .secondary-column {
  -webkit-flex: 0 0 33%;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
}

.sitenow-event .secondary-column img,
.sitenow-event .secondary-column .btn {
  display: block;
  margin: 0 auto 1em;
  width: 70%;
}

.date-instance {
  margin: 5px 0;
}
.date-instance__label {
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
}
.date-instance__past {
  color: #999;
}
.date-instance__next-upcoming {
  font-weight: bold;
}

.sitenow-event .svg-inline--fa {
  margin-right: 5px;
}

.sitenow-event-accessibility-statement {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #eee;
}
