/**
The AJAX form ID will change per block instance.
 */
form[id^="transportation-calculator-cost-calculator"] .js-form-item .field-prefix {
  display: inline-block;
}

form[id^="transportation-calculator-cost-calculator"] .js-form-item input {
  display: inline-block;
  width: auto;
}

form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs {
    padding-top: 1.5rem;
    margin-top: 3rem;
    border-top: 2px solid #444;
}

form[id^="transportation-calculator-cost-calculator"] .results-wrapper .savings {
  padding-top: 2.3rem;
  margin-top: 2.3rem;
  border-top: 2px solid #444;
}

form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-monthly label,
form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-yearly label {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: #333;
    color: #fff;
    padding: .3em .6em;
    font-size: 12px;
    font-size: 1.2rem;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-monthly .js-form-item,
form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-yearly .js-form-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-monthly .field-prefix,
form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-monthly span,
form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-yearly .field-prefix,
form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-yearly span {
  color: #444444;
  font-size: 2.6rem;
  display:inline-block;
}

form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-monthly .field-prefix,
form[id^="transportation-calculator-cost-calculator"] .results-wrapper .costs-yearly .field-prefix {
  padding-left: 1.5rem;
}
