.footer {
  position: relative;
  background: $secondary;
  background: url("../images/footerbg.jpg");
  background-size: cover;
  @include padding($top: $xxlg, $right: 0, $bottom: $xxlg, $left: 0);
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.78);
  }

  p {
    color: #ccc;
  }

  &__container {
    @extend %container;
  }

  &__columns {
     @include breakpoint(sm) {
       @include flexbox;
     }
    @extend %container;
    @include margin($bottom: $xxlg);
  }

  &__column {
    @extend %no-ul-list;
    @include margin($bottom: $md);
    @include breakpoint(sm) {
      @include flex($fg: 1, $fs: 1, $fb: 0);
      @include margin($right: $xlg, $bottom: 0);
    }
    &:last-child {
      @include margin($right: 0);
    }
  }

  &__logo {
    @include margin($top: $lg, $right: 0, $bottom: $lg);
    width: 50%;
  }

  &__icons {
    @include margin($top: $xlg, $right: 0, $bottom: $md);
    a {
      text-decoration: none;
    }
    i {
      color: #fff;
      font-size: $h4-font-size;
      @include margin($right: $md);
    }
  }
}



.block--lockup {
  @include breakpoint(sm) {
    width: 40%;
  }
  @include margin($bottom: $md);
}

.uiowa-footer--default {
  z-index: 1;
  @include breakpoint(sm) {
    width: 40%;
  }
}


.socket {
  padding: $md;
  text-align: center;
  background: $primary;
  &__menu {
    @extend %no-ul-list;
    li {
      display: inline;
      border-right: 1px solid #000;
      @include padding($top: 0, $right: $sm, $left: $sm);
      &:last-child {
        border-right: none;
        @include padding($right: 0);
      }
      a {
        text-decoration: none;
        color: $secondary;
      }
    }
  }
}
