<footer class="footer">
  <div class="footer__container">

    <ul class="footer__columns">

      <li class="footer__column">
        <a href="https://www.example.com"
          class="bttn bttn--full bttn--outline bttn--secondary__light">
          <i class="fas fa-info-circle"></i> Request Info</a>
      </li>

      <li class="footer__column">
        <a href="https://www.example.com"
          class="bttn bttn--full bttn--outline bttn--secondary__light">
          <i class="fas fa-map-marker-alt"></i>
          Visit</a>
      </li>

      <li class="footer__column">
        <a href="https://www.example.com"
          class="bttn bttn--full bttn--outline bttn--secondary__light">
          <i class="fas fa-pencil-alt"></i>
          Apply</a>
      </li>

      <li class="footer__column">
        <a href="https://www.example.com"
          class="bttn bttn--full bttn--outline bttn--secondary__light">
          <i class="fas fa-folder"></i>
          Jobs</a>
      </li>

    </ul>

    <div class="uiowa-footer--default">

        <a href="https://hr.uiowa.edu"><img class="footer__logo" src="{{ footer_logo }}"
            alt="Logo for University of Iowa University Human Resources">
        </a>

      <div class="block--additional-info">
        <p>Iowa City, Iowa 52242<br>
          319-335-3500</p>
      </div>

      <div class="footer__icons">

        <a href="/">
          <i class="fab fa-facebook-square" aria-hidden="true"></i>
          <span class="element-invisible">Facebook</span></a>

        <a href="/">
          <i class="fab fa-twitter-square" aria-hidden="true"></i>
          <span class="element-invisible">Twitter</span></a>

        <a href="/">
          <i class="fab fa-instagram" aria-hidden="true"></i>
          <span class="element-invisible">Instagram</span></a>

        <a href="/">
          <i class="fab fa-snapchat" aria-hidden="true"></i>
          <span class="element-invisible">Snapchat</span></a>

        <a href="/">
          <i class="fab fa-youtube" aria-hidden="true"></i>
          <span class="element-invisible">Youtube</span></a>

      </div>

    </div>
  </div>
</footer>

<div class="socket">
  <ul class="socket__menu">
    <li>© 2019 The University of Iowa</li>
    <li><a
        href="http://www.uiowa.edu/homepage/online-privacy-information">Privacy
        Notice</a></li>
    <li><a
        href="http://opsmanual.uiowa.edu/community-policies/nondiscrimination-statement">Nondiscrimination
        Statement</a></li>
  </ul>
</div>
