@use '../../../uids/scss/abstracts/_variables.scss';
@use '../../../uids/scss/abstracts/_utilities.scss';

// bef--sidebar is for the styling the advanced details toggle within a sidebar column.
@use 'view-bef--sidebar';
// Use "bef-form" class for a full-width wide search box within a one column layout.
// Use "bef-form bef-form--sidebar" if you want the same design within a sidebar column.

// === BEF Form === //
.bef-form {
  [type=date], [type=datetime-local], [type=datetime], [type=email],
  [type=month], [type=number], [type=password], [type=search],  [type=tel],  [type=text],
  [type=time], [type=url], [type=week],  select, textarea {
    margin-bottom: 0;
  }
  .uids-content {
    .form-item {
      &.form-type-checkbox {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  // Modifier to hide search label.
  &--label-hidden {
    .form-item-combine label,
    .form-item-title label,
    .form-item-search label {
      @include utilities.element-invisible;
    }
  }

  .form-type-textfield {
    @include utilities.breakpoint(sm) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }
  .form-type-select {
    @include utilities.breakpoint(md) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }
}
// === End BEF Form base styles === //

// === BEF Summary & Details === //
.bef-form {

  .bef-exposed-form {
    details {
      &[open] > summary::before {
        content: "\f139";
      }
    }
  }

  details {
    --elemHeight: 3.5rem;
    flex: 1;
    background: unset;
    border: unset;
    position: relative;

    &.form-wrapper {
      border: none;
      background: none;
      &.form-item {
        align-self: end;

        @include utilities.breakpoint(md) {
          margin-top: 0;
        }
      }
    }

    &.form-item {
      > .details-wrapper {
        background: variables.$white;
        overflow: auto;
        max-height: 346px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
      }

      summary {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: var(--elemHeight);
        padding: 0.5rem;
        margin: 0;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
        color: variables.$grey;
        border: 1px solid variables.$grey-light;
        background-color: variables.$white;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:before {
          padding-left: 0;
        }
      }
    }

    .details-wrapper {
      .bef-checkboxes {
        padding: 0.5rem 0;

        .form-item:first-child {
          margin-top: 0.5rem;
        }
      }

      .form-type-checkbox.form-item {
        padding: 0 0.5rem;
        margin-right: 0;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .bef--secondary[open] {
    margin-bottom: 1rem;
    @include utilities.breakpoint(sm) {
      margin-bottom: 0;
    }
  }

  .bef--secondary[open] > summary {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0 0 #{2 * variables.$xsm-sm};
  }

  summary {
    cursor: pointer;
    padding: 0;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
    &[aria-expanded="false"] {
      margin-bottom: 0;
    }

    span.summary {
      margin-left: 1rem;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) calc(50% - 1px), rgba(192, 192, 192, 1) calc(50%), rgba(0, 0, 0, 0) calc(50% + 1px));
      padding-right: calc(100% - 94px);
    }

    &::-webkit-details-marker,
    &::marker {
      display: none;
    }
  }

  summary::before {
    padding: variables.$xsm 0.6rem variables.$xsm variables.$xsm;
    content: "\f13a";
    color: variables.$brand-cool-gray;
    @include utilities.fas();
  }

  &[open] > summary::before {
    content: "\f139";
  }

  > .details-wrapper {
    padding: 0;
  }

  &:not([class*="bef-form--sidebar"]) {
    details.form-item {
      .details-wrapper {
        z-index: 500;
        display: flex;
        flex-direction: column;
        border: 1px solid variables.$grey-light;
        position: absolute;
        padding: 0;
        top: calc(var(--elemHeight) - 1px);
        width: calc(100% - 2px);
      }
    }
  }
}
// === End Summary & Details === //

// === "Select all" toggle  === //
.bef-form {
  .bef-toggle {
    padding: #{2 * variables.$xsm-sm} variables.$xsm-sm;
    display: block;
    border: none;
    border-bottom: 1px solid variables.$grey-light;
    text-decoration: none;
    font-size: 0.8rem;
    color: variables.$grey;

    &:focus {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
// === End "Select all" toggle  === //

// === Form Actions === //
.bef-form {
  .form-actions {
    display: flex;
    gap: 1rem;
    align-self: self-end;
    margin: 1rem 0 0;
    @include utilities.breakpoint(md) {
      gap: 0.7rem;
    }
    @include utilities.breakpoint(sm) {
      grid-area: 1 / 3 / 2 / 4;
      margin-top: 0;
    }
  }

  &.bef-form--inline {
    .bef-exposed-form .form--inline {
      display: grid;
      gap: 1rem;
      @include utilities.breakpoint(sm) {
        display: flex !important;
        column-gap: 1rem;
      }
      @include utilities.breakpoint(md) {
        column-gap: 0;
      }
    }

    .bef-exposed-form .form--inline .form-item {
      @include utilities.breakpoint(sm) {
        flex: 1;
      }
    }
  }

  &:not(.bef-form--sidebar) {
    .bef-exposed-form[data-drupal-form-fields*="edit-reset-"]{
      .bef--secondary {
        @include utilities.breakpoint(sm) {
          width: calc(100% + 173px);
        }
        @include utilities.breakpoint(md) {
          width: calc(100% + 183px);
        }
      }
    }
  }

  .bef-exposed-form {
    padding: 1.5rem;


    .button {
      flex: 1;
      &[id*="edit-submit"] {
        @include utilities.breakpoint(sm) {
          min-width: 5rem;
        }
        @include utilities.breakpoint(md) {
          min-width: 5.7rem;
        }
      }

    }


    .form-item {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      @include utilities.breakpoint(md) {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }

      &.form-type-textfield:first-of-type {
        margin-right: 0;
      }
    }

    .form--inline > .form-item.form-type-textfield {
      @include utilities.breakpoint(sm) {
        margin-right: 1rem;
      }
    }

    .form--inline {
      @include utilities.breakpoint(sm) {
        display: grid !important;
        grid-template-columns: minmax(50%, 1fr) 25%;
        grid-column-gap: 0;
        grid-row-gap: 0;
        align-items: center;
      }
    }

    .select-wrapper {
      margin-right: 0;
    }
  }
}
// === End Form Actions === //

// === BEF Secondary === //
// bef--secondary is for the advanced details toggle on bef forms. //

.bef-form {
  .bef--secondary {
    margin-top: 1rem;
    @include utilities.breakpoint(sm) {
      grid-area: 2 / 1 / 3 / 3;
    }

    .details-wrapper {
      display: grid;
      gap: 1rem;
      @include utilities.breakpoint(md) {
        display: flex;
        align-items: center;
        gap: 0;
      }
    }

    .js-form-item {
      flex: 1;
    }
    @include utilities.breakpoint(sm) {
      width: calc(100% + 85px);
      padding-top: 0;
    }
    @include utilities.breakpoint(md) {
      width: calc(100% + 91px);
    }

    &.form-wrapper {
      border: none;
      background: none;
    }
  }
}
// === End BEF Secondary === //

// Override module float.
.bef-exposed-form .form--inline .form-item {
  float: none;
}
