@import "../../../uids3/assets/scss/variables";
@import "../../../uids3/assets/scss/utilities";
// bef--secondary is for the advanced details toggle on bef forms.
@import "view-bef--secondary";
// bef--sidebar is for the styling the advanced details toggle within a sidebar column.
@import "view-bef--sidebar";

// Use "bef-form" class for a full-width wide search box within a one column layout.
// Use "bef-form bef-form--sidebar" if you want the same design within a sidebar column.

.bef-form {

  // Modifier to hide labels.
  &--label-hidden {
    label:not(.option) {
      @include element-invisible;
    }
  }

  details {
    &.form-wrapper {
      display: block;
      border: 1px solid #c4c4c4;
      background: #fff;
    }

    .details-wrapper {
      padding: 0 1rem 1rem;
    }

    summary {
      position: relative;
      padding: 1rem;
      cursor: pointer;
    }

    &[open] > summary {
      border-bottom: 1px solid;
      border-color: #c4c4c4;
      margin-bottom: 1em;
    }
  }

  .form-type-textfield,
  .form-type-select {
    @include breakpoint(sm) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  .form-actions {
    display: flex;
    gap: 1rem;
    @include breakpoint(md) {
      gap: .7rem;
    }
    @include breakpoint(sm) {
      grid-area: 1 / 3 / 3 / 4;
    }
  }

  .uids-content {
    .form-item {
      &.form-type-checkbox {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    [type="submit"] {
      padding: 1rem 1.25rem;
    }
  }

  .bef-exposed-form {


    &.uids-content {
      padding: 1.5rem;

      .form-actions {
        margin: 0;
      }

      // Sort select.
      &[data-drupal-form-fields*="edit-reset--"] {
        .form-item:not(:last-child).form-item-sort-bef-combine {
          @include breakpoint(sm) {
            width: calc(100% + 236px);
          }
        }
      }

      .form-item:not(:last-child).form-item-sort-bef-combine {
        padding: 0 0 1rem 0;
        grid-column: 1/-1;
        @include breakpoint(sm) {
          background: #fff;
          margin: 1rem -2rem -3rem -1.5rem;
          padding: 2rem 0rem 1rem 0;
          grid-area: 3/ 1/ 3 / 3;
          width: calc(100% + 141px);
        }
        select {
          @include breakpoint(sm) {
            width: auto;
          }
        }
      }

      .form-item {
          margin-top: 0;
          margin-bottom: 0;
        margin-right: 0;
        @include breakpoint(sm) {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }

        > &.form-type-textfield:first-of-type {
          margin-right: 0;
        }
      }

      .form-item .form-item {
       // margin: 0;
      }

      .button {
        flex: 1;

        &[data-drupal-selector*="edit-reset"] {
          @include breakpoint(md) {
            //margin-left: 0.7rem;
          }
        }
      }
    }

    .form--inline {
      @include breakpoint(sm) {
        display: grid !important;
        grid-template-columns: minmax(50%, 1fr) 25%;
        grid-column-gap: 0;
        grid-row-gap: 0;
        align-items: flex-start;
      }
    }

    .select-wrapper {
      margin-right: 0;
    }


  }
}

// Override module float.
.bef-exposed-form .form--inline .form-item {
  float: none;
}





