/**
 * @file
 * Default styling for the University of Iowa Book module.
 *
 * This styling is intended to provide a default layout for both the default
 * Views listings and content nodes, leaving much of the styling up to the
 * site itself.
 */

.node--type-book .field--name-book-amended-date,
.node--type-book .field--name-book-owner,
.node--type-book .field--name-book-tags {
  font-weight: 300;
}

.node--type-book .field--name-book-amended-date,
.node--type-book .field--name-book-owner {
  padding-bottom: 0.625rem;
}

.node--type-book .field--name-book-tags a {
  text-decoration: none;
}
