@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.view-display-id-page_articles {
  display: flex;
  flex-wrap: wrap;

  .card {
    flex-direction: row-reverse;
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }


  .media {
    @include card-media-horizontal-right;
    @include breakpoint(sm) {
    margin-top: $md;
    }
  }

  .card__body {
    @include breakpoint(sm) {
      flex: 1;
      padding-left: 0;
    }
  }


  .view-header {
    @include fullwidth-container;
  }

  .view-content {
    @include list-group;
    @include list-group-flush;
    //@include col;
    margin-bottom: $desktop-width-gutter;
    padding: 0;
    flex: 1 0 0;
  }

  .views-row {
    /*
    @include breakpoint(sm) {
      border-bottom: none;
    }
    */
    @include list-group-item;
  }

  .view-content:first-child .views-row:first-child {
    //border-top: 1px solid $light;
  }

  .view-content:last-child .views-row:last-child {
    //border-bottom: 1px solid $light;
  }

  .view-empty {
    flex: 0 0 75%;
    max-width: 75%;
    //@include col-base;
  }

  .view-footer {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint(sm) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-left: $desktop-width-gutter;
    }

    //@include col-base;

    .view-wrapper {
      display: block;
      margin: 0;
    }
  }

  .pager {
    flex: 0 0 100%;
    max-width: 100%;
    //@include col-base;
    order: 1;
  }

  .feed-icons {
    flex: 0 0 100%;
    max-width: 100%;
    //@include col-base;
    order: 2;
  }
}
