@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.view-display-id-page_articles .view-display-id-block_articles_archive {
  //@include card;

  .view-header {
    @include card-header;
    @include h6;
    margin-bottom: 0;
    padding: 0;
  }

  @import "uids/assets/scss/_variables.scss";
  @import "uids/assets/scss/_utilities.scss";

  .view-content {
    //@include card-body;
    padding: 0;
    margin-bottom: 0;
    display: block;

    ul {
      list-style-type: none;
      @include list-group;
      @include list-group-flush;

      li {
        margin: 0;
        //list-style-type: none;
      }

      li a {
        //@include list-group-item;
        //@include list-group-item-action;
        border-radius: 0;
        background-color: transparent;

        &:hover,
        &:focus {
          //text-decoration: underline;
        }
      }

      li a:first-child,
      li a:last-child {
        border-radius: 0;
      }
    }
  }
}
