.si-toggle-container.si-pos-side.si-pos-east {
  display: none;
}

/**
 * Target off-canvas styling using both the
 * D8/9 and D10 methods.
 * See https://www.drupal.org/node/3305664
 */
#drupal-off-canvas-wrapper {
  overflow: visible;
  padding: 0px;
}

.dialog-off-canvas-main-canvas {
  transition-duration: 0s;
}

/**
 * The height is 1px too small.
 */
#drupal-off-canvas-wrapper:after {
  position: absolute;
  content: '';
  left: -1px;
  bottom: -1px;
  background-color: var(--off-canvas-wrapper-border-color);
  height: 1px;
  width: calc(100% + 1px);
}

#drupal-off-canvas {
  width: calc(100% - 1px) !important;
  height: calc(100% - (var(--off-canvas-title-padding) * 2 + 1.4rem)) !important;
  overflow: auto;
  padding: calc(var(--off-canvas-padding) * 0.5) var(--off-canvas-padding) var(--off-canvas-padding) ;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar {
  margin: 0px;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) p,
#drupal-off-canvas-wrapper p {
  line-height: 1.75;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-select,
#drupal-off-canvas-wrapper .form-select,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-text,
#drupal-off-canvas-wrapper .form-text {
  width: 100%;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) ul,
#drupal-off-canvas-wrapper ul {
  display: inline-block;
  width: 100% !important;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .filter-help > a,
#drupal-off-canvas-wrapper .filter-help > a {
  margin-right: 20px;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .field--name-field-uiowa-card-title .form-select,
#drupal-off-canvas-wrapper .field--name-field-uiowa-card-title .form-select {
  padding: 5px 4px 4px 4px;
  margin-top: 4px;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .ui-autocomplete,
#drupal-off-canvas-wrapper .ui-autocomplete {
  color: #000;
}

/**
 * Reset first th and td to not be 150px.
 */
#drupal-off-canvas:not(.drupal-off-canvas-reset) th:first-child,
#drupal-off-canvas-wrapper th:first-child,
#drupal-off-canvas:not(.drupal-off-canvas-reset) td:first-child,
#drupal-off-canvas-wrapper td:first-child {
  width: auto;
}

/**
 * Drag handle styling.
 */
.ui-dialog.ui-dialog-off-canvas .ui-resizable-handle {
  width: 20px;
  height: 50px;
  top: 20vw;
  background: #444;
  box-shadow: -2px -2px 4px -2px rgba(0, 0, 0, 0.3333), -2px 3px 4px -2px rgba(0, 0, 0, 0.3333);
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #333333;
  cursor: ew-resize;
}

.ui-dialog.ui-dialog-off-canvas .ui-resizable-handle:before,
.ui-dialog.ui-dialog-off-canvas .ui-resizable-handle:after {
  content: '';
  background: #85898b;
  border-right: 1px solid #2d2d2d;
  width: 2px;
  display: block;
  height: 30px;
}

.ui-dialog.ui-dialog-off-canvas .ui-resizable-w {
  left: -21px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ui-dialog.ui-dialog-off-canvas .ui-resizable-w:before {
  left: -1px;
  position: relative;
}

.ui-dialog.ui-dialog-off-canvas .ui-resizable-w:after {
  left: 3px;
  position: relative;
}

.ui-dialog.ui-dialog-off-canvas:not(.ui-dialog-resizing) {
  left: auto!important;
  right: 0;
}
