{% if block_type == 'advanced' %}

  <div class="news-card__wrapper">

    {% set news_card_position = 0 %}

    {% for item in news.items %}
      {% include "@news-block--advanced" with {
        "news_card_image": item.card_image,
        "news_card_tag": item.card_tag,
        "news_card_title": item.card_title,
        "news_card_text": item.card_text,
        "news_card_date": item.card_date,
        "news_card_link_url": item.card_link_url,
        "news_card_link_title": item.card_link_title
      } %}

      {% set news_card_position = news_card_position + 1 %}
    {% endfor %}

  </div>


{% endif %}
