<nav role="navigation" class="block block-menu navigation menu--account">

<ul class="menu">
    <li class="menu-item">
        <a href="/user" data-drupal-link-system-path="user">My account</a>
    </li>
    <li class="menu-item">
        <a href="/user/login">Log in</a>
    </li>
</ul>

</nav>