@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import "../uids/assets/scss/_variables.scss";
@import "../uids/assets/scss/_utilities.scss";
@import "components/03 - global/footer/_footer.scss";

.uiowa-footer--login-link {
  a {
    &:before {
      @include fas();
      content: "\f2f6";
      padding-right: $md;
      color: $grey;
    }
  }
}

#block-uids-base-socialmedia {
  .menu li {
    display: inline-block;
  }
  .menu a {
    color: $white;
    display: block;
    //padding: 1rem 0.5rem 1rem 0;
    font-size: 1rem;
  }
  .menu a.fa-icon {
    //padding: 0.5rem;
    font-size: 1.8rem;
  }
  .menu a:hover,
  .menu a:focus {
    color: $primary;
  }
  .menu a.fa-icon .menu-link-title {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    margin-right: 0.5rem;
  }
}
