.ighn-person {
  .field__item {
    font-size: 14px;
    line-height: 14px;
  }
  .card {
    border: 1px solid #000000 !important;
    margin-bottom: 20px !important;
  }
  .card:hover {
    border: 2px solid #ffcd00 !important;
  }
  .card__title {
    display: inline-flex;
    padding: 0rem 0.5rem;
    margin: 0;
    a {
      color: #ffcd00;
    }
  }
  .card__body {
    background: #000000;
    padding: .25rem 0 0;
    line-height: unset;
  }
  .card__author {
    display: inline-flex;;
    font-size: 1rem;
    color: #ffcd00;
  }
  .card .card__author+p {
    margin-top: -10px;
  }
    .ighn-main-info {
      padding: 0.5rem;
      .field--name-field-ighn-person-department {
        line-height: 0.5rem;
        font-weight: 400;
        color: #ffffff;
      }
      .field--name-field-ighn-person-position-title {
        font-weight: 400;
        font-style: italic;
        color: #ffffff;
      }
      .field--name-field-ighn-primary-college {
        font-weight: 600;
        color: #ffffff;
        .field__items::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 800;
          content: "\f66f";
          color: #ffcd00;
        }
      }
    }
    .ighn-person-field-groups {
      background: #ffffff;
      padding: 0.25rem 0.5rem;
      border-bottom: 1px solid #ffcd00;
      .field__label {
        font-weight: 800;
      }
      .field {
        margin-bottom: 0.5rem;
      }
    }
      .field--name-field-ighn-person-biography {
        background: #ffffff;
        padding: 0.55rem 0.55rem 0.25rem;
      p {
        font-size: 14px; 
        line-height: 18px;
      }
    }
}
