{{ attach_library('uids_base/banner') }}
{% set attributes = attributes ?: create_attribute() %}
{% set banner_classes = ['banner'] %}

<div{{ attributes.addClass(banner_classes) }}>

  {% block banner_image %}
    {% if banner_image %}
      <div class="banner__image">
        {{ banner_image }}
      </div>
    {% endif %}
  {% endblock %}

  <div class="banner__container">
    <div class="banner__content">
      {% block heading %}
        {% if banner_title is not empty %}
          {# @todo Determine if it is better to programatically set level and class via preprocess. #}
          {% set banner_heading = {
            'headline_level': headline_level ?: 'h2',
            'headline_class' : headline_class ?: 'bold-headline',
            'heading' : banner_title,
          } %}
          {% include '@uids_base/uids/heading.html.twig' with banner_heading only %}
        {% endif %}
      {% endblock %}

      {% if banner_summary is not empty %}
       <div class="banner__text">{{ banner_summary }}</div>
      {% endif %}

      {% if link and link.link_url is not empty %}
        {% set link = link|merge({
          'link_icon_class': 'fas fa-arrow-right',
        }) %}
        {% include '@uids_base/uids/link.html.twig' with link only %}
      {% endif %}
    </div>
  </div>
</div>
