{{ attach_library('uids_base/carousel') }}
<div data-carousel="carousel" {{ attributes }}>
  {% block carousel_items %}
    {% for key, item in carousel_items %}
      {# @todo How to set the h tag correctly? #}
      <div class="carousel slide" data-ride="carousel" data-interval="false">
        {{ item.content }}
      </div>
    {% endfor %}
  {% endblock %}
</div>
