<div class="socket">
  <ul class="socket__menu">
    <li>© {{ 'now' | date('Y') }} The University of Iowa</li>
    <li>
      <a href="https://uiowa.edu/privacy">Privacy Notice</a>
    </li>
    <li>
      <a href="https://opsmanual.uiowa.edu/community-policies/nondiscrimination-statement">Nondiscrimination Statement</a>
    </li>
    <li>
      <a href="https://uiowa.edu/accessibility">Accessibility</a>
    </li>
    <li>
      <a href="https://nativeamericancouncil.org.uiowa.edu">UI Indigenous Land Acknowledgement</a>
    </li>
  </ul>
</div>
