<div class="socket">
  <ul class="socket__menu">
    <li>© {{ 'now' | date('Y') }} The University of Iowa</li>
    <li>
      <a href="https://uiowa.edu/privacy">Privacy Notice</a>
    </li>
    <li>
      <a href="https://policy.uiowa.edu/community-policies/nondiscrimination-statement">UI Nondiscrimination Statement</a>
    </li>
    <li>
      <a href="https://accessibility.uiowa.edu/">Accessibility</a>
    </li>
  </ul>
</div>
