<button type="button" class="search-button" role="button" aria-expanded="false" aria-controls="search-overlay" aria-label="Toggle search form">
	<span id="search-button-label">Search</span>
</button>
