{% if site_name %}
  <h1 class="uiowa-bar__title">
    {% if site_url %}
    <a href="{{ site_url }}">
      {% endif %}
      {{ site_name }}
      {% if site_url %}
    </a>
    {% endif %}
  </h1>
{% endif %}
