<div class="slider__slide" {% if slide_expanded %} aria-expanded="true" {% endif %}>

  {% embed '@uids_base/uids/banner.html.twig' with {
    'attributes': attributes,
    'banner_image' : slide_image,
    'banner_link_url' : slide_link,
    'banner_title' : slide_title,
    'banner_summary' : slide_summary,
    'link': link,
  } %}
  {% endembed %}

  <div class="slider__teaser">
    <p class="slider__teaser-heading">{{ slide_title }}
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
