{{ attach_library('uids_base/stat') }}
{% set attributes = attributes ?: create_attribute() %}
<div{{ attributes.addClass(stat_classes) }}>
  {% block heading %}
    <div>
      {% if stat_title is not empty %}
        {% include '@uids_base/uids/headline.html.twig' with {
          'headline_level' : headline_level ?: 'h2',
          'headline_class' : 'stat__title',
          'headline_text' : stat_title,
          'headline_prefix' : stat_prefix,
          'headline_suffix' : stat_suffix,
        } only %}
      {% endif %}
    </div>
  {% endblock %}
  {% if stat_summary is not empty %}
    <p class="stat__description">{{ stat_summary }}</p>
  {% endif %}
  {% if stat_content is not empty %}
    <p class="stat__content">{{ stat_content }}</p>
  {% endif %}
</div>

