{{ attach_library('uids_base/tabs') }}
{% set tab_item_id = 'tab-select-' ~ delta %}

<div id="{{ tab_item_id }}"
  aria-labelledby="{{ tab_item_id }}-heading"
  role="tabpanel"
  class="tab__content"
  {% if not delta == 0 %}
    hidden="hidden"
  {% endif %}
>
  {% block tab_content %}
    {{ collection_item_content }}
  {% endblock %}
</div>