@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

// Full-width.
.container-fluid.field--name-field-section-content-block {
  .col-md-12.paragraph--type--carousel {
    padding: 0;
  }

  .paragraph--type--carousel {
    .paragraph--type--carousel-image {
      .field--name-field-media-image {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
          max-height: 900px;
          object-fit: cover;
        }
      }
    }
  }
}

.paragraph--type--carousel {
  .carousel-caption {
    padding: 1.25rem;
    overflow-y: scroll;
    max-height: 95%;
    background-color: $dark;
    color: $white;
  }
}

.paragraph--type--carousel-image.bg-dark {
  .carousel-caption {
    background-color: $dark;
    color: $white;

    a:not(.btn):not(.alert-link) {
      color: $primary;
    }

    blockquote,
    blockquote p {
      border-color: $white;

      &:before {
        background-color: $white;
        color: $dark;
      }

      footer {
        color: $dark-gray;
      }
    }
  }

  &.semi-transparent {
    .carousel-caption {
      background-color: rgba(52, 58, 64, 0.8) !important;
    }
  }
}

.paragraph--type--carousel-image.bg-light {
  .carousel-caption {
    background-color: $light;
    color: $dark-gray;

    blockquote,
    blockquote p {
      border-color: $dark-gray;

      &:before {
        background-color: $dark-gray;
        color: $white;
      }

      footer {
        color: $dark-gray;
      }
    }
  }

  &.semi-transparent {
    .carousel-caption {
      background-color: rgba(248, 249, 250, 0.8) !important;
    }
  }
}

.paragraph--type--carousel-image.bg-yellow {
  .carousel-caption {
    background-color: $primary;

    a:not(.btn):not(.alert-link) {
      color: $secondary;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    blockquote,
    blockquote p {
      border-color: $dark-gray;

      &:before {
        background-color: $dark-gray;
        color: $white;
      }

      footer {
        color: $dark-gray;
      }
    }
  }

  &.semi-transparent {
    .carousel-caption {
      background-color: rgba(255, 205, 0, 0.8) !important;
      color: $dark-gray;
    }
  }
}
