@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";


.paragraph--type--articles {
  .field--name-title {
    display: block;
    @include h5;
  }

  .more-link {
    margin-bottom: $gutter;
  }
}

.paragraph--type--articles.list {
  .view-content {
    @include list-group;
    @include list-group-flush;
  }

  .media {
    @include card-media-horizontal-right;
    @include breakpoint(sm) {
    margin-top: $lg;
    }
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  .views-row {
    @include list-group-item;
  }

  .view-content:first-child .views-row:first-child {
    //border-top: 1px solid $light;
  }

  .view-content:last-child .views-row:last-child {
    border-bottom: none;
  }

  article.node--type-article,
  div[role=article].node--type-article {
    display: flex;
    flex-direction: row-reverse;
  }

  .node__content {
    @include media-body;
  }
}

.paragraph--type--articles.grid {
  .view-content {
    @include breakpoint(menu) {
    display: flex;
    flex-wrap: wrap;
    }
  }

  .views-row {
    @include breakpoint(sm) {
    margin-bottom: $mobile-width-gutter;
    }
     @include breakpoint(menu) {
       flex: 0 0 47%;
       max-width: 47%;
       margin-bottom: $desktop-width-gutter;
        &:nth-child(2n+1) {
          margin-right: $desktop-width-gutter;
        }
     }

    @include breakpoint(container) {
    flex: 0 0 31.222222%;
    max-width: 31.222222%;
    margin: 0 $gutter $desktop-width-gutter $gutter;
     &:nth-child(2n+1) {
       margin-right: $gutter;
     }
        &:nth-child(3n+1) {
            margin-left: 0;
        }

        &:nth-child(3n+3) {
            margin-right: 0;

        }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
  }
}

/*
.paragraph--type--articles.grid {
  .view-content {
    @include row;
  }

  .views-row {
    @include col-sm-6;
    @include col-md-4;
    //@include col-base;
  }

  article.node--type-article,
  div[role=article].node--type-article {
    @include card;
    margin-bottom: ($desktop-width-gutter / 2);
    flex-direction: column-reverse;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content {
    @include card-body;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}
*/
.paragraph--type--articles.masonry {
  .view-content {
    //@include card-columns;
    @include breakpoint(sm) {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    }
  }

  .views-row {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }

  article.node--type-article,
  div[role=article].node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content {
    @include card-body;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}

.paragraph--type--articles.hide-images {
  figure img {
    display: none;
  }
}

.paragraph--type--articles.hide-descriptions {
  .field--name-field-teaser {
    display: none;
  }
}

.paragraph--type--section.bg-dark {
  .paragraph--type--articles.list {
    .views-row {
      @include bg-dark;
      @include text-light;

      a {
        color: $primary;
      }
    }
  }
}

.paragraph--type--section.bg-light {
  .paragraph--type--articles.list {
    .views-row {
      @include bg-light;
    }
  }
}

.paragraph--type--section.bg-yellow {
  .paragraph--type--articles.list {
    .views-row {
      @include bg-yellow;

      a {
        color: $secondary;
        text-decoration: underline;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
