.stat {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: center;
  @include breakpoint(sm) {
    @include margin($right: $sm, $bottom: 0, $left: $sm);
  }
  @include flexbox;
  @include flex-direction($value: column);
  @include flex($fg: 1, $fs: 1, $fb: 0%);

  &:first-of-type {
    @include margin($left: 0);
  }

  &:last-of-type {
    @include margin($right: 0);
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__wrapper {
    @include breakpoint(sm) {
      @include flexbox;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    color: $white;
    font-family: $font-family-caps-bold;
    font-size: $h3-font-size;

    &:after {
      display: block;
      width: 50px;
      height: 4px;
      margin: 0 auto;
      content: "";
      background-color: #ffcd00;
    }
  }

  &__description {
    position: relative;
    color: #fff;
    @include margin($top: $md);
  }
}
