{% if stat_items == 3 %}

  <div class="stat__wrapper">

    {% for item in stat.items | slice(0, 3) %}
      {% include "@stat-block--basic" with {
        "stat_image": item.stat_image,
        "stat_title": item.stat_title,
        "stat_summary": item.stat_summary
      } %}
    {% endfor %}

  </div>

{% endif %}

{% if stat_items == 4 %}

      <div class="stat__wrapper">

    {% for item in stat.items | slice(0, 4) %}
      {% include "@stat-block--basic" with {
        "stat_image": item.stat_image,
        "stat_title": item.stat_title,
        "stat_summary": item.stat_summary
      } %}
    {% endfor %}

  </div>

{% endif %}
