{#
/**
 * @file
 * Default theme implementation to display a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 * @see https://v4-alpha.getbootstrap.com/layout/grid/
 */
#}
{% set background = content.background | render %}

{%
  set classes = [
  'layout--onecol--background',
  settings.extra_classes,
  background ? 'has-bg-img' : 'has-no-bg-img',
]
%}

<header role="banner" {{attributes.addClass(classes)}}>
  {% if background %}
    <div class="field field--name-field-image">
      {{ content.background }}
    </div>
  {% endif %}
  <div class="page-header">
    <div class="container">
      {{ content.content }}
    </div>
  </div>
</header>
