
  <ul>
    <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
    <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
    <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
    <li>Ut non enim metus.</li>
  </ul>

  <ol>
    <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
    <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
    <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
    <li>Ut non enim metus.</li>
  </ol>


  <dl>
    <dt>Definition List Title</dt>
    <dd>Definition list division.</dd>
    <dt>Kitchen Sink</dt>
    <dd>Used in expressions to describe work in which all conceivable (and some
      inconceivable) sources have been mined. In this case, a bunch of markup.
    </dd>
    <dt>aside</dt>
    <dd>Defines content aside from the page content</dd>
    <dt>blockquote</dt>
    <dd>Defines a section that is quoted from another source</dd>
  </dl>


