.card {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: transform .35s, z-index .5s;
  border: 1px solid rgba(0, 0, 0, 0.125);
  @include flexbox;
  @include flex-direction($value: column);
  @include flex($fg: 1, $fs: 1, $fb: 0%);

  &__row {
    @include breakpoint(sm) {
      @include margin($right: $sm, $bottom: 0, $left: $sm);

      &:first-of-type {
        @include margin($left: 0);
      }

      &:last-of-type {
        @include margin($right: 0);
      }
    }
  }

  &__wrapper {
    @include breakpoint(sm) {
      @include flexbox;
    }
  }

  &__img {
    align-self: start;
  }

  &__body {
    padding: $gutter;
  }


  &__title {
    font-size: $h6-font-size;
    font-weight: $font-weight-medium-bold;
    @include margin($top: $sm, $bottom: $sm);

    a {
      text-decoration: none;
      color: $secondary;
    }
  }

  &__text {
    @include margin($top: $sm, $bottom: $sm);
    color: $secondary;
  }
}



/*
.card__bttn {
  position: relative;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  transition: background .25s, border .25s, color .25s, transform .25s;
  border: none;
  border: 1px solid $secondary;
  border-radius: 50%;
  background: $white;

  @include margin($right: $sm);

  .is-open & {
    background: $secondary;
  }

  &:before {
    padding: $xsm;
    content: "\f141";
    color: $secondary;
    @include fas();

    .is-open & {
      content: "\f00d";
      color: $white;
    }
  }
}
*/
