{% block stat_wrapper_start %}
	<div class="stat__grid {{ stat_classes }}">
	{% endblock %}
	{% block heading %}
		<div>
			{% if stat_title is not empty %}
				{% include "@heading" with {
          "heading_level" : 'h2',
          "heading_class" : 'stat__title',
          "heading" : stat_title,
          "heading_prefix" : stat_prefix,
          "heading_suffix" : stat_suffix
        } %}
			{% endif %}
		</div>
	{% endblock %}
	{% if stat_summary is not empty %}
		<p class="stat__description">{{ stat_summary }}</p>
	{% endif %}
</div>

