adding:
  dependencies:
    config:
      - core.entity_form_mode.node.minimal
      - field.field.node.person.field_contact_reference
    module:
      - entity_browser_entity_form
      - inline_entity_form
  content:
    field_contact_reference:
      type: inline_entity_form_complex
      weight: 25
      region: content
      settings:
        form_mode: minimal
        override_labels: true
        label_singular: 'Point of contact'
        label_plural: 'Points of contact'
        allow_new: true
        allow_existing: true
        match_operator: CONTAINS
        allow_duplicate: false
        collapsible: true
        collapsed: false
        revision: false
      third_party_settings:
        entity_browser_entity_form:
          entity_browser_id: _none
removing: {  }
