adding:
  dependencies:
    config:
      - field.field.node.article.field_article_type
      - field.field.node.article.field_contact_reference
      - field.field.node.article.field_embargo_information
      - field.field.node.article.field_original_publication_date
    module:
      - smart_date
  content:
    body:
      weight: 3
    created:
      weight: 11
    field_article_author:
      weight: 4
    field_article_source_link:
      weight: 21
    field_article_source_link_direct:
      weight: 22
    field_article_source_org:
      weight: 19
    field_article_type:
      type: options_select
      weight: 1
      region: content
      settings: {  }
      third_party_settings: {  }
    field_contact_reference:
      type: inline_entity_form_complex
      weight: 20
      region: content
      settings:
        form_mode: minimal
        override_labels: true
        label_singular: 'Point of contact'
        label_plural: 'Points of contact'
        allow_new: true
        allow_existing: true
        match_operator: CONTAINS
        allow_duplicate: false
        collapsible: true
        collapsed: false
        revision: false
      third_party_settings:
        entity_browser_entity_form:
          entity_browser_id: _none
    field_embargo_information:
      type: string_textarea
      weight: 2
      region: content
      settings:
        rows: 2
        placeholder: ''
      third_party_settings: {  }
    field_featured_image_display:
      weight: 23
    field_gallery_images:
      weight: 7
    field_image:
      weight: 5
    field_image_caption:
      weight: 6
    field_meta_tags:
      weight: 8
    field_original_publication_date:
      type: smartdate_only
      weight: 24
      region: content
      settings:
        modal: false
        default_duration: 60
        default_duration_increments: |-
          30
          60|1 hour
          90
          120|2 hours
          custom
        show_extra: false
        hide_date: true
      third_party_settings: {  }
    field_related_content:
      weight: 25
    field_tags:
      weight: 12
    field_teaser:
      weight: 9
    moderation_state:
      weight: 18
    path:
      weight: 15
    promote:
      weight: 13
    status:
      weight: 17
    sticky:
      weight: 14
    uid:
      weight: 10
    url_redirects:
      weight: 16
removing:
  content:
    body:
      weight: 1
    created:
      weight: 9
    field_article_author:
      weight: 2
    field_article_source_link:
      weight: 18
    field_article_source_link_direct:
      weight: 19
    field_article_source_org:
      weight: 17
    field_featured_image_display:
      weight: 20
    field_gallery_images:
      weight: 5
    field_image:
      weight: 3
    field_image_caption:
      weight: 4
    field_meta_tags:
      weight: 6
    field_related_content:
      weight: 26
    field_tags:
      weight: 10
    field_teaser:
      weight: 7
    moderation_state:
      weight: 16
    path:
      weight: 13
    promote:
      weight: 11
    status:
      weight: 15
    sticky:
      weight: 12
    uid:
      weight: 8
    url_redirects:
      weight: 14
