adding:
  dependencies:
    config:
      - field.field.node.article.field_article_type
      - field.field.node.article.field_embargo_information
      - field.field.node.article.field_original_publication_date
    module:
      - smart_date
  content:
    body:
      weight: 2
    field_article_type:
      type: options_select
      weight: 1
      region: content
      settings: {  }
      third_party_settings: {  }
    field_embargo_information:
      type: string_textarea
      weight: 1
      region: content
      settings:
        rows: 2
        placeholder: ''
      third_party_settings: {  }
    field_original_publication_date:
      type: smartdate_only
      weight: 20
      region: content
      settings:
        modal: false
        default_duration: 60
        default_duration_increments: |-
          30
          60|1 hour
          90
          120|2 hours
          custom
        show_extra: false
        hide_date: true
      third_party_settings: {  }
removing:
  content:
    body:
      weight: 1
