{% extends '@uids_base/layout/header.html.twig' %}

{% block uiowa_bar %}
    {{ attach_library('uids_base/site-name') }}
    {% include '@uids/03 - global/site-name/site-name.twig' with {
        site_name: site_name
    } %}

    {% if page.header_search %}
        {{ page.header_search }}
    {% endif %}

    {% if uiowa_search_form %}
        {% include '@uids_base/global/search-toggle.html.twig' with {
            search_form: uiowa_search_form
        } %}
    {% endif %}

    {% if header_nav == 'nav--toggle' %}
        {# @todo Replace with include #}
        {{ attach_library('uids_base/off-canvas') }}
        <div class="o-canvas__group">
            <div class="o-canvas__wrapper">
                {% include '@uids/03 - global/menus/off-canvas/off-canvas--bttn.twig' %}
                {% embed '@uids_base/global/off-canvas--drawer.html.twig' %}
                    {% block drawer %}
                        {{ page.primary_menu }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    {% endif %}
{% endblock %}