{% extends '@uids_base/layout/header.html.twig' %}

{% block uiowa_bar %}
  {% if logo_path and is_off_brand %}
    <div class="site-name">
      <a href="{{ path('<front>') }}"><img alt="{{ site_name }}" src ="{{ logo_path }}" /></a>
    </div>
  {% else %}
    {% include '@uids_base/uids/site-name.html.twig' with {
      'site_name': site_name,
      'site_url': path('<front>'),
    } %}
  {% endif %}

  {% if page.action_menu %}
    {{ page.action_menu }}
  {% endif %}

  {% if page.search %}
    {% include '@uids_base/uids/global/search-toggle.html.twig' with {
      'search_form': page.search,
    } %}
  {% endif %}

  {% if header_nav == 'toggle' %}
    {% include '@uids_base/navigation/toggle-nav.html.twig' %}
  {% endif %}
{% endblock %}
