{% extends '@uids_base/layout/header.html.twig' %}

{% block uiowa_bar %}
  {{ attach_library('uids_base/site-name') }}
  {% include '@uids_base/uids/site-name.html.twig' with {
    'site_name': site_name,
    'site_url': path('<front>'),
  } %}
  <nav role="navigation" aria-labelledby="block-uids-base-searchlinks-menu" id="block-uids-base-searchlinks" class="menu--quick-links block block-menu navigation menu--search-links">
    <h2 class="visually-hidden" id="block-uids-base-searchlinks-menu">Search links</h2>
    <ul class="menu">
      <li class="menu-item">
        <a href="/a-z" title="A-Z List" data-drupal-link-system-path="a-z">Apply Now</a>
      </li><li class="menu-item">
        <a href="/a-z" title="A-Z List" data-drupal-link-system-path="a-z">Visit Options</a>
      </li>
      <li class="menu-item">
        <a href="https://iam.uiowa.edu/whitepages" title="Directory">Request Information</a>
      </li>
    </ul>
  </nav>
  {% if page.action_menu %}
    {{ page.action_menu }}
  {% endif %}

  {% if page.search_menu %}
    {{ page.header_search }}
  {% endif %}

  {% if uiowa_search_form %}
    {% include '@uids_base/uids/global/search-toggle.html.twig' with {
      search_form: uiowa_search_form
    } %}
  {% endif %}

  {% if header_nav == 'toggle' %}
    {% include '@uids_base/navigation/off-canvas.html.twig' %}
  {% endif %}
{% endblock %}
