<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
<div class="logo">
  <img src="/sites/admissions.uiowa.edu/modules/admissions_core/assets/images/admissions-lockup.svg" width="600" height="200" />
</div>
<div class="pdf">
    {{ content }}
</div>
</body>
</html>
