{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('uids_base/person') }}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
  ]
  %}
  {% set card_view = row.card_options %}
  {% embed '@uids_base/uids/card.html.twig' with card_view only  %}

    {% block card_img %}
      {% if card_image|striptags('<img><picture>')|trim is not empty %}
        {{ parent() }}
      {% endif %}
    {% endblock %}

    {% block card_subtitle %}
      {% if card_subtitle|striptags|trim is not empty %}
        <div class="card__subtitle"><span role="presentation" class="fas fa-book"></span>{{ card_subtitle }}</div>
      {% endif %}
    {% endblock %}

  {% endembed %}
{% endfor %}

