@import '../../config';
@import '../../utilities';

.block-system-branding-block {
  display: flex;
  align-items: center;
}

.site-logo {

  img {
    width: 6.563em;
    display: block;
    padding: 0.313em 0.313em 0;
    float: left;
    margin-bottom: 0.313em;
  }
}

.site-name {
  padding: 0.6em;
  font-size: 2em;
  flex: 1;
}
