.quick-links-d {
  position: relative;
  z-index: 100;
  width: 170px;
  display: block;
  cursor: pointer;
  transition: background .25s, border .25s, color .25s, transform .25s;
  text-transform: uppercase;
  border: none;
  font-family: $font-family-sans-serif;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  @include margin($right: $sm);
  @include padding($top: $xsm-sm, $right: $md, $bottom: $xsm-sm, $left: $md);

  &:after {
    padding: $xsm;
    font-size: $base-font-size;
    @include fas();
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $white;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform: translate(-50%, 0) scaleX(1);
  }

}



.quick-links--primary {
  .quick-links-d[aria-expanded="true"] {
    //transform: translateY(-14px) scale(1.00);
    color: $primary;
    border: 1px solid $dark-gray;
    outline: none;
    background: $dark-gray;
    box-shadow: 3px 5px 10px 0 rgba(13, 23, 33, .2);

    &:after {
      content: "\f00d";
      color: $primary;
    }
  }

  .quick-links-d[aria-expanded="false"] {
    color: $secondary;
    border: 1px solid $white;
    background: $primary;

    &:after {
      content: "\f107";
      color: $secondary;
    }
  }
}



.quick-links--secondary {
  .quick-links-d[aria-expanded="true"] {
    transform: translateY(-14px) scale(1.00);
    color: $light;
    border: 1px solid $grey;
    outline: none;
    background: $grey;
    box-shadow: 3px 5px 10px 0 rgba(13, 23, 33, .2);

    &:after {
      content: "\f00d";
      color: $white;
    }
  }

  .quick-links-d[aria-expanded="false"] {
    color: $primary;
    border: 1px solid $white;
    background: $secondary;

    &:after {
      content: "\f107";
      color: $white;
    }
  }
}



.quick-nav-d {
  display: none;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  border: none;

  .quick-links--primary & {
    background-color: $white;
  }

  .quick-links--secondary & {
    background-color: $grey;
  }

  &.is-open {
    position: absolute;
    z-index: 100;
    top: 42px;
    left: 0;
    display: block;
    visibility: visible;
    width: 170px;
    transition: background .25s, border .25s, color .25s, transform .25s;
    transform: translateY(-14px) scale(1.00);
    opacity: 1;
    box-shadow: 8px 27px 48px -44px rgba(0, 0, 0, 0.75);
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    position: relative;
    list-style: none;
    padding: $xsm $sm;

    a {
      padding: $sm;
      text-decoration: none;
      color: $white;
      font-size: $small-font-size;
      font-weight: $font-weight-bold;

      &:hover:after {
        right: 0;
        width: 100%;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 0;
        height: 1px;
        content: "";
        transition: right 0.3s ease 0s, width .3s ease 0s;
        background: none repeat scroll 0 0 transparent;

        .quick-links--primary & {
          background: $primary;
        }

        .quick-links--secondary & {
          background: $secondary;
        }
      }

      .quick-links--primary & {
        color: $dark-gray;
      }

      .quick-links--secondary & {
        color: $light;
      }
    }
  }
}

.quick-nav__wrapper-d {
  position: relative;
  display: none;

  @include breakpoint(sm) {
    @include margin($left: auto);
    width: 180px;
    display: block;
  }
}


@media (min-width: 992px) {
  .animate {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
