<div class="quick-nav__wrapper-d {{ bg_color }}">

  <button class="quick-links-d" id="quick-toggle-d" aria-haspopup="true" aria-expanded="false">
    Quick Links
  </button>

  <nav class="quick-nav-d animate slideIn" aria-labelledby="quick-toggle-d">
    <ul class="menu clearfix">
      <li class="first leaf menu-depth-1 menu-item-461">
        <a href="/students" title="Students">MyUI</a>
      </li>
      <li class="leaf menu-depth-1 menu-item-464">
        <a href="/parents" title="Parents">Jobs@UIowa</a>
      </li>
      <li class="leaf menu-depth-1 menu-item-463">
        <a href="/alumni-and-friends" title="Alumni/Friends">Human Resources</a>
      </li>
      <li class="leaf menu-depth-1 menu-item-462">
        <a href="/faculty-and-staff" title="Faculty/Staff">Student Health and Wellness</a>
      </li>
      <li class="leaf menu-depth-1 menu-item-462">
        <a href="/faculty-and-staff" title="Faculty/Staff">Libraries</a>
      </li>
      <li class="leaf menu-depth-1 menu-item-462">
        <a href="/faculty-and-staff" title="Faculty/Staff">Course Catalog</a>
      </li>
      <li class="last leaf menu-depth-1 menu-item-465">
        <a href="/visitors" title="Visitors">Academic Calendars</a>
      </li>
    </ul>
  </nav>

</div>
