:root {
  --brand-gold: #12b6ff !important;
}

.iowa-bar__custom-logo .logo--tab {
  filter: opacity(0);
}

.iowa-bar__custom-logo .iowa-bar__container .site-name {
  visibility: hidden;
  height: 0;
  padding: 0;
}

.iowa-bar__custom-logo .region-logo {
  height: 85px;
  width: 100%;
}

.iowa-bar__custom-logo .site-logo img {
  height: 85px;
  padding: 10px;
}
