@import "scss/components/tables.scss";
@import "scss/components/typography/paragraph.scss";
@import "uids/components/alert/alert.scss";
@import "uids/components/blockquote/blockquote.scss";
@import "uids/components/typography/lists/lists.scss";
@import "uids/components/button/button.scss";
@import "scss/sitenow.scss";
@import "scss/components/typography/global-serif.scss";

.cke_contents_ltr {
  table,
  table caption,
  table > tr > td,
  table > tr > th,
  table > tbody > tr > td,
  table > tbody > tr > th,
  table > thead > tr > td,
  table > thead > tr > th,
  table > tfoot > tr > td,
  table > tfoot > tr > th,
  {
    border: #d3d3d3 1px dotted
  }
}
