<div class="embed-responsive embed-responsive-9by16">
  <iframe title="Video Example" id="player" src="{{ video_link }}" frameborder="0" allow="autoplay encrypted-media allowfullscreen"></iframe>
</div>
