@import "../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@import "../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";


.view-id-palliative-grad {
  .view-content {
    padding-top: $gutter;
  }
  .views-row {
    padding-bottom: $gutter;
  }
  .card__subtitle .field--label-visually_hidden .field__items {
    display: grid;
  }
  .card__description {
    font-size: $small-font-size;
    color: $text-muted;
    strong {
      color: $secondary;
    }
  }
}
