@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";


.view-id-palliative-grad {
  .view-content {
    padding-top: variables.$gutter;
  }
  .views-row {
    padding-bottom: variables.$gutter;
  }
  .card__subtitle .field--label-visually_hidden .field__items {
    display: grid;
  }
  .card__description {
    font-size: variables.$small-font-size;
    color: variables.$text-muted;
    strong {
      color: variables.$secondary;
    }
  }
}
