@import "../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@import "../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";

#pharmacy-palliative-grad-map {
  min-height: 400px;
  width: 100%;
  height: 100%;
  @include breakpoint(sm) {
    height: 700px;
  }
}
#pharmacy-palliative-grad-map .info {
  padding: 1rem;
  background: white;
}
