/*
 * @file
 * Provides the layout styles for page--paragraph.
 */

.layout--onecol .layout__region {
  display: flex;
  flex-wrap: wrap;
}

.container.container--title,
.sidebar-invisible.layout--has-sidebar .container.container--title {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.sidebar-invisible.layout--has-sidebar .container.container--title {
  margin-bottom: 0;
}


.title-invisible .container.container--title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.layout--has-sidebar .container.container--title {
  padding: 0;
  margin-bottom: 1.5rem;
}

.layout--no-sidebar .container.container--title {
  margin-bottom: 1.5rem;
}
