id: now_people
label: People
dependencies:
  enforced:
    module:
      - now_migrate
migration_tags:
  - now
migration_group: sitenow_migrate
source:
  plugin: now_people
  node_type: person
destination:
  plugin: 'entity:node'
  default_bundle: person
process:
  langcode:
    plugin: static_map
    bypass: true
    source: language
    map:
      und: en
  moderation_state: moderation_state
  created: created
  changed: changed
  status: status
  promote: promote
  uid:
    plugin: default_value
    default_value: 1
  title: title
  field_image: field_person_photo_fid
  field_person_bio: field_person_about
  field_person_first_name: field_person_first_name
  field_person_last_name: field_person_last_name
  field_person_phone: field_telephone
  field_person_email: field_email
  field_person_position: field_person_job_title
  field_person_research_areas:
    plugin: sub_process
    source: field_person_areas_of_expertise
    process:
      target_id:
        plugin: migration_lookup
        migration: now_research_areas
        source: tid
  field_tags: tags
  field_contact_reference:
    plugin: sub_process
    source: field_person_osc_contact
    process:
      target_id:
        plugin: migration_lookup
        migration: now_people
        source: target_id
migration_dependencies:
  required:
    - now_research_areas
