.page-node-type-event {

  .layout--twocol .layout__region--second {
    padding-bottom: 0;
  }

  #edit-field-event-genre--wrapper {
    .fieldset__wrapper--group {
      column-count: 2;
    }

    #edit-field-event-genre--wrapper--description {
      column-span: all;
    }
  }
}

