{% include '@uiowa-bar' %}
<header class="header site-header {{ collegiate_theme_base_header_alignment_settings }}">
    <div class="layout-container-flex">
        {% include '@site-name' %}
        <nav class="navbar navbar--main">
            <div class="region-primary-menu">
                {% if menu_type == 'superfish' %}
                    {% include '@superfish' %}
                {% elseif menu_type == 'main' %}
                    {% include '@main-menu' %}
                {% endif %}
            </div>
        </nav>
    </div>
</header>
