@import "../../../uids/assets/scss/_variables.scss";

body.text--serif {
  $text--serif: $font-family-serif;

  .field--name-body,
  .block-inline-blockuiowa-text-area,
  .field--name-field-person-bio,
  .event-description,
  .card__body {
    p {
      font-family: $text--serif, serif;
    }
  }
  .card .field--name-field-teaser {
    font-family: $text--serif, serif;
  }

  .field--name-body,
  .field--name-field-person-bio,
  .field--name-field-uiowa-text-area,
  .field--name-field-uiowa-card-excerpt, {
    .cke_editor p {
      font-family: $text--serif, serif;
    }
  }

  // This is where to put styles that will be put in to the WYSIWYG.
  // Set in `docroot/modules/custom/sitenow_media_wysiwyg/js/ckeditor_config.js`.
  &.cke_contents_ltr {
    p {
      font-family: $text--serif, serif;
    }
  }
}


