@import "../../../uids/assets/scss/_variables.scss";

body.text--serif {
  $text--serif: $font-family-serif;

  .field--name-body,
  .block-inline-blockuiowa-text-area,
  .field--name-field-person-bio,
  .event-description {
    p,
    li {
      font-family: $text--serif, serif;
      font-size: calc(#{$content-font-size} + 1px);
    }
  }

  // This is where to put styles that will be put in to the WYSIWYG.
  // Set in `docroot/modules/custom/sitenow_media_wysiwyg/js/ckeditor_config.js`.
  &.cke_contents_ltr {
    p {
      font-family: $text--serif, serif;
    }
  }
}


