@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/typography/headings/headings.scss";
@import "components/headline/headline.scss";

h1 {
  margin-top: 0;
  margin-bottom: 0;
  .path-taxonomy & {
    margin-bottom: $sm;
  }
}

.page-title.page-title--no-breadcrumbs {
  margin-top: 1.75rem;
}

body:not(.page-node-type-article, .page-node-type-page) #block-uids-base-page-title {
  margin-bottom: 1.5rem;
}

.page-title.bold-headline--serif {
  font-weight: 600;
}

.hero .page-title.bold-headline--serif {
  font-weight: 700;
}

.headline.block__headline {
  margin-bottom: 1.25rem;
}

.bold-headline--underline,
.headline--underline {
  &.text-align-center,
  .text-align-center & {
    &:after {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.bg-pattern--brain-black [class*="bg--gray"] .bold-headline--underline,
.bg-pattern--brain-black [class*="bg--gray"] .headline--underline,
[class*="bg--black"] [class*="bg--gray"]  .bold-headline--underline,
[class*="bg--black"] [class*="bg--gray"] .headline--underline,
.bg-pattern--brain-reversed [class*="bg--gray"] .bold-headline--underline,
.bg-pattern--brain-reversed [class*="bg--gray"] .headline--underline,
[class*="bg--gold"] [class*="bg--gray"] .bold-headline--underline,
[class*="bg--gold"] [class*="bg--gray"] .headline--underline,
.bg-pattern--brain-reversed [class*="bg--white"] .bold-headline--underline,
.bg-pattern--brain-reversed [class*="bg--white"] .headline--underline,
[class*="bg--gold"] [class*="bg--white"] .bold-headline--underline,
[class*="bg--gold"] [class*="bg--white"] .headline--underline {
  &:after {
    background: $primary;
  }
}
