@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/typography/headings/headings.scss";
@import "components/headline/headline.scss";

h1 {
  margin-top: 0;
  margin-bottom: 0;
  .path-taxonomy & {
    margin-bottom: $sm;
  }
}

body:not(.page-node-type-article, .page-node-type-page) #block-uids-base-page-title {
  margin-bottom: 1.5rem;
}

.page-title.bold-headline--serif {
  font-weight: 600;
}

.hero .page-title.bold-headline--serif {
  font-weight: 700;
}

.headline.block__headline {
  margin-bottom: 1.25rem;
  &:not(.bold-headline--underline) {
    margin-top: .4rem;
    padding-bottom: .4rem;
  }
}

.bg-pattern--brain-black [class*="bg--white"] .bold-headline--underline,
.bg-pattern--brain-black [class*="bg--white"] .headline--underline,
[class*="bg--black"] [class*="bg--white"] .bold-headline--underline,
[class*="bg--black"] [class*="bg--white"] .headline--underline,
.bg-pattern--brain-reversed [class*="bg--white"] .bold-headline--underline,
.bg-pattern--brain-reversed [class*="bg--white"] .headline--underline,
[class*="bg--gold"] [class*="bg--white"] .bold-headline--underline,
[class*="bg--gold"] [class*="bg--white"] .headline--underline,
[class*="bg--gray"] [class*="bg--white"] .bold-headline--underline,
[class*="bg--gray"] [class*="bg--white"] .headline--underline{
  box-shadow: inset 0 -.175em #fff, inset 0 -.25em #ffcd00;
}

.bg-pattern--brain-black [class*="bg--gray"] .bold-headline--underline,
.bg-pattern--brain-black [class*="bg--gray"] .headline--underline,
[class*="bg--black"] [class*="bg--gray"]  .bold-headline--underline,
[class*="bg--black"] [class*="bg--gray"] .headline--underline,
.bg-pattern--brain-reversed [class*="bg--gray"] .bold-headline--underline,
.bg-pattern--brain-reversed [class*="bg--gray"] .headline--underline,
[class*="bg--gold"] [class*="bg--gray"] .bold-headline--underline,
[class*="bg--gold"] [class*="bg--gray"] .headline--underline {
  box-shadow: inset 0 -0.175em #f3f3f3, inset 0 -0.25em #FFCD00;
}
