@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/typography/headings/headings.scss";
@import "components/headline/headline.scss";

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

body:not(.page-node-type-article, .page-node-type-page) #block-uids-base-page-title {
  margin-bottom: 1.5rem;
}

.page-title.bold-headline--serif {
  font-weight: 600;
}

.hero .page-title.bold-headline--serif {
  font-weight: 700;
}
