@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/base/lists.scss";

.element--list-none {
  svg[class*="fa-"] {
    top: .4rem;
    &.h2, &.h3, &.h4, &.h5, &.h6 {
      top: 0;
    }
  }
  &.element--margin-none {
    margin: 0;
  }
}

// Target text areas that use list items
.block-inline-blockuiowa-collection,
.block-inline-blockuiowa-text-area,
.block--wrapper {
 ul li {
   margin-bottom: .5rem;
 }
}

.card {
  .fa-field-item, .fa-ul {
    position: relative;
    margin-left: var(--fa-li-margin, 2em);
    padding-left: 0;

    svg[class*="fa-"] {
      position: absolute;
      left: calc(var(--fa-li-width, 2em)* -1);
    }
  }
}

.fa-field-item svg[class*="fa-"] {
  display: inline-block;
  margin-right: .3rem;

  & + .field__item {
    display: inline-block;
  }
}
