@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/typography/lists/lists.scss";

.element--list-none {
  svg.fa-li {
    top: .4rem;
    &.h2, &.h3, &.h4, &.h5, &.h6 {
      top: 0;
    }
  }
  &.element--margin-none {
    margin: 0;
  }
}
