@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";
@import "uids/scss/base/paragraph.scss";

.card {
  figure {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  figure:not(:last-child) {
    margin-bottom: 0;
  }
}

.lead {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.small {
  font-size: $sm !important;
  line-height: $sm-md !important;
  font-family: Arial, Helvetica, sans-serif;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.cke_editable div,
.text-formatted div {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-bottom: 1.05rem;
}

.block-content--type-uiowa-text-area div {
  line-height: 1.7;
  font-size: 1.2rem;
}

.element--light-intro > p,
.element--bold-intro > p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

hr {
  clear: both;
}

/**
* Temporary workaround for https://www.drupal.org/project/drupal/issues/3398223.
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
div.hr {
  clear: both;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

[class*=bg-] .element--spacer-separator,
[class*=bg-] [class*=bg-] .element--spacer-separator {
  border: 1px solid transparent;
}

[class*=bg-] .element--spacer-thin,
[class*=bg-] [class*=bg-] .element--spacer-thin {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

iframe {max-width: 100%;}

.block-inline-blockuiowa-text-area p:last-child,
.block-field-blocknodepagebody p:last-child,
.block-inline-blockuiowa-collection p:last-child,
.block-field-blocknodearticlebody p:last-child,
.block-field-blocknodepersonbody p:last-child {
  margin-bottom: 0;
}

.element--two-column,
.element--three-column {
  // Avoid breaking apart the content within the field__item.
  .field__item {
    break-inside: avoid;
  }
}
