@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/typography/paragraph/paragraph.scss";

.card {
  figure {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  figure:not(:last-child) {
    margin-bottom: 0;
  }
}

.small {
  font-size: $sm!important;
  line-height: $sm-md!important;
  font-family: Arial, Helvetica, sans-serif;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
