@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/typography/paragraph/paragraph.scss";

.card {
  figure {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  figure:not(:last-child) {
    margin-bottom: 0;
  }
}

.lead {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.small {
  font-size: $sm !important;
  line-height: $sm-md !important;
  font-family: Arial, Helvetica, sans-serif;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.cke_editable div,
.text-formatted div {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-bottom: 1.05rem;
}

.block-content--type-uiowa-text-area div {
  line-height: 1.7;
  font-size: 1.2rem;
}


[class*=bg-] .element--spacer-separator,
[class*=bg-] [class*=bg-] .element--spacer-separator {
  border: 1px solid transparent;
}

[class*=bg-] .element--spacer-thin,
[class*=bg-] [class*=bg-] .element--spacer-thin {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
.bg--gold,
.bg--brain-reversed,
.bg-pattern--brain-reversed,
.bg-yellow {
  & .block-field-blocknodepagebody,
  & .block-inline-blockuiowa-text-area,
  & .block-inline-blockuiowa-collection .collection--discriptive-list {
    color: $secondary;
    border-color: $white;

    h1, h2, h3, h4, h5, h6,
    p,
    a:not(.btn):not(.bttn):not(.button) {
      color: $secondary;
    }
    blockquote {
      border-color: $blk;
    }
    .alert a,
    .contextual-links a {
      color: initial;
    }
    table a {
      color: $link-color;
    }
    &.bg--gray {
      a {
        color: $link-color;
      }
      blockquote {
        border-color: $primary;
      }
      .alert a,
      .contextual-links a {
        color: initial;
      }
    }
  }
}

.bg--black,
.bg-pattern--brain-black,
.bg-dark,
.footer {
  & .block-field-blocknodepagebody,
  & .block-inline-blockuiowa-text-area,
  & .block-inline-blockuiowa-collection .collection--discriptive-list,
  & #block-uids-base-footercontactinfo {
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }

    a {
      color: $primary;
    }
    .alert a,
    .contextual-links a {
      color: initial;
    }
    table a {
      color: $link-color;
    }
    &.bg--gray {
      color: initial;

      h1, h2, h3, h4, h5, h6,
      p {
        color: initial;
      }
      a {
        color: $link-color;
      }
      .alert a,
      .contextual-links a {
        color: initial;
      }
    }
  }
}

.bg-pattern--brain {
  & .block-field-blocknodepagebody,
  & .block-inline-blockuiowa-text-area,
  & .block-inline-blockuiowa-collection .collection--discriptive-list {
    color: $secondary;
    border-color: $secondary;

    h1, h2, h3, h4, h5, h6,
    p,
    a {
      color: $secondary;
    }
    .alert a,
    .contextual-links a {
      color: initial;
    }
    table a {
      color: $link-color;
    }
    &.bg--gray {
      a {
        color: $link-color;
      }
      blockquote {
        border-color: $primary;
      }
      .alert a,
      .contextual-links a {
        color: initial;
      }
    }
  }
}
*/
