@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/01 - elements/breadcrumbs/_breadcrumbs.scss";

.breadcrumb {
  margin-bottom: 0;
  margin-top: 2.5rem;
  .hero__content & {
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

.block-system-breadcrumb-block {
  margin-bottom: -35px;
  z-index: 1;
    .hero__content & {
      margin-bottom: -25px;
    }
}
