@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/group/group.scss";

.menu--group {
  display: flex;
  width: 100%;
  padding: $md 0;
}

.menu--group .menu {
  flex: 1;
}
