@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/main-menu/main-menu.scss";

// @todo remove from UIDS.
.main--secondary--horizontal {
  @include breakpoint(sm) {
    margin: 0;
  }
}

// @todo move back to UIDS. 
[class*="bg--white"],
[class*="bg--gray"] {
  .menu-wrapper--horizontal {
    .menu {
      li {
        a {
          color: $secondary;
        }
      }
    }
  }
}


// set horizontal only if used in layout--onecol section.
// @todo remove once https://github.com/GoogleChromeLabs/container-query-polyfill/issues/23 is resolved.
@include breakpoint(sm) {
  .layout--onecol {

    &[class*="bg--black"],
    &[class*="bg--gold"],
    &[class*="bg--gray"] {
      .menu-wrapper--horizontal {
        .menu {
          li {
            a.is-active {
              background: #fff;
            }
          }
        }
      }
    }

    &[class*="bg--black"] {
      .menu-wrapper--horizontal {
        .menu {
          li a {
            &:after {
              bottom: 0;
            }
          }

          li {
            a.is-active {
              color: $secondary;
            }
          }
        }
      }
    }

    &[class*="bg--gold"] {
      .menu-wrapper--horizontal {
        .menu {
          li a {
            &:before {
              background-color: $brand-cool-gray;
            }
          }

          li {
            a.is-active {
              &:before {
                border-top-color: $brand-cool-gray;
                background-color: transparent;
              }

              &:after {
                background-color: $brand-cool-gray;
              }
            }
          }
        }
      }
    }

    .menu-wrapper--horizontal {
      padding: 0;
      @include container-width;
      border-top: none;

      .menu {
        flex-direction: row;

        ul {
          display: none;
        }

        li {
          display: flex;
          border-bottom: none;

          &:first-of-type a {
            margin-left: 0;
          }

          &:last-of-type a {
            margin-right: 0;
          }

          a,
          span {
            @include bttn--focus;
            position: relative;
            width: auto;
            text-align: center;
            text-transform: uppercase;
            border: 0;
            background-color: transparent;
            font-weight: $font-weight-medium-bold;
            padding: 1.475rem 1.375rem;
            margin: 0;
            @include center(both);
            word-break: unset;

            &:focus,
            &:hover {
              text-decoration: none;
            }
          }

          a.is-active {
            background-color: #f3f3f3;
            margin: 0;
            padding-right: 1.875rem;
            padding-left: 1.875rem;

            &:before {
              width: 20px;
              height: 20px;
              content: "";
              position: absolute;
              left: calc(50% - 10px);
              top: calc(100% - 1px);
              background-color: transparent;
              border-top: 10px solid $primary;
              border-right: 10px solid transparent;
              border-left: 10px solid transparent;
              border-bottom: 10px solid transparent;
              z-index: 1;
            }

            &:after {
              background: $primary;
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              width: 100%;
              height: 6px;
              transform-origin: center;
              transition: transform 0.3s ease-in-out;
              transform: translate(-50%, 0) scaleX(1);
            }
          }

          &.menu-item--expanded {
            background-color: transparent;

            a {
              &.is-active {
                padding-bottom: 1.475rem;
              }
            }

            ul {
              display: none;
            }
          }
        }

        li a:before {
          position: absolute;
          bottom: 35%;
          width: 1px;
          height: 25%;
          content: "";
          background: $primary;
          right: -1px;
        }

        li a:after {
          background-color: $brand-cool-gray;
        }

        li:last-of-type a {
          &:before {
            width: 0;
          }
        }

      }

      [class*="bg--gold"] &,
      .bg-pattern--brain-reversed & {
        border-top: none;
      }
    }
  }
}
