@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/menus/main-menu/main-menu.scss";

// set horizontal only if used in layout--onecol section.
@include breakpoint(sm) {
  .layout--onecol {
    .menu-wrapper--horizontal--center {
      .menu-wrapper--horizontal .menu {
        justify-content: center;
      }
    }
  }
}

@include breakpoint(sm) {
  .layout--onecol {
    .menu-wrapper--horizontal {
      padding: 0;
      @include container-width;
      margin: 0;
      border-top: none;
      // top-level only
      > .menu {
        > li {
          border-bottom: none;
          display: flex;
          // override default styles reducing padding on first-child.
          &:first-child a {
            //padding-top: 1.475rem;
          }

          a,
          span {
            height: 100%;
            display: flex;
          }

          &:first-of-type a {
            margin-left: 0;
          }

          &:last-of-type a {
            margin-right: 0;
          }

          > a,
          > span {
            @include bttn--focus;
            position: relative;
            width: auto;
            text-align: center;
            border: 0;
            background-color: transparent;
            padding: 1.475rem 1.375rem;
            margin: 0;
            align-items: center;
            word-break: unset;

            &:focus,
            &:hover {
              text-decoration: none;
            }
          }

          &:before {
            position: absolute;
            bottom: 35%;
            width: 1px;
            height: 25%;
            content: "";
            background: $primary;
            right: -1px;
          }

          &:last-child {
            &:before {
              background: transparent;
            }
          }

          > a.is-active {
            background-color: $light;
            margin: 0;
            padding-bottom: 1.475rem;

            &:before {
              width: 20px;
              height: 20px;
              content: "";
              position: absolute;
              left: calc(50% - 10px);
              top: calc(100% - 1px);
              background-color: transparent;
              border-top: 10px solid $primary;
              border-right: 10px solid transparent;
              border-left: 10px solid transparent;
              border-bottom: 10px solid transparent;
              z-index: 1;
            }

            &:after {
              background: $primary;
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              width: 100%;
              height: 5px;
              transform-origin: center;
              transition: transform 0.3s ease-in-out;
              transform: translate(-50%, 0) scaleX(1);
            }
          }

          &.menu-item--active-trail {
            &:before {
              background: transparent;
            }

            > a,
            > span {
              background-color: $light;
              margin: 0;
              padding-bottom: 1.475rem;

              &:before {
                width: 20px;
                height: 20px;
                content: "";
                position: absolute;
                left: calc(50% - 10px);
                top: calc(100% - 1px);
                background-color: transparent;
                border-top: 10px solid $primary;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid transparent;
                z-index: 1;
              }

              &:after {
                background: $primary;
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 100%;
                height: 5px;
                transform-origin: center;
                transition: transform 0.3s ease-in-out;
                transform: translate(-50%, 0) scaleX(1);
              }
            }
          }

          &.menu-item.menu-item--expanded {
            > a.is-active {
              &:before {
                left: calc(64% - 10px);
              }
            }
          }

          &.menu-item--expanded.menu-item--active-trail {
            > span {
              &:before {
                width: 20px;
                height: 20px;
                content: "";
                position: absolute;
                left: calc(50% - 10px);
                top: calc(100% - 1px);
                background-color: transparent;
                border-top: 10px solid $primary;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid transparent;
                z-index: 1;
              }
            }

            > a,
            > span {
              &:before {
                left: calc(64% - 10px);
              }
            }
          }

          &.menu-item--expanded {
            background-color: transparent;
            align-items: center;

            &:before {
              right: -6px;
            }

            > span,
            > a {
              padding: 1.475rem 0.5rem 1.475rem 1.375rem;
              margin-right: -1px;
            }
          }
        }
      }

      .menu {
        flex-direction: row;

        ul {
          position: absolute;
          width: 260px;
          left: 0;
          background: #fff;
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
          z-index: 100;
          top: 100%;
          padding-bottom: 0;
          // override the list-style disc from main-menu.scss
          ul.menu {
            list-style: none;
            margin-left: 0;
            position: relative;
            width: auto;
            background: transparent;
            box-shadow: none;

            li {
              list-style: none;

              & > a {
                @include padding($top: $sm, $right: $xsm, $bottom: $xsm, $left: 2.2rem);
                font-size: 0.9rem;

                &:after {
                  height: 1px;
                }

                &::before {
                  content: "\f111";
                  position: absolute;
                  font-size: 0.3rem;
                  left: 1.2rem;
                  top: 1rem;
                  @include fas();
                  color: $brand-cool-gray;
                }
              }
            }
          }
        }

        li {
          position: relative;

          a:after {
            background-color: $brand-cool-gray;
          }

          &.menu-item--expanded {
            li {
              a,
              span {
                text-align: left;

                &::before {
                  content: "";
                }

                &:after {
                  content: "";
                }
              }

              &.menu-item--expanded {
                display: flex;
                flex-wrap: wrap;

                > a,
                > span {
                  flex-basis: 82%;
                }
              }
            }
          }

          li {
            span {
              padding: 0.625rem 1.05rem 0.625rem 1.2rem;
            }

            a,
            span {
              &:focus,
              &:hover {
                background: $light;
              }

              &:after {
                height: 2px;
                background-color: $light-gray;
              }
            }
          }
        }
      }
    }
    // Background colors
    &[class*="bg--black"],
    &[class*="bg--gold"],
    &[class*="bg--gray"] {
      .menu-wrapper--horizontal {
        > .menu {
          > li > a.is-active {
            background: #fff;
            color: $secondary;
          }
          > li.menu-item--active-trail {
            > a,
            > span {
              background: #fff;
              color: $secondary;
            }
          }
        }
      }
    }

    &[class*="bg--black"] {
      .menu-wrapper--horizontal {
        > .menu {
          li a {
            &:after {
              bottom: 0;
            }
          }

          li.menu-item--active-trail {
            a {
              color: $secondary;
            }
          }

          li.menu-item--expanded {
            ul li {
              a,
              span {
                color: $secondary;
              }
            }
          }
        }
      }
    }

    &[class*="bg--gold"] {
      .menu-wrapper--horizontal {
        > .menu > {
          li:before {
            background: #fff;
            width: 2px;
          }
          li:last-child:before {
            background: transparent;
          }
        }
        > .menu {
          > li > a,
          > li > span {
            &:before {
              background-color: $brand-cool-gray;
            }
          }

          > li,
          > li.menu-item--active-trail {
            > a.is-active,
            > a,
            > span {
              &:before {
                border-top-color: $brand-cool-gray;
                background-color: transparent;
              }

              &:after {
                background-color: $brand-cool-gray;
              }
            }
          }
        }
      }
    }
  }
}

// hide toggle button if menu is used outside of onecol layout.
@include breakpoint(sm) {
  .layout:not(.layout--onecol) {
    .menu-wrapper--horizontal {
      button {
        display: none;
      }
    }
  }
}
// menu button styles
.menu-wrapper--horizontal {
  > .menu {

    ul {
      display: none;

      &.show {
        display: block;
      }
    }

    > ul > ul.menu {
      display: none;

      &.show {
        display: block;
      }
    }

    li {
      a {
        width: 80%;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
      display: flex;
      flex-wrap: wrap;
      position: relative;
      @include breakpoint(sm) {
        flex-wrap: inherit;
      }
    }

    li.menu-item--expanded li {
      button {
        &::after {
          [class*="bg--black"] & {
            color: $secondary;
          }
        }
      }
    }


    > li.menu-item--active-trail {
      @include breakpoint(sm) {

        > button  {
          background: $light;

          [class*="bg--black"] &,
          [class*="bg--gold"] &,
          [class*="bg--gray"] & {
            background: #fff;
          }

          &:focus,
          &:hover,
          &[aria-expanded="true"] {
            &:before {
              background-color: $brand-cool-gray;
            }
          }

          &:before {
            background: $primary;
            content: "";
            position: absolute;
            left: 48%;
            bottom: 0;
            width: 100%;
            height: 5px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%) scaleX(1);

            [class*="bg--gold"] & {
              background-color: $brand-cool-gray;
            }
          }
        }
      }
    }

    > li {
      @include breakpoint(sm) {
        button {
          right: 0;

          &::after {
            [class*="bg--black"] & {
              color: $secondary;
            }
          }
        }

        > .is-active + button  {
          background: $light;

          [class*="bg--black"] &,
          [class*="bg--gold"] &,
          [class*="bg--gray"] & {
            background: #fff;
          }

          &:focus,
          &:hover,
          &[aria-expanded="true"] {
            &:before {
              background-color: $brand-cool-gray;
            }
          }

          &:before {
            background: $primary;
            content: "";
            position: absolute;
            left: 48%;
            bottom: 0;
            width: 100%;
            height: 5px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%) scaleX(1);

            [class*="bg--gold"] & {
              background-color: $brand-cool-gray;
            }
          }
        }
      }
    }

    button {
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0 .5rem;
      top: 0;
      height: 3.5rem;
      width: 3rem;
      justify-content: center;
      display: flex;

      @include breakpoint(sm) {
        height: 100%;
        top: 5px;
        width: auto;
        margin: 0 auto;
      }
      position: absolute;
      right: 0;
      @include breakpoint(sm) {
        position: relative;
        top: 0;
      }

      &:before {
        @include breakpoint(sm) {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100%;
          height: 4px;
          background-color: $brand-cool-gray;
          transform-origin: center;
          transform: translate(-50%, 0) scaleX(0);
          transition: transform 0.3s ease-in-out;
        }
      }

      &:focus,
      &:hover,
      &[aria-expanded="true"] {
        //background: darken($light, 5%);

        &:after {
          background: darken($light, 25%);
          [class*="bg--black"] & {
            color: $secondary;
          }
        }


        &:before {
          transform: translate(-50%, 0) scaleX(1);
        }
      }

      &[aria-expanded="true"]::after {
        content: "\f077";
      }

      &::after {
        content: "\f078";
        bottom: 0;
        font-size: 0.7rem;
        @include fas();
        line-height: 2;
        @include center(both);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: darken($light, 8%);
      }
    }

    .menu-item--expanded a + button::after {
      margin-left: 0;
    }
    .menu-item--expanded + .menu-item--active-trail {
      margin-left: .3rem;
    }
  }

  > .menu .menu {
    button {
      height: 2.5rem;

      &::after {
        font-size: .7rem;
        width: 20px;
        height: 20px;
      }
      &:before {
        height: 0;
      }
    }
  }

  [class*="bg--black"] & {
    li.menu-item--expanded {
      color: $secondary;
    }
  }
}

// Show/hide menu toggle
.menu-wrapper--horizontal > .menu.hide {
  display: none;
  @include breakpoint(sm) {
    display: inherit;
  }
}

button#main-menu-toggle {
  @include breakpoint(sm) {
    display: none;
  }
  width: 100%;
  text-align: left;
  min-height: 60px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  padding: 1rem 0;
  display: flex;

  span {
    display: inline-block;
    line-height: 1.6;
  }

  &:before {
    content: "\f0c9";
    @include fas();
    font-weight: 900;
    margin-right: 10px;
    padding: 4px 7px 4px 1px;
    width: 25px;
    height: 25px;
  }

  &[aria-expanded="true"]:before {
    content: "\f00d";
    color: #fff;
    border-radius: 50%;
    background: #999;
    line-height: .9;
    padding: 5px 7px;
  }
}
