@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/main-menu/main-menu.scss";
// set horizontal only if used in layout--onecol section.
// @todo remove once https://github.com/GoogleChromeLabs/container-query-polyfill/issues/23 is resolved.
@include breakpoint(sm) {
  .layout--onecol {
    .menu-wrapper--horizontal {
      padding: 0;
      @include container-width;
      margin: 0;
      border-top: none;

      // top-level only
      > .menu {
        > li {
          border-bottom: none;
          display: flex;

          // override default styles reducing padding on first-child.
          &:first-child a {
            padding-top: 1.475rem;
          }

          a,
          span {
            height: 100%;
            display: flex;
          }

          &:first-of-type a {
            margin-left: 0;
          }

          &:last-of-type a {
            margin-right: 0;
          }

          > span,
          > a {
            @include bttn--focus;
            position: relative;
            width: auto;
            text-align: center;
            border: 0;
            background-color: transparent;
            padding: 1.475rem 1.375rem;
            margin: 0;
            align-items: center;
            word-break: unset;

            &:focus,
            &:hover {
              text-decoration: none;
            }
          }

          &:before {
            position: absolute;
            bottom: 35%;
            width: 1px;
            height: 25%;
            content: "";
            background: $primary;
            right: -1px;
          }

          &:last-child {
            &:before {
              background: transparent;
            }
          }

          &.menu-item--active-trail {
            &:before {
              background: transparent;
            }

            > span,
            > a {
              background-color: #f3f3f3;
              margin: 0;
              padding-left: 1.875rem;
              padding-bottom: 1.475rem;

              &:before {
                width: 20px;
                height: 20px;
                content: "";
                position: absolute;
                left: calc(50% - 10px);
                top: calc(100% - 1px);
                background-color: transparent;
                border-top: 10px solid $primary;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid transparent;
                z-index: 1;
              }

              &:after {
                background: $primary;
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 100%;
                height: 6px;
                transform-origin: center;
                transition: transform 0.3s ease-in-out;
                transform: translate(-50%, 0) scaleX(1);
              }
            }
          }

          &.menu-item--expanded.menu-item--active-trail {
            > span {
              &:before {
                width: 20px;
                height: 20px;
                content: "";
                position: absolute;
                left: calc(50% - 10px);
                top: calc(100% - 1px);
                background-color: transparent;
                border-top: 10px solid $primary;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid transparent;
                z-index: 1;
              }
            }

            > span,
            > a {
              &:before {
                left: calc(70% - 10px);
              }
            }
          }

          &.menu-item--expanded {
            padding-right: 0.5rem;
            background-color: transparent;
            align-items: center;

            > a,
            > span {
              padding: 1.475rem 0.5rem 1.475rem 1.375rem;
            }
          }
        }
      }

      .menu {
        flex-direction: row;

        ul {
          position: absolute;
          width: 260px;
          left: 0;
          background: #fff;
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
          z-index: 100;
          top: 100%;
          width: 230px;
          padding-bottom: 0;
          display: none;
          &.show {
            display: block;
          }

          // override the list-style disc from main-menu.scss
          ul.menu {
            list-style: none;
            margin-left: 0;
            position: relative;
            display: block;
            width: auto;
            background: transparent;
            box-shadow: none;
            display: none;
            &.show {
              display: block;
            }

            li {
              list-style: none;

              & > a {
                @include padding($top: $sm, $right: $xsm, $bottom: $xsm, $left: 2.2rem);
                font-size: 0.9rem;

                &:after {
                  height: 1px;
                }

                &::before {
                  content: "\f111";
                  position: absolute;
                  font-size: 0.3rem;
                  left: 1rem;
                  top: 1rem;
                  @include fas();
                  color: $grey-light;
                }
              }
            }
          }
        }

        li {
          position: relative;

          a:after {
            background-color: $brand-cool-gray;
          }

          &.menu-item--expanded {
            li {
              a,
              span {
                text-align: left;

                &::before {
                  content: "";
                }

                &:after {
                  content: "";
                }
              }

              &.menu-item--expanded {
                display: flex;
                flex-wrap: wrap;

                > span,
                > a {
                  flex-basis: 78%;
                }
              }
            }
          }

          li {
            span {
              padding: 0.625rem 1.05rem 0.625rem 1.2rem;
            }

            a,
            span {
              &:focus,
              &:hover {
                background: $light;
              }

              &:after {
                height: 2px;
                background-color: $light-gray;
              }
            }
          }
        }
      }
    }

    // Background colors
    &[class*="bg--black"],
    &[class*="bg--gold"],
    &[class*="bg--gray"] {
      .menu-wrapper--horizontal {
        > .menu {
          > li.menu-item--active-trail {
            > span,
            > a {
              background: #fff;
              color: $secondary;
            }
          }
        }
      }
    }

    &[class*="bg--black"] {
      .menu-wrapper--horizontal {
        > .menu {
          li a {
            &:after {
              bottom: 0;
            }
          }

          li.menu-item--active-trail {
            a {
              color: $secondary;
            }
          }

          li.menu-item--expanded {
            ul li {
              a, span {
                color: $secondary;
              }
            }
          }
        }
      }
    }

    &[class*="bg--gold"] {
      .menu-wrapper--horizontal {
        > .menu {
          > li > span,
          > li > a {
            &:before {
              background-color: $brand-cool-gray;
            }
          }

          > li.menu-item--active-trail {
            > span,
            > a {
              &:before {
                border-top-color: $brand-cool-gray;
                background-color: transparent;
              }

              &:after {
                background-color: $brand-cool-gray;
              }
            }
          }
        }
      }
    }
  }
}


// menu button styles
.menu-wrapper--horizontal {
  > .menu {
    li {
      a {
        flex-basis: 80%;
        @include breakpoint(sm) {
          flex-basis: 100%;
        }
      }
      display: flex;
      flex-wrap: wrap;
      position: relative;
      @include breakpoint(sm) {
        flex-wrap: inherit;
      }
    }

    li.menu-item--expanded li {
      button {
        &::after {
          [class*="bg--black"] & {
            color: $secondary;
          }
        }

        &:hover,
        &[aria-expanded="true"] {
          &:after {
            [class*="bg--black"] & {
              color: #fff;
            }
          }
        }
      }
    }

    > li.menu-item--active-trail {
      @include breakpoint(sm) {
        button {
          &::after {
            [class*="bg--black"] & {
              color: $secondary;
            }
          }
        }

        > button {
          background: #f3f3f3;

          [class*="bg--black"] &,
          [class*="bg--gold"] &,
          [class*="bg--gray"] & {
            background: #fff;
          }

          &:hover,
          &[aria-expanded="true"] {
            &:after {
              [class*="bg--black"] & {
                color: #fff;
              }
            }
          }

          &:before {
            background: #ffcd00;
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100%;
            height: 6px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%) scaleX(1);

            [class*="bg--gold"] & {
              background-color: #63666a;
            }
          }
        }
      }
    }

    button {
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0.5rem 0.7rem;
      @include breakpoint(sm) {
        height: 100%;
      }
      position: absolute;
      right: 0;
      top: 5px;
      @include breakpoint(sm) {
        position: relative;
        top: 0;
        left: -1px;
      }

      &:hover,
      &[aria-expanded="true"] {
        color: #fff;

        &:after {
          background: $secondary;
        }
      }

      &[aria-expanded="true"]::after {
        border-color: #fff;
        background: $secondary;
        content: "\f077";
      }

      &::after {
        content: "\f078";
        bottom: 0;
        font-size: 0.8rem;
        @include fas();
        line-height: 2;
        border: 1px solid #ccc;
        border-radius: 50%;
        height: 0.8rem;
        width: 0.8rem;
        padding: 0.8rem;
        @include center(both);

        [class*="bg--gold"] & {
          border: 1px solid $secondary;
        }
      }

      .menu-item--expanded a + button::after {
        margin-left: 0;
      }
    }
  }
}
