@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

.block-superfish .sf-menu.sf-mega-menu ul {
  @include breakpoint(menu) {
    background: #f1f1f1 !important;
  }
}

.block-superfish .menu ul.sf-multicolumn {
  transition: background-color 2s ease-in;
}

ul.sf-menu.sf-mega-menu li {
  @include breakpoint(menu) {
    position: unset;
  }
}

.block-superfish .menu.sf-mega-menu ul li a,
.block-superfish .menu.sf-mega-menu ul li span,
.block-superfish .menu.sf-mega-menu ul li .nolink {
  @include breakpoint(menu) {
    padding: $xsm 0;
    font-size: $base-font-size;
  }
}

.block-superfish .menu ul.sf-multicolumn {
  a:hover {
    text-decoration: underline;
  }
}

.block-superfish .menu.sf-mega-menu li li span {
  font-weight: bold;
}

// Mega Menu Accordion
// Hides third level menu when hovering over the mobile menu
ul.sf-mega-menu.sf-accordion li li.sf-depth-2:hover > ul,
ul.sf-mega-menu.sf-accordion li li.sf-depth-2.sfHover > ul {
  float: none;
  display: none;
  left: 100%;
}

// Mega Menu Block
// removes position:relative on containers so that the dropdown can be full width
.nav--mega {
  @include breakpoint(menu) {
    position: relative;
    & .page__container,
    & .contextual-region {
      position: unset !important;
    }
  }
}

.block-superfish .sf-mega-menu .sf-multicolumn {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #e1e1e1;
  border-block-start: 1px solid #e1e1e1;
  box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05),0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.block-superfish .sf-mega-menu .sf-multicolumn-wrapper {
  // adds grid to dropdown menu
  & > ol {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr) );
    padding: $md;
    @include breakpoint(container) {
      padding: $md 0;
    }
  }

  @include breakpoint(container) {
    // sets max-width to container width
    max-width: 81.875rem;
    margin: 0 auto;
  }
}

.block-superfish .sf-mega-menu .sf-multicolumn .sf-multicolumn-wrapper li.sf-depth-2,
.block-superfish .sf-mega-menu .sf-multicolumn .sf-multicolumn-wrapper li.sf-depth-3 {
  // overrides
  width: 100%;
}

.block-superfish .sf-mega-menu .sf-multicolumn a.sf-depth-2 {
  font-weight: $font-weight-bold;
}

.block-superfish .sf-mega-menu .sf-multicolumn li {
  float: none;
  line-height: 1.5;
}

// 3rd level menus
.block-superfish .sf-mega-menu .sf-multicolumn ol ol {
  padding-top: 0;
  padding-block-start: 0;
  padding-bottom: 0;
  padding-block-end: 0;
  width: 100%;
  & a {
    font-size: 1rem;
    &.is-active {
      font-weight: $font-weight-medium;
      &::before {
        content: none;
      }
    }
  }
}

.block-superfish .menu.sf-mega-menu li.active-trail.menuparent ul {
  &:hover {
    background: #ccc;
  }

  .is-active {
    text-decoration: underline;
  }
}


ul.sf-menu.sf-mega-menu ul ul {
  margin: 0;
  margin-left: -200px!important;
  padding: 0!important;
  position: relative!important;
  top: 0;
  background: red!important;
}

.block-superfish .sf-mega-menu .sf-multicolumn a.sf-depth-2 {
  font-weight: 700;
}

.block-superfish .sf-mega-menu .sf-multicolumn a.sf-depth-2.menuparent:before {
  margin-top: -0.4rem;
  color: #999;
  font-size: .7rem;
  line-height: 1.4;
}
.block-superfish .sf-mega-menu .sf-multicolumn ol ol a {
  position: relative;
}
.block-superfish .sf-mega-menu .sf-multicolumn ol ol a.sf-depth-3.menuparent:before {
  top: 50%;
  right: 0;
  margin-top: -0.4rem;
  content: "\f078";
  color: inherit;
  font-size: .7rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  position: absolute;
}

ul.sf-menu.sf-mega-menu li.active-trail a  {
  //background: $primary;
}

.block-superfish .sf-mega-menu .sf-multicolumn ol ol a.sf-depth-4:before {
  top: 50%;
  left: -15px;
  opacity: .3;
  margin-top: -0.4rem;
  content: "\f105";
  color: inherit;
  font-size: .7rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  position: absolute;
}
