@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/off-canvas/off-canvas.scss";

.o-canvas__group .region-primary-menu {
  height: auto;
}

.iowa-bar--full.toggle .bttn--drawer {
  @include breakpoint(container) {
    padding: 19px 35px 0;
  }
}

.sf-accordion-toggle {
  display: none;
}

#superfish-main-accordion {
  position: unset !important;
  clip: auto !important;
  height: auto !important;
  width: 100% !important;
  overflow: hidden !important;
  display: block !important;
  margin-bottom: $md;
}

.iowa-bar--full.toggle,
.iowa-bar--narrow.toggle {
  .block-superfish {
    display: block;
  }
  .region-primary-menu {
    display: block;
  }
}

