@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/menus/off-canvas/off-canvas.scss";

.bttn--drawer {
  border: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.4;
  padding: 1rem 2rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}


.o-canvas__group .region-primary-menu {
  height: auto;
}

.iowa-bar--full.toggle .bttn--drawer {
  @include breakpoint(page-container) {
    padding: 19px 35px 0;
  }
}

.sf-accordion-toggle {
  display: none;
}

#superfish-main-accordion {
  position: unset !important;
  clip: auto !important;
  height: auto !important;
  width: 100% !important;
  overflow: hidden !important;
  display: block !important;
  margin-bottom: $md;
}

.iowa-bar--full.toggle,
.iowa-bar--narrow.toggle {
  .block-superfish {
    display: block;
  }
  .region-primary-menu {
    display: block;
  }
}

