@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.menu--quick-links {
  top: 1.3rem;
  @include element-invisible;

  ul {
    list-style: none;
    margin: 0;

    li {
      list-style: none;
      margin-right: 20px;

      i {
        color: #999;
        padding-right: 6px;
      }

      a {
        display: block;
        text-decoration: none;
        color: $secondary;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 0;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}


.menu--quick-links {
  .contextual {
    display: none;
  }

  li:first-child a:before {
    content: "\f02e";
    @include fas();
    padding-right: $md;
    color: $grey;
  }

  li:nth-child(2) a:before {
    content: "\f007";
    @include fas();
    padding-right: $md;
    color: $grey;
  }
}

.region-under-search {
  transition: transform .4s;
}

.search-is-open .region-under-search .menu--quick-links {
  @include breakpoint(md) {
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    position: absolute !important;
  }
}
