@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/quick/_quick.scss";

.menu--quick-links {
  .contextual {
    display: none;
  }

  li:first-child a:before {
    content: "\f02e";
    @include fas();
    padding-right: $md;
    color: $grey;
  }

  li:nth-child(2) a:before {
    content: "\f007";
    @include fas();
    padding-right: $md;
    color: $grey;
  }
}

.menu--quick-links {
  bottom: -116px;

  .scroll-down & {
    transform: translate3d(0, -100%, 0);
  }
}

.region-under-search {
  transition: transform .4s;
}

.scroll-down .region-under-search {
  @include element-invisible;
}

.search-is-open .region-under-search .menu--quick-links {
  @include breakpoint(menu) {
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    position: absolute !important;
    background: $secondary;
  }
}

.search-is-open .region-under-search:after,
.search-is-open .region-under-search:before {
  content: " ";
  background: $secondary;
  padding: 20px;
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0;
}

.search-is-open .region-under-search:after {
  transform: translateX(calc(49%));

  @include breakpoint(container) {
    margin-right: -50%;
    transform: unset;
  }
}

.search-is-open .region-under-search:before {
  margin-left: -50%;
}
