@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/superfish/_superfish.scss";

.block-superfish .sf-menu.sf-horiz-menu ul,
.block-superfish .sf-menu.sf-mega-menu ul {

  @include breakpoint(menu) {
    background: #f1f1f1 !important;
  }
}

.menu-horizontal.nav--header--primary,
.menu-horizontal.nav--header--secondary {
  @include breakpoint(menu) {
    border-bottom: 1px solid #ccc;
  }
}

// mega menu

.sf-multicolumn {
  width: 955px !important;

  &:before,
  &:after {
    position: absolute;
    left: calc(-50vw + 290px);
    width: calc(50vw - 280px);
    height: 100%;
    content: "";
    background: #f1f1f1;
    box-shadow: 0 4px 2px -2px gainsboro;
  }

  &:after {
    right: calc(-50vw + 290px);
    left: auto;
  }
}

.block-superfish .menu ul.sf-multicolumn {
  transition: background-color 2s ease-in;
}

ul.sf-menu.sf-mega-menu li {
  @include breakpoint(menu) {
    position: unset;
  }
}

.menu-horizontal .block-superfish .menu ul li a {
  @include breakpoint(menu) {
    color: #000;
    font-weight: 400;
  }
}

.block-superfish .menu.sf-mega-menu ul li a,
.block-superfish .menu.sf-mega-menu ul li span,
.block-superfish .menu.sf-mega-menu ul li .nolink {
  padding: .325rem 0;
  font-size: 1.2rem;
}


ul.sf-multicolumn ol {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: $lg 0;

  li {
    width: 50%;

    .sf-multicolumn-column ol {
      @include element-invisible;
    }
  }
}

// Override superfish mega menu widths
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(1):nth-last-child(7),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(2):nth-last-child(6),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(3):nth-last-child(5),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(4):nth-last-child(4),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(5):nth-last-child(3),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(6):nth-last-child(2),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(7):nth-last-child(1),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(1):nth-last-child(6),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(2):nth-last-child(5),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(3):nth-last-child(4),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(4):nth-last-child(3),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(5):nth-last-child(2),
ul.sf-menu.sf-mega-menu li.sf-multicolumn-column:nth-child(6):nth-last-child(1) {
  @include breakpoint(menu) {
    width: 50%;
  }
}

.block-superfish .menu ul.sf-multicolumn {
  a:hover {
    text-decoration: underline;
  }
}

// horizontal only

ul.sf-menu.sf-horiz-menu li li a,
ul.sf-menu.sf-horiz-menu li li span,
ul.sf-menu.sf-horiz-menu li li .nolink {
  font-weight: 400;

  @include breakpoint(menu) {
    font-size: 1rem;
    padding: .45rem 1rem;

    &:hover {
      background: #e1e1e1;
    }
  }
}

ul.sf-menu.sf-horiz-menu ul {
  @include breakpoint(menu) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

ul.sf-menu.sf-horiz li ul li a:hover {
  color: $primary;
}

// both horizontal and mega menu

ul.sf-menu.sf-horizontal>li>a,
ul.sf-menu.sf-horizontal>li>.nolink {
  position: relative;
  transition: background 0.8s ease-out;
}

ul.sf-menu.sf-horizontal>li>a:after,
ul.sf-menu.sf-horizontal>li>.nolink:after {
  background: $primary;
}

ul.sf-menu.sf-horizontal>li a:after,
ul.sf-menu.sf-horizontal>li .nolink:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  content: "";
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.sf-menu.sf-horizontal>li>a.is-active:after,
ul.sf-menu.sf-horizontal>li.active-trail>.sf-depth-1.menuparent:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #e1e1e1;
}

ul.sf-menu.sf-horizontal>li.active-trail>.sf-depth-1.menuparent:hover:after {
  background: $primary;
}

ul.sf-menu.sf-horizontal>li.sfHover>a:after,
ul.sf-menu.sf-horizontal>li:hover>a:after,
ul.sf-menu.sf-horizontal>li.sfHover>.nolink:after,
ul.sf-menu.sf-horizontal>li:hover>.nolink:after,
ul.sf-menu.sf-horizontal>li:focus>a:focus:after,
ul.sf-menu.sf-horizontal>li:focus>.nolink:focus:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #FFCD00;
}

ul.sf-menu.sf-horizontal li ul a:focus {
  text-decoration: underline;
}

ul.sf-menu.sf-horizontal>li>.sf-depth-1.menuparent:before {
  margin-top: -0.4rem;
  color: #999;
  font-size: .7rem;
  line-height: 1.4;
}

ul.sf-menu.sf-horizontal>li.sfHover>.sf-depth-1.menuparent:before {
  content: "\f077";
}

ul.sf-menu.sf-horizontal>li:first-child>.sf-depth-1.menuparent {
  padding-left: 0;
}

ul.sf-menu.sf-horizontal>li>.sf-depth-1.menuparent {
  padding-right: 1.5rem;
}

.menu-horizontal.nav--header--secondary ul.sf-menu.sf-horizontal,
.menu-horizontal.nav--header--primary ul.sf-menu.sf-horizontal {
  margin-top: 10px;
}

.sf-accordion .sf-clone-parent a,
.sf-accordion .sf-clone-parent .nolink {
  font-size: 1.2rem !important;
}

.sf-accordion .sf-clone-parent .nolink {
  @include element-invisible;
}

.sf-accordion li.sf-expanded .sf-depth-1.menuparent:before {
  content: "\f077";
  top: 30px;
}

.sf-accordion li.sf-expanded li.sf-depth-2.menuparent .sf-depth-2.menuparent:before,
.sf-horizontal li.sfHover li.sf-depth-2.menuparent .sf-depth-2.menuparent:before {
  position: absolute;
  top: 50%;
  right: .3125rem;
  margin-top: -0.4rem;
  color: inherit;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $secondary;
}

.sf-horizontal li.sfHover li.sf-depth-2.menuparent .sf-depth-2.menuparent:before {
  content: "\f105";
  padding-right: $md;
}

.sf-horizontal.sf-mega-menu li.sfHover li.sf-depth-2.menuparent .sf-depth-2.menuparent:before {
  content: "";
  padding-right: 0;
}


.sf-accordion li.sf-expanded li.sf-depth-2.menuparent .sf-depth-2.menuparent:before {
  content: "\f0d7";
}

.sf-accordion li.sf-expanded li.sf-depth-2.menuparent.sf-expanded .sf-depth-2.menuparent:before {
  content: "\f0d8";
}

.sf-accordion-toggle {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  padding-left: 15px;
  background: #f1f1f1;

  a {
    text-decoration: none;
  }

  span {
    letter-spacing: .03rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }
}

.menu-horizontal {

  .page__container,
  .page__container--mixed {
    margin: 0;

    @include breakpoint(menu) {
      position: relative;
      margin: 0 $gutter;
    }

    @include breakpoint(container) {
      margin: 0 auto;
    }
  }
}

.menu-horizontal {
  .sf-accordion.sf-menu {
    padding: 0 $gutter;

    &.sf-menu.sf-horiz-menu li li a {
      padding: .45rem 0;
    }

    .sf-has-clone-parent {
      background: #fff !important;

    }
  }
}

ul.sf-accordion ul:focus-within {
  position: static !important;
  clip: auto;
  height: auto !important;
  width: auto !important;
}

.block-superfish .menu li a,
.block-superfish .menu li .nolink {

  >.is-active {
    text-decoration: underline;
  }


  &.is-active.menuparent {
    text-decoration: none;
  }

  &:focus {
    text-decoration: underline;
    cursor: pointer;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.block-superfish .menu li .nolink:hover {
  cursor: default;
}

.block-superfish .menu.sf-accordion li li a,
.block-superfish .menu.sf-accordion li li .nolink {
  &:hover {
    text-decoration: underline;
  }
}

.block-superfish .menu.sf-horiz-menu li.active-trail.menuparent ul {
  &:hover {
    background: #e1e1e1;
  }

  .is-active {
    @include breakpoint(menu) {
      background: #e1e1e1;
    }
  }
}

.block-superfish .menu.sf-mega-menu li.active-trail.menuparent ul {
  &:hover {
    background: #ccc;
  }

  .is-active {
    &:before {
      @include breakpoint(menu) {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60%;
        height: 4px;
        background-color: #e1e1e1;
        transform-origin: center;
        transform: translate(0, 0) scaleX(1);
      }
    }
  }
}

.block-superfish .menu.sf-accordion li a,
.block-superfish .menu.sf-accordion li .nolink {
  line-height: 1.3;
}

.menu.sf-accordion ul li a.is-active {
  color: $secondary;
}

ul.sf-menu.sf-accordion .active-trail.menuparent.sf-depth-1>.menuparent,
ul.sf-menu.sf-accordion .active-trail.sf-no-children.sf-depth-1>.is-active {
  border-bottom: 4px solid $primary;
  padding-bottom: .3rem;
  margin-bottom: .6rem;
}

.menu.sf-accordion ul li.sf-depth-2.menuparent ul {
  padding-left: 30px;

  a {
    color: $secondary;
  }
}

// Todo move back to UIDS
.menu-horizontal {
  border-bottom: 1px solid #e6e5e5;
}

.menu-horizontal.iowa-bar--full {
  @include breakpoint(menu) {
    margin-top: 5px;
  }
}

.iowa-bar--narrow .site_name--wrapper {
  border-bottom: 1px solid #e6e5e5;
}

@media (min-width: 855px) {

  .menu-horizontal.nav--header--primary,
  .menu-horizontal.nav--header--secondary {
    border-bottom: 1px solid #e6e5e5;
  }
}

.block-superfish .menu.sf-accordion li>span {
  font-weight: 600;
  display: inline-block;
}

.block-superfish .menu.sf-mega-menu li li span {
  font-weight: 400;
}

.menu.sf-accordion>li>a,
.menu.sf-accordion>li>.nolink,
.menu.sf-accordion>li>span {
  padding: .9rem 0;
}

.menu.sf-accordion>li>a {
  display: inline-block;
}

.menu.sf-accordion>li>a::after,
.menu.sf-accordion>li>span::after,
.menu.sf-accordion>li>.nolink::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.block-superfish .menu.sf-accordion>li>.sf-depth-1.menuparent {
  position: unset;
  padding-right: 0;
}


.block-superfish .menu>li>.sf-depth-1.menuparent:before {
  position: absolute;
  top: 30px;
  right: 0px;
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .block-superfish .menu.sf-accordion>li>.sf-depth-1.menuparent:before {
    right: -30px;
  }

  .block-superfish .menu.sf-horizontal>li>.sf-depth-1.menuparent:before {
    right: 0;
  }
}
