@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

.region-primary-menu .menu,
.sf-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.region-primary-menu {
  margin-left: auto;
}

.region-primary-menu {
  @include breakpoint(menu) {
    display: flex;
    align-items: center;
  }
}

.sf-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sf-menu > li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

.sf-menu {
  float: none;
  font-size: 1rem;
}

.sf-menu ul li {
  font-size: 1.2rem;
}

.block-superfish {
  @include breakpoint(menu) {
    display: flex;
    margin-left: auto;
  }
}

.block-superfish .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.block-superfish #superfish-main-toggle {
  position: relative;
  display: block;
  right: 0;
  padding: 0.625rem 0.625rem 0.625rem 0;
  color: $secondary;
}

.block-superfish #superfish-main-toggle:before {
  content: "\f0c9";
  font-size: 1.1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 0.8;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
  margin-top: 5px;
  padding: 7px;
  width: 25px;
  height: 25px;
}

.block-superfish #superfish-main-toggle.sf-expanded:before {
  content: "\f00d";
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  border-radius: 50%;
  background: #999;
}

.block-superfish .menu li .nolink,
.block-superfish .menu li a {
  padding: 1.05rem;
  text-decoration: none;
  color: #151515;
  font-weight: 600;
  @include breakpoint(menu) {
    padding: 1.05rem 1.5rem;
  }
}

.block-superfish .menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 300ms;
  transition: 300ms;
}

.block-superfish .menu > li > .sf-depth-1.menuparent {
  position: relative;
  padding-right: 2.5rem;
}

.block-superfish .menu > li > .sf-depth-1.menuparent:before {
  position: absolute;
  top: 50%;
  right: 0.3125rem;
  margin-top: -0.4rem;
  content: "\f078";
  color: inherit;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.block-superfish .menu ul li a {
  color: #fff;
}

.block-superfish .sf-with-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-superfish .sf-with-ul:before {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  content: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.block-superfish .sf-with-ul:only-child:before {
  content: '';
}

.block-superfish-alt .block-title {
  display: block;
  text-transform: uppercase;
  color: #666;
  font-size: 23px;
  font-weight: 300;
}

.block-superfish-alt .block__title,
.region-primary-menu .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.block-superfish-alt #superfish-main-toggle {
  position: absolute;
  top: 90px;
  right: 0;
  padding: 0.625rem;
  color: #737373;
}

.block-superfish-alt #superfish-main-toggle:before {
  content: "\f0c9";
  font-size: 1.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.block-superfish-alt #superfish-main-toggle.sf-expanded:before {
  content: "\f00d";
  font-size: 1.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

// Shared by horizontal and mega menu.
.block-superfish .sf-horizontal {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.block-superfish .sf-horizontal li.sfHover > ul,
.block-superfish .sf-horizontal li:hover > ul {
  top: 0;
}

.block-superfish .sf-horizontal li.sf-depth-1.sfHover > ul,
.block-superfish .sf-horizontal li.sf-depth-1:hover > ul {
  top: 100%;
}

.block-superfish .sf-horizontal a.sf-depth-1.menuparent.active {
  background: transparent;
}

ul.sf-menu.sf-horizontal > li > .nolink,
ul.sf-menu.sf-horizontal > li > a {
  position: relative;
  transition: background 0.8s ease-out;
}

ul.sf-menu.sf-horizontal > li > .nolink:after,
ul.sf-menu.sf-horizontal > li > a:after {
  background: $primary;
}

ul.sf-menu.sf-horizontal > li .nolink:after,
ul.sf-menu.sf-horizontal > li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  content: "";
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.sf-menu.sf-horizontal > li > a.is-active:after,
ul.sf-menu.sf-horizontal > li.active-trail > .sf-depth-1.menuparent:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #e1e1e1;
}

ul.sf-menu.sf-horizontal > li.active-trail > .sf-depth-1.menuparent:hover:after {
  background: $primary;
}

ul.sf-menu.sf-horizontal > li.sfHover > .nolink:after,
ul.sf-menu.sf-horizontal > li.sfHover > a:after,
ul.sf-menu.sf-horizontal > li:focus > .nolink:focus:after,
ul.sf-menu.sf-horizontal > li:focus > a:focus:after,
ul.sf-menu.sf-horizontal > li:hover > .nolink:after,
ul.sf-menu.sf-horizontal > li:hover > a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #FFCD00;
}

ul.sf-menu.sf-horizontal li ul a:focus {
  text-decoration: underline;
}

ul.sf-menu.sf-horizontal > li > .sf-depth-1.menuparent:before {
  margin-top: -0.4rem;
  color: #999;
  font-size: 0.7rem;
  line-height: 1.4;
}

ul.sf-menu.sf-horizontal > li.sfHover > .sf-depth-1.menuparent:before {
  content: "\f077";
}

ul.sf-menu.sf-horizontal > li:first-child > .sf-depth-1.menuparent {
  padding-left: 0;
}

ul.sf-menu.sf-horizontal > li > .sf-depth-1.menuparent {
  padding-right: 1.5rem;
}

// Accordion.
.sf-accordion li .sf-depth-1 {
  color: #151515;
  background: #fff;
  font-size: 1.6rem;
}

.sf-accordion .sf-with-ul:only-child:before {
  content: '';
}

.menu.sf-accordion li .nolink,
.menu.sf-accordion li a {
  padding: 0.45rem 1.5rem 0.45rem 0;
}

.menu.sf-accordion ul {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu.sf-accordion ul li {
  background: #fff;
}

.menu.sf-accordion ul li .nolink,
.menu.sf-accordion ul li a {
  color: #666;
}

.sf-accordion .sf-clone-parent .nolink,
.sf-accordion .sf-clone-parent a {
  font-size: 1.2rem !important;
}

.sf-accordion .sf-clone-parent .nolink {
  @include element-invisible;
}

.sf-accordion li.sf-expanded .sf-depth-1.menuparent:before {
  content: "\f077";
  top: 30px;
}

.sf-accordion li.sf-expanded li.sf-depth-2.menuparent .sf-depth-2.menuparent:before {
  position: absolute;
  top: 50%;
  right: 0.3125rem;
  margin-top: -0.4rem;
  color: inherit;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $secondary;
}

.sf-accordion li.sf-expanded li.sf-depth-2.menuparent .sf-depth-2.menuparent:before {
  content: "\f0d7";
}

.sf-accordion li.sf-expanded li.sf-depth-2.menuparent.sf-expanded .sf-depth-2.menuparent:before {
  content: "\f0d8";
}

.sf-accordion-toggle {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  padding-left: 15px;
  background: #f1f1f1;

  a {
    text-decoration: none;
  }

  span {
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }
}

ul.sf-accordion ul:focus-within {
  position: static !important;
  clip: auto;
  height: auto !important;
  width: auto !important;
}

.block-superfish .menu li .nolink,
.block-superfish .menu li a {
  > .is-active {
    text-decoration: underline;
  }

  &.is-active.menuparent {
    text-decoration: none;
  }

  &:focus {
    text-decoration: underline;
    cursor: pointer;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.block-superfish .menu li .nolink:hover {
  cursor: default;
}

.block-superfish .menu.sf-accordion li li .nolink,
.block-superfish .menu.sf-accordion li li a {
  &:hover {
    text-decoration: underline;
  }
}

.block-superfish .menu.sf-accordion li .nolink,
.block-superfish .menu.sf-accordion li a {
  line-height: 1.3;
}

.menu.sf-accordion ul li a.is-active {
  color: $secondary;
}

ul.sf-menu.sf-accordion .active-trail.menuparent.sf-depth-1 > .menuparent,
ul.sf-menu.sf-accordion .active-trail.sf-no-children.sf-depth-1 > .is-active {
  border-bottom: 4px solid $primary;
  padding-bottom: 0.3rem;
  margin-bottom: 0.6rem;
}

.menu.sf-accordion ul li.sf-depth-2.menuparent ul {
  padding-left: 30px;
}

.block-superfish .menu.sf-accordion li > span {
  font-weight: 600;
}

.menu.sf-accordion > li > .nolink,
.menu.sf-accordion > li > a,
.menu.sf-accordion > li > span {
  padding: 0.9rem 0;
}

.menu.sf-accordion > li > a {
  display: inline-block;
}

.menu.sf-accordion > li > .nolink::after,
.menu.sf-accordion > li > a::after,
.menu.sf-accordion > li > span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.block-superfish .menu.sf-accordion > li > .sf-depth-1.menuparent {
  position: unset;
  padding-right: 0.8rem;
}

.block-superfish .menu > li > .sf-depth-1.menuparent:before {
  position: absolute;
  top: 30px;
  right: 0;
}

// ie11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .block-superfish .menu.sf-accordion > li > .sf-depth-1.menuparent:before {
    right: -30px;
  }

  .block-superfish .menu.sf-horizontal > li > .sf-depth-1.menuparent:before {
    right: 0;
  }
}
