@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/top/top.scss";

// Iowa Bar Full adjustments
.iowa-bar--full.horizontal,
.iowa-bar--full.toggle  {
  .menu--top.nav {
    @include breakpoint(menu) {
      right: -10px;
      margin-top: 8px;
    }
    @include breakpoint(container) {
      margin-top: 4px;
    }
  }

  .menu--top.nav {
    @include breakpoint(menu) {
      position: relative;
      align-self: center;
     // margin-left: auto;
    }
  }

  .menu--top {
    @include breakpoint(menu) {
      flex: 0 1 25%;
      display: flex;
      justify-content: flex-end;
    }

    .menu li {
      @include breakpoint(menu) {
        margin: 0 15px 0 0 !important;
      }

      + li {
        a {
          @include breakpoint(menu) {
            border-left: 1px solid $secondary;
            padding-left: 1.05rem;
          }

        }
      }

      a {
        @include breakpoint(menu) {
          display: block;
          text-decoration: none;
          color: $secondary;
          font-size: .8rem;
          text-transform: uppercase;
          padding: 0;
          position: relative;

          &:after {
            @include breakpoint(container) {
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              width: 100%;
              height: 4px;
              background-color: $primary;
              transform-origin: center;
              transform: translate(-50%) scaleX(0);
              transition: transform .3s ease-in-out;
            }
          }
          &:hover, &:focus {
            text-decoration: underline;
            @include breakpoint(container) {
              background: #fff;
            }
          }
          &:focus:after, &:hover:after {
            @include breakpoint(container) {
              transform: translate(-50%) scaleX(1);
            }
          }
          @include breakpoint(container) {
            padding: .325rem 1.05rem;
          }
          font-weight: 400;
        }
        @include breakpoint(container) {
          border: 1px solid $secondary;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
.iowa-bar--full.toggle {
  .menu--top.nav {
      margin-top: 30px;
      position: absolute;
      align-self: center;
      right: 340px;
    }
  }
}

// background color buttons
/*
@media (min-width: 855px) {
  .iowa-bar--full .menu--top .menu li {
    a {
      font-size: 1rem;
      padding-right: 1.05rem;
      padding: .9rem 1rem;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-family: Antonio, sans-serif;
      line-height: 1;
      font-size: 1.2rem;
      padding: .6rem .7rem;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      font-family: Antonio, sans-serif;
      line-height: 1;
      background: #BD472A;
      color: #fff;
      margin-right: 10px;
    }
  }
}
*/
