@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/top/top.scss";

// Iowa Bar Full adjustments
.iowa-bar--full.mega,
.iowa-bar--full.horizontal,
.iowa-bar--full.toggle  {
  .menu--top {
    @include breakpoint(menu) {
      right: -10px;
      margin-top: 8px;
      position: relative;
      align-self: center;
      justify-content: flex-start;
    }
    @include breakpoint(container) {
      margin-top: 4px;
      justify-content: flex-end;
    }
  }

  .menu--top {
    @include breakpoint(menu) {
      flex: 0 1 25%;
      display: flex;
      justify-content: flex-end;
      height: 100%;
    }

    .menu li {
      + li {
        a {
          @include breakpoint(menu) {
            padding-left: .8rem;
          }
        }
      }

      a {
        @include breakpoint(menu) {
          display: block;
          text-decoration: none;
          color: $secondary;
          font-size: 1.1rem;
          position: relative;
          line-height: 1.3;
          text-align: center;

          &:after {
            @include breakpoint(container) {
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              width: 100%;
              height: 4px;
              background-color: $primary;
              transform-origin: center;
              transform: translate(-50%) scaleX(0);
              transition: transform .3s ease-in-out;
            }
          }
          &:hover, &:focus {
            @include breakpoint(container) {
              background: #fff;
            }
          }
          &:focus:after, &:hover:after {
            @include breakpoint(container) {
              transform: translate(-50%) scaleX(1);
            }
          }
          @include breakpoint(container) {
            padding: .325rem 1.05rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}

.iowa-bar--full.toggle {
  .menu--top {
    @include breakpoint(menu) {
      flex: auto;
    }
    @include breakpoint(container) {
      margin-right: calc(10% - 40vw);
      flex: 1;
    }
  }
  .site-name + .menu--top {
    @include breakpoint(menu) {
      flex: 1;
    }
    @include breakpoint(container) {
      right: calc(50% - 40vw);
      flex: 0 1 25%;
    }
  }
}

// Change order for mobile stacking for logo, site name, and top menu
@media only screen and (min-width: 0) and (max-width: 580px) {
  .iowa-bar--full {
    .iowa-bar__container {
      display: flex;

      .logo--tab {
        flex: 0 1 100%;
      }

      .menu--top {
        flex: 0 1 100%;
      }
    }
  }
}

.menu--top .menu li:nth-child(3) {
  display: block!important;
}

// Mobile adjustments for top menu
@media only screen and (min-width: 0) and (max-width: 855px) {
  .menu--top.nav {
    background: $primary;
    margin-top: 0;
    position: inherit;
    padding: .75rem 1.25rem;

    .menu li {
      margin: 0;

      &:nth-child(2) {
        margin: 0 25px;
      }

      a {
        color: $secondary;
        padding: .325rem 0;
        font-size: 1rem;
      }
    }
  }
  .site-name + .menu--top {
    padding: 0 1.25rem .75rem 1.25rem;
    margin-top: -.75rem;
  }
}

// Mobile adjustments for iowa bar below
@media only screen and (min-width: 0) and (max-width: 855px) {

  .iowa-bar.iowa-bar--narrow {
    display: flex;
    flex-wrap: wrap;

    .nav.menu--top {
      right: 0;
      padding-left: 20px;
      position: relative !important;
      overflow: unset !important;
      clip: unset !important;
    }

    .menu--top.nav .menu li a {
      padding: 0 0 .75rem 0;
    }

    .iowa-bar__below {
      margin-top: 70px;
      border-bottom: none;
    }

    .iowa-bar__container {
      flex-basis: 100%;
      order: 3;
    }

    .logo--tab {
      position: absolute;
      top: 0;
    }
  }
}

