@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/menus/top/top.scss";

// Iowa Bar Full adjustments
.iowa-bar--full.horizontal,
.iowa-bar--full.toggle  {
  .menu--top.nav {
    @include breakpoint(menu) {
      right: -10px;
      margin-top: 8px;
    }
    @include breakpoint(container) {
      margin-top: 4px;
    }
  }

  .menu--top.nav {
    @include breakpoint(menu) {
      position: relative;
      align-self: center;
      justify-content: flex-start;
     // margin-left: auto;
    }
    @include breakpoint(container) {
      justify-content: flex-end;
    }
  }

  .menu--top {
    @include breakpoint(menu) {
      flex: 0 1 25%;
      display: flex;
      justify-content: flex-end;
    }

    .menu li {
      @include breakpoint(menu) {
        margin: 0 15px 0 0 !important;
      }

      + li {
        a {
          @include breakpoint(menu) {
            border-left: 1px solid $secondary;
            padding-left: .8rem;
          }
        }
      }

      a {
        @include breakpoint(menu) {
          display: block;
          text-decoration: none;
          color: $secondary;
          font-size: .8rem;
          text-transform: uppercase;
          padding: 0;
          position: relative;
          line-height: 1.3;
          text-align: center;
         // font-weight: 400;

          &:after {
            @include breakpoint(container) {
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              width: 100%;
              height: 4px;
              background-color: $primary;
              transform-origin: center;
              transform: translate(-50%) scaleX(0);
              transition: transform .3s ease-in-out;
            }
          }
          &:hover, &:focus {
            text-decoration: underline;
            @include breakpoint(container) {
              background: #fff;
            }
          }
          &:focus:after, &:hover:after {
            @include breakpoint(container) {
              transform: translate(-50%) scaleX(1);
            }
          }
          @include breakpoint(container) {
            padding: .325rem 1.05rem;
            font-weight: 400;
          }
        }
        @include breakpoint(container) {
          border: 1px solid $secondary;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
.iowa-bar--full.toggle {
  .menu--top.nav {
      margin-top: 30px;
      position: absolute;
      align-self: center;
      right: 340px;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 480px) {
  .search-is-open .iowa-bar--full .menu--top {
    display: block;
  }

  .iowa-bar--full .menu--top {
    background: $primary;
    margin-top: 0;
    position: inherit;
    padding-bottom: 1rem;

    .menu li {
      margin: 0;
      a {
        display: block;
        text-decoration: none;
        color: $secondary;
        font-size: .8rem;
        text-transform: uppercase;
        padding: .325rem 1.05rem;
        position: relative;
        line-height: 1.3;
        text-align: center;
        border: 1px solid $secondary;
      }
      &:first-child a {
        border-right: none;
      }
    }
  }
}


