@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

// Base Top Menu.
.menu--top {
  .menu {
    li {
      display: flex;
      &:nth-child(3) {
        display: none !important;

        @include breakpoint(md) {
          display: flex !important;
        }
      }

      a {
        padding: $md;
        color: #fff;
        @include breakpoint(md) {
          color: $secondary;
        }
        &:hover,
        &:focus {
          text-decoration: underline;
        }
        .iowa-bar--full & {
          font-size: .9rem;
          padding-right: 0;
          @include breakpoint(md) {
            font-size: 1.2rem;
            padding-right: $md;
          }
        }

        .iowa-bar--narrow & {
          padding: .8rem $md;
        }

        &:hover {}
      }
    }
  }
}

.iowa-bar--narrow {
  .menu--top {
    @include element-invisible;
    @include breakpoint(md) {
      @include element-invisible-off;
      overflow: unset;
      position: absolute !important;
    }
  }
}

.menu--top.nav {
  margin-top: 7px;
  position: absolute;
  z-index: 2;
  right: 96px;
  top: 0;
  display: block;

  @include breakpoint(sm) {
    margin-top: 9px;
  }

  @include breakpoint(md) {
    right: 356px;
    margin-top: 11px;
  }
}

.iowa-bar--narrow {
  &.iowa-bar--uihc {
    .nav.menu--top {
      @include breakpoint(md) {
        top: 10px;
      }
    }
  }
  .nav.menu--top {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0px;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

  .nav.menu--top .menu li a {
    font-weight: $font-weight-light;
  }

  // Iowa Bar Full adjustments
  .iowa-bar--full.mega,
  .iowa-bar--full.horizontal,
  .iowa-bar--full.toggle  {
    .menu--top {
      @include breakpoint(md) {
        right: -10px;
        margin-top: 8px;
        position: relative;
        align-self: center;
        justify-content: flex-start;
      }
      @include breakpoint(page-container) {
        margin-top: 4px;
        justify-content: flex-end;
      }
    }

    .menu--top {
      @include breakpoint(md) {
        flex: 0 1 25%;
        display: flex;
        justify-content: flex-end;
        height: 100%;
      }

      .menu li {
        + li {
          a {
            @include breakpoint(md) {
              padding-left: .8rem;
            }
          }
        }

        a {
          @include breakpoint(md) {
            display: block;
            text-decoration: none;
            color: $secondary;
            font-size: 1.1rem;
            position: relative;
            line-height: 1.3;
            text-align: center;

            &:after {
              @include breakpoint(page-container) {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 100%;
                height: 4px;
                background-color: $primary;
                transform-origin: center;
                transform: translate(-50%) scaleX(0);
                transition: transform .3s ease-in-out;
              }
            }
            &:hover, &:focus {
              text-decoration: underline;
              @include breakpoint(page-container) {
                //background: #fff;
              }
            }
            &:focus:after, &:hover:after {
              @include breakpoint(page-container) {
                transform: translate(-50%) scaleX(1);
              }
            }
            @include breakpoint(page-container) {
              padding: .325rem 1.05rem;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .iowa-bar--full.toggle {
    .menu--top {
      @include breakpoint(md) {
        flex: auto;
      }
      @include breakpoint(page-container) {
        margin-right: calc(10% - 40vw);
        flex: 1;
      }
    }
    .site-name + .menu--top {
      @include breakpoint(md) {
        flex: 1;
      }
      @include breakpoint(page-container) {
        right: calc(51% - 40vw);
        flex: 0 1 25%;
      }
    }
  }

  // Change order for mobile stacking for logo, site name, and top menu
  @media only screen and (min-width: 0) and (max-width: 580px) {
    .iowa-bar--full {
      .iowa-bar__container {
        display: flex;

        .logo--tab {
          flex: 0 1 100%;
        }

        .menu--top {
          flex: 0 1 100%;
        }
      }
    }
  }

  .menu--top .menu li:nth-child(3) {
    display: block!important;
  }

  // Mobile adjustments for top menu
  @media only screen and (min-width: 0) and (max-width: 854px) {
    .menu--top.nav {
      background: $primary;
      margin-top: 0;
      position: inherit;
      padding: .75rem 1.25rem;

      .menu li {
        margin: 0;

        &:nth-child(2) {
          margin: 0 25px;
        }

        a {
          color: $secondary;
          padding: .325rem 0;
          font-size: 1rem;
        }
      }
    }
    .site-name + .menu--top {
      padding: 0 1.25rem .75rem 1.25rem;
      margin-top: -.75rem;
    }
  }

  // Mobile adjustments for iowa bar below
  @media only screen and (min-width: 0) and (max-width: 854px) {

    .iowa-bar.iowa-bar--narrow {
      display: flex;
      flex-wrap: wrap;

      .nav.menu--top {
        right: 0;
        padding-left: 20px;
        position: relative !important;
        overflow: unset !important;
        clip: unset !important;
      }

      .menu--top.nav .menu li a {
        padding: 0 0 .75rem 0;
      }

      .iowa-bar__below {
        border-bottom: none;
        width: 100%;
      }

      .iowa-bar__container {
        flex-basis: 100%;
      }
    }
  }

  .iowa-bar.iowa-bar--narrow {
    .nav.menu--top {
      @include breakpoint(md) {
        height: 90px;
        .scroll-up & {
          animation: fadeIn 1s;
        }
      }
    }

    &.horizontal, &.mega {
      &.iowa-bar--uihc {
        .nav.menu--top {
          @include breakpoint(page-container) {
            top: -55px;
          }
        }
      }
      .nav.menu--top {
        @include breakpoint(page-container) {
          top: -50px;
        }
      }
    }
  }


