@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";

// Currently not in use.

.menu--account {
  .menu {
    @include flexbox;
    @include margin(variables.$top: variables.$md, variables.$left: 0, variables.$bottom: variables.$sm);
    li {
      @include flexbox;
      a {
        display: block;
        text-decoration: none;
        color: variables.$dark-gray;
        border: 1px solid variables.$grey-light;
        border-right: none;
        @include padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
        &:hover {
          background: variables.$light;
        }
      }
      &:last-child {
        a {
          border-right: 1px solid variables.$grey-light;
        }
      }
    }
  }
}
