@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
//@import "components/03 - global/menus/vertical/_vertical.scss";

.sf-accordion-toggle {
  display: none;
}

#superfish-main-accordion {
  position: unset !important;
  clip: auto !important;
  height: auto !important;
  width: 100% !important;
  overflow: hidden !important;
  display: block !important;
  margin-bottom: $md;
}

.iowa-bar--full.toggle,
.iowa-bar--narrow.toggle {
  .block-superfish {
    display: block;
  }
  .region-primary-menu {
    display: block;
  }
}

