#block-views-block-content-related-block-content-related.card {
  .card-body {
    padding: 0;
    display: block;
  }
  .item-list li {
    padding: 0;
    margin: 0;
  }
  .item-list ul {
    margin-bottom: 0;
    li a {
      @extend .list-group-item;
      @extend .list-group-item-action;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      &:hover, &:focus {
        background-color: $primary;
        color: $gray-900;
      }
    }
    li a:first-child,
    li a:last-child {
      border-radius: 0;
    }
  }
}
