<div style="min-height:600px;width:100%;" data-responsive-background-image="true">
  <picture>
    <source srcset="../../images/large.jpg" media="(min-width: 1220px)">
    <source srcset="../../images/medium.jpg" media="(min-width: 740px)">
    <source srcset="../../images/small.jpg" media="(min-width: 0px)">
    <img src="../../images/small.jpg" alt="Alt Text" title="">
  </picture>
</div>
