adding:
  display:
    default:
      display_options:
        pager:
          options:
            items_per_page: 20
            tags:
              next: ››
              previous: ‹‹
        sorts:
          sticky:
            expose:
              field_identifier: null
    page_upcoming:
      display_options:
        fields:
          title:
            element_label_colon: true
        sorts:
          sticky:
            id: sticky
            table: node_field_data
            field: sticky
            relationship: none
            group_type: group
            admin_label: ''
            entity_type: node
            entity_field: sticky
            plugin_id: standard
            order: DESC
            expose:
              label: ''
              field_identifier: sticky
            exposed: false
          field_event_when_value:
            id: field_event_when_value
            table: node__field_event_when
            field: field_event_when_value
            relationship: none
            group_type: min
            admin_label: ''
            plugin_id: '1'
            order: ASC
            expose:
              label: ''
              field_identifier: field_event_when_value
            exposed: false
            granularity: second
        filters:
          field_event_when_end_value:
            operator: '>'
            value:
              value: now
              type: offset
            exposed: false
            expose:
              operator_id: ''
              label: ''
              operator: ''
              identifier: ''
            group_info:
              label: ''
              description: ''
              identifier: ''
              group_items:
                - {  }
          field_event_category_target_id:
            id: field_event_category_target_id
            table: node__field_event_category
            field: field_event_category_target_id
            relationship: none
            group_type: group
            admin_label: ''
            plugin_id: taxonomy_index_tid
            operator: or
            value: {  }
            group: 1
            exposed: true
            expose:
              operator_id: field_event_category_target_id_op
              label: 'Event Category'
              description: ''
              use_operator: false
              operator: field_event_category_target_id_op
              operator_limit_selection: false
              operator_list: {  }
              identifier: category
              required: false
              remember: false
              multiple: false
              remember_roles:
                authenticated: authenticated
                anonymous: '0'
                viewer: '0'
                editor: '0'
                publisher: '0'
                webmaster: '0'
                administrator: '0'
              reduce: false
            is_grouped: false
            group_info:
              label: ''
              description: ''
              identifier: ''
              optional: true
              widget: select
              multiple: false
              remember: false
              default_group: All
              default_group_multiple: {  }
              group_items: {  }
            reduce_duplicates: false
            vid: event_categories
            type: select
            hierarchy: false
            limit: true
            error_message: true
            save_lineage: false
            force_deepest: false
            parent: 0
            level_labels: ''
            hierarchy_depth: 0
            required_depth: 0
            none_label: '- Please select -'
          field_event_when_value:
            operator: '>='
            value:
              value: now
              type: offset
            exposed: false
          field_event_performer_target_id_1:
            operator: empty
            exposed: false
        defaults:
          sorts: false
        css_class: 'block-margin__top--extra views-form--stacked '
        path: events/upcoming
        menu:
          type: 'default tab'
          title: Upcoming
      cache_metadata:
        contexts:
          - user
removing:
  dependencies:
    module:
      - better_exposed_filters
  display:
    default:
      display_options:
        pager:
          options:
            items_per_page: 10
            tags:
              next: 'Next ›'
              previous: '‹ Previous'
        sorts:
          sticky:
            id: sticky
            table: node_field_data
            field: sticky
            relationship: none
            group_type: group
            admin_label: ''
            entity_type: node
            entity_field: sticky
            plugin_id: standard
            order: DESC
            expose:
              label: ''
              field_identifier: ''
            exposed: false
    page_upcoming:
      display_options:
        fields:
          title:
            alter:
              text: ''
              path: ''
              external: false
              replace_spaces: false
              path_case: none
              trim_whitespace: false
              alt: ''
              rel: ''
              link_class: ''
              prefix: ''
              suffix: ''
              target: ''
              nl2br: false
              max_length: 0
              more_link: false
              more_link_text: ''
              more_link_path: ''
              preserve_tags: ''
            element_label_colon: false
        exposed_form:
          type: bef
          options:
            submit_button: Apply
            reset_button: true
            reset_button_label: Reset
            exposed_sorts_label: 'Sort by'
            expose_sort_order: true
            sort_asc_label: Asc
            sort_desc_label: Desc
            text_input_required: 'Select any filter and click on Apply to see results'
            text_input_required_format: filtered_html
            bef:
              general:
                autosubmit: false
                autosubmit_exclude_textfield: false
                autosubmit_textfield_delay: 500
                autosubmit_hide: false
                input_required: false
                allow_secondary: true
                secondary_label: 'Advanced options'
                secondary_open: true
              filter:
                combine:
                  plugin_id: default
                  advanced:
                    placeholder_text: Search
                    collapsible: false
                    is_secondary: false
                field_event_when_end_value:
                  plugin_id: bef_datepicker
                  advanced:
                    placeholder_text: 'Starts on or after'
                    collapsible: false
                    is_secondary: true
                field_event_when_value:
                  plugin_id: bef_datepicker
                  advanced:
                    placeholder_text: 'Ends on or before'
                    collapsible: false
                    is_secondary: true
                field_event_performer_target_id_1:
                  plugin_id: default
                  advanced:
                    placeholder_text: Presenters
                    rewrite:
                      filter_rewrite_values: ''
                    collapsible: false
                    is_secondary: true
        filters:
          field_event_when_end_value:
            operator: '>='
            value:
              value: ''
              type: date
            exposed: true
            expose:
              operator_id: field_event_when_end_value_op
              label: Ends
              operator: field_event_when_end_value_op
              identifier: field_event_when_end_value
            group_info:
              label: 'When - End'
              description: null
              identifier: field_event_when_end_value
          field_event_when_value:
            operator: '<='
            value:
              value: ''
              type: date
            exposed: true
          field_event_performer_target_id_1:
            operator: or
            exposed: true
        defaults:
          use_ajax: false
          exposed_form: false
          arguments: false
        css_class: bef-form
        use_ajax: true
        path: events
        menu:
          type: none
          title: ''
