{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content.field_uiowa_headline }}
  <div class="uiowa-events-wrapper list-container__inner">
    {{ content|without('field_uiowa_headline', 'more') }}
  </div>
  {{ content.more }}
</div>
