{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [] %}

{% for style in attributes.class %}
  {% if style starts with 'bttn' %}
    {% set classes = classes|merge([style]) %}
  {% endif %}
{% endfor %}

<div {{ attributes.removeClass(classes).addClass('block') }}>
  {{ title_prefix }}
  {{ title_suffix }}


  {% for link in content.field_uiowa_button_link['#items'] %}
{#    {{ devel_breakpoint(link) }}#}
    {% set block_button = {
      'classes': create_attribute().addClass(classes),
      'link_url': link.uri,
      'link_title': link.title|render,
    } %}

    {% embed '@uids_base/uids/button.html.twig' with block_button only %}
    {% endembed %}
  {% endfor %}
</div>
