{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * Available variables:
 * - label: The configured label of the block if visible.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.

 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'block-content',
  'block-content--type-' ~ bundle|clean_class,
  'block-content--' ~ id,
  'block-content--view-mode-' ~ view_mode|clean_class
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="block-content__content">
    {# Remove the h_size field from output. It has to be included so it can be used in preprocessing. #}
    {{ content|without('field_uiowa_accordiontabs_h_size') }}
  </div>
</div>
