{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [] %}

{% for style in attributes.class %}
  {% if style starts with 'bttn' %}
    {% set classes = classes|merge([style]) %}
  {% endif %}
{% endfor %}

{% set block_button = {
  'classes': create_attribute().addClass(classes),
  'link_url': content.field_uiowa_button_link[0]['#url'],
  'link_title': content.field_uiowa_button_link[0]['#title']|render,
} %}

<div {{ attributes.removeClass(classes).addClass('block') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% embed '@uids_base/uids/button.html.twig' with block_button only %}
  {% endembed %}
</div>
