// CSS Grid Layout with Susy Fallback
@import '../config';

// For breakpoint debugging.
aside,
.layout-content,
.region {
  padding: 0.625em;

  // Uncomment for breakpoint debugging.
  //background-color: #eeb4ae;
  //border: 1px solid #dd7b8d;
  //
  //@include breakpoint($medium) {
  //  background-color: #bea2ee;
  //  border: 1px solid #9168dd;
  //}
  //
  //@include breakpoint($large) {
  //  background-color: #83eedd;
  //  border: 1px solid #57ddd4;
  //}
}

aside .region,
.layout-content .region {
  padding: 0;
  border: none;
}

.layout-container {
  max-width: 78.750em;
  margin: 0 auto;
}

/**
 * SUSY/FLEXBOX STYLES
 *
 * The susy/flexbox styles are a fallback for older browsers that do not support
 * CSS grid. The CSS grid styles are below.
 *
 */
main {
  display: flex;
  flex-wrap: wrap;
}

.layout-content {
  flex: span(6);

  .layout-page-sidebars-both & {
    @include breakpoint($medium) {
      flex: span(4);
      order: 2;
    }

    @include breakpoint($large) {
      flex: span(4);
      order: 2;
    }
  }

  .layout-page-sidebars-first & {
    @include breakpoint($medium) {
      flex: span(4);
      order: 2;
    }

    @include breakpoint($large) {
      flex: span(5);
      order: 2;
    }
  }

  .layout-page-sidebars-second & {
    @include breakpoint($medium) {
      flex: span(4);
      order: 1;
    }

    @include breakpoint($large) {
      flex: span(5);
      order: 1;
    }
  }
}

aside {
  flex: span(6);
}

aside.layout-sidebar-first {
  order: 0;

  .layout-page-sidebars-both & {
    @include breakpoint($medium) {
      flex: span(2);
    }

    @include breakpoint($large) {
      flex: span(1);
      order: 1;
    }
  }

  .layout-page-sidebars-first & {
    @include breakpoint($medium) {
      flex: span(2);
      order: 1;
    }

    @include breakpoint($large) {
      flex: span(1);
      order: 1;
    }
  }
}

aside.layout-sidebar-second {
  order: 2;

  .layout-page-sidebars-both & {
    @include breakpoint($medium) {
      flex: span(6);
      order: 3;
    }

    @include breakpoint($large) {
      flex: span(1);
      order: 3;
    }
  }

  .layout-page-sidebars-second & {
    @include breakpoint($medium) {
      flex: span(2);
    }

    @include breakpoint($large) {
      flex: span(1);
      order: 2;
    }
  }
}

.region-footer {
  width: span(6);
}

/**
 * CSS GRID STYLES
 *
 * Some versions of Edge and IE support an outdated version of CSS Grid
 * specification that does not include the grid-template property so we
 * check against it to force them to fallback on flexbox.
 *
 */
@supports (grid-template: none) {
  main {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
  }

  // Resets Susy styles
  .layout-content,
  aside.layout-sidebar-first,
  aside.layout-sidebar-second,
  .region-foooter {
    width: auto;
    float: none;
    margin-right: 0;
    margin-left: 0;
  }

  .layout-content {
    grid-column: 1/7;

    .layout-page-sidebars-both & {
      @include breakpoint($medium) {
        grid-column: 3/7;
        order: 1;
      }

      @include breakpoint($large) {
        grid-column: 2/6;
        order: 2;
      }
    }

    .layout-page-sidebars-first & {
      @include breakpoint($medium) {
        grid-column: 3/7;
        order: 2;
      }

      @include breakpoint($large) {
        grid-column: 2/7;
        order: 2;
      }
    }

    .layout-page-sidebars-second & {
      @include breakpoint($medium) {
        grid-column: 1/5;
        order: 1;
      }

      @include breakpoint($large) {
        grid-column: 1/6;
        order: 1;
      }
    }
  }

  aside.layout-sidebar-first {
    grid-column: 1/7;

    .layout-page-sidebars-both & {
      @include breakpoint($medium) {
        grid-column: 1/3;
      }

      @include breakpoint($large) {
        grid-column: 1/2;
        order: 1;
      }
    }

    .layout-page-sidebars-first & {
      @include breakpoint($medium) {
        grid-column: 1/3;
        order: 1;
      }

      @include breakpoint($large) {
        grid-column: 1/2;
        order: 1;
      }
    }
  }

  aside.layout-sidebar-second {
    grid-column: 1/7;

    .layout-page-sidebars-both & {
      @include breakpoint($medium) {
        grid-column: 1/7;
      }

      @include breakpoint($large) {
        grid-column: 6/7;
        order: 3;
      }
    }

    .layout-page-sidebars-second & {
      @include breakpoint($medium) {
        grid-column: 5/7;
        order: 2;
      }

      @include breakpoint($large) {
        grid-column: 6/7;
        order: 2;
      }
    }
  }
}
