<div class="field field--label-inline fa-ul">
  <div class="field__label"><span role="presentation" class="fas fa-info-circle fa-li"></span> Building</div>
  <div class="field__item">
    <a href="{{ building_link }}">{{ building_name }}</a>
  </div>
</div>
