<div{{ title_attributes.addclass(title_classes) }}>{{ label }}</div>
<ul class="element--list-none element--margin-none">
  {% for item in items %}
    <li>
      <span class="badge badge--cool-gray">{{ item.content }}</span>
    </li>
  {% endfor %}
</ul>
