{% embed '@uids_base/field/field.html.twig'  %}
  {% block field_icon %}
    <span role="presentation" class="fa-file-pdf fas"></span> &nbsp;
    {{ content.field_room_seating_chart.0['#url'] }}
  {% endblock %}
{% endembed %}

