<div class="bg--gold block-padding__all--sm">
  {%- for item in items -%}
    <div {{ attributes.addClass(classes, 'field__item') }}><i role="presentation" class="fa-file-pdf fas"></i> &nbsp;<a href="{{ item.content|render }}">Seating Chart</a></div>
  {%- endfor -%}
</div>


