{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <span role="presentation" class="fa-building fas"></span> &nbsp;
  {% endblock %}
  {% set attributes = attributes.addClass('bg--gold block-padding__all--sm') %}
{% endembed %}
