{%- for item in items -%}
  <a class="bttn bttn--light-font bttn--primary" href="{{ item.content['#url'] }}">&nbsp;{{ item.content['#title'] }} <i role="presentation" class="fas fa-arrow-right"></i></a>
{%- endfor -%}

