{% extends '@uids_base/field/field.html.twig' %}

{% set attributes = attributes.addClass('bg--gold element--padding__all--sm') %}
{% block field_icon %}
  <span role="presentation" class="fa-user fas"></span>
{% endblock %}
