{%- for item in items -%}
  <a class="bttn bttn--primary bttn--light-font bttn--no-text bttn--small" href="{{ item.content|render }}"><i role="presentation" class="fa-file-pdf fas"></i> &nbsp;Seating Chart</a>
{%- endfor -%}
