{% extends '@uids_base/field/field.html.twig' %}

{% set attributes = attributes.addClass('bg--gold element--padding__all--sm') %}

{# Override field icon. #}
{% block field_icon %}
  <span role="presentation" class="fa-building fas"></span>
{% endblock %}
