{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <span role="presentation" class="fa-user fas"></span>
  {% endblock %}
  {% set attributes = attributes.addClass('bttn bttn--primary bttn--light-font bttn--disabled bttn--small') %}
{% endembed %}
