{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <span role="presentation" class="fa-user fas"></span>
  {% endblock %}
  {% set attributes = attributes.addClass('bg--gold element--padding__all--sm') %}
{% endembed %}
