<h2 class="h4 block__headline headline headline--serif headline--underline">Today's Schedule</h2>
<div class="list-container">
  {% for item in items %}
    {%
      set classes = [
      'card--media-left',
      'card--list',
    ]
    %}
    {% set block_card = {
      'attributes': attributes.addClass(classes),
      'card_title': item.title,
      'card_subtitle': item.startTime ~ ' - ' ~ item.endTime,
      'card_meta': item.activity,
    } %}
    {% embed '@uids_base/uids/card.html.twig' with block_card only %}{% endembed %}
  {% endfor %}
</div>
