{% if name and not page %}
  <a class="bttn bttn--primary bttn--light-font bttn--no-text bttn--small" href="{{ url }}"><span role="presentation" class="fa-building fas"></span>&nbsp;  <span class="field__label">Room Type:</span> {{ name }}</a>
{% endif %}
