{{ attach_library('uids_base/card') }}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
  ]
  %}

  {% include '@uids_base/uids/card.html.twig' with row.card_options %}
  
{% endfor %}
