/*
 * @file
 * Provides the layout styles for four-column layout section.
 */



@media screen and (min-width: 40em) {
  .layout--fourcol {
    display: flex;
  }

  .layout--fourcol>.layout__region {
    flex: 0 1 100%;
    display: flex;
  }

  .layout--fourcol>.layout__region {
    flex: 0 1 24.25%;
  }

  .layout--fourcol.section-margin__removed>.layout__region {
    flex: 0 1 25%;
  }

  .layout--fourcol>.layout__region--second {
    margin-left: 3rem;
    margin-right: 1.5rem;
  }

  .layout--fourcol>.layout__region--third {
    margin-left: 1.5rem;
    margin-right: 3rem;
  }

  .layout--fourcol.section-margin__removed>.layout__region--second {
    margin-left: 0;
    margin-right: 0;
  }

  .layout--fourcol.section-margin__removed>.layout__region--third {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 40em) and (max-width: 68.125em) {
  .layout--fourcol.grid--1-3 {
    flex-wrap: wrap;
  }

  .layout--fourcol.grid--1-3 .layout__region {
    flex: 0 1 31.3%;
  }

  .layout--fourcol.grid--1-3 .layout__region--first {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .layout--fourcol.grid--1-3 .layout__region--second {
    margin-left: 0;
    margin-right: 0;
  }

  .layout--fourcol.grid--1-3 .layout__region--third {
    margin-left: 3%;
    margin-right: 3%;
  }
}
