// Fragment statistic admin UX.

#edit-group-statistic-figure {
  .fieldset__legend {
    display: none;
  }
  .fieldset__wrapper {
    display: grid;
    grid-template-columns: 19% 56% 19%;
    grid-gap: 3%;
  }
  #edit-field-stat-figure-0-container-text {
    width: 100%;
  }
}
