@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_grid.scss";

.page-node-type-area-of-study {
  .paragraph--type--degree {
    display: flex;
    .field--name-field-degree-abbreviation.field--label-hidden.field__item{
      margin: 0 $sm;
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
  }
  .field--name-field-area-of-study-stat {
    @include flexbox;
    @include flex(0, 1, 100%);
    @include flex-wrap(wrap);
    .stat {
      @include flex(1, 1);
    }
    .field__item:not(:last-child) {
      margin-right: $md;
    }
  }
}

