@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_grid.scss";

.page-node-type-area-of-study {
  .field--name-field-area-of-study-stat {
    @include flexbox;
    @include flex(0, 1, 100%);
    @include flex-wrap(wrap);

    .field__item {
      @include breakpoint(sm) {
        flex: 1;
      }
    }

    .field__item:not(:last-child) {
      margin-right: $md;
    }
  }

  .field--name-field-area-of-study-link {
    .field__items div {
      font-size: 1.2rem;
      line-height: 1.7;
      margin-top: 0;
    }
  }

  .block-field-blocknodearea-of-studyfield-area-of-study-first-year,
  .block-field-blocknodearea-of-studyfield-area-of-study-intl,
  .block-field-blocknodearea-of-studyfield-area-of-study-transfer,
  .field--name-field-area-of-study-first-year,
  .field--name-field-area-of-study-intl,
  .field--name-field-area-of-study-transfer {
    @include breakpoint(sm) {
      display: flex;
    }

    .media--circle img {
      border-radius: unset;
    }
  }

  .field--name-field-area-of-study-first-year,
  .field--name-field-area-of-study-intl,
  .field--name-field-area-of-study-transfer {
    .card__body ul.fa-field-item {
      margin-left: 1.875rem;

      li {
        margin-bottom: $sm;
        line-height: 1.4;
      }
    }
  }

  .views-field-field-area-of-study-competitive,
  .views-field-field-area-of-study-four-year,
  .views-field-field-area-of-study-honors,
  .views-field-field-area-of-study-selective,
  .views-field-field-area-of-study-teaching {
    margin-top: $sm;

    .field__label {
      margin-bottom: 0;
    }
  }
}

.view-id-areas_of_study_block {
  .field__label {
    text-transform: uppercase;
  }

  .paragraph--type--degree {
    .field__item {
      display: inline;
    }

    .field--name-field-degree-abbreviation.field--label-hidden.field__item {
      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }
}

.view-display-id-areas_of_study {
  .views-field {
    .degree-options {
      margin-top: $sm;
      text-transform: uppercase;
      font-size: $small-font-size;
    }
  }
}

// Card p styles extended.
.transfer-tip {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  display: block;
}
