@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";
@use "../../../../../themes/custom/uids_base/uids/scss/layout/_grid.scss";

.view-id-areas_of_study_kiosk {
  display: flex;
  flex-wrap: wrap;

  .view-header {
    width: 100%;
  }

  .view-content,
  .view-empty {
    flex: 1 0 0;
  }

  .view-filters {
    flex: 0 0 100%;
    max-width: 100%;
    @include utilities.breakpoint(sm) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-right: variables.$desktop-width-gutter;
    }

    .form-item {
      width: 100%;
      flex: unset;
    }

    .views-exposed-form {

      .form--inline {
        @include utilities.breakpoint(sm) {
          flex-wrap: wrap;
        }
      }

      &.form:not(.uids-search) {
        padding: 19px;

        .form-actions {
          width: 100%;
          display: grid;
          gap: 1rem;
          .button {
            flex: 46% 1 1;
            margin-bottom: 0;
            width: 100%;
          }
        }

        .form-item {
          margin: 0;
        }

        fieldset,
        input,
        select {
          &.form-item {
            margin-bottom: 19px;
          }
        }

        fieldset {
          border: 0;
          padding: 0;


          .fieldset-wrapper {
            padding: 0.75rem 0;
          }

          .form-type-checkbox {
            display: flex;
            align-items: baseline;
          }
        }
      }
    }
  }

  .view-filters .views-exposed-form.form:not(.uids-search) fieldset .form-type-checkbox {
    align-items: flex-start;
    margin-bottom: variables.$md;
  }

  table.views-table td,
  table.views-table th {
    font-size: variables.$content-font-size;
  }

  form.form {
    .fieldset-legend,
    label,
    a,
    p,
    table td,
    table th {
      font-size: variables.$content-font-size;
    }
  }

  .form-checkbox {
    height: 1cm;
    width: 1cm;
    flex-shrink: 0;
  }

  .pager {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
  }
}


.aos-cta {
  background: variables.$secondary;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateZ(0) translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.aos-cta--show {
    transform: translateY(0%);
  }
}

.path-kiosk {
  padding: variables.$desktop-width-gutter 0;
}
