@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";
@use  "../../../../../themes/custom/uids_base/uids/scss/layout/_grid.scss";

.page-node-type-area-of-study {
  .field--name-field-area-of-study-stat {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;

    .field__item {
      @include utilities.breakpoint(sm) {
        flex: 1;
      }
    }

    .field__item:not(:last-child) {
      margin-right: variables.$md;
    }
  }

  .field--name-field-area-of-study-link {
    .field__items div {
      font-size: 1.2rem;
      line-height: 1.7;
      margin-top: 0;
    }
  }

  .block-field-blocknodearea-of-studyfield-area-of-study-first-year,
  .block-field-blocknodearea-of-studyfield-area-of-study-intl,
  .block-field-blocknodearea-of-studyfield-area-of-study-transfer,
  .field--name-field-area-of-study-first-year,
  .field--name-field-area-of-study-intl,
  .field--name-field-area-of-study-transfer {
    @include utilities.breakpoint(sm) {
      display: flex;
    }

    .media--circle img {
      border-radius: unset;
    }
  }

  .views-field-field-area-of-study-competitive,
  .views-field-field-area-of-study-four-year,
  .views-field-field-area-of-study-honors,
  .views-field-field-area-of-study-selective,
  .views-field-field-area-of-study-teaching {
    margin-top: variables.$sm;

    .field__label {
      margin-bottom: 0;
    }
  }
}

.view-id-areas_of_study_block {
  .field__label {
    text-transform: uppercase;
  }

  .paragraph--type--degree {
    .field__item {
      display: inline;
    }

    .field--name-field-degree-abbreviation.field--label-hidden.field__item {
      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }
}

.view-display-id-areas_of_study {
  .views-field {
    .degree-options {
      margin-top: variables.$sm;
      text-transform: uppercase;
      font-size: variables.$small-font-size;
    }
  }
}

// Card p styles extended.
.transfer-tip {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  display: block;
}
