@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_grid.scss";

.page-node-type-area-of-study {
  .field--name-field-area-of-study-stat {
    @include flexbox;
    @include flex(0, 1, 100%);
    @include flex-wrap(wrap);
    .field__item {
      flex: 1;
    }
    .field__item:not(:last-child) {
      margin-right: $md;
    }
  }
  .block-field-blocknodearea-of-studyfield-area-of-study-first-year,
  .block-field-blocknodearea-of-studyfield-area-of-study-transfer,
  .block-field-blocknodearea-of-studyfield-area-of-study-intl,
  .field--name-field-area-of-study-first-year,
  .field--name-field-area-of-study-transfer,
  .field--name-field-area-of-study-intl {
    display: flex;
  }
  .bttn.bttn--link {
    padding-left: 0;
    text-align: left;
  }
  // @todo remove after https://github.com/uiowa/uiowa/issues/2706 is fixed.
  .views-element-container {
    margin-top: 0;
  }
}

.view-id-areas_of_study_block {
  .field__label {
    text-transform: uppercase;
  }
  .paragraph--type--degree {
    //display: flex;
    .field__item {
      display: inline;
    }
    .field--name-field-degree-abbreviation.field--label-hidden.field__item{
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
  }
}
