@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_grid.scss";

.page-node-type-area-of-study {
  .field--name-field-area-of-study-stat {
    @include flexbox;
    @include flex(0, 1, 100%);
    @include flex-wrap(wrap);

    .field__item {
      @include breakpoint(sm) {
        flex: 1;
      }
    }

    .field__item:not(:last-child) {
      margin-right: $md;
    }
  }

  .field--name-field-area-of-study-link {
    .field__items div {
      font-size: 1.2rem;
      line-height: 1.7;
      margin-top: 0;
    }
  }

  .block-field-blocknodearea-of-studyfield-area-of-study-first-year,
  .block-field-blocknodearea-of-studyfield-area-of-study-intl,
  .block-field-blocknodearea-of-studyfield-area-of-study-transfer,
  .field--name-field-area-of-study-first-year,
  .field--name-field-area-of-study-intl,
  .field--name-field-area-of-study-transfer {
    @include breakpoint(sm) {
      display: flex;
    }

    .media--circle img {
      border-radius: unset;
    }
  }

  .field--name-field-area-of-study-first-year,
  .field--name-field-area-of-study-intl,
  .field--name-field-area-of-study-transfer {
    .card__body ul.fa-ul {
      margin-left: 1.875rem;

      li {
        margin-bottom: $sm;
        line-height: 1.4;
      }
    }
  }

  .views-field-field-area-of-study-competitive,
  .views-field-field-area-of-study-four-year,
  .views-field-field-area-of-study-honors,
  .views-field-field-area-of-study-selective,
  .views-field-field-area-of-study-teaching {
    margin-top: $sm;

    .field__label {
      margin-bottom: 0;
    }
  }
}

.view-id-areas_of_study_block {
  .field__label {
    text-transform: uppercase;
  }

  .paragraph--type--degree {
    .field__item {
      display: inline;
    }

    .field--name-field-degree-abbreviation.field--label-hidden.field__item {
      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }
}

.view-display-id-areas_of_study,
.view-id-areas_of_study_kiosk {
  display: flex;
  flex-wrap: wrap;

  .views-field {
    .degree-options {
      margin-top: $sm;
      text-transform: uppercase;
      font-size: $small-font-size;
    }
  }

  .view-header {
    width: 100%;
  }

  .view-content,
  .view-empty {
    flex: 1 0 0;
  }

  .view-filters {
    flex: 0 0 100%;
    max-width: 100%;
    @include breakpoint(sm) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-right: $desktop-width-gutter;
    }

    .form-item {
      width: 100%;
    }

    .views-exposed-form {
      .form--inline {
        @include breakpoint(sm) {
          flex-wrap: wrap;
        }
      }

      &.uids-content:not(.uids-search) {
        padding: 19px;

        .form-item {
          margin: 0;
        }

        fieldset,
        input,
        select {
          &.form-item {
            margin-bottom: 19px;
          }
        }

        fieldset {
          border: 0;
          padding: 0;

          .fieldset-legend {
            display: block;
            margin: 0;
            font-size: 0.8rem;
            font-weight: 700;
            line-height: 1.8;
          }

          .fieldset-wrapper {
            padding: 0.75rem;
          }

          .form-type-checkbox {
            display: flex;
            align-items: baseline;
          }
        }

        .form-actions {
          width: 100%;
          margin: 0;
          display: flex;
          gap: 19px;

          .button {
            flex: 46% 1 1;
            margin-bottom: 0;
          }

          input[id^='edit-submit-areas-of-study'] {
            @include bttn--primary;
          }
        }
      }
    }
  }

  .pager {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
  }
}
// Card p styles extended.
.transfer-tip {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  display: block;
}


// Kiosk print button
.view-id-areas_of_study_kiosk {
  &.uids-content:not(.uids-search) {
    fieldset {
      .fieldset-legend {
        font-size: $content-font-size !important;
      }
    }
  }

  .fieldset-legend,
  .uids-content label,
  a,
  p,
  table td,
  table th {
    font-size: $content-font-size !important;
  }

  .view-filters .views-exposed-form.uids-content:not(.uids-search) fieldset .form-type-checkbox {
    align-items: flex-start;
    margin-bottom: $md;
  }

  .form-checkbox {
    height: 1cm;
    width: 1cm;
    flex-shrink: 0;
  }

  .form-checkboxes {
    label {
      line-height: 1.5;
      padding-left: $sm;
    }

    .form-checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 62px;
      height: 32px;
      display: inline-block;
      position: relative;
      border-radius: 50px;
      overflow: hidden;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: $grey-light;
      transition: background-color ease 0.3s;
    }

    .form-checkbox:before {
      content: "on off";
      display: block;
      position: absolute;
      z-index: 2;
      width: 28px;
      height: 28px;
      background: #fff;
      left: 2px;
      top: 2px;
      border-radius: 50%;
      font: 10px/28px Helvetica;
      text-transform: uppercase;
      font-weight: bold;
      text-indent: -22px;
      word-spacing: 37px;
      color: $secondary;
      white-space: nowrap;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }

    .form-checkbox:checked {
      background-color: $primary;
    }

    .form-checkbox:checked:before {
      left: 32px;
    }
  }
}

.aos-cta {
  background: $secondary;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateZ(0) translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.aos-cta--show {
    transform: translateY(0%);
  }
}

.path-kiosk {
  padding: $desktop-width-gutter 0;
}
