@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";

.view-id-counselors {
  .view-content {
    padding-top: $gutter;
  }
  .views-row {
    padding-bottom: $gutter;
  }
}
