#leaflet-map-admissions-counselors-map {
  min-height: 400px;
  width: 100%;
  height: 100%;
}
#leaflet-map-admissions-counselors-map .info {
  padding: 1rem;
  background: white;
}

// Increase margin for WCAG 2.2 AA 2.5.8: Target Size (Minimum).
#leaflet-map-admissions-counselors-map .pan-to-buttons  {
  margin-top: 20px;
  button {
    margin-top: 10px;
  }
}
