@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_utilities.scss";

.field--name-field-person-territory {
  .field__label {
    font-size: $small-font-size;
    margin-bottom: 0;
    margin-top: $gutter;
  }
  .field__items, .field__item {
    font-size: $small-font-size;
    color: $text-muted;
  }
}

.page-node-type-person.layout-builder-enabled .layout__region--first .field--name-field-person-territory {
  .field__items, .field__item {
    font-size: $small-font-size;
    color: $text-muted;
  }
}
