@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_utilities.scss";

$t: 2.5s;
$slides: 10;

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.view-slideshow {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateHue infinite ($t * $slides * 2) linear;
  animation-delay: ($t / 4);
}

.view-content.list-container__inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}

.banner {
  position: absolute !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: showHideSlide infinite ($t * $slides * 2) steps(1);

  @for $i from 1 through $slides {
    &:nth-child(#{$i}) {
      animation-delay: ($t * ($i - 1) * 2);
    }
  }
}

.banner__image {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: #000;
  opacity: 1;
  animation: bgInOut ($t * 4) (-$t * 2) infinite;
}

.banner__container {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  line-height: 0.8;
  letter-spacing: -0.025em;
  z-index: 2;
  opacity: 1;
  text-align: center;
  text-shadow: 0 0 0.5em rgba(#000, 0.25);

  span {
    font-size: 10vmin;
  }
}

.banner__shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  animation: rotateFrame ($t * 4) infinite;

  &:after,
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background-color: #000;
    pointer-events: auto;
  }

  &:before {
    bottom: 50%;
    animation: openTop ($t * 2) infinite;
  }

  &:after {
    top: 50%;
    animation: openBottom ($t * 2) infinite;
  }
}
