@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_utilities.scss";

$t: 2.5s;
$slides: 28;

.view-content {
  --time: 2.5;
  --animation-fn-1: cubic-bezier(0.8, 0.00, 0.1, 1);
  --animation-fn-2: cubic-bezier(0.600, 0.040, 0.980, 0.335);
  --slides: 28;
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layout--title,
footer.footer,
header.iowa-bar--full,
nav.nav--horizontal {
  display: none;
}

.list-container:not([class*=grid]) .list-container__inner > div+div {
  margin-top: 0!important;
}

.view-content.list-container__inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--brand-secondary);
}

.banner {
  position: absolute !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translate3d(-100%, 0, -10px);

  will-change: opacity, transform;
  animation: fadeSlide infinite $t*$slides*2 steps(1);

  @for $i from 1 through $slides {
    &:nth-child(#{$i}) {
      animation-delay: $t * ($i - 1) * 2;
    }
  }


  &__text p {
    font-size: 3vmin;
  }

  // Pre-title.
  &__pre-title {
    display: inline-grid;
    font-size: 3vmin!important;

    div.field__item, p.field__item {
      font-size: inherit;
      display: inline;
    }

    .field__item + .field__item {
      padding-left: .5rem;

      &::before {
        content: "|";
        padding-right: .8rem;
        opacity: .7;
      }
    }
  }

  // List
  &--list {
    height: 100vh!important;
  }

  // Image
  &__image {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-color: var(--brand-secondary);
    opacity: 1;
    z-index: -1;
    will-change: transform, animation-timing-function;
    animation: fadeInOut $t*4 -$t*2 infinite;
  }

  // Container
  .banner__container {
    position: absolute;
    top: 50%!important;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    color: white;
    line-height: 0.8;
    letter-spacing: -0.025em;
    z-index: 2;
    opacity: 1;
    text-align: center;
    text-shadow: 0 0 0.5em rgba(0,0,0,0.25);
    mix-blend-mode: lighten;
    will-change: transform, animation-timing-function;
    animation: fadeInOut  $t*4 -$t*2 infinite;

    h3 {
      font-size: 9vmin;
    }
  }
}

.view-slideshow {
  @keyframes fadeSlide {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 10px);
    }

    #{100% / $slides} {
      opacity: 0;
      transform: translate3d(-9999px, 0, -10px);
    }

    100% {
      opacity: 0;
      transform: translate3d(-9999px, 0, -10px);
    }
  }


  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

}


