@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_grid.scss";

.block-views-blockstudent-card-block-student-grid {
  &[class*="grid"].hide-details {
    .view-content.list-container__inner {
      gap: 0 !important;
    }

    .card__body {
      display: none;
    }

    &.grid__mobile {
      &.grid--threecol--33-34-33,
      &.grid--twocol--50-50 {
        .list-container__inner {
          @include display-grid;

          .card {
            margin-bottom: 0;
          }
        }
      }

      &.grid--threecol--33-34-33 {
        .list-container__inner {
          @include threecol-grid;
        }
      }

      &.grid--twocol--50-50 {
        .list-container__inner {
          @include twocol-grid;
          gap: $desktop-width-gutter;
        }
      }

    }
  }

  .views-col {
    display: flex;
    align-items: stretch;

    a:not(:empty) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .empty-img {
        width: 100%;
        padding-top: (1 / 1) * 100%;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/sites/admissions.uiowa.edu/modules/admissions_core/assets/images/one-person-BLACK.png');
      }
    }
  }

  .views-row {
    display: flex;
  }
}
