.block-views-blockstudent-card-block-student-grid {
  .views-col {
    display: flex;
    align-items: stretch;
    a:not(:empty) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .empty-img {
        width: 100%;
        padding-top: (1 / 1) * 100%;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/sites/admissions.uiowa.edu/modules/admissions_core/assets/images/one-person-BLACK.png');
      }
    }
  }
  .views-row {
    display: flex;
  }
  .views-element-container {
    margin-top: 0;
  }
}
