@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@use "../../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";
@use "../../../../../themes/custom/uids_base/uids/scss/layout/_grid.scss";

.block-views-blockstudent-card-block-student-grid {
  &[class*="grid"] {
    .view-content.list-container__inner {
      gap: 0 !important;
    }

    &.grid__mobile {
      &.grid--threecol--33-34-33 {
        .list-container__inner {
          @include utilities.display-grid;
          @include utilities.threecol-grid;
        }
      }
    }
  }

  .views-row {
    a:not(:empty) {
      width: 100%;

      .empty-img {
        width: 100%;
        padding-top: calc(1 / 1 * 100%);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/sites/admissions.uiowa.edu/modules/admissions_core/assets/images/one-person-BLACK.png');
      }
    }
  }
}
