.bg-primary {
  background: $primary;
}
.bg-secondary {
  background: $secondary;
}
/*
.bg-success {
background: $success;
}
.bg-danger {
background: $danger;
}
.bg-warning {
background: $warning;
}
.bg-info {
background: $info;
}
.bg-light {
background: $secondary;
}
*/

