.bg-yellow,
.bg-yellow.has-section-image,
.paragraph .bg-yellow,
.paragraph .bg-yellow.has-section-image {

  &.paragraph--type--carousel-image,
  &.paragraph--type--section,
  &.paragraph--type--blockquote,
  &.paragraph--type--text,
  &.paragraph--type--webform,
  &.paragraph--type--articles,
  &.paragraph--type--accordion,
  &.paragraph--type--events {
    background-color: variables.$primary;

    a.btn-primary {
      @include bttn--secondary;
      border: 1px solid variables.$secondary;
      @include bttn--focus;

      &:after {
        background-color: variables.$primary;
      }

      span {
        color: variables.$white !important;
      }
    }

    a.btn:not(.btn-primary) {
      @include bttn--secondary;
      border: 1px solid variables.$secondary;
      @include bttn--focus;

      &:after {
        background-color: variables.$primary;
      }

      span {
        color: variables.$white !important;
      }
    }

    &.semi-transparent {
      background-color: rgba(255, 205, 0, 0.8) !important;
    }

    a:not(.btn):not(.bttn):not(.button) {
      color: variables.$secondary;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .alert a {
      color: variables.$secondary !important;
    }

    label {
      color: variables.$secondary;
    }

    .uiowa-events {
      .events-card {
        &__image img {
          background-color: variables.$primary;
          border-color: variables.$white;
        }
      }
    }
  }

  &.paragraph--type--carousel-image .carousel-caption {
    color: variables.$secondary;

    blockquote p {
      color: variables.$secondary;
    }
  }

  .paragraph--type--carousel-image:not(.bg-yellow):not(.bg-light):not(.bg-dark):not(.bg-black) {
    a:not(.btn):not(.bttn):not(.button) {
      color: variables.$primary;
    }

    blockquote p {
      color: variables.$white;
    }
  }

  &.paragraph--type--webform,
  .paragraph--type--webform {
    label {
      color: variables.$secondary;
    }

    input[id^='edit-actions-submit'],
    input#edit-actions-submit {
      @include bttn--secondary;
      @include bttn--focus;
      & {
        border: 1px solid variables.$secondary;
        color: variables.$white !important;
      }

      &:after {
        background-color: variables.$primary;
      }
    }
  }

  &.paragraph--type--articles,
  .paragraph--type--articles {
    &.list {
      .views-row {
        background-color: variables.$primary;
        //padding: 0 1.25rem;

        .card {
          background-color: variables.$primary;
        }

        .article-created-date {
          color: variables.$secondary;
        }
      }
    }

    .pager {
      .pager__item {
        &.is-active {
          &>a {
            background-color: variables.$secondary;
            color: variables.$white;

            &:hover {
              background-color: color.scale(#000000, variables.$lightness: 20%);
              color: variables.$white;
              cursor: pointer;
            }
          }
        }

        &>a:hover {
          background-color: color.scale(#000000, variables.$lightness: 20%);
          color: variables.$white;
        }
      }
    }
  }

  &.paragraph--type--featured-content,
  .paragraph--type--featured-content {
    .featured-content-item {
      //padding: .75rem 1.25rem;

      &:first-child {
        //padding-top: 0.75rem;
      }
    }
  }

  &.paragraph--type--events.list .card,
  .paragraph--type--events.list .card {
    @include utilities.breakpoint(md) {
      border-bottom: 1px solid #666;
    }
  }

  .card__author {
    color: variables.$secondary;
  }

  .more-link {
    .btn-primary {
      color: variables.$white;
      background: variables.$secondary;
    }
  }

  &.paragraph--type--events.list .card,
  .paragraph--type--events.list .card {
    @include utilities.breakpoint(md) {
      border-bottom: 1px solid #666;
    }
  }

  &.paragraph--type--articles.list,
  &.paragraph--type--featured-content.list,
  .paragraph--type--articles.list,
  .paragraph--type--featured-content.list {
    .article-created-date {
      color: variables.$secondary;
    }
  }

  &.paragraph--type--articles.list,
  &.paragraph--type--people.list,
  &.paragraph--type--featured-content.list,
  .paragraph--type--articles.list,
  .paragraph--type--people.list,
  .paragraph--type--featured-content.list {

    .card,
    .node--view-mode-teaser {
      @include bg-yellow;
    }

    .views-row {
      @include bg-yellow;

      a {
        color: variables.$secondary;
        text-decoration: underline;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .paragraph--type--events.list {
    .card {
      @include bg-yellow;

      a {
        color: variables.$secondary;
        text-decoration: underline;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.bg-black,
.bg-black.has-section-image,
.paragraph .bg-black,
.paragraph .bg-black.has-section-image {

  &.paragraph--type--carousel-image,
  &.paragraph--type--section,
  &.paragraph--type--blockquote,
  &.paragraph--type--text,
  &.paragraph--type--webform,
  &.paragraph--type--articles,
  &.paragraph--type--accordion,
  &.paragraph--type--events {
    background-color: variables.$secondary;
    color: variables.$white;

    a:not(.btn):not(.bttn):not(.button) {
      color: variables.$primary;
    }

    a.btn-primary {
      @include bttn--primary;
      @include bttn--focus;
      & {
        border: 1px solid variables.$primary;
      }

      &:after {
        background-color: variables.$secondary;
      }

      span {
        color: variables.$secondary !important;
      }
    }

    a.btn:not(.btn-primary) {
      @include bttn--primary;
      border: 1px solid variables.$primary;
      @include bttn--focus;

      &:after {
        background-color: variables.$secondary;
      }

      span {
        color: variables.$secondary !important;
      }
    }

    .alert a {
      color: variables.$secondary !important;
    }

    &.semi-transparent {
      background-color: rgba(21, 21, 21, 0.8) !important;
    }

    label {
      color: variables.$white;
    }

    .uiowa-events {
      .events-card {
        &__image img {
          background-color: variables.$secondary;
          border-color: variables.$primary;
        }

        &__date {
          color: variables.$primary;
        }

        &__description,
        &__title a:not(.btn):not(.bttn):not(.button),
        &__label {
          color: variables.$white;
        }
      }
    }
  }

  &.paragraph--type--carousel-image .carousel-caption {
    color: variables.$white;

    blockquote p {
      color: variables.$white;
    }
  }

  &.paragraph--type--webform,
  .paragraph--type--webform {
    label {
      color: variables.$white;
    }

    input[id^='edit-actions-submit'],
    input#edit-actions-submit {
      @include bttn--primary;
      @include bttn--focus;
      & {
        border: 1px solid variables.$primary;
        color: variables.$secondary !important;
      }


      &:after {
        background-color: variables.$secondary;
      }
    }
  }

  &.paragraph--type--articles,
  .paragraph--type--articles {
    &.list {
      .views-row {
        background-color: variables.$secondary;
        //padding: 0 1.25rem;

        .article-created-date {
          color: variables.$white;
        }

        a {
          color: variables.$primary;
        }

        .card__body {
          color: variables.$white;
        }

        .card {
          background-color: variables.$secondary;
        }
      }
    }

    .pager {
      .pager__item {
        &.is-active {
          &>a {
            color: variables.$white;
            background-color: color.scale(#000000, variables.$lightness: 20%);

            &:hover {
              background-color: color.scale(#000000, variables.$lightness: 10%);
              cursor: pointer;
            }
          }
        }

        &>a:hover {
          background-color: color.scale(#000000, variables.$lightness: 10%);
          color: variables.$white;
        }
      }
    }
  }

  &.paragraph--type--articles.list,
  &.paragraph--type--people.list,
  .paragraph--type--articles.list,
  .paragraph--type--people.list {

    .card,
    .views-row {
      a {
        color: variables.$primary;
      }
    }
  }

  &.paragraph--type--featured-content,
  .paragraph--type--featured-content {
    .featured-content-item {
      //padding: .75rem 1.25rem;

      &:first-child {
        //padding-top: 0.75rem;
      }
    }
  }

  &.paragraph--type--events.list,
  .paragraph--type--events.list {
    .card {
      a {
        color: variables.$primary;
      }
    }
  }

  &.paragraph--type--featured-content.list,
  .paragraph--type--featured-content.list {

    .field a,
    .h5.field,
    h3 a {
      color: variables.$primary;
    }
  }
}

.bg-dark,
.bg-dark.has-section-image,
.paragraph .bg-dark,
.paragraph .bg-dark.has-section-image {

  &.paragraph--type--carousel-image,
  &.paragraph--type--section,
  &.paragraph--type--blockquote,
  &.paragraph--type--text,
  &.paragraph--type--webform,
  &.paragraph--type--articles,
  &.paragraph--type--accordion,
  &.paragraph--type--events {
    background-color: variables.$brand-cool-gray;
    color: variables.$white;

    a:not(.btn):not(.bttn):not(.button) {
      color: variables.$white;
    }

    .card__body {
      a:not(.btn):not(.bttn):not(.button) {
        color: variables.$secondary;
        text-decoration: underline;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .alert a {
      color: variables.$secondary !important;
    }

    &.semi-transparent {
      background-color: rgba(52, 58, 64, 0.8) !important;
    }

    a.btn-primary {
      @include bttn--primary;
      border: 1px solid variables.$primary;
      @include bttn--focus;

      &:after {
        background-color: variables.$secondary;
      }

      span {
        color: variables.$secondary !important;
      }
    }

    a.btn:not(.btn-primary) {
      @include bttn--secondary;
      border: 1px solid variables.$secondary;
      @include bttn--focus;

      span {
        color: variables.$white !important;
      }
    }

    label {
      color: variables.$white;
    }

    .uiowa-events {
      .events-card {
        &__image img {
          background-color: variables.$brand-cool-gray;
          border-color: variables.$white;
        }

        &__date {
          color: variables.$white;
        }

        &__description,
        &__title a:not(.btn):not(.bttn):not(.button),
        &__label {
          color: variables.$white;
        }
      }
    }
  }

  &.paragraph--type--carousel-image .carousel-caption {
    color: variables.$white;

    blockquote p {
      color: variables.$white;
    }
  }

  &.paragraph--type--webform,
  .paragraph--type--webform {
    label {
      color: variables.$white;
    }

    input[id^='edit-actions-submit'],
    input#edit-actions-submit {
      @include bttn--primary;
      @include bttn--focus;
      & {
        border: 1px solid variables.$primary;
        color: variables.$secondary !important;
      }

      &:after {
        background-color: variables.$secondary;
      }
    }
  }

  &.paragraph--type--articles,
  .paragraph--type--articles {
    &.list {
      .views-row {
        //padding: 0 1.25rem;

        .article-created-date {
          color: variables.$white;
        }

        a {
          color: variables.$primary;
        }

        .card__body {
          color: variables.$white;
        }

        .card {
          background-color: variables.$brand-cool-gray;
        }
      }
    }

    .pager {
      .pager__item {
        &.is-active {
          &>a {
            color: variables.$white;
            background-color: color.scale(#000000, variables.$lightness: 20%);

            &:hover {
              background-color: color.scale(#000000, variables.$lightness: 10%);
              cursor: pointer;
            }
          }
        }

        &>a:hover {
          background-color: color.scale(#000000, variables.$lightness: 10%);
          color: variables.$white;
        }
      }
    }
  }

  &.paragraph--type--articles.list,
  &.paragraph--type--people.list,
  .paragraph--type--articles.list,
  .paragraph--type--people.list {

    .card,
    .views-row {
      a {
        color: variables.$white;
      }
    }
  }

  &.paragraph--type--featured-content,
  .paragraph--type--featured-content {
    .featured-content-item {
      //padding: .75rem 1.25rem;

      &:first-child {
        //padding-top: 0.75rem;
      }
    }
  }

  &.paragraph--type--events.list,
  .paragraph--type--events.list {
    .card {
      a {
        color: variables.$white;
      }
    }
  }

  &.paragraph--type--featured-content.list,
  .paragraph--type--featured-content.list {

    .field a,
    h3 a {
      color: variables.$white;
    }
  }
}

.bg-light,
.bg-light.has-section-image,
.paragraph .bg-light,
.paragraph .bg-light.has-section-image {

  &.paragraph--type--carousel-image,
  &.paragraph--type--section,
  &.paragraph--type--blockquote,
  &.paragraph--type--text,
  &.paragraph--type--webform,
  &.paragraph--type--articles,
  &.paragraph--type--accordion,
  &.paragraph--type--events {
    background-color: variables.$light;

    a:not(.btn):not(.bttn):not(.button) {
      color: variables.$secondary;
    }

    &.semi-transparent {
      background-color: rgba(248, 249, 250, 0.8) !important;
    }

    a.btn-primary {
      @include bttn--primary;
      border: 1px solid variables.$primary;
      @include bttn--focus;

      &:after {
        background-color: variables.$secondary;
      }

      span {
        color: variables.$secondary !important;
      }
    }

    a.btn:not(.btn-primary) {
      @include bttn--secondary;
      border: 1px solid variables.$secondary;
      @include bttn--focus;

      span {
        color: variables.$white !important;
      }
    }

    label {
      color: variables.$secondary;
    }

    .uiowa-events {
      .events-card {
        &__image img {
          background-color: variables.$light;
          border-color: variables.$secondary;
        }
      }
    }
  }

  &.paragraph--type--carousel-image .carousel-caption {
    color: variables.$secondary;

    blockquote p {
      color: variables.$secondary;
    }
  }

  .paragraph--type--carousel-image:not(.bg-yellow):not(.bg-light):not(.bg-dark):not(.bg-black) .carousel-caption a:not(.btn):not(.bttn):not(.button) {
    color: variables.$primary;
  }

  &.paragraph--type--webform,
  .paragraph--type--webform {
    label {
      color: variables.$secondary;
    }

    input[id^='edit-actions-submit'],
    input#edit-actions-submit {
      @include bttn--primary;
      @include bttn--focus;

      & {
        border: 1px solid variables.$primary;
        color: variables.$secondary !important;
      }

      &:after {
        background-color: variables.$secondary;
      }
    }
  }

  &.paragraph--type--articles,
  .paragraph--type--articles {
    &.list {
      .views-row {
        background-color: variables.$light;
        //padding: 0 1.25rem;

        .card {
          background-color: variables.$light;
        }
      }
    }

    .pager {
      .pager__item {
        &.is-active {
          &>a {
            background-color: color.scale(variables.$light, variables.$lightness: -20%);
            color: variables.$secondary;

            &:hover {
              background-color: color.scale(variables.$light, variables.$lightness: -40%);
              cursor: pointer;
            }
          }
        }

        &>a:hover {
          background-color: color.scale(variables.$light, variables.$lightness: -40%);
        }
      }
    }
  }

  &.paragraph--type--featured-content,
  .paragraph--type--featured-content {
    .featured-content-item {
      //padding: .75rem 1.25rem;

      &:first-child {
        //padding-top: 0.75rem;
      }
    }
  }

  &.paragraph--type--articles.list,
  &.paragraph--type--people.list,
  .paragraph--type--articles.list,
  .paragraph--type--people.list {

    .views-row,
    .card {
      @include bg-light;
    }
  }

  &.paragraph--type--events.list,
  .paragraph--type--events.list {
    .card {
      @include bg-light;
    }
  }

  &.paragraph--type--featured-content,
  .paragraph--type--featured-content {

    .featured-content-item,
    .node--view-mode-teaser,
    .card {
      @include bg-light;
    }
  }
}



.paragraph.bg-dark,
.paragraph.bg-black {
  .card__body {
    a:not(.btn):not(.bttn):not(.button) {
      color: variables.$secondary;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .list {
    .card__body {
      .card__title a {
        color: variables.$white !important;
      }
    }
  }

  .paragraph--type--articles.list {
    .views-row {
      border-bottom: 1px solid #ffffff21;
    }
  }
  .paragraph--type--articles.list,
  .paragraph--type--people.list {

    .field--name-body,
    .article-created-date,
    .field__item,
    .field__label {
      color: variables.$white;
    }

    .card__body .article--meta a {
      color: variables.$white;
    }

    .views-row {

      &:first-child {
        border-top: none;
      }
    }

    .card,
    .views-row {
      background-color: transparent !important;
      @include text-light;
    }
  }

  .paragraph--type--events.list,
  .paragraph--type--people.list {

    .card__author,
    p {
      color: variables.$white;
    }

    .card {
      background-color: transparent !important;
      @include text-light;
      //border-bottom: 1px solid #ffffff21;
    }
  }

  .paragraph--type--events.list {
    .event-location {
      color: variables.$white;
    }
  }

  .paragraph--type--featured-content.list {

    .article-created-date,
    .card__author,
    .field {
      color: variables.$white;
    }


    .card,
    .featured-content-item,
    .node--view-mode-teaser.media {
      background-color: transparent !important;
      @include text-light;
    }
  }
}

.bg-dark.paragraph.paragraph--type--section .paragraph--type--featured-content.list .field a,
.bg-black.paragraph.paragraph--type--section .paragraph--type--featured-content.list .field a,
.paragraph.bg-dark .paragraph--type--people.list .card .field a,
.paragraph.bg-black .paragraph--type--people.list .card .field a {
  color: inherit;
}

.bg-black.paragraph.paragraph--type--section .paragraph--type--people.masonry .card,
.bg-dark.paragraph.paragraph--type--section .paragraph--type--people.masonry .card,
.bg-black.paragraph.paragraph--type--section .paragraph--type--people.grid .card,
.bg-dark.paragraph.paragraph--type--section .paragraph--type--people.grid .card {
  color: variables.$secondary;
}

.bg-black.paragraph.paragraph--type--section .paragraph--type--featured-content.grid .node--view-mode-teaser.media,
.bg-dark.paragraph.paragraph--type--section .paragraph--type--featured-content.grid .node--view-mode-teaser.media,
.bg-yellow.paragraph.paragraph--type--section .paragraph--type--featured-content.grid .node--view-mode-teaser.media,
.bg-black.paragraph.paragraph--type--section .paragraph--type--featured-content.masonry .node--view-mode-teaser.media,
.bg-dark.paragraph.paragraph--type--section .paragraph--type--featured-content.masonry .node--view-mode-teaser.media,
.bg-yellow.paragraph.paragraph--type--section .paragraph--type--featured-content.masonry .node--view-mode-teaser.media {
  background: #fff;

  a {
    color: variables.$secondary;
  }
}

.paragraph.paragraph--type--section .paragraph--type--featured-content .node--view-mode-teaser.media {
  a {
    color: variables.$secondary;
  }
}

.bg-black.paragraph--type--section .paragraph--type--events a.btn-primary {
  color: variables.$secondary;
}

.bg-yellow.paragraph.paragraph--type--section .pager__item.is-active a,
.bg-light.paragraph.paragraph--type--section .pager__item.is-active a {
  color: #fff;

  &:hover {
    background: variables.$secondary;
  }
}
