.bg-yellow,
.bg-yellow.has-section-image {
    &.paragraph--type--section,
    &.paragraph--type--blockquote,
    &.paragraph--type--text,
    &.paragraph--type--webform,
    &.paragraph--type--articles,
    &.paragraph--type--accordion,
    &.paragraph--type--events {
        background-color: $primary;

        a.btn-primary {
            @extend %bttn--secondary;
            border: 1px solid $secondary;
            @extend %bttn--focus;
                
            &:after {
                background-color: $primary;
            }
        }

        a.btn:not(.btn-primary) {
            @extend %bttn--secondary;
            border: 1px solid $secondary;
            @extend %bttn--focus;
                
            &:after {
                background-color: $primary;
            }
        }

        &.semi-transparent {
            background-color: rgba(255, 205, 0, 0.8) !important;
        }

        a:not(.btn):not(.bttn):not(.button) {
            color: $secondary;
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        .alert a {
            color: $secondary !important;
        }

    }

    &.paragraph--type--articles {
        &.list {
            .views-row {
                background-color: $primary;
                padding: 0 1.25rem;

                .card {
                    background-color: $primary;
                }

                .article-created-date {
                    color: $secondary;
                }
            }
        }

        .pager {
            .pager__item {
                &.is-active {
                    &>a {
                        background-color: $secondary;
                        color: $white;

                        &:hover {
                            background-color: lighten($secondary, 20%);
                            color: $white;
                            cursor: pointer;
                        }
                    }  
                }

                &>a:hover {
                    background-color: lighten($secondary, 20%);
                    color: $white;
                }
            }
        }   
    }

    &.paragraph--type--featured-content {
        .featured-content-item {
            padding: .75rem 1.25rem;

            &:first-child {
                padding-top: 0.75rem;
            }
        }
    }

    &.paragraph--type--events.list .card {
        @include breakpoint(menu) {
            border-bottom: 1px solid #666;
        }
    }

    .card__author {
        color: $secondary;
    }

    .more-link {
        .btn-primary {
            color: #fff;
            background: $secondary;
        }
    }

    &.paragraph--type--events.list .card {
        @include breakpoint(menu) {
            border-bottom: 1px solid #666;
        }
    }

    &.paragraph--type--articles.list,
    &.paragraph--type--featured-content.list {
        .article-created-date {
            color: $secondary;
        }
    }

    &.paragraph--type--articles.list,
    &.paragraph--type--people.list,
    &.paragraph--type--featured-content.list {

        .card,
        .node--view-mode-teaser {
            @include bg-yellow;
        }

        .views-row {
            @include bg-yellow;

            a {
                color: $secondary;
                text-decoration: underline;

                &:hover,
                &:focus {
                text-decoration: none;
                }
            }
        }
    }

    .paragraph--type--events.list {
        .card {
            @include bg-yellow;

            a {
                color: $secondary;
                text-decoration: underline;

                &:hover,
                &:focus {
                text-decoration: none;
                }
            }
        }
    }
}

.bg-black,
.bg-black.has-section-image  {
    &.paragraph--type--section,
    &.paragraph--type--blockquote,
    &.paragraph--type--text,
    &.paragraph--type--webform,
    &.paragraph--type--articles,
    &.paragraph--type--accordion,
    &.paragraph--type--events {
        background-color: $secondary;
        color: $white;

        a:not(.btn):not(.bttn):not(.button) {
            color: $primary;
        }

        a.btn-primary {
            @extend %bttn--primary;
            border: 1px solid $primary;
            @extend %bttn--focus;
                
            &:after {
                background-color: $secondary;
            }
        }

        a.btn:not(.btn-primary) {
            @extend %bttn--primary;
            border: 1px solid $primary;
            @extend %bttn--focus;
                
            &:after {
                background-color: $secondary;
            }
        }

        .alert a {
            color: $secondary !important;
        }

        &.semi-transparent {
            background-color: rgba(21, 21, 21, 0.8) !important;
        }
    }

    &.paragraph--type--articles {
        &.list {
            .views-row {
                background-color: $secondary;
                padding: 0 1.25rem;

                .article-created-date {
                    color: $white;
                }

                a {
                    color: $primary;
                }

                .card__body {
                    color: $white;
                }

                .card {
                    background-color: $secondary;
                }
            }
        }

        .pager {
            .pager__item {
                &.is-active {
                    &>a {
                        color: $white;
                        background-color: lighten($secondary, 20%);

                        &:hover {
                            background-color: lighten($secondary, 10%);
                            cursor: pointer;
                        }
                    }
                }

                &>a:hover {
                    background-color: lighten($secondary, 10%);
                    color: $white;
                }
            }
        }         
    }

    &.paragraph--type--articles.list,
    &.paragraph--type--people.list {

        .card,
        .views-row {
            a {
                color: $primary;
            }
        }
    }

    &.paragraph--type--featured-content {
        .featured-content-item {
            padding: .75rem 1.25rem;

            &:first-child {
                padding-top: 0.75rem;
            }
        }
    }

    &.paragraph--type--events.list {
        .card {
            a {
                color: $primary;
            }
        }
    }

    &.paragraph--type--featured-content.list {

        .field a,
        .h5.field,
        h3 a {
            color: $primary;
        }
    }
}

.bg-dark,
.bg-dark.has-section-image {
    &.paragraph--type--section,
    &.paragraph--type--blockquote,
    &.paragraph--type--text,
    &.paragraph--type--webform,
    &.paragraph--type--articles,
    &.paragraph--type--accordion,
    &.paragraph--type--events {
        background-color: $brand-cool-gray;
        color: $white;

        a:not(.btn):not(.bttn):not(.button) {
            color: $primary;
        }

        .alert a {
            color: $secondary !important;
        }

        &.semi-transparent {
            background-color: rgba(52, 58, 64, 0.8) !important;
        }

        a.btn-primary {
            @extend %bttn--primary;
            border: 1px solid $primary;
            @extend %bttn--focus;
                
            &:after {
                background-color: $secondary;
            }
        }

        a.btn:not(.btn-primary) {
            @extend %bttn--secondary;
            border: 1px solid $secondary;
            @extend %bttn--focus;
        }
    }

    &.paragraph--type--articles {
        &.list {
            .views-row {
                padding: 0 1.25rem;

                .article-created-date {
                    color: $white;
                }

                a {
                    color: $primary;
                }

                .card__body {
                    color: $white;
                }

                .card {
                    background-color: $brand-cool-gray;
                }
            }
        }

        .pager {
            .pager__item {
                &.is-active {
                    &>a {
                        color: $white;
                        background-color: lighten($secondary, 20%);

                        &:hover {
                            background-color: lighten($secondary, 10%);
                            cursor: pointer;
                        }
                    } 
                }

                &>a:hover {
                    background-color: lighten($secondary, 10%);
                    color: $white;
                }
            }
        }         
    }

    &.paragraph--type--articles.list,
    &.paragraph--type--people.list {

        .card,
        .views-row
        {
            a {
                color: #fff;
            }
        }
    }

    &.paragraph--type--featured-content {
        .featured-content-item {
            padding: .75rem 1.25rem;

            &:first-child {
                padding-top: 0.75rem;
            }
        }
    }

    &.paragraph--type--events.list {
        .card {
            a {
                color: #fff;
            }
        }
    }

    &.paragraph--type--featured-content.list {

        .field a,
        h3 a {
            color: #fff;
        }
    }
}

.bg-light,
.bg-light.has-section-image {
    &.paragraph--type--section,
    &.paragraph--type--blockquote,
    &.paragraph--type--text,
    &.paragraph--type--webform,
    &.paragraph--type--articles,
    &.paragraph--type--accordion,
    &.paragraph--type--events {
        background-color: $light;

        &.semi-transparent {
            background-color: rgba(248, 249, 250, 0.8) !important;
        }

        a.btn-primary {
            @extend %bttn--primary;
            border: 1px solid $primary;
            @extend %bttn--focus;
                
            &:after {
                background-color: $secondary;
            }
        }

        a.btn:not(.btn-primary) {
            @extend %bttn--secondary;
            border: 1px solid $secondary;
            @extend %bttn--focus;
        }
    }

    &.paragraph--type--articles {
        &.list {
            .views-row {
                background-color: $light;
                padding: 0 1.25rem;

                .card {
                    background-color: $light;
                }
            }
        }

        .pager {
            .pager__item {
                &.is-active {
                    &>a {
                        background-color: darken($light, 20%);
                        color: $secondary;

                        &:hover {
                            background-color: darken($light, 40%);
                            cursor: pointer;
                        }
                    }  
                }

                &>a:hover {
                    background-color: darken($light, 40%);
                }
            }
        }         
    }

    &.paragraph--type--featured-content {
        .featured-content-item {
            padding: .75rem 1.25rem;

            &:first-child {
                padding-top: 0.75rem;
            }
        }
    }

    &.paragraph--type--articles.list,
    &.paragraph--type--people.list {

        .views-row,
        .card {
            @include bg-light;
        }
    }

    &.paragraph--type--events.list {
        .card {
            @include bg-light;
        }
    }

    &.paragraph--type--featured-content {

        .featured-content-item,
        .node--view-mode-teaser,
        .card {
            @include bg-light;
        }
    }
}



.paragraph.bg-dark,
.paragraph.bg-black {
    .paragraph--type--articles.list,
    .paragraph--type--people.list {

        .field--name-field-teaser,
        .article-created-date,
        .field__item,
        .field__label {
            color: #fff;
        }

        .views-row {
            border-bottom: 1px solid #ffffff21;

            &:first-child {
                border-top: 1px solid #ffffff21;
            }
        }

        .card,
        .views-row {
            background-color: transparent !important;
            @include text-light;
        }
    }

    .paragraph--type--events.list,
    .paragraph--type--people.list {

        .card__author,
        p {
            color: #fff;
        }

        .card {
            background-color: transparent !important;
            @include text-light;
        }
    }

    .paragraph--type--featured-content.list {

        .article-created-date,
        .card__author,
        .field {
            color: #fff;
        }


        .card,
        .featured-content-item,
        .node--view-mode-teaser.media {
            background-color: transparent !important;
            @include text-light;
        }
    }
}


// .paragraph.has-section-image,
// .paragraph {

//     &.bg-dark {
//         .paragraph--type--blockquote,
//         .paragraph--type--text,
//         .paragraph--type--webform,
//         .paragraph--type--articles,
//         .paragraph--type--accordion,
//         .paragraph--type--events {
//             background-color: $brand-cool-gray;
//             color: $white;

//             a:not(.btn):not(.bttn):not(.button) {
//                 color: $primary;
//             }

//             .alert a {
//                 color: $secondary !important;
//             }

//             &.semi-transparent {
//                 background-color: rgba(52, 58, 64, 0.8) !important;
//             }
//         }

//         .paragraph--type--articles {
//             &.list {
//                 .views-row {
//                     padding: 0 1.25rem;

//                     .article-created-date {
//                         color: $white;
//                     }

//                     a {
//                         color: $primary;
//                     }

//                     .card__body {
//                         color: $white;
//                     }

//                     .card {
//                         background-color: $brand-cool-gray;
//                     }
//                 }
//             }

//             .pager {
//                 .pager__item {
//                     &.is-active {
//                         &>a {
//                             color: $white;
//                             background-color: lighten($secondary, 20%);

//                             &:hover {
//                                 background-color: lighten($secondary, 10%);
//                                 cursor: pointer;
//                             }
//                         } 
//                     }

//                     &>a:hover {
//                         background-color: lighten($secondary, 10%);
//                         color: $white;
//                     }
//                 }
//             }         
//         }

//         .paragraph--type--articles.list,
//         .paragraph--type--people.list {

//             .card,
//             .views-row
//             {
//                 a {
//                     color: #fff;
//                 }
//             }
//         }

//         .paragraph--type--featured-content {
//             .featured-content-item {
//                 padding: .75rem 1.25rem;

//                 &:first-child {
//                     padding-top: 0.75rem;
//                 }
//             }
//         }

//         .paragraph--type--events.list {
//             .card {
//                 a {
//                     color: #fff;
//                 }
//             }
//         }

//         .paragraph--type--featured-content.list {

//             .field a,
//             h3 a {
//                color: #fff;
//             }
//         }
//     }

//     &.bg-black {
//         &.paragraph--type--blockquote,
//         &.paragraph--type--text,
//         &.paragraph--type--webform,
//         &.paragraph--type--articles,
//         &.paragraph--type--accordion,
//         &.paragraph--type--events,
//         .paragraph--type--blockquote,
//         .paragraph--type--text,
//         .paragraph--type--webform,
//         .paragraph--type--articles,
//         .paragraph--type--accordion,
//         .paragraph--type--events {
//             background-color: $secondary;
//             color: $white;

//             a:not(.btn):not(.bttn):not(.button) {
//                 color: $primary;
//             }

//             .alert a {
//                 color: $secondary !important;
//             }

//             &.semi-transparent {
//                 background-color: rgba(21, 21, 21, 0.8) !important;
//             }
//         }

//         .paragraph--type--articles {
//             &.list {
//                 .views-row {
//                     background-color: $secondary;
//                     padding: 0 1.25rem;

//                     .article-created-date {
//                         color: $white;
//                     }

//                     a {
//                         color: $primary;
//                     }

//                     .card__body {
//                         color: $white;
//                     }

//                     .card {
//                         background-color: $secondary;
//                     }
//                 }
//             }

//             .pager {
//                 .pager__item {
//                     &.is-active {
//                         &>a {
//                             color: $white;
//                             background-color: lighten($secondary, 20%);

//                             &:hover {
//                                 background-color: lighten($secondary, 10%);
//                                 cursor: pointer;
//                             }
//                         }
//                     }

//                     &>a:hover {
//                         background-color: lighten($secondary, 10%);
//                         color: $white;
//                     }
//                 }
//             }         
//         }

//         .paragraph--type--articles.list,
//         .paragraph--type--people.list {

//             .card,
//             .views-row {
//                 a {
//                     color: $primary;
//                 }
//             }
//         }

//         .paragraph--type--featured-content {
//             .featured-content-item {
//                 padding: .75rem 1.25rem;

//                 &:first-child {
//                     padding-top: 0.75rem;
//                 }
//             }
//         }

//         .paragraph--type--events.list {
//             .card {
//                 a {
//                     color: $primary;
//                 }
//             }
//         }

//         .paragraph--type--featured-content.list {

//             .field a,
//             .h5.field,
//             h3 a {
//                 color: $primary;
//             }
//         }
//     }

//     &.bg-light {
//         .paragraph--type--blockquote,
//         .paragraph--type--text,
//         .paragraph--type--webform,
//         .paragraph--type--articles,
//         .paragraph--type--accordion,
//         .paragraph--type--events {
//             background-color: $light;

//             &.semi-transparent {
//                 background-color: rgba(248, 249, 250, 0.8) !important;
//             }

//         }

//         .paragraph--type--articles {
//             &.list {
//                 .views-row {
//                     background-color: $light;
//                     padding: 0 1.25rem;

//                     .card {
//                         background-color: $light;
//                     }
//                 }
//             }

//             .pager {
//                 .pager__item {
//                     &.is-active {
//                         &>a {
//                             background-color: darken($light, 20%);
//                             color: $secondary;

//                             &:hover {
//                                 background-color: darken($light, 40%);
//                                 cursor: pointer;
//                             }
//                         }  
//                     }

//                     &>a:hover {
//                         background-color: darken($light, 40%);
//                     }
//                 }
//             }         
//         }

//         .paragraph--type--featured-content {
//             .featured-content-item {
//                 padding: .75rem 1.25rem;

//                 &:first-child {
//                     padding-top: 0.75rem;
//                 }
//             }
//         }

//         .paragraph--type--articles.list,
//         .paragraph--type--people.list {

//             .views-row,
//             .card {
//                 @include bg-light;
//             }
//         }

//         .paragraph--type--events.list {
//             .card {
//                 @include bg-light;
//             }
//         }

//         .paragraph--type--featured-content {

//             .featured-content-item,
//             .node--view-mode-teaser,
//             .card {
//                 @include bg-light;
//             }
//         }
//     }

//     &.bg-yellow {
//         .paragraph--type--blockquote,
//         .paragraph--type--text,
//         .paragraph--type--webform,
//         .paragraph--type--articles,
//         .paragraph--type--accordion,
//         .paragraph--type--events {
//             background-color: $primary;

//             a.btn {
//                 @extend %bttn--secondary;
//                 border: 1px solid $secondary;
//                 @extend %bttn--focus;
//             }

//             &.semi-transparent {
//                 background-color: rgba(255, 205, 0, 0.8) !important;
//             }

//             a:not(.btn):not(.bttn):not(.button) {
//                 color: $secondary;
//                 text-decoration: underline;

//                 &:hover,
//                 &:focus {
//                     text-decoration: none;
//                 }
//             }

//             .alert a {
//                 color: $secondary !important;
//             }

//         }

//         .paragraph--type--articles {
//             &.list {
//                 .views-row {
//                     background-color: $primary;
//                     padding: 0 1.25rem;

//                     .card {
//                         background-color: $primary;
//                     }

//                     .article-created-date {
//                         color: $secondary;
//                     }
//                 }
//             }

//             .pager {
//                 .pager__item {
//                     &.is-active {
//                         &>a {
//                             background-color: $secondary;
//                             color: $white;

//                             &:hover {
//                                 background-color: lighten($secondary, 20%);
//                                 color: $white;
//                                 cursor: pointer;
//                             }
//                         }  
//                     }

//                     &>a:hover {
//                         background-color: lighten($secondary, 20%);
//                         color: $white;
//                     }
//                 }
//             }   
//         }

//         .paragraph--type--featured-content {
//             .featured-content-item {
//                 padding: .75rem 1.25rem;

//                 &:first-child {
//                     padding-top: 0.75rem;
//                 }
//             }
//         }

//         .paragraph--type--events.list .card {
//             @include breakpoint(menu) {
//                 border-bottom: 1px solid #666;
//             }
//         }

//         .card__author {
//             color: $secondary;
//         }

//         .more-link {
//             .btn-primary {
//                 color: #fff;
//                 background: $secondary;
//             }
//         }

//         .paragraph--type--events.list .card {
//             @include breakpoint(menu) {
//                 border-bottom: 1px solid #666;
//             }
//         }

//         .card__author {
//             color: $secondary;
//         }

//         .more-link {
//             .btn-primary {
//                 color: #fff;
//                 background: $secondary;
//             }
//         }

//         .paragraph--type--articles.list,
//         .paragraph--type--featured-content.list {
//             .article-created-date {
//                 color: $secondary;
//             }
//         }

//         .paragraph--type--articles.list,
//         .paragraph--type--people.list,
//         .paragraph--type--featured-content.list {

//             .card,
//             .node--view-mode-teaser {
//                 @include bg-yellow;
//             }

//             .views-row {
//                 @include bg-yellow;

//                 a {
//                     color: $secondary;
//                     text-decoration: underline;

//                     &:hover,
//                     &:focus {
//                     text-decoration: none;
//                     }
//                 }
//             }
//         }

//         .paragraph--type--events.list {
//             .card {
//                 @include bg-yellow;

//                 a {
//                     color: $secondary;
//                     text-decoration: underline;

//                     &:hover,
//                     &:focus {
//                     text-decoration: none;
//                     }
//                 }
//             }
//         }
//     }

//     &.bg-dark,
//     &.bg-black {
//         .paragraph--type--articles.list,
//         .paragraph--type--people.list {

//             .field--name-field-teaser,
//             .article-created-date,
//             .field__item,
//             .field__label {
//                 color: #fff;
//             }

//             .views-row {
//                 border-bottom: 1px solid #ffffff21;

//                 &:first-child {
//                     border-top: 1px solid #ffffff21;
//                 }
//             }

//             .card,
//             .views-row {
//                 background-color: transparent !important;
//                 @include text-light;
//             }
//         }

//         .paragraph--type--events.list,
//         .paragraph--type--people.list {

//             .card__author,
//             p {
//                 color: #fff;
//             }

//             .card {
//                 background-color: transparent !important;
//                 @include text-light;
//             }
//         }

//         .paragraph--type--featured-content.list {

//             .article-created-date,
//             .card__author,
//             .field {
//                 color: #fff;
//             }


//             .card,
//             .featured-content-item,
//             .node--view-mode-teaser.media {
//                 background-color: transparent !important;
//                 @include text-light;
//             }
//         }
//     }
// }