@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.paragraph--type--featured-content {
  .field--name-title {
    display: inline-block;
  }

  .more-link {
    margin-top: 2rem;
  }
}

.paragraph--type--featured-content.list {
  .field--name-field-featured-content {
    @include list-group;
    @include list-group-flush;
  }

  .featured-content-item {
    @include list-group-item;
  }

  .field--name-field-featured-content:first-child .featured-content-item:first-child {
    border-top: 1px solid $light;
  }

  .field--name-field-featured-content:last-child .featured-content-item:last-child {
    border-bottom: 1px solid $light;
  }

  article.node--view-mode-teaser,
  div[role=article].node--view-mode-teaser {
    display: flex;
  }

  .node__content {
    @include media-body;
  }
}

/*
.paragraph--type--featured-content.grid {
  .field--name-field-featured-content {
    @include row;
  }

  .featured-content-item {
    @include col-sm-6;
    @include col-md-4;
    //@include col-base;
  }

  article.node--view-mode-teaser,
  div[role=article].node--view-mode-teaser {
    //@include card;
    margin-bottom: ($desktop-width-gutter / 2);
    //flex-direction: column-reverse;

    figure img {
      @include card-img-top;
      max-width: 100%;
      margin: 0;
    }

    .node__content {
      @include card-body;
      width: 100%;
    }

    .node__content .field--name-title {
      @include card-title;
    }
  }
}

.paragraph--type--featured-content.masonry {
  .field--name-field-featured-content {
    @include card-columns;
  }

  .featured-content-item {
    @include card;
  }

  article.node--view-mode-teaser,
  div[role=article].node--view-mode-teaser {
    display: flex;
    flex-direction: column-reverse;

    figure img {
      @include card-img-top;
      max-width: 100%;
      margin: 0;
    }

    .node__content {
      @include card-body;
      width: 100%;
    }

    .node__content .field--name-title {
      @include card-title;
    }
  }
}
*/
.paragraph--type--featured-content.hide-images {
  figure img {
    display: none;
  }
}

.paragraph--type--featured-content.hide-descriptions {
  .field--name-field-teaser {
    display: none;
  }
}

.paragraph--type--section.bg-dark {
  .paragraph--type--featured-content.list {
    .views-row {
      @include bg-dark;
      @include text-light;

      a {
        color: $primary;
      }
    }
  }
}

.paragraph--type--section.bg-light {
  .paragraph--type--featured-content.list {
    .views-row {
      @include bg-light;
    }
  }
}

.paragraph--type--section.bg-yellow {
  .paragraph--type--featured-content.list {
    .views-row {
      @include bg-yellow;

      a {
        color: $secondary;
        text-decoration: underline;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
