@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.paragraph--type--articles,
.paragraph--type--events,
.paragraph--type--people {

  .field--name-title {
    display: block;
    @include h5;
  }

  .more-link {
    margin-bottom: $gutter;
  }
}

.paragraph--type--events {
  .more-link {
    margin-top: $gutter;
  }
}

.paragraph--type--articles,
.paragraph--type--events,
.paragraph--type--people,
.paragraph--type--featured-content {

  &.hide-images .card__media,
  &.hide-images .content-image {
    display: none;
  }
}



// Shared Articles and Events Lists
.paragraph--type--articles.list,
.paragraph--type--events.list,
.paragraph--type--people.list,
.view-display-id-page_articles,
.view-id-people {

  .card__media {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
      margin-bottom: $gutter;
    }
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  .node--type-article,
  .card--list {
    display: flex;
    flex-direction: row-reverse;
  }
}

// Featured content list
.paragraph--type--featured-content.list {
  .field--name-field-featured-content {
    @include list-group;
    @include list-group-flush;
  }

  .featured-content-item {
    // @include list-group-item;
  }

  .card__media,
  .content-image {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
    }
  }
}

.paragraph--type--featured-content {
  @include breakpoint(sm) {
    margin-top: $lg;
  }

  figure {
    margin: 0;

    img {
      margin-bottom: 0;
    }
  }

  .media-body h3 {
    @include card-header;
  }

  .node--view-mode-teaser.media {
    @include card;
  }

  .field--name-field-teaser {
    @include card-paragraph;
    margin-top: $gutter;
  }

  .media-body {
    @include card-body;
  }


  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  /*
  .node--view-mode-teaser.media {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    @include breakpoint(sm) {
      flex-direction: inherit;
    }
  }
*/
  .node--type-article,
  .card--list {
    display: flex;
    flex-direction: row-reverse;
  }
}

.paragraph--type--featured-content.grid,
.paragraph--type--featured-content.masonry {
  .media-body {
    padding: 2rem;
  }
}

// Articles List
.paragraph--type--articles.list,
.paragraph--type--people.list,
.view-display-id-page_articles {
  .view-content {
    @include list-group;
    @include list-group-flush;
    margin-top: $gutter;
  }

  .views-row {
    @include list-group-item;

    &:last-child {
      border-bottom: none;
    }
  }

  .node__content {
    @include media-body;
  }
}

// Events List
.paragraph--type--events.list {
  .card {
    @include breakpoint(sm) {
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// People Table
.view-id-people {

  table td,
  table th {
    padding: 0;
  }

  .field--name-field-teaser {
    @include card-paragraph;
    margin-top: $gutter;
  }

  tr {
    @include breakpoint(sm) {
      border-bottom: 1px solid #ccc;
    }

  }

  .card__media {
    margin-bottom: $gutter;
  }
}

// Feature Content Grid

.paragraph--type--featured-content.grid {
  .field--name-field-featured-content {
    margin-top: $gutter;

    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .featured-content-item {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 calc(50% - 1.5rem);
      max-width: calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      /* .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 46.8%;
        max-width: 46.8%;
      }
*/
      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 calc(34.5% - 3rem);
      max-width: calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
        max-width: calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(35% - 3rem);
        max-width: calc(35% - 3rem);
      }

      &:nth-child(2n+1) {
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin: 0 $desktop-width-gutter $desktop-width-gutter $desktop-width-gutter;
      }
    }

    display: flex;
  }

  .card,
  .node--view-mode-teaser.media {
    @include card-enclosed;
    display: block;
  }
}

.paragraph--type--featured-content.list .node--type-page.node--view-mode-teaser.media {
  display: flex;

  @include breakpoint(sm) {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
}



// Articles Grid
.paragraph--type--articles.grid,
.paragraph--type--people.grid {
  .view-content {
    margin-top: $gutter;

    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .views-row {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 calc(50% - 1.5rem);
      max-width: 0 0 calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      /*
      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 46.8%;
        max-width: 46.8%;
      }
*/
      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 calc(34.5% - 3rem);
      max-width: calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
        max-width: calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(35% - 3rem);
        max-width: calc(35% - 3rem);
      }


      &:nth-child(2n+1) {
        margin-right: $gutter;
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin-left: 0;
        margin: 0 $desktop-width-gutter $desktop-width-gutter $desktop-width-gutter;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
  }
}

// Events Grid
.paragraph--type--events.grid {
  .uiowa-events {
    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 calc(50% - 1.5rem);
      max-width: calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      /*
      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 46.8%;
        max-width: 46.8%;
      }
*/
      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 calc(34.5% - 3rem);
      max-width: calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
        max-width: calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(35% - 3rem);
        max-width: calc(35% - 3rem);
      }


      &:nth-child(2n+1) {
        margin-right: $gutter;
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin-left: 0;
        margin: 0 $desktop-width-gutter $desktop-width-gutter $desktop-width-gutter;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
  }
}


// Masonry Featured Content
.paragraph--type--featured-content.masonry {
  .field--name-field-featured-content {
    margin-top: $gutter;

    //@include card-columns;
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .featured-content-item {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }

  .node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}


// Masonry Articles
.paragraph--type--articles.masonry,
.paragraph--type--people.masonry {
  .view-content {
    margin-top: $gutter;

    //@include card-columns;
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .views-row {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }

  .node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content {
    @include card-body;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}

// Masonry Events
.paragraph--type--events.masonry {
  .uiowa-events {
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .card {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }
}

// Hide Images

.paragraph--type--articles.hide-images {
  figure img {
    display: none;
  }
}

// Hide Descriptions
.paragraph--type--articles.hide-descriptions,
.paragraph--type--people.hide-descriptions,
.paragraph--type--featured-content.hide-descriptions {
  .field--name-field-teaser {
    display: none;
  }
}

.paragraph--type--events.hide-descriptions {
  p {
    display: none;
  }
}


// everything over 2445px
@media only screen and (min-width: 1425px) {
  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item {
    flex: 0 0 calc(34% - 3rem);
    max-width: calc(34% - 3rem);
  }
}


@media only screen and (min-width: 2450px) {
  .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .paragraph--type--events.grid .card,
  .paragraph--type--events.grid .card,
  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row,
  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card {
    flex: 0 0 calc(33.8% - 3rem);
    max-width: calc(33.8% - 3rem);
  }
}
