@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

.paragraph--type--text {
  padding-top: $desktop-width-gutter/2;
  padding-bottom: $desktop-width-gutter/2;
}

.paragraph--type--text.bg-yellow,
.paragraph--type--text.bg-light {
  color: $dark-gray;

  blockquote p {
    color: $dark-gray;
  }

  a:not(.btn):not(.bttn):not(.button) {
    color: $secondary;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.paragraph--type--text.bg-dark,
.paragraph--type--text.bg-black {
  color: $white;

  blockquote p {
    color: $white;
  }

  a:not(.btn):not(.bttn):not(.button) {
    color: $primary;
  }
  .alert a {
    color: $secondary !important;
  }
}
