@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/card/_card-mixins.scss";

.paragraph--type--articles,
.paragraph--type--events,
.paragraph--type--people {

  .field--name-title {
    display: block;
    @include h5;
  }

  .more-link {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}

// List Events
.paragraph--type--events.list {
  .uiowa-events {
    margin-top: $gutter;
  }
}

// Grid Events
.paragraph--type--events.grid {
  .uiowa-events {
    @include breakpoint(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.hide-images .uiowa-events {
    .card__body {
      padding: 0;
    }
  }

  .card {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(md) {
      flex: 0 0 calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(page-container) {
      flex: 0 0 calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(35% - 3rem);
      }


      &:nth-child(2n+1) {
        margin-right: $gutter;
        margin-right: 0;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
    margin: 0;

    .card__meta .fa-ul {
      display: inline-block;
      margin-left: 0;
    }

    .card__body {
      padding: 0;
    }
  }
}

// Masonry Events
.paragraph--type--events.masonry {
  .uiowa-events {
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  &.hide-images .uiowa-events {
    .card__body {
      padding: 0;
    }
  }

  .card {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
    .card__meta .fa-ul {
      display: inline-block;
      margin-left: 0;
    }

    .card__body {
      padding: 0;
    }
  }
}

// List People
.paragraph--type--people.list {

  .views-row {
    border-bottom: none;
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }
}


// Grid/Masonry People
.paragraph--type--people.grid,
.paragraph--type--people.masonry {
  .card {
    @include breakpoint(sm) {
      padding: 2rem !important;
    }
  }
  &.hide-images .card  {
    @include breakpoint(sm) {
      padding: 2rem !important;
    }
  }
}

// Grid Articles, People, Featured Content with card_4x adjustments.
.paragraph--type--articles.grid,
.paragraph--type--people.grid,
.paragraph--type--featured-content.grid {
  .field--name-field-featured-content,
  .view-content {
    margin-top: $gutter;

    @include breakpoint(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .featured-content-item,
  .views-row {
    margin-top: 0 !important;
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(md) {
      flex: 0 0 calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(page-container) {
      flex: 0 0 calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }


      &:nth-child(2n+1) {
        margin-right: $gutter;
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin-left: 0;
        margin: 0 $desktop-width-gutter $desktop-width-gutter $desktop-width-gutter;
      }
    }

    display: flex;
  }

  .card {
    display: block;

    .media {
      width: 100%;
      .media__inner {
        margin: 0;
      }
    }
    .media:not(.media--circle) {
      max-width: 100%;
    }
    .card__body {
      padding: 2rem;
    }
  }
}

// Masonry Featured Content, Articles, People with card_4x adjustments.
.paragraph--type--featured-content.masonry,
.paragraph--type--articles.masonry,
.paragraph--type--people.masonry {
  .field--name-field-featured-content,
  .view-content {
    margin-top: $gutter;

    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .featured-content-item,
  .views-row {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.125) !important;
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 0 !important;
    .card {
      display: block;

      .media {
        width: 100%;
        .media__inner {
          margin: 0;
        }
      }
      .media:not(.media--circle) {
        max-width: 100%;
      }
      .media--circle {
        margin-top: 2rem;
      }
      .card__body {
        padding: 2rem;
      }
    }
  }
}

// People list overrides to keep left image sized with card_4x.
.paragraph--type--people.list {
  .media--circle {
    margin-top: 0;
  }
  .media.media--type-image {
    flex: none;
    max-width: 100%;
    margin: 0;
  }
}

// Grid/Masonry People overrides to keep image left with card_4x.
.paragraph--type--people.grid,
.paragraph--type--people.masonry {
  .views-row {
    .card {
      display: flex;
      .media {
        .media__inner {
          margin-right: 1rem;
        }
      }
      .media--circle {
        margin-top: 0;
      }
      .card__body {
        padding: 0;
      }
    }
  }
}


// Hide Images
.paragraph--type--articles,
.paragraph--type--events,
.paragraph--type--people,
.paragraph--type--featured-content {

  &.hide-images .media,
  &.hide-images .content-image,
  &.hide-images figure img {
    display: none;
  }
}

// Hide Article, People, Featured Content descriptions
.paragraph--type--articles.hide-descriptions,
.paragraph--type--people.hide-descriptions,
.paragraph--type--featured-content.hide-descriptions {
  .field--name-field-teaser,
  .field--name-body {
    display: none;
  }
}

// Hide Events descriptions
.paragraph--type--events.hide-descriptions {
  p {
    display: none;
  }
}

// everything over 2445px
@media only screen and (min-width: 1425px) {

  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item {
    flex: 0 0 calc(34% - 3rem);
  }
}


@media only screen and (min-width: 2450px) {

  .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .paragraph--type--events.grid .card,
  .paragraph--type--events.grid .card,
  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row,
  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card {
    flex: 0 0 calc(33.8% - 3rem);
  }
}

// IE 11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .paragraph--type--events.grid .card,
  .paragraph--type--events.grid .card,
  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row,
  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card {
    flex: 0 30% !important;
  }

  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row {
    display: block !important;
  }

  .paragraph--type--featured-content.grid .field--name-field-featured-content,
  .paragraph--type--articles.grid .view-content,
  .paragraph--type--people.grid .view-content,
  .paragraph--type--events.grid .uiowa-events {
    justify-content: space-between !important;
  }

  .paragraph--type--featured-content.grid :nth-child(2n+1).featured-content-item,
  .paragraph--type--articles.grid :nth-child(2n+1).views-row,
  .paragraph--type--people.grid :nth-child(2n+1).views-row,
  .paragraph--type--events.grid :nth-child(2n+1).card {
    margin-right: 0 !important;

  }

  .paragraph--type--articles.grid :nth-child(3n+2).views-row,
  .paragraph--type--people.grid :nth-child(3n+2).views-row,
  .paragraph--type--events.grid :nth-child(3n+2).card,
  .paragraph--type--featured-content.grid :nth-child(3n+2).featured-content-item {
    margin: 0;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
