@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";



// Feature Content Grid

.paragraph--type--featured-content.grid {
  .field--name-field-featured-content {
    margin-top: $gutter;

    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .featured-content-item {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 47%;
      max-width: 47%;
      margin-bottom: $desktop-width-gutter;

      &:nth-child(2n+1) {
        margin-right: $gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 31.222222%;
      max-width: 31.222222%;
      margin-bottom: $desktop-width-gutter;

      &:nth-child(2n+1) {
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin: 0 $gutter $desktop-width-gutter $gutter;
      }

    }

    display: flex;
  }

  .card,
  .node--view-mode-teaser.media {
    @include card-enclosed;
    display: block;
  }
}



.paragraph--type--featured-content.list .node--type-page.node--view-mode-teaser.media {
  display: flex;

  @include breakpoint(sm) {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
}



// Articles Grid
.paragraph--type--articles.grid,
.paragraph--type--people.grid {
  .view-content {
    margin-top: $gutter;

    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .views-row {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 47%;
      max-width: 47%;
      margin-bottom: $desktop-width-gutter;

      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 31.222222%;
      max-width: 31.222222%;
      margin: 0 $gutter $desktop-width-gutter $gutter;

      &:nth-child(2n+1) {
        margin-right: $gutter;
      }

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
  }
}

// Events Grid
.paragraph--type--events.grid {
  .uiowa-events {
    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 47%;
      max-width: 47%;
      margin-bottom: $desktop-width-gutter;

      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 31.222222%;
      max-width: 31.222222%;
      margin: 0 $gutter $desktop-width-gutter $gutter;

      &:nth-child(2n+1) {
        margin-right: $gutter;
      }

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
  }
}


// Masonry Featured Content
.paragraph--type--featured-content.masonry {
  .field--name-field-featured-content {
    margin-top: $gutter;

    //@include card-columns;
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .featured-content-item {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }

  .node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}


// Masonry Articles
.paragraph--type--articles.masonry,
.paragraph--type--people.masonry {
  .view-content {
    margin-top: $gutter;

    //@include card-columns;
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .views-row {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }

  .node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content {
    @include card-body;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}

// Masonry Events
.paragraph--type--events.masonry {
  .uiowa-events {
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .card {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }
}

// Hide Images

.paragraph--type--articles.hide-images {
  figure img {
    display: none;
  }
}

// Hide Descriptions
.paragraph--type--articles.hide-descriptions,
.paragraph--type--people.hide-descriptions,
.paragraph--type--featured-content.hide-descriptions {
  .field--name-field-teaser {
    display: none;
  }
}

.paragraph--type--events.hide-descriptions {
  p {
    display: none;
  }
}
