@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "components/card/_card-mixins.scss";

.paragraph--type--articles,
.paragraph--type--events,
.paragraph--type--people {

  .field--name-title {
    display: block;
    @include h5;
  }

  .more-link {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}

.paragraph--type--articles,
.paragraph--type--events,
.paragraph--type--people,
.paragraph--type--featured-content {

  &.hide-images .card__media,
  &.hide-images .content-image {
    display: none;
  }
}

// Shared Articles and Events Lists
.paragraph--type--articles.list,
.paragraph--type--people.list,
.view-display-id-page_articles,
.view-id-people {

  .card__media {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
      margin-bottom: $gutter;
    }
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  .node--type-article {
    display: flex;
    @include breakpoint(sm) {
      flex-direction: row-reverse;
    }
  }
}

// Featured content list
.paragraph--type--featured-content.list {
  .field--name-field-featured-content {
    @include list-group;
    @include list-group-flush;
  }

  .content-image,
  .card__media {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
    }
    &.media--circle {
      @include breakpoint(sm) {
        margin-top: 0;
      }
    }
  }
}

.paragraph--type--featured-content {
  @include breakpoint(sm) {
    margin-top: $lg;
  }

  figure {
    margin: 0;

    img {
      margin-bottom: 0;
    }
  }

  .media-body h3 {
    @include card-header;
  }

  .node--view-mode-teaser.media {
    @include card;
  }

  .field--name-field-teaser {
    @include card-paragraph;
    margin-top: $gutter;
  }

  .media-body {
    @include card-body;
  }


  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  .card--list {
    &.card--person-teaser {
      @include breakpoint(sm) {
        margin-top: 1.6rem;
      }
    }
  }
  .node--type-article {
    @include breakpoint(sm) {
      display: flex;
      flex-direction: row-reverse;
    }
    &.card--person-teaser {
      @include breakpoint(sm) {
        margin-top: 1.6rem;
      }
    }
  }
}

.paragraph--type--featured-content.grid,
.paragraph--type--featured-content.masonry {
  .media-body {
    padding: 2rem;
  }
  .card--person-teaser {
    @include breakpoint(sm) {
      padding: 2rem!important;
      margin-top: 0;
    }
  }
}

// Articles List
.paragraph--type--articles.list,
.paragraph--type--people.list {
  .view-content {
    @include list-group;
    @include list-group-flush;
    margin-top: $gutter;
  }

  .views-row {

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .node__content {
    @include media-body;
  }
}

.paragraph--type--people.list {
  .views-row {
    border-bottom: none;
  }
}

// Events List
.paragraph--type--events.list {
  .uiowa-events {
    margin-top: $gutter;
  }

  .card {
    @include breakpoint(sm) {
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      // @todo Remove when uiowa/uiowa#2670 and uiowa/uiowa#2554 are resolved.
      &.card--media-left,
      &.card--media-right {
        .paragraph--type--section:not([class*="bg-"]) & {
          margin-bottom: 0;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// People Table
.view-display-id-page_people_table {

  table td,
  table th {
    padding: 0;
  }

  .field--name-field-teaser {
    @include card-paragraph;
    margin-top: $gutter;
  }

  .card__media {
    margin-bottom: $gutter;
  }
}

// Feature Content Grid

.paragraph--type--featured-content.grid {
  .field--name-field-featured-content {
    margin-top: $gutter;

    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .featured-content-item {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }

      &:nth-child(2n+1) {
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin: 0 $desktop-width-gutter $desktop-width-gutter $desktop-width-gutter;
      }
    }

    display: flex;
  }

  .card,
  .node--view-mode-teaser.media {
    @include card-enclosed;
    border: 1px solid rgba(0,0,0,.125)!important;
    .media--circle {
      margin-top: 2rem;
      @include breakpoint(sm) {
        margin-top: 0;
      }
    }
    &.card--person-teaser {
      .card__body {
        @include breakpoint(sm) {
          padding: 0;
        }
      }
    }
  }
}

.paragraph--type--featured-content.list .node--type-page.node--view-mode-teaser.media {
  display: flex;

  @include breakpoint(sm) {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
}

.paragraph--type--people.grid,
.paragraph--type--people.masonry {
  .card {
    @include breakpoint(sm) {
      padding: 2rem !important;
    }
  }
  &.hide-images .card  {
    @include breakpoint(sm) {
      padding: 2rem !important;
    }
  }
}

// Articles Grid
.paragraph--type--articles.grid,
.paragraph--type--people.grid {
  .view-content {
    margin-top: $gutter;

    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .views-row {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }


      &:nth-child(2n+1) {
        margin-right: $gutter;
        margin-right: 0;
      }

      &:nth-child(3n+2) {
        margin-left: 0;
        margin: 0 $desktop-width-gutter $desktop-width-gutter $desktop-width-gutter;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
    border-color: rgba(0,0,0,.125) !important;
    &.card--person-teaser {
      .card__body {
        @include breakpoint(sm) {
          padding: 0;
        }
      }
    }
  }
}

// Events Grid
.paragraph--type--events.grid {
  .uiowa-events {
    @include breakpoint(menu) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.hide-images .uiowa-events {
    .card__body {
      padding: 0;
    }
  }

  .card {
    @include breakpoint(sm) {
      margin-bottom: $mobile-width-gutter;
    }

    @include breakpoint(menu) {
      flex: 0 0 calc(50% - 1.5rem);
      margin-bottom: $desktop-width-gutter;

      .layout--has-sidebar & {
        flex: 0 0 calc(50% - 1.5rem);
      }


      &:nth-child(2n+1) {
        margin-right: $desktop-width-gutter;
      }
    }

    @include breakpoint(container) {
      flex: 0 0 calc(34.5% - 3rem);
      margin-bottom: $desktop-width-gutter;

      .sidebar-invisible.layout--has-sidebar & {
        flex: 0 0 calc(34.5% - 3rem);
      }

      .layout--has-sidebar & {
        flex: 0 0 calc(35% - 3rem);
      }


      &:nth-child(2n+1) {
        margin-right: $gutter;
        margin-right: 0;
      }
    }

    display: flex;
  }

  .card {
    @include card-enclosed;
    .card__body {
      padding: 0;
    }
  }
}


// Masonry Featured Content
.paragraph--type--featured-content.masonry {
  .field--name-field-featured-content {
    margin-top: $gutter;

    //@include card-columns;
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .featured-content-item {
    display: inline-block;
    @include card-enclosed;
    border: none!important;
    width: 100%;
    margin-bottom: $gutter;
    .card.card--person-teaser {
      .card__body {
        @include breakpoint(sm) {
          padding: 0;
        }
      }
    }
    .card, .node--view-mode-teaser.media  {
      border: 1px solid;
      border-color: rgba(0,0,0,.125) !important;
      .media--circle {
        margin-top: 2rem;
        @include breakpoint(sm) {
          margin-top: 0;
        }
      }
    }
  }

  .node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content .field--name-title {
    @include card-title;
  }
}


// Masonry Articles
.paragraph--type--articles.masonry,
.paragraph--type--people.masonry {
  .view-content {
    margin-top: $gutter;

    //@include card-columns;
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  .views-row {
    //@include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
  }

  .node--type-article {
    display: flex;
  }

  figure img {
    @include card-img-top;
    max-width: 100%;
    margin: 0;
  }

  .node__content {
    @include card-body;
  }

  .card__body {
    padding: 2rem;
  }
  .card {
    border: 1px solid;
    border-color: rgba(0,0,0,.125)!important;
  }
  .card.card--person-teaser {
    .card__body {
      @include breakpoint(sm) {
        padding: 0;
      }
    }
  }

  .node__content .field--name-title {
    @include card-title;
  }
}

// Masonry Events
.paragraph--type--events.masonry {
  .uiowa-events {
    @include breakpoint(sm) {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
    }
  }

  &.hide-images .uiowa-events {
    .card__body {
      padding: 0;
    }
  }

  .card {
    @include card-enclosed;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter;
    .card__body {
      padding: 0;
    }
  }
}

// Hide Images

.paragraph--type--articles.hide-images {
  figure img {
    display: none;
  }
}

// Hide Descriptions
.paragraph--type--articles.hide-descriptions,
.paragraph--type--people.hide-descriptions,
.paragraph--type--featured-content.hide-descriptions {
  .field--name-field-teaser {
    display: none;
  }
}

.paragraph--type--events.hide-descriptions {
  p {
    display: none;
  }
}


// everything over 2445px
@media only screen and (min-width: 1425px) {

  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item {
    flex: 0 0 calc(34% - 3rem);
  }
}


@media only screen and (min-width: 2450px) {

  .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .paragraph--type--events.grid .card,
  .paragraph--type--events.grid .card,
  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row,
  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card {
    flex: 0 0 calc(33.8% - 3rem);
  }
}

// IE 11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .paragraph--type--events.grid .card,
  .paragraph--type--events.grid .card,
  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row,
  .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .container-fluid .paragraph--type--articles.grid .views-row,
  .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--featured-content.grid .featured-content-item,
  .layout--has-sidebar .container-fluid .paragraph--type--articles.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--people.grid .views-row,
  .layout--has-sidebar .container-fluid .paragraph--type--events.grid .card,
  .container-fluid .paragraph--type--events.grid .card {
    flex: 0 30% !important;
  }

  .paragraph--type--articles.grid .views-row,
  .paragraph--type--people.grid .views-row {
    display: block !important;
  }

  .paragraph--type--featured-content.grid .field--name-field-featured-content,
  .paragraph--type--articles.grid .view-content,
  .paragraph--type--people.grid .view-content,
  .paragraph--type--events.grid .uiowa-events {
    justify-content: space-between !important;
  }

  .paragraph--type--featured-content.grid :nth-child(2n+1).featured-content-item,
  .paragraph--type--articles.grid :nth-child(2n+1).views-row,
  .paragraph--type--people.grid :nth-child(2n+1).views-row,
  .paragraph--type--events.grid :nth-child(2n+1).card {
    margin-right: 0 !important;

  }

  .paragraph--type--articles.grid :nth-child(3n+2).views-row,
  .paragraph--type--people.grid :nth-child(3n+2).views-row,
  .paragraph--type--events.grid :nth-child(3n+2).card,
  .paragraph--type--featured-content.grid :nth-child(3n+2).featured-content-item {
    margin: 0;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
