@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.paragraph--type--accordion {
    .accordion {
        .accordion__heading {
            color: $secondary;
        }

        .accordion__content {
            background-color: $white;
            h2, h3, h4, h5, h6 {
              color: $secondary;
            }
            blockquote {
                color: $secondary;
                border-color: $primary;
            }

            a:not(.btn):not(.bttn):not(.button) {
                color: initial;
                span {
                  color: initial;
                }
            }

            a.btn-primary {
               @include bttn--primary;
                border: 1px solid $primary;
               @include bttn--focus;

                &:after {
                    background-color: $secondary;
                }
                span {
                  color: $secondary !important;
                }
            }

            a.btn:not(.btn-primary) {
               @include bttn--secondary;
                border: 1px solid $secondary;
               @include bttn--focus;
               span {
                color: $white !important;
               }
            }
        }
    }
}
