{#
/**
 * @file
 * Default theme implementation to display a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 * @see https://v4-alpha.getbootstrap.com/layout/grid/
 */
#}
{% if field_featured_image_size == "" %}
  {# Use Default. #}
  {# TODO: create sitewide_default variable from sitewided defaults. #}
  {% set display_setting = sitewide_default %}
{% elseif field_featured_image_size is not null %}
  {% set display_setting = "banner--#{field_featured_image_size}" %}
{% else %}
  {% set display_setting = 'banner--large' %}
{% endif %}

{% set background = content.background | render %}
{% if has_node_image %}
  {% set classes = [
    'banner--gradient-bottom',
    'banner--gradient-dark',
    'banner--horizontal-left',
    display_setting,
    'banner--vertical-bottom',
    layout.template|clean_class,
  ] %}
  {% embed "@uids_base/uids/banner.html.twig" with {
    'attributes' : attributes.addClass(classes),
  } %}
    {% block banner_image %}
      <div class="banner__image">
        {{ background }}
      </div>
    {% endblock %}
    {% block heading %}
      {{ content.content }}
    {% endblock %}
  {% endembed %}
{% else %}
  {% include '@uids_base/layouts/layout.html.twig' %}
{% endif %}
