adding:
  dependencies:
    config:
      - field.field.node.alert.field_alert_building
      - field.field.node.alert.field_alert_service_affected
      - field.field.node.alert.field_alert_title_details
      - field.field.node.alert.field_alert_updates
    module:
      - paragraphs
  content:
    body:
      weight: 11
    created:
      weight: 2
    field_alert_building:
      type: options_select
      weight: 16
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_category:
      type: options_buttons
      weight: 13
    field_alert_date:
      weight: 14
    field_alert_service_affected:
      type: options_select
      weight: 15
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_title_details:
      type: string_textfield
      weight: 1
      region: content
      settings:
        size: 60
        placeholder: ''
      third_party_settings: {  }
    field_alert_updates:
      type: paragraphs
      weight: 19
      region: content
      settings:
        title: Paragraph
        title_plural: Paragraphs
        edit_mode: open
        closed_mode: summary
        autocollapse: none
        closed_mode_threshold: 0
        add_mode: dropdown
        form_display_mode: default
        default_paragraph_type: ''
        features:
          collapse_edit_all: collapse_edit_all
          duplicate: duplicate
      third_party_settings: {  }
    field_meta_tags:
      weight: 12
    moderation_state:
      weight: 3
    path:
      weight: 8
    promote:
      weight: 4
    publish_on:
      weight: 18
    scheduler_settings:
      weight: 17
    simple_sitemap:
      weight: 10
    sticky:
      weight: 7
    url_redirects:
      weight: 9
  hidden:
    title: true
removing:
  content:
    body:
      weight: 13
    created:
      weight: 1
    field_alert_category:
      type: entity_reference_autocomplete
      weight: 14
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
    field_alert_date:
      weight: 15
    field_meta_tags:
      weight: 7
    moderation_state:
      weight: 2
    path:
      weight: 10
    promote:
      weight: 3
    publish_on:
      weight: 4
    scheduler_settings:
      weight: 16
    simple_sitemap:
      weight: 8
    sticky:
      weight: 9
    url_redirects:
      weight: 11
    title:
      type: string_textfield
      weight: 12
      region: content
      settings:
        size: 60
        placeholder: ''
      third_party_settings: {  }
