adding:
  dependencies:
    config:
      - field.field.node.alert.field_alert_building
      - field.field.node.alert.field_alert_service_affected
      - field.field.node.alert.field_alert_title_details
      - field.field.node.alert.field_alert_updates
  content:
    body:
      label: above
      settings:
        trim_length: 600
        trim_suffix: ''
      weight: null
    field_alert_building:
      type: entity_reference_label
      label: visually_hidden
      settings:
        link: false
      third_party_settings:
        field_delimiter:
          delimiter: ','
      weight: 3
      region: content
    field_alert_category:
      weight: 4
    field_alert_date:
      weight: 1
    field_alert_service_affected:
      type: entity_reference_label
      label: visually_hidden
      settings:
        link: false
      third_party_settings:
        field_delimiter:
          delimiter: ','
      weight: 2
      region: content
    links:
      weight: 0
  hidden:
    field_alert_title_details: true
    field_alert_updates: true
removing:
  content:
    body:
      label: hidden
      settings:
        trim_length: 300
        trim_suffix: ...
        more:
          display_link: false
          target_blank: false
          link_trim_only: false
          class: more-link
          text: More
          aria_label: 'Read more about [node:title]'
          token_browser: ''
        trim_options:
          text: false
          trim_zero: false
          replace_tokens: false
      weight: 0
    field_alert_category:
      weight: 3
    field_alert_date:
      weight: 2
    links:
      weight: 1
