adding:
  dependencies:
    config:
      - field.field.node.article.field_article_related_service
      - workflows.workflow.editorial
  content:
    field_article_related_service:
      type: entity_reference_autocomplete
      weight: 26
      region: content
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
      third_party_settings: {  }
    unpublish_on:
      type: datetime_timestamp_no_default
      weight: 54
      region: content
      settings: {  }
      third_party_settings: {  }
    unpublish_state:
      type: scheduler_moderation
      weight: 55
      region: content
      settings: {  }
      third_party_settings: {  }
removing:
  hidden:
    unpublish_on: true
    unpublish_state: true
