adding:
  dependencies:
    config:
      - field.field.node.article.field_article_related_service
  content:
    field_article_related_service:
      type: entity_reference_autocomplete
      weight: 26
      region: content
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
      third_party_settings: {  }
removing:
  hidden:
    publish_on: true
    unpublish_on: true
