adding:
  dependencies:
    config:
      - field.field.node.alert.field_alert_building
      - field.field.node.alert.field_alert_service_affected
      - field.field.node.alert.field_alert_title_details
  hidden:
    content_moderation_control: true
    field_alert_building: true
    field_alert_service_affected: true
    field_alert_title_details: true
removing: {  }
