adding:
  dependencies:
    config:
      - field.field.node.alert.field_alert_building
      - field.field.node.alert.field_alert_email
      - field.field.node.alert.field_alert_service_affected
      - field.field.node.alert.field_alert_title_details
      - field.field.node.alert.field_alert_updates
    module:
      - paragraphs
  content:
    body:
      weight: 12
      settings:
        show_summary: false
    created:
      weight: 4
    field_alert_building:
      type: options_select
      weight: 17
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_category:
      type: options_buttons
    field_alert_email:
      type: boolean_checkbox
      weight: 21
      region: content
      settings:
        display_label: true
      third_party_settings: {  }
    field_alert_service_affected:
      type: options_select
      weight: 16
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_title_details:
      type: string_textfield
      weight: 3
      region: content
      settings:
        size: 60
        placeholder: ''
      third_party_settings: {  }
    field_alert_updates:
      type: paragraphs
      weight: 18
      region: content
      settings:
        title: Paragraph
        title_plural: Paragraphs
        edit_mode: open
        closed_mode: summary
        autocollapse: none
        closed_mode_threshold: 0
        add_mode: dropdown
        form_display_mode: default
        default_paragraph_type: _none
        features:
          add_above: '0'
          collapse_edit_all: collapse_edit_all
          duplicate: duplicate
      third_party_settings: {  }
    field_meta_tags:
      weight: 13
    moderation_state:
      weight: 5
    path:
      weight: 9
    promote:
      weight: 6
    publish_on:
      weight: 20
    publish_state:
      weight: 7
    scheduler_settings:
      weight: 19
    simple_sitemap:
      weight: 12
    status:
      weight: 0
    sticky:
      weight: 8
    title:
      weight: 1
    uid:
      weight: 2
removing:
  content:
    body:
      weight: 13
      settings:
        show_summary: true
    created:
      weight: 1
    field_alert_category:
      type: entity_reference_autocomplete
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
    field_meta_tags:
      weight: 7
    moderation_state:
      weight: 2
    path:
      weight: 10
    promote:
      weight: 3
    publish_on:
      weight: 4
    publish_state:
      weight: 5
    scheduler_settings:
      weight: 16
    simple_sitemap:
      weight: 8
    status:
      weight: 6
    sticky:
      weight: 9
    title:
      weight: 12
    uid:
      weight: 0
