<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
{{ static.path }}
<link media="all" rel="stylesheet" href="/css/uiowa.css">
<link media="all" rel="stylesheet" href="./../../css/uiowa.css">
        <title>Preview Layout</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script type='text/javascript' src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/js/tabby.polyfills.js"></script>

    </head>
    <body>

        {{ yield }}

    </body>


<script src="./../../js/drupalSettingsLoader.js"></script>
<script src="./../../js/drupal.js"></script>
<script src="./../../js/superfish.js"></script>
<script src="./../../js/jquery.hoverIntent.minified.js"></script>
<script src="./../../js/sfsmallscreen.js"></script>
<script src="./../../js/supposition.js"></script>
<script src="./../../js/supersubs.js"></script>
<script src="./../../js/superfish.js"></script>

<script type='text/javascript' src="../raw/uiowa-search/uiowa-search.js"></script>
<script type='text/javascript' src="../raw/uiowa-links/uiowa-links.js"></script>
<script type='text/javascript' src="../raw/uiowa-links-b/uiowa-links-b.js"></script>
<script type='text/javascript' src="../raw/uiowa-links-c/uiowa-links-c.js"></script>
<script type='text/javascript' src="../raw/uiowa-links-d/uiowa-links-d.js"></script>
<script type='text/javascript' src="../raw/portraits-block/portraits-block.js"></script>
<script type='text/javascript' src="../raw/feature-block/feature-block.js"></script>
<script type='text/javascript' src="../raw/news-block/news-block.js"></script>
<script type='text/javascript' src="../raw/tabs/tabs.js"></script>

</html>
