td.views-field-nothing div:nth-child(1) {
  float: left;
  padding-right: 13px;
}
td.views-field-nothing div {
  display: inline-block;
}
.local-task-icon.local-task-icon--p2lb::before {
  content: "\f071";
}
