<ul class="menu">
    <li class="menu-item menu-item--collapsed">
        <a href="/" data-drupal-link-system-path="/">About</a>
    </li>
    <li class="menu-item menu-item--collapsed menu-item--active-trail">
        <a href="/" data-drupal-link-system-path="/">Faculty</a>
    </li>
    <li class="menu-item">
        <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
    </li>
</ul>
