@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); #lockup-preview {
  display: none;
}
#lockup-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lockup-preview .block-iowa {
  width: 250px;
}
.lockup-horizontal,
.lockup-stacked {
  margin-bottom: 2rem;
}
.lockup-stacked {
  text-align: center;
}
.lockup-stacked .lockup-content {
  display: table;
  margin: 0 auto;
  border-top: 3px solid;
  min-width: 250px;
  margin-top: calc(-5px + 17px);
}
.lockup-stacked .lockup-content-inner {
  padding: 0 13px;
}
.lockup-stacked .primary-unit {
  margin-top: 5px;
  display: inline-block;
}
.lockup-horizontal {
  display: flex;
}
.lockup-horizontal .lockup-content {
  border-left: 3px solid;
  min-height: 74px;
  margin-left: 18px;
  padding-left: 19px;
  display: table;
}
.lockup-horizontal .lockup-content .lockup-content-inner {
  display: table-cell;
  vertical-align: middle;
}
.primary-unit,
.sub-unit {
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
}
.primary-unit {
  margin-bottom: 3px;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.25;
}
.sub-unit {
  font-size: 21px;
  line-height: 1.25;
}
.field--name-field-lockup-primary-unit textarea,
.field--name-field-lockup-sub-unit textarea {
  resize: none;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

#edit-submit:disabled:hover {
  background-color: #ededed;
  border-color: #d4d4d4;
}

#valid-text-lockup-warning.warning-hidden {
  display: none;
}

#valid-text-lockup-warning {
  display: block;
  background-color: #ffe6e6;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 10px;
  margin-bottom: 20px;
}

#valid-text-lockup-warning h3 {    
  padding: 10px 30px 10px 15px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: #BE514C;
  color: #fafafa;
  margin-bottom: 0px;
}
#valid-text-lockup-warning svg {
  border: 2px solid #fafafa;
  color: #fafafa;
  margin-right: 15px;
  height: 19px;
  width: auto;
  border-radius: 500px;
  padding: 8px 14px;
}

#valid-text-lockup-warning .warning-body {
  padding: 0px 30px 20px 15px;
}
