@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.page-header .container, .block-system-main-block {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .node-lockup-form, .node-lockup-edit-form {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
  }
}
@media (min-width: 1200px) {
  .region-content>div.block-system-main-block {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .layout-region-node-main,
  .layout-region-node-footer,
  .lockup-preview-wrapper {
    -ms-flex-order: 1;
    order: 1;
    margin-left: 1.5rem;
  }
  .layout-region-node-secondary, .lockup-form-wrapper {
    min-width: 320px;
    flex: 500px 0 1;
  }
}
@media (min-width: 576px) {
  .node-lockup-form .form-inline .form-control {
    width: 100%;
  }
}
details.form-wrapper {
  border-color: #EDECEB;
  margin-bottom: 0;
}
details summary {
  background-color: #EDECEB;
  font-weight: bold;
  padding: 0.5em;
}
.entity-content-form-revision-information {
  margin-top: 1rem;
}
#edit-submit:disabled:hover {
  background-color: #ededed;
  border-color: #d4d4d4;
}

/* Lockup Preview */
#lockup-preview {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: start;
}
#lockup-preview .block-iowa {
  max-width: 250px;
  width: 250px;
  min-height: 73px;
  flex: 250px 0 0;
}
#lockup-preview .lockup-horizontal .block-iowa {
  margin-top: 4px;
  margin: auto;
}
#lockup-preview hr {
  width: 100%;
}
.lockup-horizontal,
.lockup-stacked {
  margin-bottom: 2rem;
}
.lockup-stacked {
  text-align: center;
}
#stacked-divider {
  content: '';
  height: 5px;
  transform: scaleY(0.5);
  top: 4px;
  background-color: #000;
  position: absolute;
  /* These will be edited. */
  width: 258px;
  left: 234px;
}
.lockup-stacked .lockup-content {
  color: #000;
  display: table;
  position: relative;
  margin: 0 auto;
  min-width: 250px;
  margin-top: 11px;
}
.lockup-stacked .lockup-content-inner {
  padding: 0 13px;
}
.lockup-stacked .primary-unit {
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 25px;
  overflow: hidden;
}
.lockup-stacked .sub-unit {
  overflow: hidden;
}
.lockup-horizontal {
  display: flex;
  margin-top: 4px;
}
#horizontal-divider {
  content: '';
  width: 5px;
  transform: scaleX(0.5);
  background-color: #000;
  position: absolute;
  min-height: 85px;
  top: -4px;
  left: -2px;
}
.lockup-horizontal .lockup-content {
  color: #000;
  position: relative;
  margin-left: 18px;
  padding-left: 22px;
  display: table;
  min-height: 73px;
  height: 100%;
}
.lockup-horizontal .lockup-content .lockup-content-inner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 7px;
}
.lockup-horizontal .primary-unit {
  overflow: hidden;
}
.lockup-horizontal .sub-unit {
  /*margin-top: 7px;*/
  overflow: hidden;
}
.primary-unit,
.sub-unit {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 700px;
  overflow-x: scroll;
  height: auto;
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
}
.primary-unit {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
}
.sub-unit {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
}
.field--name-field-lockup-primary-unit textarea,
.field--name-field-lockup-sub-unit textarea,
.field--name-field-lockup-p-unit-stacked textarea,
.field--name-field-lockup-s-unit-stacked textarea {
  resize: none;
  white-space: pre;
  overflow-wrap: normal;
}

/* Validation Error Box */
#valid-text-lockup-warning.warning-hidden, #required-warning.warning-hidden {
  display: none;
}
#valid-text-lockup-warning, #required-warning {
  display: block;
  background-color: #ffe6e6;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 10px;
  margin-bottom: 20px;
}
#required-warning {
  width: 100%;
}
#valid-text-lockup-warning h3, #required-warning h3 {
  padding: 10px 30px 10px 15px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: #be514c;
  color: #fafafa;
  margin-bottom: 0px;
}
#valid-text-lockup-warning svg, #required-warning svg {
  border: 2px solid #fafafa;
  color: #fafafa;
  margin-right: 15px;
  height: 39px;
  width: auto;
  border-radius: 500px;
  padding: 8px 14px;
}
#valid-text-lockup-warning .warning-body, #required-warning .warning-body {
  padding: 20px 30px 20px 15px;
}
#primary-first-line-measure-stacked {
  position: absolute;
  color: transparent;
  left: -9999px;
  top: -9999px;
  display: inline-block;
  padding: 0px 13px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
}

