/**
 * @file
 * Default styling for the Entity Types Events module.
 *
 * This styling is intended to provide a default layout for both the default
 * Views listings and content nodes, leaving much of the styling up to the
 * site itself.
 */

/* Default styling for the default Views listings. */

/* Default styling for the event nodes. */
.event .field--label-above .field__label::after { content: ":"; }
