adding:
  dependencies:
    config:
      - field.field.node.alert.field_alert_accessible_route
      - field.field.node.alert.field_alert_affected_bus_routes
      - field.field.node.alert.field_alert_alternate_route
      - field.field.node.alert.field_alert_building
      - field.field.node.alert.field_alert_location
      - field.field.node.alert.field_alert_publish_on
      - field.field.node.alert.field_alert_reason_for_closure
      - field.field.node.alert.field_alert_traffic_control
      - field.field.node.alert.field_alert_traffic_control_plan
    module:
      - datetime
      - media_library
  content:
    body:
      weight: 12
    created:
      weight: 14
    field_alert_accessible_route:
      type: string_textarea
      weight: 9
      region: content
      settings:
        rows: 5
        placeholder: ''
      third_party_settings: {  }
    field_alert_affected_bus_routes:
      type: options_buttons
      weight: 8
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_alternate_route:
      type: string_textarea
      weight: 10
      region: content
      settings:
        rows: 5
        placeholder: ''
      third_party_settings: {  }
    field_alert_building:
      type: entity_reference_autocomplete
      weight: 3
      region: content
      settings:
        match_operator: CONTAINS
        match_limit: 10
        size: 60
        placeholder: ''
      third_party_settings: {  }
    field_alert_category:
      weight: 2
    field_alert_date:
      weight: 4
    field_alert_location:
      type: string_textarea
      weight: 5
      region: content
      settings:
        rows: 5
        placeholder: ''
      third_party_settings: {  }
    field_alert_publish_on:
      type: datetime_default
      weight: 1
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_reason_for_closure:
      type: string_textarea
      weight: 11
      region: content
      settings:
        rows: 5
        placeholder: ''
      third_party_settings: {  }
    field_alert_traffic_control:
      type: options_buttons
      weight: 6
      region: content
      settings: {  }
      third_party_settings: {  }
    field_alert_traffic_control_plan:
      type: media_library_widget
      weight: 7
      region: content
      settings:
        media_types: {  }
      third_party_settings: {  }
    moderation_state:
      weight: 19
    path:
      weight: 17
    status:
      weight: 20
    title:
      weight: 0
    uid:
      weight: 13
    url_redirects:
      weight: 18
removing:
  content:
    body:
      weight: 121
    created:
      weight: 10
    field_alert_category:
      weight: 123
    field_alert_date:
      weight: 124
    moderation_state:
      weight: 100
    path:
      weight: 30
    status:
      weight: 120
    title:
      weight: -5
    uid:
      weight: 5
    url_redirects:
      weight: 50
