@font-face {
  font-family: 'antoniobold';
  src: url('../webfonts/antonio-bold-webfont.woff2') format('woff2'),
    url('../webfonts/antonio-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  //font-display: swap;
}

@font-face {
  font-family: 'antoniolight';
  src: url('../webfonts/antonio-light-webfont.woff2') format('woff2'),
    url('../webfonts/antonio-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  //font-display: swap;
}

@font-face {
  font-family: 'antonioregular';
  src: url('../webfonts/antonio-regular-webfont.woff2') format('woff2'),
    url('../webfonts/antonio-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  //font-display: swap;
}
