aside .region,
.layout-content .region {
  padding: 0;
  border: none;
}

.layout-container {
  @extend %container;
}


/*
.layout-container-fluid {
  max-width: 100%;
  padding: 0 35px;
  margin: 0 auto;
}

.layout-container--flex {
  display: flex;
}

.layout-container-flex {
  max-width: 100%;
  padding: 0 35px;
  display: flex;
    .site-header__left &,
    .site-header__center & {
      display: block;
      padding:  0;
    }
}
*/
