//////////// pagination

.pager {
  @include margin($bottom: $sm, $left: 0);
  &__items {
      @extend %no-ul-list;
  }
}

.pager::before,
.pager::after {
  display: table;
  order: 1;
  content: ' ';
  @include flex($fb: 0);
}

.pager::after {
  clear: both;
}

.pager li {
  font-size: $small-font-size;
  @include margin($right: $xsm);
}

.pager li:last-child,
.pager li:first-child {
  display: inline-block;
}

@media print,
screen and (min-width: 40em) {
  .pager li {
    display: inline-block;
  }
}

.pager a,
.pager button {
  display: block;
  text-decoration: none;
  color: $secondary;
  @include padding($top: $sm, $right: $md, $bottom: $sm, $left: $md);
}

.pager a:hover,
.pager button:hover {
  background: $light;
}

.pager .is-active a {
  cursor: default;
  color: $white;
  background: $secondary;
  &:hover {
    color: $secondary;
    background: $primary;
  }
}

.pager .disabled {
  cursor: not-allowed;
  color: $grey-light;
  @include padding($top: $sm, $right: $md, $bottom: $sm, $left: $md);
}

.pager .disabled:hover {
  background: transparent;
}

.pager .ellipsis::after {
  content: '\2026';
  color: $secondary;
  @include padding($top: $sm, $right: $md, $bottom: $sm, $left: $md);
}
