body {
    font-size: 100%;
}

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #ffffb9 !important;
}

.well {
    background-color: #ffffb9 !important;
}

.modal-dialog {
    width: 320px;
}

.outercenter {
    text-align: center;
}

.outercenter img {
    display: inline-block;
}

.CeDiDNumber {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.3em !important;
    font-weight: 600;
    vertical-align: 0.25em;
}

.AlphaNumericKey {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 6px;
}

.hr-gray {
    margin-top: 0;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #999;
}

.labelgray {
    border-radius: 0.3em;
    background-color: #666666;
    text-align: left;
    color: white;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin: 0 0 0.2em 0;
}

.padleftright0 {
    padding-left: 0;
    padding-right: 0;
}

.popover-content,
.popover-title {
    color: #000000 !important;
    /*black color*/
}

.btn-group {
    font-size: 12px;
    /*or whatever size */
}

.text-warning {
    /*color: #8a6d3b;*/
    margin: 18px 0 10px;
}

.button,
.image-button {
    margin-left: 0 !important;
}

.button:hover,
.button:focus {
    background-color: #204d74;
    background-image: none !important;
    background-image: none !important;
    color: #fff;
    text-decoration: none;
    outline: none;
}

input#edit-actions:hover {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

input#edit-actions.focus,
input#edit-actions:focus {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #122b40 !important;
}

.margintop15 {
    margin-top: 15px;
}

div#SULogo>a,
div#SULogo>a:active,
div#SULogo>a:focus,
div#SULogo>a:hover {
    color: transparent !important;
    text-decoration: none !important;
}

a.no-line, a.no-line:link, a.noline:visited, a.no-line:hover, a.no-line:active {
    text-decoration: none !important;
 }

@media print {
    footer {
        display: none !important;
    }
}