@mixin font-stack-base {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin font-stack-secondary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin font-stack-tertiary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

$font-weight-bold: bold;
$font-italic: italic;
