.header__brand {
  margin-right: 1.75rem;
  padding-top: .75rem;
  padding-bottom: .5rem;
  flex: 1;
  .site-header__left &,
  .site-header__center & {
    flex: unset;
    padding: .75rem 35px 0 35px;
  }
  .site-header__center & {
    text-align: center;
  }
}


.header__logo-link {
  padding-bottom: 15px;
  color: #212529;
  font-weight: 600;
  font-size: 1.75rem;
  text-decoration: none;
}
