<div{{ title_attributes.addclass(title_classes) }}>{{ label }}</div>
<ul class="fa-ul element--list-none element--margin-none">
  {% for item in items %}
    <li>
      {{ item.content }}
    </li>
  {% endfor %}
</ul>
