<div{{ title_attributes.addclass(title_classes) }}>{{ label }}</div>
<ul class="fa-field-item element--list-none">
  {% for item in items %}
    <li>
      {{ item.content }}
    </li>
  {% endfor %}
</ul>
