<h2 class="headline--underline headline--serif headline h4">{{ label }}</h2>
{% embed '@uids_base/field/field--accordion-item.html.twig' %}
  {% set accordion_h_size = 'h3' %}
  {% set accordion_type = 'multi' %}
{% endembed %}
