{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <span role="presentation" class="fa-compass fas"></span> &nbsp;
  {% endblock %}
  {% block field_items %}
    {% for item in items %}
      <{{ item_tag }}{{ item.attributes.addClass('field__item') }}>{{ item.content }} neighborhood</{{ item_tag }}>
    {% endfor %}
  {% endblock %}
{% endembed %}
