{{ attach_library('uids_base/search') }}
{{ attach_library('uids_base/search-toggle') }}

<div class="search-wrapper">

    <div class="search-overlay" aria-expanded="false" aria-label="search tools for this site">
        {{ search_form }}
        {# @todo Add search quick links #}
    </div>

    {% include '@uids/03 - global/search-toggle/search-toggle--bttn.twig' %}
</div>