/*
 * @file
 * Provides the layout styles for four-column layout section.
 */



@media screen and (min-width: 40em) {
  .layout--fourcol {
    display: flex;
    flex-wrap: wrap;
  }

  .layout--fourcol>.layout__region {
    flex: 0 1 100%;
  }

  .layout--fourcol>.layout__region {
    flex: 0 1 24.25%;
  }

  .layout--fourcol.section-margin__removed>.layout__region {
    flex: 0 1 25%;
  }

  .layout--fourcol>.layout__region--second {
    margin-left: 1%;
    margin-right: .5%;
  }

  .layout--fourcol>.layout__region--third {
    margin-left: .5%;
    margin-right: 1%;
  }

  .layout--fourcol.section-margin__removed>.layout__region--second {
    margin-left: 0;
    margin-right: 0;
  }

  .layout--fourcol.section-margin__removed>.layout__region--third {
    margin-left: 0;
    margin-right: 0;
  }

}
