@import "../../../themes/custom/uids_base/uids/assets/scss/variables";
@import "../../../themes/custom/uids_base/uids/assets/scss/utilities";

.banner .uiowa-search-form.uids-content:not(.uids-search) input#edit-submit {
  border: 1px solid $primary;
}

.page-node-type-topic-collection .layout--onecol--background .block-uiowa-core-search-block,
.page-node-type-topic-collection .layout--onecol--background .block-views-blocktopic-page-browse-by-tag-block-4  {
  max-width: 700px;
  margin: 0 auto;
}

.page-node-type-topic-collection .layout--onecol--no--background {
  text-align: center;
  margin-bottom: $desktop-width-gutter;
  .layout__region {
    padding: 6rem 0;
  }
}

.block-views-blocktopic-page-browse-by-tag-block-1 {
  .headline__heading {
    color: white;
    font-size: 16px;
  }
}

.block-views-blocktopic-page-browse-by-tag-block-4 {
  .headline {
    font-size: 1.2rem;
  }
}

.topic-page--tag {
  .views-row,
  .field__item {
    display: inline;
  }
  .views-row  + .views-row {
    &:before {
      content: ",";
      padding-right: $xsm;
      margin-left: -3px;
    }
  }
}


.page-node-type-topic-collection .banner {
  .block-views-blocktopic-page-browse-by-tag-block-4  {
    .headline {
      color: #fff;
    }
    .views-row  + .views-row {
      &:before {
        color: #fff;
      }
    }
    .field__item {
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}



.page-node-type-topic-collection {
  .field--name-field-topic-collection-tags {
    span.field__item {
      font-size: 1.2rem;
    }
  }
}

.block-field-blocknodetopic-collectiontitle {
  margin-bottom: 20px;
}

.block-views-blocktopic-page-browse-by-tag-block-3 .headline__heading,
.block-views-blocktopic-page-browse-by-tag-block-2 .headline__heading {
  text-transform: uppercase;
  font-size: 16px;
}

[class*=block-views-blocktopic] {
  .views-element-container {
    margin-top: 0;
  }
}

.page-node-type-topic-collection .bg--gray :is(h1, h2, h3, h4, h5, h6) a {
  color: $link-color;
  text-decoration: none;
  font-family: $font-family-serif;
  font-weight: $font-weight-medium-bold;
}

.grid--fourcol--25.topic-page--count .list-container {
  gap: 1.5rem;
}

.col--threecol--33.topic-page--all .list-container {
  gap: $desktop-width-gutter;
  @include breakpoint(sm) {
    column-count: 2;
  }
  @include breakpoint(menu) {
    column-count: 3;
  }
  .item-list {
    break-inside: avoid;
    ul {
      break-inside: avoid;
    }
  }
}
