@import "../../../themes/custom/uids_base/uids/assets/scss/variables";
@import "../../../themes/custom/uids_base/uids/assets/scss/utilities";

.banner .uiowa-search-form.uids-content:not(.uids-search) input#edit-submit {
  border: 1px solid $primary;
}
.banner .block-uiowa-core-search-block {
  max-width: 700px;
}

.block-views-blocktopic-page-browse-by-tag-block-1 {
  .headline__heading {
    color: white;
    font-size: 16px;
  }
}

.field--name-field-topic-landing-page-tags {
  .field__label {
    display: block;
    color: white;
  }
  .field__items {
    color: white;
    a {
      color: #fff;
    }
  }
}

.block-field-blocknodetopic-landing-pagetitle {
  margin-bottom: 20px;
}


.block-views-blocktopic-page-browse-by-tag-block-3 .headline__heading,
.block-views-blocktopic-page-browse-by-tag-block-2 .headline__heading {
  text-transform: uppercase;
  font-size: 16px;
}


[class*=block-views-blocktopic] {
  .views-element-container {
    margin-top: 0;
  }
}

.page-node-type-topic-landing-page .bg--gray :is(h1, h2, h3, h4, h5, h6)  a {
  color: $link-color;
}

.grid--fourcol--25.topic-page--count .list-container {
  gap: 1.5rem;
}
