/* This is the 'Contact' column. */
.view-display-id-block_building_coordinators .views-field-nothing {
  width: 16.6rem;
}

/* This is the 'Managers' column. */
.view-display-id-block_building_coordinators .views-field-nothing-1 {
  width: 7.5rem;
}
