@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

@media screen and (min-width: 40em) {

  .layout--fourcol,
  .layout--fourcol .lb__container {
    display: flex;
    flex-basis: 100%;
  }

  .layout--fourcol {
    .layout__region {
      flex: 0 1 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: unset;
    }

    &.section-alignment__start {
      .layout__region {
        align-content: start;
      }
    }
  }


  .layout--fourcol .layout__region {
    flex: 0 1 24.25%;
  }

  .layout--fourcol.section-margin__removed .layout__region {
    flex: 0 1 25%;
  }

  .layout--fourcol .layout__region--second {
    margin-left: 3rem;
    margin-right: 1.5rem;
  }

  .layout--fourcol .layout__region--third {
    margin-left: 1.5rem;
    margin-right: 3rem;
  }

  .layout--fourcol.section-margin__removed .layout__region--second {
    margin-left: 0;
    margin-right: 0;
  }

  .layout--fourcol.section-margin__removed .layout__region--third {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 40em) and (max-width: 68.125em) {

  .layout--fourcol,
  .layout--fourcol .lb__container {
    flex-wrap: wrap;
  }

  .layout--fourcol .layout__region {
    flex: 0 1 46.50%;
    margin-bottom: 3rem;
  }

  .layout--fourcol .layout__region--second {
    margin-left: 6%;
    margin-right: 0;
  }

  .layout--fourcol .layout__region--third {
    margin-left: 0;
    margin-right: 6%;
  }
}

@media (min-width: 0em) and (max-width: 40em) {

  .layout--fourcol.grid--1-3 .layout__region--first,
  .layout--fourcol.grid--1-3.section-margin__removed .layout__region--first {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
}

@media (min-width: 40em) and (max-width: 84.375em) {

  .layout--fourcol.grid--1-3,
  .layout--fourcol.grid--1-3 .lb__container {
    flex-wrap: wrap;
  }

  .layout--fourcol.grid--1-3 .layout__region,
  .layout--fourcol.grid--1-3.section-margin__removed .layout__region {
    flex: 0 1 31.3%;
    margin-bottom: 3rem;
  }

  .layout--fourcol.grid--1-3 .layout__region--first,
  .layout--fourcol.grid--1-3.section-margin__removed .layout__region--first {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .layout--fourcol.grid--1-3 .layout__region--second {
    margin-left: 0;
    margin-right: 0;
  }

  .layout--fourcol.grid--1-3 .layout__region--third {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.layout--onecol--no--background+.layout--fourcol .block-field-blocknodepagebody,
.layout--onecol--background+.layout--fourcol .block-field-blocknodepagebody,
.layout--onecol--no--background+.layout--fourcol .block-inline-blockuiowa-text-area,
.layout--onecol--background+.layout--fourcol .block-inline-blockuiowa-text-area {
  margin-top: $gutter;
}
