@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--fourcol {
  .layout__spacing_container {
    @include grid-base;
    @include breakpoint(sm) {
      // @todo Move to UIDS as a four column mixin.
      gap: $desktop-width-gutter;
      grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
    }
  }
  &.column-spacing__removed {
    .layout__spacing_container {
      gap: 0;
      column-gap: 0;
    }
  }
}

@media (min-width: 0em) and (max-width: 84.375em) {
  // Special settings used for the vertical videos section on uiowa.edu home page.
  .layout--fourcol.grid--1-3 .layout__spacing_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .layout--fourcol.grid--1-3  .layout__region--first {
    grid-area: 1 / 1 / 2 / 5;
    text-align: center;
    margin-bottom: 2rem;
  }
  .layout--fourcol.grid--1-3  .layout__region--second {
    grid-area: 2 / 1 / 6 / 2;
  }
  .layout--fourcol.grid--1-3  .layout__region--third {
    grid-area: 2 / 2 / 6 / 3;
  }
  .layout--fourcol.grid--1-3  .layout__region--fourth {
    grid-area: 2 / 3 / 6 / 4;
  }
  // Events padding for uiowa.edu home page.
  .layout--fourcol.grid--1-3.page__container--edge .layout__region:not(.layout__region--first) {
    padding: 2rem;
  }
}

// @todo remove when IE11 support is dropped.
// IE 11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .layout--fourcol,
  .layout--fourcol .layout__spacing_container {
    display: flex;
    flex-basis: 100%;
  }

  .layout--fourcol .layout__region {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: unset;
    min-width: 0;
  }

  .layout--fourcol .layout__region {
    flex: 0 1 24.25%;
  }

  .layout--fourcol.column-spacing__removed .layout__region {
    flex: 0 1 25%;
  }

  .layout--fourcol .layout__region--second {
    margin-left: 3rem;
    margin-right: 1.5rem;
  }

  .layout--fourcol .layout__region--third {
    margin-left: 1.5rem;
    margin-right: 3rem;
  }

  .layout--fourcol.column-spacing__removed .layout__region--second {
    margin-left: 0;
    margin-right: 0;
  }

  .layout--fourcol.column-spacing__removed .layout__region--third {
    margin-left: 0;
    margin-right: 0;
  }
}
