@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

  .layout--fourcol,
  .layout--fourcol .layout__spacing_container {
    @include breakpoint(sm) {
      display: flex;
      flex-basis: 100%;
    }
  }

  .layout--fourcol {
    .layout__region {
      @include breakpoint(sm) {
        flex: 0 1 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: unset;
        min-width: 0;
        flex: 0 1 calc(26% - 3rem);
      }
    }
  }

  .layout--fourcol.column-spacing__removed .layout__region {
    @include breakpoint(sm) {
      flex: 0 1 25%;
    }
  }

  .layout--fourcol .layout__spacing_container > .layout__region + .layout__region {
    @include breakpoint(sm) {
      margin: 0 0 0 3rem;
    }
  }

  .layout--fourcol.column-spacing__removed .layout__spacing_container > .layout__region + .layout__region {
    @include breakpoint(sm) {
      margin: 0;
    }
  }


// Turn four columns to a two-column grid for tablet/portrait breakpoint.
@media (min-width: 40em) and (max-width: 69.125em) {
  .layout--fourcol,
  .layout--fourcol .layout__spacing_container {
    flex-wrap: wrap;
  }

  .layout--fourcol .layout__region,
  .layout--fourcol.column-spacing__removed .layout__region {
    flex: 0 1 calc(52% - 3rem);
  }

  .layout--fourcol .layout__spacing_container .layout__region.layout__region--first,
  .layout--fourcol .layout__spacing_container .layout__region.layout__region--second {
    margin-bottom: 3rem;
  }

  .layout--fourcol.column-spacing__removed  .layout__spacing_container .layout__region.layout__region--first,
  .layout--fourcol.column-spacing__removed  .layout__spacing_container .layout__region.layout__region--second {
    margin-bottom: 0;
  }

  .layout--fourcol .layout__spacing_container .layout__region.layout__region--third {
    margin-left: 0;
  }
}

// Special settings for the section layout grid used for stats on home page.
// @todo remove when https://github.com/uiowa/uiowa/issues/3141 is implemented. 
@media (min-width: 0em) and (max-width: 40em) {
  .layout--fourcol.grid--1-3 .layout__region--first,
  .layout--fourcol.grid--1-3.column-spacing__removed  .layout__region--first {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .layout--fourcol.grid--1-3.page__container--edge .layout__spacing_container .layout__region:not(.layout__region--first) {
    padding: 2rem;
  }
}

@media (min-width: 40em) and (max-width: 84.375em) {
  .layout--fourcol.grid--1-3,
  .layout--fourcol.grid--1-3 .layout__spacing_container {
    flex-wrap: wrap;
  }

  .layout--fourcol.grid--1-3 .layout__spacing_container  .layout__region,
  .layout--fourcol.grid--1-3.column-spacing__removed .layout__region {
    flex: 0 1 31.3%;
  }

  .layout--fourcol.grid--1-3.column-spacing__removed .layout__spacing_container .layout__region {
    margin-bottom: 3rem;
  }


  .layout--fourcol.grid--1-3 .layout__region--first,
  .layout--fourcol.grid--1-3.column-spacing__removed .layout__region--first {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .layout--fourcol.grid--1-3  .layout__spacing_container .layout__region.layout__region--second {
    margin-left: 0;
  }

  .layout--fourcol.grid--1-3 .layout__spacing_container > .layout__region + .layout__region.layout__region--fourth {
    margin: 0;
  }

  .layout--fourcol.grid--1-3 .layout__spacing_container  .layout__region--third {
    margin-left: 3%;
    margin-right: 3%;
  }
}
