@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--onecol--fixed.layout__container {
  padding-top: 1.1rem;
  &:first-child {
    padding-top: 1.1rem;
  }
  padding-bottom: 1.1rem;
}
