@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/headline/_headline-mixins.scss";

.layout--onecol--fixed.layout__container {
  &:first-child {
    padding-top: 1.5rem;
  }
  padding-bottom: 1.5rem;
}

.layout--onecol--fixed .layout__region {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  .block:first-child:last-child {
    a.bttn {
      display: inline-block;
    }
  }
  a.bttn {
    display: flex;
    height: 100%;
  }
}

