@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--onecol .layout__region {
  width: 100%;
}

.layout--onecol {
  display: flex;

  .layout__spacing_container {
    flex-basis: 100%;
  }
}
