/*
 * @file
 * Provides the layout styles for layout_onecol.
 */

.layout--onecol .layout__region {
  width: 100%;
}

/*
 * @todo Move this to a more appropriate location
 */
.layout--onecol--bg .hero__img .layout-builder__add-block {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
}
