@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--onecol .layout__region {
  width: 100%;
}

.layout--onecol {
  display: flex;
  .lb__container {
    flex-basis: 100%;
  }
}

.layout--onecol--no--background+.layout--onecol .block-field-blocknodepagebody,
.layout--onecol--background+.layout--onecol .block-field-blocknodepagebody,
.layout--onecol--no--background+.layout--onecol .block-inline-blockuiowa-text-area,
.layout--onecol--background+.layout--onecol .block-inline-blockuiowa-text-area {
  margin-top: $desktop-width-gutter;
}
