@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--onecol .layout__region {
  width: 100%;
}

/*
 * @todo Move this to a more appropriate location
 */
.layout--onecol--background .banner__image .layout-builder__add-block {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
}

.content__container {
  .layout--onecol {

    &--background,
    &--no--background {
      .layout__spacing_container {
        @extend %container;
      }
    }
  }

  .layout--has-sidebar {
    &.layout__container.sidebar-invisible {
      margin-top: 0;
    }
  }
}

.layout--title--hidden {
  .block-system-breadcrumb-block {
    @include element-invisible;
  }
}

// Page title hero

// breadcrumbs

.layout--onecol--background {
  .breadcrumb {
    li {
      @include breakpoint(sm) {
        color: white;
      }
    }

    a {
      @include breakpoint(sm) {
        color: white;
      }
    }
  }
}

@media (min-aspect-ratio:16/9) {
  .layout--onecol--background {
    height: 80vh;
  }
}

.layout--onecol--background {
  position: relative;
  overflow: hidden;
  background: $secondary;

  img {
    width: 100%;
  }

  .banner__image img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.layout--onecol--background img.banner-image {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


.layout--onecol--background {
  p {
    color: #000;
    line-height: 1.5;
    margin-top: 0;

    @include breakpoint(sm) {
      color: #fff;
      max-width: 50em;
    }
  }

  .bold-headline {

    &.bold-headline--serif {
      color: #000;

      @include breakpoint(sm) {
        color: #fff;
      }
    }

    margin-top: 0;
    padding: 0;
    margin-bottom: .7rem;
    font-size: calc(100% + 4vw);
    line-height: 1;

    @include breakpoint(sm) {
      text-shadow: 0 1px 1px #000;
      font-size: calc(100% + 2.5vw);
    }

    @include breakpoint(menu) {
      margin-bottom: .3rem;
    }

    @include breakpoint(md) {
      font-size: calc(100% + 3.5vw);
    }
  }

  .banner__container {
    max-width: 81.875em;
    margin: 0 auto;
  }

  .banner__content {
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    background: white;
    padding: 0 $gutter;
    grid-template-columns: repeat(1, 1fr);
    justify-self: stretch;

    @include breakpoint(sm) {
      position: absolute;
      background: transparent;
      padding: $gutter;
      max-width: $container-width;
      grid-column: 1/-1;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 1.25rem;
      bottom: 0;
    }

    @include breakpoint(container) {
      padding: $gutter 0;
      width: 81.875em;
    }
  }

  .banner__content .banner__container {
    max-width: 81.875em;
    margin: 0 auto;
  }

  .banner__content>* {
    @include breakpoint(sm) {
      grid-column: 1/-1;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: .75;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 1)));
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));
    will-change: opacity;
  }
}

@media only screen and (min-width: 889px) {
  body {}
}
