@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "components/headline/_headline-mixins.scss";


.layout--onecol .layout__region {
  width: 100%;
}

.layout--onecol--background {
  // Add padding to banner content if not in edge-to-edge column
  // or is in twocol layout.
  &.banner {
    .banner__content {
      @include breakpoint(sm) {
        padding: 1.25rem;
      }
      @include breakpoint(container) {
        padding: 1.25rem 0;
      }
    }
  }

  // @todo Move this to a more appropriate location.
  .banner__image .layout-builder__add-block {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 2;
  }

  // When we have a background image - and we're not in the Layout
  // Builder screen - change the text color to white.
  &.layout--title--with-background:not([class*="layout-builder__layout"]) {
    .bold-headline {
      @include headline-negative;
    }

    .breadcrumb {
      li {
        color: white;
      }

      a {
        color: white;
      }
    }
  }
}

.content__container {
  .layout--onecol {

    &--background,
    &--no--background {
      .layout__spacing_container {
        @extend %container;
      }
    }
  }

  .layout--has-sidebar {
    &.layout__container.sidebar-invisible {
      margin-top: 0;
    }
  }
}

.layout--title--hidden {
  .block-system-breadcrumb-block {
    @include element-invisible;
  }
}

