@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--onecol .layout__region {
  display: flex;
  flex-wrap: wrap;
}

.container.container--title,
.sidebar-invisible.layout--has-sidebar .container.container--title {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.sidebar-invisible.layout--has-sidebar .container.container--title {
  margin-bottom: 0;
}


.title-invisible .container.container--title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.layout--has-sidebar .container.container--title {
  padding: 0;
  margin-bottom: 1.5rem;
}

.layout--no-sidebar .container.container--title {
  margin-bottom: 1.5rem;
}

.content__container .layout--has-sidebar .layout__spacing_container {
  display: flex;
  flex-wrap: wrap;
  @extend %container;
}


.content__container .page__container--edge.layout--has-sidebar.sidebar-invisible .layout__spacing_container {
  max-width: 100%;
}

.content__container .layout__container.layout--no-sidebar,
.content__container .layout__container.layout--has-sidebar.sidebar-invisible {
  margin-bottom: 0;
}

.layout--has-sidebar {
  .layout__region--sidebar {
    @include breakpoint(menu) {
      flex: 0 1 24.25%;
      margin-right: 3%;
    }
  }

  &.sidebar-invisible {
    .layout__region--sidebar {
      display: none;
    }

    .layout__region--main {
      @include breakpoint(menu) {
        flex: 0 1 100%;
      }
    }
  }
}

.layout--has-sidebar .layout__region--main {
  overflow: auto;
  @include breakpoint(menu) {
    flex: 0 1 72.75%;
  }
}
/*
.layout--onecol--no--background+.sidebar-invisible.layout--page--left-sidebar:not([class*="bg-"]) .block-field-blocknodepagebody,
.layout--onecol--no--background+.sidebar-invisible.layout--page--left-sidebar:not([class*="bg-"]) .block-inline-blockuiowa-text-area,
.layout--onecol--no--background+.layout--page--left-sidebar.layout--no-sidebar:not([class*="bg-"]) .block-field-blocknodepagebody,
.layout--onecol--no--background+.layout--page--left-sidebar.layout--no-sidebar:not([class*="bg-"]) .block-inline-blockuiowa-text-area {
  margin-top: $gutter;
}

.layout--onecol--background+.sidebar-invisible.layout--page--left-sidebar:not([class*="bg-"]) .block-field-blocknodepagebody,
.layout--onecol--background+.sidebar-invisible.layout--page--left-sidebar:not([class*="bg-"]) .block-inline-blockuiowa-text-area,
.layout--onecol--background+.layout--page--left-sidebar.layout--no-sidebar:not([class*="bg-"]) .block-field-blocknodepagebody,
.layout--onecol--background+.layout--page--left-sidebar.layout--no-sidebar:not([class*="bg-"]) .block-inline-blockuiowa-text-area {
  margin-top: 2rem;
}
*/
