.signage-display-view {
  body {
    overflow: hidden;
  }

  .node--type-sign {
    & > .node__content {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 511;
      background: white;
    }
  }
}
