@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--threecol,
.layout--threecol .layout__spacing_container {
  @include breakpoint(sm) {
    display: flex;
    flex-basis: 100%;
  }
}

.layout--threecol {
  .layout__region {
    @include breakpoint(sm) {
      flex: 0 1 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: unset;
      min-width: 0;
    }
  }
}

.layout--threecol--25-25-50 .layout__region--third,
.layout--threecol--25-50-25 .layout__region--second,
.layout--threecol--50-25-25 .layout__region--first {
  @include breakpoint(sm) {
    flex: 0 1 calc(54% - 3rem);
    @include inner-grid(50);
  }
  @include breakpoint(container) {
    flex: 0 1 calc(53% - 3rem);
  }
}

.layout--threecol--25-25-50 .layout__region--third:first-child:last-child,
.layout--threecol--25-50-25 .layout__region--second:first-child:last-child,
.layout--threecol--50-25-25 .layout__region--first:first-child:last-child  {
  @include breakpoint(sm) {
    flex: 0 1 48.3%;
  }
}

.layout--threecol--33-34-33 .layout__region--first,
.layout--threecol--33-34-33 .layout__region--second,
.layout--threecol--33-34-33 .layout__region--third {
  @include breakpoint(sm) {
    flex: 0 1 calc(34.6% - 3rem);
  }
  @include breakpoint(container) {
    flex: 0 1 calc(34.3% - 3rem);
  }
}

.layout--threecol--33-34-33.column-spacing__removed .layout__region--first,
.layout--threecol--33-34-33.column-spacing__removed .layout__region--second,
.layout--threecol--33-34-33.column-spacing__removed .layout__region--third {
  @include breakpoint(sm) {
    flex: 0 1 33.333%;
  }
}

.layout--threecol--25-25-50 .layout__region--first,
.layout--threecol--25-25-50 .layout__region--second,
.layout--threecol--25-50-25 .layout__region--first,
.layout--threecol--25-50-25 .layout__region--third,
.layout--threecol--50-25-25 .layout__region--second,
.layout--threecol--50-25-25 .layout__region--third {
  @include breakpoint(sm) {
    flex: 0 1 calc(24.5% - 3rem);
  }
}

.layout--threecol--25-25-50.column-spacing__removed .layout__region--first:first-child:last-child,
.layout--threecol--25-25-50.column-spacing__removed .layout__region--second:first-child:last-child,
.layout--threecol--25-50-25.column-spacing__removed .layout__region--first:first-child:last-child,
.layout--threecol--25-50-25.column-spacing__removed .layout__region--third:first-child:last-child,
.layout--threecol--50-25-25.column-spacing__removed .layout__region--second:first-child:last-child,
.layout--threecol--50-25-25.column-spacing__removed .layout__region--third:first-child:last-child  {
  @include breakpoint(sm) {
    flex: 0 1 26%;
  }
}

.layout--threecol--25-25-50.column-spacing__removed .layout__region--first,
.layout--threecol--25-25-50.column-spacing__removed .layout__region--second,
.layout--threecol--25-50-25.column-spacing__removed .layout__region--first,
.layout--threecol--25-50-25.column-spacing__removed .layout__region--third,
.layout--threecol--50-25-25.column-spacing__removed .layout__region--second,
.layout--threecol--50-25-25.column-spacing__removed .layout__region--third {
  @include breakpoint(sm) {
    flex: 0 1 27%;
  }
}

.layout--threecol .layout__spacing_container > .layout__region + .layout__region {
  @include breakpoint(sm) {
    margin: 0 0 0 3rem;
  }
}

.layout--threecol.column-spacing__removed .layout__spacing_container > .layout__region + .layout__region {
  @include breakpoint(sm) {
    margin: 0;
  }
}

.layout--threecol .layout__region:first-child:last-child {
  @include breakpoint(sm) {
    margin-right: 0;
    margin-left: 0;
  }
}

