@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";


.layout--threecol {
  .layout__spacing_container {
    @include grid-base;
  }
  &.layout--threecol--50-25-25 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
      .layout__region--first { grid-area: 1 / 1 / 6 / 3; }
      .layout__region--second { grid-area: 1 / 3 / 6 / 4; }
      .layout__region--third { grid-area: 1 / 4 / 6 / 5; }
      .layout__region--third:first-child:last-child { grid-area: 1 / 1 / 6 / 2; }
    }
  }
  &.layout--threecol--25-25-50 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
      .layout__region--first  { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--second  { grid-area: 1 / 2 / 6 / 3; }
      .layout__region--third { grid-area: 1 / 3 / 6 / 5; }
      .layout__region--second:first-child:last-child { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--third:first-child:last-child { grid-area: 1 / 1 / 6 / 3; }
    }
  }
  &.layout--threecol--25-50-25 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
      .layout__region--first { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--second  { grid-area: 1 / 2 / 6 / 4; }
      .layout__region--third { grid-area: 1 / 4 / 6 / 5; }
      .layout__region--third:first-child:last-child { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--second:first-child:last-child { grid-area: 1 / 1 / 6 / 3; }
    }
  }
  &.layout--threecol--33-34-33 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        @include threecol-grid;
      }
    }
  }
  &.column-spacing__removed {
    .layout__spacing_container {
      gap: 0;
    }
  }
}

