@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";


.layout--threecol {
  .layout__spacing_container {
    @include grid-base;
  }
  &.layout--threecol--50-25-25 {
    .layout__spacing_container {
      @include breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
      .layout__region--first { grid-area: 1 / 1 / 6 / 3; }
      .layout__region--second { grid-area: 1 / 3 / 6 / 4; }
      .layout__region--third { grid-area: 1 / 4 / 6 / 5; }
      .layout__region--third:first-child:last-child { grid-area: 1 / 1 / 6 / 2; }
    }
  }
  &.layout--threecol--25-25-50 {
    .layout__spacing_container {
      @include breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
      .layout__region--first  { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--second  { grid-area: 1 / 2 / 6 / 3; }
      .layout__region--third { grid-area: 1 / 3 / 6 / 5; }
      .layout__region--second:first-child:last-child { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--third:first-child:last-child { grid-area: 1 / 1 / 6 / 3; }
    }
  }
  &.layout--threecol--25-50-25 {
    .layout__spacing_container {
      @include breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
      .layout__region--first { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--second  { grid-area: 1 / 2 / 6 / 4; }
      .layout__region--third { grid-area: 1 / 4 / 6 / 5; }
      .layout__region--third:first-child:last-child { grid-area: 1 / 1 / 6 / 2; }
      .layout__region--second:first-child:last-child { grid-area: 1 / 1 / 6 / 3; }
    }
  }
  &.layout--threecol--33-34-33 {
    .layout__spacing_container {
      @include breakpoint(md) {
        @include threecol-grid;
      }
    }
  }
  &.column-spacing__removed {
    .layout__spacing_container {
      gap: 0;
    }
  }
}


// @todo remove when IE11 support is dropped.
// IE 11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .layout--threecol,
  .layout--threecol .layout__spacing_container {
    display: flex;
    flex-basis: 100%;
  }

  .layout--threecol .layout__region {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: unset;
    min-width: 0;
  }

  .layout--threecol--50-25-25 .layout__region--second,
  .layout--threecol--50-25-25 .layout__region--third {
    flex: 0 1 24.25%;
  }

  .layout--threecol--50-25-25.column-spacing__removed .layout__region--second,
  .layout--threecol--50-25-25.column-spacing__removed .layout__region--third {
    flex: 0 1 25%;
  }

  .layout--threecol--50-25-25 .layout__region--first {
    margin-right: 1.5rem;
  }

  .layout--threecol--50-25-25.column-spacing__removed .layout__region--first {
    margin-right: 0;
  }

  .layout--threecol--50-25-25 .layout__region--second {
    margin: 0 1.5rem;
  }

  .layout--threecol--50-25-25.column-spacing__removed .layout__region--second {
    margin: 0;
  }

  .layout--threecol--50-25-25 .layout__region--third {
    margin-left: 1.5rem;
  }

  .layout--threecol--50-25-25.column-spacing__removed .layout__region--third {
    margin-left: 0;
  }

  .layout--threecol--50-25-25.column-spacing__removed .layout__region--second {
    margin: 0;
  }

  .layout--threecol--50-25-25.column-spacing__removed .layout__region--first {
    flex: 0 1 50%;
  }

  .layout--threecol--50-25-25 .layout__region--first {
    flex: 0 1 50%;
  }

  .layout--threecol--33-34-33 .layout__region--first,
  .layout--threecol--33-34-33 .layout__region--second,
  .layout--threecol--33-34-33 .layout__region--third {
    flex: 0 1 32.66%;
  }

  .layout--threecol--33-34-33.column-spacing__removed .layout__region--first,
  .layout--threecol--33-34-33.column-spacing__removed .layout__region--second,
  .layout--threecol--33-34-33.column-spacing__removed .layout__region--third {
    flex: 0 1 33.3%;
  }

  .layout--threecol--33-34-33 .layout__region--first {
    margin-right: 1.5rem;
  }

  .layout--threecol--33-34-33 .layout__region--second {
    margin: 0 1.5rem;
  }

  .layout--threecol--33-34-33 .layout__region--third {
    margin-left: 1.5rem;
  }

  .layout--threecol--33-34-33.column-spacing__removed .layout__region {
    margin: 0;
  }

  .layout--threecol--25-25-50 .layout__region--first,
  .layout--threecol--25-25-50 .layout__region--second {
    flex: 0 1 24.5%;
  }

  .layout--threecol--25-25-50.column-spacing__removed .layout__region--first,
  .layout--threecol--25-25-50.column-spacing__removed .layout__region--second {
    flex: 0 1 25%;
  }

  .layout--threecol--25-25-50 .layout__region--first {
    margin-right: 1.5rem;
  }

  .layout--threecol--25-25-50 .layout__region--second {
    margin: 0 1.5rem;
  }

  .layout--threecol--25-25-50 .layout__region--third {
    margin-left: 1.5rem;
  }

  .layout--threecol--25-25-50.column-spacing__removed .layout__region {
    margin: 0;
  }

  .layout--threecol--25-25-50 .layout__region--third {
    flex: 0 1 50%;
  }

  .layout--threecol--25-25-50.column-spacing__removed .layout__region--third {
    flex: 0 1 50%;
  }

  .layout--threecol--25-50-25 .layout__region--first,
  .layout--threecol--25-50-25 .layout__region--third {
    flex: 0 1 28.25%;
  }

  .layout--threecol--25-50-25.column-spacing__removed .layout__region--first,
  .layout--threecol--25-50-25.column-spacing__removed .layout__region--third {
    flex: 0 1 25%;
    margin: 0;
  }

  .layout--threecol--25-50-25 .layout__region--first {
    margin-right: 1.5rem;
  }

  .layout--threecol--25-50-25 .layout__region--second {
    flex: 0 1 41.75%;
    margin: 0 1.5rem;
  }

  .layout--threecol--25-50-25 .layout__region--third {
    margin-left: 1.5rem;
  }

  .layout--threecol--25-50-25.column-spacing__removed .layout__region--second {
    flex: 0 1 50%;
    margin: 0;
  }
}
