@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

  .layout.layout--twocol,
  .layout.layout--twocol .layout__spacing_container {
    @include breakpoint(sm) {
      display: flex;
    }
  }

  .layout__region details.set[open] {
    order: -1;
  }

  .layout--twocol {
    .layout__region {
      @include breakpoint(sm) {
        flex: 0 1 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: unset;
        min-width: 0;
      }
    }
  }

  .layout--twocol--50-50 .layout__region--first,
  .layout--twocol--50-50 .layout__region--second {
    @include breakpoint(sm) {
      flex: 0 1 calc(52% - 3rem);
      @include inner-grid(50);
    }
  }

  .layout--twocol--33-67 .layout__region--first,
  .layout--twocol--67-33 .layout__region--second {
    @include breakpoint(sm) {
      flex: 0 1 40%;
    }
  }

  .layout--twocol--33-67 .layout__region--second,
  .layout--twocol--67-33 .layout__region--first {
    @include breakpoint(sm) {
      flex: 0 1 60%;
      @include inner-grid(67);
    }
  }

  .layout--twocol--25-75 .layout__region--first,
  .layout--twocol--75-25 .layout__region--second {
    @include breakpoint(sm) {
      flex: 0 1 24.25%;
    }
  }

  .layout--twocol--25-75 .layout__region--second,
  .layout--twocol--75-25 .layout__region--first {
    @include breakpoint(sm) {
      flex: 0 1 74.75%;
      @include inner-grid(75);
    }
  }

  .layout--twocol--50-50.column-spacing__removed .layout__region--first,
  .layout--twocol--50-50.column-spacing__removed .layout__region--second {
    @include breakpoint(sm) {
      flex: 0 1 50%;
      @include inner-grid(50);
    }
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--first,
  .layout--twocol--67-33.column-spacing__removed .layout__region--second {
    @include breakpoint(sm) {
      flex: 0 1 33%;
    }
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--second,
  .layout--twocol--67-33.column-spacing__removed .layout__region--first {
    @include breakpoint(sm) {
      flex: 0 1 67%;
      @include inner-grid(67);
    }
  }


  .layout--twocol--25-75.column-spacing__removed .layout__region--first,
  .layout--twocol--75-25.column-spacing__removed .layout__region--second {
    @include breakpoint(sm) {
      flex: 0 1 25%;
    }
  }

  .layout--twocol--25-75.column-spacing__removed .layout__region--second,
  .layout--twocol--75-25.column-spacing__removed .layout__region--first {
    @include breakpoint(sm) {
      flex: 0 1 75%;
      @include inner-grid(75);
    }
  }

  .layout--twocol .layout__spacing_container > .layout__region + .layout__region {
    @include breakpoint(sm) {
      margin: 0 0 0 3rem;
    }
  }

  .layout--twocol.column-spacing__removed .layout__spacing_container > .layout__region + .layout__region {
    margin: 0;
  }

  .layout--twocol .layout__region:first-child:last-child {
    @include breakpoint(sm) {
      flex: 0 1 calc(52% - 3rem);
      margin: 0;
    }
  }

