@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.layout--twocol {
  .layout__spacing_container {
    @include grid-base;
    row-gap: 0;
  }
  &.layout--twocol--33-67 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(3, 1fr);
      }
      .layout__region--first {
        grid-area: 1 / 1 / 6 / 2;
      }
      .layout__region--second {
        grid-area: 1 / 2 / 6 / 4;
        @include inner-grid(67);
      }
    }
  }
  &.layout--twocol--67-33 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(3, 1fr);
      }
      .layout__region--first {
        grid-area: 1 / 1 / 6 / 3;
        @include inner-grid(67);
      }
      .layout__region--second {
        grid-area: 1 / 3 / 6 / 4;
      }
    }
  }
  &.layout--twocol--25-75 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(4, 1fr);
      }
      .layout__region--first {
        grid-area: 1 / 1 / 6 / 2;
      }
      .layout__region--second {
        grid-area: 1 / 2 / 6 / 5;
        @include inner-grid(75);
      }
    }
  }
  &.layout--twocol--75-25 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        grid-template-columns: repeat(4, 1fr);
      }
      .layout__region--first {
        grid-area: 1 / 1 / 6 / 4;
        @include inner-grid(75);
      }
      .layout__region--second {
        grid-area: 1 / 4 / 6 / 5;
      }
    }
  }
  &.layout--twocol--50-50 {
    .layout__spacing_container {
      @include breakpoint(sm) {
        @include twocol-grid;
      }
    }
  }
  &.column-spacing__removed {
    .layout__spacing_container {
      gap: 0;
      column-gap: 0;
    }
  }
}

.layout__region details.set[open] {
  order: -1;
}


// @todo remove when IE11 support is dropped.
// IE 11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .layout.layout--twocol,
  .layout.layout--twocol .layout__spacing_container {
    display: flex;
  }

  .layout--twocol  .layout__region {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: unset;
    min-width: 0;
  }

  .layout--twocol--50-50 .layout__region--first,
  .layout--twocol--50-50 .layout__region--second {
    flex: 0 1 49.5%;
  }

  .layout--twocol--33-67 .layout__region--first,
  .layout--twocol--67-33 .layout__region--second {
    flex: 0 1 40%;
  }

  .layout--twocol--33-67 .layout__region--second,
  .layout--twocol--67-33 .layout__region--first {
    flex: 0 1 60%;
  }

  .layout--twocol--25-75 .layout__region--first,
  .layout--twocol--75-25 .layout__region--second {
    flex: 0 1 24.25%;
  }

  .layout--twocol--25-75 .layout__region--second,
  .layout--twocol--75-25 .layout__region--first {
    flex: 0 1 74.75%;
  }

  .layout--twocol--50-50.column-spacing__removed .layout__region--first,
  .layout--twocol--50-50.column-spacing__removed .layout__region--second {
    flex: 0 1 50%;
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--first,
  .layout--twocol--67-33.column-spacing__removed .layout__region--second {
    flex: 0 1 33%;
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--second,
  .layout--twocol--67-33.column-spacing__removed .layout__region--first {
    flex: 0 1 67%;
  }


  .layout--twocol--25-75.column-spacing__removed .layout__region--first,
  .layout--twocol--75-25.column-spacing__removed .layout__region--second {
    flex: 0 1 25%;
  }

  .layout--twocol--25-75.column-spacing__removed .layout__region--second,
  .layout--twocol--75-25.column-spacing__removed .layout__region--first {
    flex: 0 1 75%;
  }

  .layout--twocol--75-25 .layout__region--first + .layout__region--second,
  .layout--twocol--25-75 .layout__region--first + .layout__region--second,
  .layout--twocol--67-33 .layout__region--first + .layout__region--second,
  .layout--twocol--33-67 .layout__region--first + .layout__region--second,
  .layout--twocol--50-50 .layout__region--first + .layout__region--second {
    margin-left: 4rem;
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--second,
  .layout--twocol--75-25.column-spacing__removed .layout__region--second,
  .layout--twocol--67-33.column-spacing__removed .layout__region--second,
  .layout--twocol--50-50.column-spacing__removed .layout__region--second,
  .layout--twocol--25-75.column-spacing__removed .layout__region--second {
    margin-left: 0;
  }

  .layout--twocol--75-25.column-spacing__removed .layout__region--first,
  .layout--twocol--25-75.column-spacing__removed .layout__region--first,
  .layout--twocol--67-33.column-spacing__removed .layout__region--first,
  .layout--twocol--33-67.column-spacing__removed .layout__region--first,
  .layout--twocol--50-50.column-spacing__removed .layout__region--first {
    margin-right: 0;
  }

}
