@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";


@media screen and (min-width: 40em) {

  .layout.layout--twocol,
  .layout.layout--twocol .lb__container {
    display: flex;
  }

  .layout__region details.set[open] {
    order: -1;
  }

  .layout--twocol {
    .layout__region {
      flex: 0 1 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: unset;
    }

    &.section-alignment__start {
      .layout__region {
        align-content: start;
      }
    }
  }

  .layout--twocol--50-50 .layout__region--first,
  .layout--twocol--50-50 .layout__region--second {
    flex: 0 1 49.5%;
  }

  .layout--twocol--33-67 .layout__region--first,
  .layout--twocol--67-33 .layout__region--second {
    flex: 0 1 40%;
  }

  .layout--twocol--33-67 .layout__region--second,
  .layout--twocol--67-33 .layout__region--first {
    flex: 0 1 60%;
  }

  .layout--twocol--25-75 .layout__region--first,
  .layout--twocol--75-25 .layout__region--second {
    flex: 0 1 24.25%;
  }

  .layout--twocol--25-75 .layout__region--second,
  .layout--twocol--75-25 .layout__region--first {
    flex: 0 1 74.75%;
  }

  .layout--twocol--50-50.column-spacing__removed .layout__region--first,
  .layout--twocol--50-50.column-spacing__removed .layout__region--second {
    flex: 0 1 50%;
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--first,
  .layout--twocol--67-33.column-spacing__removed .layout__region--second {
    flex: 0 1 33%;
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--second,
  .layout--twocol--67-33.column-spacing__removed .layout__region--first {
    flex: 0 1 67%;
  }


  .layout--twocol--25-75.column-spacing__removed .layout__region--first,
  .layout--twocol--75-25.column-spacing__removed .layout__region--second {
    flex: 0 1 25%;
  }


  .layout--twocol--25-75.column-spacing__removed .layout__region--second,
  .layout--twocol--75-25.column-spacing__removed .layout__region--first {
    flex: 0 1 75%;
  }

  .layout--twocol--33-67 .layout__region--second,
  .layout--twocol--75-25 .layout__region--second,
  .layout--twocol--67-33 .layout__region--second,
  .layout--twocol--50-50 .layout__region--second,
  .layout--twocol--25-75 .layout__region--second {
    margin-left: 2rem;
  }

  .layout--twocol--75-25 .layout__region--first,
  .layout--twocol--25-75 .layout__region--first,
  .layout--twocol--67-33 .layout__region--first,
  .layout--twocol--33-67 .layout__region--first,
  .layout--twocol--50-50 .layout__region--first {
    margin-right: 2rem;
  }

  .layout--twocol--33-67.column-spacing__removed .layout__region--second,
  .layout--twocol--75-25.column-spacing__removed .layout__region--second,
  .layout--twocol--67-33.column-spacing__removed .layout__region--second,
  .layout--twocol--50-50.column-spacing__removed .layout__region--second,
  .layout--twocol--25-75.column-spacing__removed .layout__region--second {
    margin-left: 0;
  }

  .layout--twocol--75-25.column-spacing__removed .layout__region--first,
  .layout--twocol--25-75.column-spacing__removed .layout__region--first,
  .layout--twocol--67-33.column-spacing__removed .layout__region--first,
  .layout--twocol--33-67.column-spacing__removed .layout__region--first,
  .layout--twocol--50-50.column-spacing__removed .layout__region--first {
    margin-right: 0;
  }

}
