.uiowa-alerts-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  .alert.alert--icon.alert--danger,
  .alert.alert--icon.alert--warning,
  .alert.alert--icon.alert--info {
    margin-bottom: 0;
  }
}
