@use "../../../../themes/custom/uids_base/uids/scss/abstracts/_variables.scss";
@use "../../../../themes/custom/uids_base/uids/scss/abstracts/_utilities.scss";
@use 'sass:color';

// Sign header.
.page-node-type-sign {
  // Adjust margins to be smaller for signage.
  .page__container--full.layout__container .layout__spacing_container {
    margin-left: 0;
    margin-right: 0;
  }

  // Adjust column gap to be smaller for signage.
  .layout {
    &[class*="twocol"],
    &[class*="threecol"] {
      .layout__spacing_container {
        @include utilities.breakpoint(md) {
          column-gap: variables.$mobile-width-gutter;
        }
      }
    }

    // Removes the empty sign fallback if there is content in the sign.
    + .signage--empty {
      display: none;
    }
  }

  // Empty sign block iowa logo.
  .signage--empty {
    .logo--tab {
      width: 100%;
      height: auto;
    }

    .logo-icon {
      height: 150px;
    }
  }

  // Adjust padding to be smaller for signage.
  .layout.layout__container:not(.layout--twocol--75-25.bg--gold) {
    padding-bottom: 0;
    padding-top: 0;
  }

  // Set sign background to black.
  main.content__container {
    background: variables.$secondary;
  }

}

// Slideshow.
.signage-slideshow img {
  width: 100%;
}

.node--type-slide.node--unpublished:after {
  display: block;
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  font-size: variables.$h3-font-size;
  font-family: variables.$font-family-sans-serif;
  content: "Unpublished";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  will-change: opacity;
  // Default is dark overlay.
  background: rgb(0, 0, 0, .5);
}
