<p>This paragraph is nested inside an article. It contains many different,
    sometimes useful,
    <a href="https://www.w3schools.com/tags/">HTML5 tags</a>. Of course there
    are classics like
    <em>emphasis</em>,
    <strong>strong</strong>, and
    <small>small</small>
    but there are many others as well. Hover the following text for abbreviation
    tag:
    <abbr title="abbreviation">abbr</abbr>. Similarly, you can use acronym tag
    like this:
    <acronym title="For The Win">ftw</acronym>. You can define
    <del>deleted text</del>
    which often gets replaced with
    <ins>inserted</ins>
    text.</p>
  <p>You can also use
    <kbd>keyboard text</kbd>, which sometimes is styled similarly to the
    <code>&lt;code&gt;</code>
    or
    <samp>samp</samp>
    tags. Even more specifically, there is a tag just for
    <var>variables</var>. Not to be mistaken with blockquotes below, the quote
    tag lets you denote something as
    <q>quoted text</q>. Lastly don't forget the sub (H<sub>2</sub>O) and sup (E
    = MC<sup>2</sup>) tags.
  </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan,
    metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo
    nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel
    erat vel, interdum mattis neque.</p>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
    praesentium voluptatum deleniti atque corrupti quos dolores et quas
    molestias excepturi sint occaecati cupiditate non provident, similique sunt
    in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
    fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
    tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
    id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
    dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
    rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
    molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
    delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
    perferendis doloribus asperiores repellat.</p>
  <p>Curabitur accumsan turpis pharetra
    <strong>augue tincidunt</strong>
    blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id.
    Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis
    sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque
    nisl.</p>

  <p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames
    ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
    tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
    ultricies mi vitae est. Mauris placerat eleifend leo.
  </p>

