/**
 * @file
 * Default styling for the Entity Types Seminars module.
 *
 * This styling is intended to provide a default layout for both the default
 * Views listings and content nodes, leaving much of the styling up to the
 * site itself.
 */

/* Default styling for the default Views listings. */

/* Default styling for the seminar nodes. */
.seminar .field--label-above .field__label::after { content: ":"; }
.seminar .field--name-seminar-hosts .field__item .paragraph { margin: 0 0 1em; }
.seminar .field--name-seminar-speakers .field__item .paragraph { margin: 0 0 1em; }
.seminar .field--name-seminar-sponsors .field__item .paragraph { margin: 0 0 1em; }
