@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.field--label-inline .field__label::after {
  content: ":";
}

.field.field--label-above {
  line-height: 1.5;
}

.field__label {
  font-weight: bold;
}

.field--label-inline>* {
  display: inline;
}
