@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

.field--name-field-uip-title {
  @include h2;
}

.paragraph--type--section.has-section-image {
  .field--name-field-uip-title {
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  }

  .paragraph--type--text,
  .paragraph--type--webform {
    .field--name-field-uip-title {
      text-shadow: none;
    }
  }
}

.paragraph--type--section.bg-dark {
  .field--name-field-uip-title {
    color: $white;
  }
}

.bg-dark.has-section-image.paragraph--type--section {
  .field--name-field-uip-title {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }

  .paragraph--type--text,
  .paragraph--type--webform {
    .field--name-field-uip-title {
      text-shadow: none;
    }
  }
}
