@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.field--label-above .field__label::after,
.field--label-inline .field__label::after {
  content: ":";
}

.field.field--label-above {
  line-height: 1.5;
}

.field__label {
  font-weight: bold;
  line-height: 1.7;
  font-size: 1.2rem;
  margin-bottom: $xsm;
}

.field--label-inline {
  margin-bottom: $sm;
}

.field--label-inline > * {
  display: inline;
}

.field__item {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-top: 0;
}

.field--label-above {
  margin-bottom: $sm;
  ul {
    margin-top: 0;
  }
}

.field--type-text-long.field--label-inline {
  p {
    display: inline;
  }
}

.field--label-hidden.field__items + .field--label-inline {
  margin-top: $sm;
}

.field--label-hidden.field__item + .field--label-hidden.field__item,
.field--label-hidden.field__items + .field--label-hidden.field__item,
.field--label-hidden.field__items + .field--label-hidden.field__items {
  margin-bottom: $sm;
}

.field--label-hidden.field__item + .field--label-hidden.field__item {
  margin-top: $sm;
}

.field--label-visually_hidden + .field--label-above,
.field--label-hidden + .field--label-above,
.field--label-hidden + .field--label-inline {
  margin-top: $md;
}

.text-formatted.field--type-text {
  div {
    margin-bottom: $sm;
  }
  p {
    margin-bottom: 0;
  }
}

// Wrap long links by allow them to break mid-word.
// @todo When #2325 is closed, either delete this comment
//   or remove the item below if it is no longer necessary.
.field--type-link {
  // @todo Add a general mixin for link fields
  //   and replace this with that.
  word-break: break-word;
}
