// Import site utilities.
/*
@import 'susy/sass/susy';
@import 'breakpoint-sass/stylesheets/breakpoint';
@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

$susy: (
  'columns': susy-repeat(12),
  'gutters': 0,
);

.container {
  @include clearfix;
  padding: 1em;
  max-width: 80em;
  margin: gutter() auto;
  position: relative;
}
*/
/*
.container {
    @include breakpoint($medium) {
      display: block;
    }
  }
*/
