// Import site utilities.
@import 'susy/sass/susy';
@import 'breakpoint-sass/stylesheets/breakpoint';
@import "uds_components/__variables.scss";
@import "uds_components/__utilities.scss";

@import "uds_components/__layout-main.scss";


/*
.container {
  @include clearfix;
  padding: 1em;
  max-width: 80em;
  margin: gutter() auto;
  position: relative;
}

$susy: ('columns': susy-repeat(12),
  'gutters': 0,
);

aside .region,
.layout-content .region {
  padding: 0;
  border: none;
}

.layout-container {
  max-width: 78.750em;
  margin: 0 auto;
}

.layout-container-fluid {
  max-width: 100%;
  padding: 0 35px;
  margin: 0 auto;
}

.layout-container-flex {
  max-width: 100%;
  padding: 0 35px;
  display: flex;
}
*/
