$fa-font-path: "../dist/webfonts";
// Colors ///////////////
$white: #fff;
$red: #ee696c;
$yellow: #e8ed57;
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $med-gray;


$primary:       #FFCD00;
$secondary:     #151515;
$light:         #EDECEB;
$grey:          #737373;


$success:       #0EC170;
$success-dark:  $secondary;
$success-light:  #DAF8EC;

$info:          #1876C9;
$info-dark:     #1260AC;
$info-light:    #DAEAF8;

$warning:       #F7941D;
$warning-dark:  #BB5202;
$warning-light:  #FFEEDB;

$danger:        #FF6348;
$danger-dark:   $secondary;
$danger-light:  #FFE7E3;

//Borders

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-width: 1px;


//Links

$link-color: $info;

// Typography

$font-family-sans-serif: 'Barlow', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$headings-font-weight: $font-weight-medium;

$h1-font-size: 5rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2.875rem;
$h4-font-size: 2.25rem;
$h5-font-size: 1.875rem;
$h6-font-size: 1.125rem;

$text-muted: $grey;

$display1-weight: $font-weight-medium;
$display2-weight: $font-weight-normal;
$display3-weight: $font-weight-medium;
$display4-weight: $font-weight-normal;

$blockquote-small-color: $grey;

//Alerts

$alert-link-font-weight: $font-weight-medium;
$alert-border-width: 0;


// Dropdowns

$dropdown-border-width: 0;
$dropdown-link-hover-bg: $primary;

// Forms

$custom-control-indicator-disabled-bg: $grey;
$input-border-radius: 0;
$input-group-addon-color: $secondary;
$input-group-addon-bg: $primary;
$input-group-addon-border-color: $primary;

// List group

$list-group-active-color: $secondary;

// Badges

$badge-border-radius: 0;
$badge-pill-border-radius: 0;

// Breadcrumbs

$breadcrumb-bg: white;
$breadcrumb-active-color: $secondary;

// Navs

$nav-link-disabled-color: $grey;
$nav-tabs-link-hover-border-color: $primary;
$nav-tabs-link-active-color: $secondary;
$nav-tabs-link-active-bg: white;
$nav-pills-link-active-color: $secondary;

// Pagination

$pagination-color:                  $secondary;
$pagination-bg:                     $primary;
$pagination-border-color:           $primary;

$pagination-hover-color:            white;
$pagination-hover-bg:               $secondary;
$pagination-hover-border-color:     $secondary;

$pagination-active-color:           white;
$pagination-active-bg:              $secondary;
$pagination-active-border-color:    $secondary;

// Tooltips

$tooltip-color: $secondary;
$tooltip-bg: $light;
$tooltip-opacity: 1;

