@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/03 - global/search-toggle/_search-toggle.scss";

$search-img-path: '../../../../../uids/assets/images/search-01.svg';

/* @todo Remove this when .hds-search class has been converted to .uids-search */
.search-overlay .hds-search [type="submit"]::before {
  background-image: url($search-img-path);
}

.search-overlay .uids-search [type="submit"]::before {
  background-image: url($search-img-path);
}
