.uiowa-bar--wrapper {
  /*
  padding: 0;
   @include breakpoint(sm) {
     align-items: center;
     @include flexbox;
     //justify-content: space-between;
   }
   */
  &.uiowa-bar--primary,
  &.uiowa-bar--primary-b,
  &.uiowa-bar--primary-c,
  &.uiowa-bar--primary-d {
    background-color: $primary;
  }
  &.uiowa-bar--secondary {
    background-color: $secondary;
  }
}

 .uiowa-bar__container {
   @extend %container;
   @include padding($top: $sm, $right: 0, $bottom: $sm, $left: 0);
    @include breakpoint(sm) {
      align-items: center;
      @include flexbox;
    }
 }

