

.block-padding__top, .element--padding__top {
  padding-top: 3rem!important;
}

.block-padding__top:first-child {
  padding-top: 0!important;
}

.badge {
  font-size: .9rem!important;
}

.form-item-group-by-month.form-type-checkbox  .form-checkbox {
  height: 1cm;
  width: 1cm;
  flex-shrink: 0
}

.form-item-group-by-month.form-type-checkbox  .form-checkboxes label {
  line-height: 1.5;
  padding-left: .625rem
}

.academic-calendar-filters.uids-content .form-item-group-by-month.form-type-checkbox  .form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #cacaca;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: background-color ease 0.3s;
  width: 62px;
}

.form-item-group-by-month.form-type-checkbox  .form-checkbox:focus {
  background: #737373
}

.academic-calendar-filters.uids-content .form-item-group-by-month.form-type-checkbox  label {
  margin-left: 1rem;
  margin-top: .3rem;
  font-weight: bold;
  align-self: flex-start;
}

.form-item-group-by-month.form-type-checkbox  .form-checkbox:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: var(--brand-secondary);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3,1.5,0.7,1) 0.3s
}

.academic-calendar-filters.uids-content .form-item-group-by-month.form-type-checkbox  .form-checkbox:checked {
  background-color: var(--brand-primary)
}

.form-item-group-by-month.form-type-checkbox  .form-checkbox:checked:before {
  left: 32px
}

.academic-calendar-filters.uids-content .form-type-checkbox label {
  vertical-align: top;
  margin-left: .75rem;
}

.academic-calendar-filters [type=checkbox] {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 .35rem 0 .25rem;
  -webkit-transform: scale(1.3);
}

.academic-calendar-filters .form-type-checkbox {
  padding: 0 .5rem;
  display: flex;
}

/* Card styles to move to UIDS */

.card--layout-left .media--small.media--circle, .card--layout-right .media--small.media--circle {
  max-width: 5.375rem!important;
}

.card .upcoming-date {
  position: relative;
  color: #000;
  background-color: #ffcd00;
  border-radius: 50%;
  padding-top: 1.2rem;
  text-align: center;
  width: 6rem;
  height: 6rem;
}

.card .upcoming-month {
  font-size: 1rem;
  display: block;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 300;
}

.card .upcoming-day {
  font-size: 2.5rem;
  display: block;
  line-height: 100%;
  margin-top: 1px;
  font-weight: 600;
}

.academic-calendar-filters.uids-content .chosen-container-multi .chosen-choices {
  display: block;
}

.academic-calendar-filters.uids-content .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 3.5rem;
}

.academic-calendar-filters.uids-content .chosen-container-multi .chosen-choices li.search-choice {
  max-width: 100%;
  margin: .5rem 0 0 0;
}
