.gpa-calculator-form .gpa-row .form-item:last-child {
  flex: 0 0 fit-content;
  max-width: unset;
}
.gpa-calculator-form .gpa-row .form-item {
  flex: 1 1 auto;
  margin-top: 0;
  margin-bottom: 0;
}

.gpa-calculator-form .gpa-row [class*="form-item-gpa-row-gpa"][class*="grade"] {
 max-width: 6rem;
}
