
  <nav class="tabs" role="navigation" aria-label="Tabs">
    <ul class="tabs primary">
      <li class="tab is-active">
        <a href="/user/6" data-drupal-link-system-path="user/6"
          class="is-active">View<span class="visually-hidden">(active
            tab)</span></a>
      </li>
      <li class="tab">
        <a href="/user/6/roles"
          data-drupal-link-system-path="user/6/roles">Roles</a>
      </li>
      <li class="tab">
        <a href="/user/6/edit"
          data-drupal-link-system-path="user/6/edit">Edit</a>
      </li>
    </ul>

  </nav>

<br /><br />


  <div class="tabs__wrapper">
    <ul class="tabs" id="tabs" data-tabs="data-tabs">
      <li class="tab">
        <a data-tabby-default="data-tabby-default" href="#section1">Section
          1</a>
      </li>
      <li class="tab">
        <a href="#section2">Section 2</a>
      </li>
      <li class="tab">
        <a href="#section3">Section 3</a>
      </li>
      <li class="tab">
        <a href="#section4">Section 4</a>
      </li>
    </ul>
    <div class="tabs-content" id="section1">
      <h3>Section 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod,
        tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet
        enim lacus a velit.
        <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam
        iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio
        bibendum magna bibendum accumsan.</p>
    </div>
    <div class="tabs-content" id="section2">
      <h3>Section 2</h3>
      <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna
        semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum
        finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis
        scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum
        lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna,
        laoreet ut rhoncus at, sodales consequat tellus.</p>
    </div>
    <div class="tabs-content" id="section3">
      <h3>Section 3</h3>
      <p>Phasellus ac tristique orci. Nulla maximus
        <a href="">justo nec dignissim consequat</a>. Sed vehicula diam sit amet
        mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse
        lorem turpis, accumsan consequat consectetur gravida,
        <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit
        amet mollis neque. Vestibulum at facilisis massa.</p>
    </div>
    <div class="tabs-content" id="section4">
      <h3>Section 4</h3>
      <p>Nam luctus, enim in interdum condimentum, nisl diam iaculis lorem, vel
        volutpat mi leo sit amet lectus. Praesent non odio bibendum magna
        bibendum accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet
        velit, nec laoreet enim lacus a velit.
      </p>
    </div>
  </div>






<style>
  .content {
    padding: 40px;
  }
</style>
