//https://www.svgbackgrounds.com/#subtle-prism

.header__container {
  @extend %container;
  &--full {
 @include breakpoint(sm) {
   @include flexbox;
   @include padding($top: 0, $right: $lg, $bottom: 0, $left: $lg);
  }
}
  @include breakpoint(sm) {
    @include flexbox;
    .site-header__left &,
    .site-header__center & {
      display: block;
      padding: 0;
    }
    .site-header__center & {
      max-width: 100%;
    }
  }
}

header {
  &.site-header--primary {
    background-color: $primary;
  }

  &.site-header--secondary {
    background-color: $secondary;
  }

  &.site-header--tertiary {
    background-color: #ffffff;
  }
}

.black {
  background: $blk;
}
