@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

.aggregator-feed {
  .feed-image {
    margin-bottom: $md;
  }

  .feed-description {
    @include card-header;
  }

  .field--type-timestamp {
    display: table;
    margin-bottom: $desktop-width-gutter;

    .field__item {
      font-weight: $font-weight-light;
    }

    .field__label {
      &:after {
        content: ":";
        padding-right: $xsm;
      }
    }

    >* {
      display: inline;
    }
  }

  .feed-icon {
    @include bttn;
    @include bttn--primary;
    font-family: $font-family-caps-bold;
  }
}
