@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

.aggregator-item {
  .field--name-author {
    display: inline-block;
  }
}

.aggregator-feed {

  .feed-description {
    margin: 0 0 $sm;
    padding: 0;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    padding-top: $md;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .field--type-timestamp {
    display: table;
    margin-bottom: $desktop-width-gutter;

    .field__item {
      font-weight: $font-weight-light;
    }

    .field__label {
      &:after {
        content: ":";
        padding-right: $xsm;
      }
    }

    >* {
      display: inline;
    }
  }

  .feed-icon {
    @include bttn;
    @include bttn--primary;
    font-family: $font-family-caps-bold;
  }
}
