@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/card/_card-mixins.scss";

article.node--type-article,
div[role=article].node--type-article {

  .article-created-date {
    display: block;
    @include card-subtitle;

    .page-node-type-article & {
      color: $secondary;
    }
  }

  .field--name-field-teaser {
    @include card-paragraph;
    margin: .5rem 0 0;
  }

  .field--name-body {
    margin: $gutter 0;
  }

  .field--name-field-article-author {
    .field__label {
      display: inline;
      margin-right: $xsm;
    }

    .field__items {
      padding-right: 0;
      display: inline-block;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &:after {
      display: inline-block;
    }

    .field__items {
      .field__item {
        display: inline;

        &:not(:first-child) {
          padding-left: $xsm;

          &:before {
            content: '| ';
            color: $grey;
            padding-right: $xsm;
          }
        }
      }
    }
  }


  .block-field-blocknodearticlefield-article-source-org,
  .block-field-blocknodearticlefield-article-source-link,
  .block-field-blocknodearticlefield-article-author {
   // display: inline;
  }

  .field--name-field-article-source-org,
  .field--name-field-article-source-link {
    //display: inline-block;


  }
}


.field--name-field-article-author+.field--name-field-article-source-link {
  &:before {
    content: '- ';
    color: $grey;
    margin: 0 $xsm;
  }
}

.article--meta {
  display: inline-block;
  font-family: $font-family-serif;
  font-size: 1.2rem;
  line-height: 1.7;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &:after {
    display: inline-block;
  }
  .link-item,
  .field__item {
    display: inline-block;
  }
  .field--label-inline {
    margin-bottom: 0;
  }
  &.article--meta__block {
    display: block;
  }
}


article.node--type-article {
  // Remove colon being added by field.css.
  .field--label-above .field--label-inline:after {
    content: "";
  }

  .block-extra-field-blocknodearticlearticle-created-date {
    margin: 0 0 .7rem;
  }

  .block-field-blocknodearticlefield-article-source-org+.block-field-blocknodearticlefield-article-source-link:before {
    content: "| ";
    color: #737373;
    margin: 0 .325rem;
  }

  .block-field-blocknodearticlefield-article-author+.block-field-blocknodearticlefield-article-source-org {
    &:before {
      content: '- ';
      color: $grey;
      margin: 0 $xsm;
    }
  }

  .gallery-jump-link {
    display: block;
    svg {
      margin-right: 0.3rem;
    }
  }

  .block-field-blocknodearticlefield-image-caption {
    font-style: italic;
    z-index: 3;
    position: relative;
    margin-bottom: $mobile-height-gutter;
    line-height: 1.3;

    @include breakpoint(sm) {
      color: #fff;
      order: 2;
      margin-bottom: unset;
      margin-top: $gutter;
    }
  }

  // @todo Move this to UIDS in https://github.com/uiowa/uids/issues/721
  .banner__content {
    display: flex;
    flex-direction: column;
  }
}

article.node--type-article.node--view-mode-full,
div[role=article].node--type-article.node--view-mode-full {
  .field--name-field-image-caption {
    margin: 1rem 0 3rem 0;
    color: #666;
  }
}

article.node--type-article.node--view-mode-teaser,
div[role=article].node--type-article.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  .field--name-title {
    display: block;
  }
}

.grid.paragraph--type--articles,
.masonry.paragraph--type--articles {

  article.node--type-article.node--view-mode-teaser,
  div[role=article].node--type-article.node--view-mode-teaser {
    .content-image {
      margin-left: 0;
    }

    .content-image img {
      margin-left: 0 !important;
      max-width: 100%;
    }
  }
}

// Hero
.page-node-type-article .hero {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  box-sizing: border-box;
  -webkit-transform: translateX(calc(50vw - 50%));
  transform: translateX(calc(50vw - 50%));
}

// Arrow button spacing for article teasers
.card.node--type-article {
  &.card--media-right,
  &.card--media-left {
    .field--name-field-article-author.field--label-inline {
      margin-bottom: 0;
      display: inline-block;
    }
    .article--meta+.bttn,
    .field--name-field-teaser+.bttn {
      margin-top: 1.05rem;
    }
  }
}
