@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

.field--name-field-person-contact-information {
  margin-bottom: .7rem;
}

.field--name-field-uiowa-contact-label {
  margin-top: .7rem;
  font-weight: $font-weight-bold;
  line-height: 1.7;
  font-size: 1.2rem;

  &:after {
    content: ":";
  }
}
