@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "components/card/_card-mixins.scss";
@import "components/headline/_headline-mixins.scss";
@import "components/media/_media-mixins.scss";

article.node--type-person.node--view-mode-full,
div[role=article].node--type-person.node--view-mode-full {
  .content-image img {
    max-width: 100%;
    height: auto;
  }

  .field a {
    line-height: 1.7;
    font-size: 1.2rem;
  }
}

article.node--type-person.node--view-mode-teaser,
div[role=article].node--type-person.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  h3 a {
    display: inline-block;
  }

  .field--name-title {
    display: block;
  }
}

.grid.paragraph--type--featured,
.masonry.paragraph--type--featured {

  article.node--type-person.node--view-mode-teaser,
  div[role=article].node--type-person.node--view-mode-teaser {
    .content-image {
      margin-left: 0;
    }

    .content-image img {
      margin-left: 0 !important;
      max-width: 100%;
    }
  }
}

// Person Content
.person-content {
  &.col-md-6 {
    padding: 0;
    margin-top: $gutter;

    @include breakpoint(menu) {
      flex: 0 0 67%;
      max-width: 67%;
      margin-top: 0;
    }
  }
}

// Subtitle
.subtitle {
  @include card-subtitle;
  display: block;
  font-size: 1.6rem;
}


// Person Meta
.person-meta {
  &.col-md-6 {
    padding: 0;

    @include breakpoint(menu) {
      padding-right: $desktop-width-gutter;
      flex: 0 0 33%;
    }
  }

  .field--label-inline {
    margin-bottom: .7rem;
  }

  figure {
    margin: 0;
  }

  .h5.field--name-field-person-position {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .h5.field--name-field-person-position .field__item {
    margin-bottom: 1rem;
  }
}

.field--name-field-person-contact-information {
  margin-bottom: .7rem;
}

.field--name-field-uiowa-contact-label {
  margin-top: .7rem;
  font-weight: $font-weight-bold;
  line-height: 1.7;
  font-size: 1.2rem;

  &:after {
    content: ":";
  }
}

.grad-more-link a {
    @include bttn;
    @include bttn--primary;
    font-family: $font-family-caps-bold;
}

// paragraph teaser
.paragraph--type--people {
  p {
    display: none;
  }

  .h6 {
    margin-top: .7rem;
    margin-bottom: 1.5rem;
  }

  .field--name-field-person-position {}

  .field--name-field-teaser {
    margin-top: $gutter;
  }
}
