@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

article.node--type-page.node--view-mode-teaser,
div[role=article].node--type-page.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  .field--name-title {
    display: block;
  }
}

.content__container .page__container--edge.uids-menu-enabled .lb__container,
.content__mixed .page__container--edge.uids-menu-enabled .lb__container {
  display: flex;
  flex-wrap: wrap;
  @extend %container;
}

.content__container .page__container--edge.uids-menu-enabled.sidebar-invisible .lb__container,
.content__mixed .page__container--edge.uids-menu-enabled.sidebar-invisible .lb__container {
  max-width: 100%;
}

.content__container .layout__container.uids-menu-disabled,
.content__container .layout__container.uids-menu-enabled.sidebar-invisible,
.content__mixed .layout__container.uids-menu-disabled,
.content__mixed .layout__container.uids-menu-enabled.sidebar-invisible {
  margin-bottom: 0;
}

.uids-menu-enabled {
  .layout__region--sidebar {
    @include breakpoint(menu) {
      flex: 0 1 24.25%;
      margin-right: 3%;
    }
  }

  &.sidebar-invisible {
    .layout__region--sidebar {
      display: none;
    }

    .layout__region--main {
      @include breakpoint(menu) {
        flex: 0 1 100%;
      }
    }
  }
}

.uids-menu-enabled .layout__region--main {
  @include breakpoint(menu) {
    flex: 0 1 71.75%;
  }
}


.page-node-type-page {
  .uids-menu-enabled {
    .hero {
      margin-bottom: $gutter;
    }
  }

  .uids-menu-enabled.sidebar-invisible {
    .hero {
      margin-bottom: 0;
    }
  }

}
