@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.node--view-mode-teaser {

  //flex-wrap: wrap-reverse;
  ////align-items: flex-end;
  //
  //@include breakpoint(xsm) {
  //  $featured-img-size-xs: 80px;
  //
  //  figure {
  //    flex-basis: $featured-img-size-xs;
  //
  //    img {
  //      margin-left: 0;
  //      max-width: $featured-img-size-xs;
  //    }
  //  }
  //
  //  .node__content {
  //    flex: 1;
  //    margin-right: 2rem;
  //    flex-basis: calc(100% - #{$featured-img-size-xs} - 2rem);
  //  }
  //}
  //
  //@include breakpoint(sm) {
  //  $featured-img-size-sm: 150px;
  //
  //  figure {
  //    flex-basis: $featured-img-size-sm;
  //
  //    img {
  //      max-width: $featured-img-size-sm;
  //    }
  //  }
  //
  //  .node__content {
  //    flex-basis: calc(100% - #{$featured-img-size-sm} - 2rem);
  //  }
  //}
  //
  //$featured-img-size-md: 220px;
  //
  //figure {
  //  flex-basis: $featured-img-size-md;
  //
  //  img {
  //    max-width: $featured-img-size-md;
  //  }
  //}
  //
  //.node__content {
  //  flex-basis: calc(100% - #{$featured-img-size-md} - 2rem);
  //}

  // Styles for the masonry display.
  .masonry & {
    figure {
      flex-basis: 0px;
    }

    .node__content {
      margin-right: 0;
    }
  }

  // Styles for the grid display.
  .grid & {
    figure {
      flex-basis: 0px;
    }

    .node__content {
      margin-right: 0;
    }
  }
}
