@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "components/card/_card-mixins.scss";
@import "components/headline/_headline-mixins.scss";
@import "components/media/_media-mixins.scss";

.page-node-type-person.layout-builder-enabled {
  .field--name-field-person-position {
    margin-top: 1rem;
    .field__item {
      @include headline-serif;
      @include headline-highlight;
      @include headline-highlight-word;
      display: inline-block;
      font-size: 2rem;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }

  .block-field-blocknodepersonfield-person-bio {
    margin-top: 2rem;
  }

  .card__subtitle a,
  .card__label a {
    text-decoration: none;
  }

  .card__label {
    padding-left: 30px;
    .svg-inline--fa {
      width: 20px;
      margin-left: -25px;
      color: $secondary;
    }
  }

  .card__subtitle {
    .svg-inline--fa  {
      font-size: 1rem;
      margin-right: .5rem;
      color: $secondary;
    }
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23cccccc' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  }
}


article.node--type-person.node--view-mode-full,
div[role=article].node--type-person.node--view-mode-full {
  .content-image img {
    max-width: 100%;
    height: auto;
  }

  .field a {
    line-height: 1.7;
    font-size: 1.2rem;
  }
}

article.node--type-person.node--view-mode-teaser,
div[role=article].node--type-person.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  h3 a {
    display: inline-block;
  }

  .field--name-title {
    display: block;
  }
}

.grid.paragraph--type--featured,
.masonry.paragraph--type--featured {

  article.node--type-person.node--view-mode-teaser,
  div[role=article].node--type-person.node--view-mode-teaser {
    .content-image {
      margin-left: 0;
    }

    .content-image img {
      margin-left: 0 !important;
      max-width: 100%;
    }
  }
}

// Person Content
.person-content {
  &.col-md-6 {
    padding: 0;
    margin-top: $gutter;

    @include breakpoint(menu) {
      flex: 0 0 67%;
      max-width: 67%;
      margin-top: 0;
    }
  }
}

// Subtitle
.subtitle {
  @include card-subtitle;
  display: block;
  font-size: 1.6rem;
}


// Person Meta
.person-meta {
  &.col-md-6 {
    padding: 0;

    @include breakpoint(menu) {
      padding-right: $desktop-width-gutter;
      flex: 0 0 33%;
    }
  }

  .field--label-inline {
    margin-bottom: .7rem;
  }

  figure {
    margin: 0;
  }

  .h5.field--name-field-person-position {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .h5.field--name-field-person-position .field__item {
    margin-bottom: 1rem;
  }
}

.field--name-field-person-contact-information {
  margin-bottom: .7rem;
}

.field--name-field-uiowa-contact-label {
  margin-top: .7rem;
  font-weight: $font-weight-bold;
  line-height: 1.7;
  font-size: 1.2rem;

  &:after {
    content: ":";
  }
}

// paragraph teaser
.paragraph--type--people {
  p {
    display: none;
  }

  .h6 {
    margin-top: .7rem;
    margin-bottom: 1.5rem;
  }

  .field--name-field-person-position {}

  .field--name-field-teaser {
    margin-top: $gutter;
  }
}
