@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

article.node--type-area-of-study,
div[role=article].node--type-area-of-study {
  display: flex;
  flex-wrap: wrap;

  .main {
    flex: 0 1 72.75%;
  }

  .sidebar {
    flex: 0 1 24.25%;
    margin-left: 3%;
  }
}
