@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

article.node--type-article,
div[role=article].node--type-article {

  .article-created-date {
    display: block;
    @include card-subtitle;
    margin-bottom: .5rem;

    .page-node-type-article & {
      color: $secondary;
    }
  }

  .field--name-field-teaser {
    @include card-paragraph;
    margin: .5rem 0 0;
  }

  .field--name-body {
    margin: $desktop-width-gutter 0;
  }

  .field--name-field-article-author {

    margin: 1rem 0;

    .field__label {
      display: inline;
    }

    .field__items {
      padding-right: 0;
      display: inline-block;
    }

    display: inline-block;
    font-family: $font-family-serif;
    font-size: 1.2rem;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &:after {
      display: inline-block;
    }

    .field__items {
      .field__item {
        display: inline;

        &:not(:first-child) {
          padding-left: $sm;

          &:before {
            content: '| ';
            color: $grey;
            padding-right: $sm;
          }
        }
      }
    }
  }

// Remove
  .article-meta {
    .field--name-field-article-source-org,
    .field--name-field-article-source-link {
      display: inline-block;
      font-family: $font-family-serif;
      font-size: 1.2rem;

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      &:before {
        content: '- ';
        color: $grey;
      }

      &:after {
        display: inline-block;
      }
    }
  }
}

article.node--type-article.node--view-mode-full,
div[role=article].node--type-article.node--view-mode-full {
  .field--name-field-image-caption {
    margin: 1rem 0 3rem 0;
    color: #666;
  }

  .article-meta {
    margin: 1rem 0;
  }
}

article.node--type-article.node--view-mode-teaser,
div[role=article].node--type-article.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  .field--name-title {
    display: block;
  }
}

.grid.paragraph--type--articles,
.masonry.paragraph--type--articles {

  article.node--type-article.node--view-mode-teaser,
  div[role=article].node--type-article.node--view-mode-teaser {
    .content-image {
      margin-left: 0;
    }

    .content-image img {
      margin-left: 0 !important;
      max-width: 100%;
    }
  }
}

// Hero

.page-node-type-article .hero {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  box-sizing: border-box;
  -webkit-transform: translateX(calc(50vw - 50%));
  transform: translateX(calc(50vw - 50%));
}
