@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// Position field
.page-node-type-person.layout-builder-enabled,
.page-node-type-mentor.layout-builder-enabled {
  .field--name-field-person-position {
    margin-top: .6rem;
    .field__item {
      // https://garyridgway.github.io/clampCalculator/?minWidth=600&maxWidth=1310&minFontSize=1.8&maxFontSize=2.3&auto
      font-size: clamp(1.8rem, calc(1.1268vw + 1.3775rem), 2.3rem);
      line-height: 1.1;
      font-weight: 300;
      margin-bottom: .5rem;
    }
  }
}

// For professional titles on multiple lines
.view-people-list-block,
.view-people-block,
.view-people,
.block-inline-blockfeatured-content,
.paragraph--type--featured-content {
  .field--name-field-person-position {
    &.field--label-visually_hidden {
      .field__items {
        display: grid;
      }
    }
  }
}

// Empty profile img
.img--empty {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $light;
  background-image: url('/themes/custom/uids_base/assets/images/person-one.svg');
  .media--border & {
    aspect-ratio: 1 / 1;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.125), inset 0 0 0 9px #fff;
    background-position: 50% 105%;
  }
  .media--widescreen & {
    background-position: 50% -5%;
    aspect-ratio: 16 / 9;
  }
}

// Fallback (current, using padding hack)
@supports not (aspect-ratio: 16 / 9) {
  .media--border .img--empty {
    padding-top: 85%;
  }
  .card__media--large.media--circle .img--empty,
  .card__media--medium.media--circle .img--empty {
    padding-top: 90%;
    @include breakpoint(sm) {
      padding-top: 95%;
    }
  }
  .media--widescreen .img--empty {
    padding-top: 45%;
  }
  .media--square .img--empty {
    padding-top: 100%;
  }
}
