@import "../../uids/assets/scss/variables";
@import "../../uids/assets/scss/utilities";

.field--name-field-person-territory {
  .field__label {
    font-size: $small-font-size;
    margin-bottom: 0;
    margin-top: $gutter;
  }
  .field__items, .field__item {
    font-size: $small-font-size;
    color: $text-muted;
  }
}

// person layout
.page-node-type-person.layout-builder-enabled {
  .layout__region--first {
    .field__item {
      line-height: 1.7;
      font-size: 1.2rem;
      margin-top: 0;
    }

    .field--name-field-person-territory {
      .field__items, .field__item {
        font-size: $small-font-size;
        color: $text-muted;
      }
    }
  }
  .field__label {
    margin-bottom: 0;
  }
  .field--name-field-uiowa-contact-label {
    font-size: 1rem;
  }
  .field--label-above {
    margin-bottom: 1.5rem;
  }

  .views-element-container {
    margin-top: 0;
  }
}

// Position field
.page-node-type-person.layout-builder-enabled,
.page-node-type-mentor.layout-builder-enabled {
  .field--name-field-person-position {
    margin-top: .6rem;
    .field__item {
      font-size: 2.3rem;
      line-height: 1;
      font-weight: 300;
      margin-bottom: .5rem;
    }
  }
}

// Shared styles by card person view and card person teaser views
.card--person,
.card--person-teaser {
  .card__subtitle a,
  .card__date a {
    text-decoration: none;
  }

  .card__date {
    font-size: 1.1rem;
    margin-bottom: .6rem;
    line-height: 1.3;
  }
}

// Person card view block
.card--person {
  .card__subtitle {
    .svg-inline--fa {
      font-size: 1rem;
      margin-right: .5rem;
      color: $secondary;
    }

    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 1rem;
    padding: .7rem 1rem;
    background: $light;
    opacity: 1;
  }

  .card__date {
    padding-left: 45px;
    .svg-inline--fa {
      width: 35px;
      margin-left: -40px;
      color: $secondary;
      position: absolute;
    }
  }
}

// Card person teaser view
.card--person-teaser {
  .card__date,
  .card__subtitle {
    a {
      word-break: break-word;
    }
    .svg-inline--fa {
      margin-right: .3rem;
    }
  }
  .card__subtitle {
    padding-bottom: .5rem;
    margin-top: -.3rem;
    .svg-inline--fa {
      font-size: 1.1rem;
    }
  }
}

.img--empty {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $light;
  background-image: url('/themes/custom/uids_base/assets/images/person-one.svg');
  .media--border & {
    aspect-ratio: 1 / 1;
    box-shadow: inset 0px 0px 0px 8px white;
  }
  .media--widescreen & {
    background-position: 50% 20px;
    aspect-ratio: 16 / 9;
  }
}

// Fallback (current, using padding hack)
@supports not (aspect-ratio: 16 / 9) {
  .media--border .img--empty {
    padding-top: 85%;
  }
  .card__media--large.media--circle .img--empty,
  .card__media--medium.media--circle .img--empty {
    padding-top: 90%;
    @include breakpoint(sm) {
      padding-top: 95%;
    }
  }
  .media--widescreen .img--empty {
    padding-top: 45%;
  }
  .media--square .img--empty {
    padding-top: 100%;
  }
}
