@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";

// Card Mixins.

@mixin card-enclosed {
  border: 1px solid;

  .card__body {
    padding: 2rem;
  }

  .bttn {
    margin-bottom: 0;
  }
}


@mixin card-header {
  margin: 0 0 variables.$sm;
  padding: 0;
  font-size: 1.5rem;
  font-weight: variables.$font-weight-medium;
  line-height: 1.2;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


@mixin card-title {
  margin-bottom: .75rem;
}

@mixin card-body {
  flex: 1;
  padding: 2rem 0 0;
  @include utilities.breakpoint(sm) {
    padding: 2rem;
  }
  min-height: 1px;
  line-height: 1.7;

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  @include utilities.breakpoint(sm) {
    padding: 2rem 0;
  }

  ul,
  ol,
  dl,
  table {
    font-size: 1rem;
    line-height: 1.7;
  }
}

@mixin card-subtitle {
  opacity: .7;
  font-family: variables.$font-family-serif;
  font-size: 1.3rem;
  font-weight: variables.$font-weight-medium;
  line-height: 1.3;
}

@mixin card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  text-decoration: none;
  flex-grow: 1;
  @include utilities.flexbox;
  @include utilities.flex(variables.$fg: 1, variables.$fs: 1, variables.$fb: 0%);
  @include utilities.flex-direction(variables.$value: column);

  &:focus-within .card__title a:focus {
    text-decoration: underline;
  }

  @include utilities.breakpoint(sm) {
    border: none;
    margin-bottom: 0;
  }
}

@mixin card-paragraph {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.7;

  a {
    position: relative;
    z-index: 1;
  }
}

@mixin card-img-top {
  min-height: 1px;
}


@mixin card-media {
  flex-shrink: 0;
  width: 100%;
  min-height: 1px;

  img {
    flex-shrink: 0;
    width: 100%;
    @include card-img-top;
  }
}

@mixin card-media-horizontal-right {
  @include utilities.breakpoint(sm) {
    flex: 0 0 35%;
    max-width: 35%;
    margin-left: variables.$gutter;
  }
}

@mixin card-media-small {
  @include utilities.breakpoint(sm) {
    flex: 0 0 25%;
    width: 25%;
  }
}

@mixin card-media-medium {
  @include utilities.breakpoint(sm) {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
}

@mixin card-media-large {
  @include utilities.breakpoint(sm) {
    flex: 0 0 50%;
    width: 50%;
  }
}


.sitenow-event-single {

  .date-instance__next-upcoming {
    display: block;
    @include card-subtitle;
    color: variables.$secondary;
  }

  a.date-repeats-toggle {
    font-family: variables.$font-family-serif;
    font-size: 1.2rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .event-location {
    font-family: variables.$font-family-serif;
    font-size: 1.2rem;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .event-description {
    margin: variables.$gutter 0;
  }
}

// @todo remove when https://github.com/uiowa/uiowa/issues/2756 is completed.

.page-node-type-event {
  .layout__region--second {
    .block.fa-field-item {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}

