@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "uids3/components/card/_card-mixins.scss";

.sitenow-event-single {

  .date-instance__next-upcoming {
    display: block;
    @include card-subtitle;
    color: $secondary;
  }

  a.date-repeats-toggle {
    font-family: $font-family-serif;
    font-size: 1.2rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .event-location {
    font-family: $font-family-serif;
    font-size: 1.2rem;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .event-description {
    margin: $gutter 0;
  }
}

// @todo remove when https://github.com/uiowa/uiowa/issues/2756 is completed.

.page-node-type-event {
  .layout__region--second {
    border: 1px solid #ccc;
    padding-bottom: 2rem;
    .block:first-child:not([class*="block-field-blocknodeeventfield-image"]) {
      margin-top: 1.6rem;
    }
    .field__item {
      line-height: 1;
    }
    .block.fa-ul {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}
