@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "assets/scss/_fonts.scss";
@import "assets/scss/_base.scss";
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap');


// Admin only styles

.toolbar-menu {
  font-size: unset;
}

// Layout Builder Editor Styles

.contextual .trigger {
  position: relative !important;
}

.layout-builder__region {
  width: 100%;
}

.layout-builder-block {
  padding: 0;
  cursor: move;
}

.stat.layout-builder-block {
  padding: 5rem;
}


.layout-builder__add-block {
  padding: 1.5em;
}


.layout__container {

  .layout-builder-block,
  .layout-builder__add-block {
    flex-basis: 100%;
  }

  &.section-column__row {

    .layout-builder-block,
    .layout-builder__add-block {
      flex: 1 1 0%;
      flex-basis: unset;
    }
  }
}

.feature__container .layout__region .layout-builder__region {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#drupal-off-canvas select[multiple] option {
  color: #000;
  background: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
}

// admin styles for responsive layout sections for container

.content__container .layout-builder__section,
.content__mixed .layout-builder__section {
  .layout__container {
    margin: 0;

    @include breakpoint(container) {
      position: relative;
      max-width: 84.375em;
      margin: 0 auto;
    }

    &.page__container--full {
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    &.page__container--edge {
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// admin styles for responsive layout sections for full width or mixed settings

.content__full .layout-builder__section {
  .layout__container {
    margin: 0;
    &.page__container {
        @include breakpoint(container) {
          position: relative;
          max-width: 84.375em;
          margin: 0 auto;
        }
      }
  }
}

// admin styles for container setting local drupal admin blocks

.content__container,
.content__mixed {
  .block-local-tasks-block,
  .block-help-block,
  .form-actions,
  .layout-builder__message,
  .form-type-vertical-tabs {
    @extend %container;
  }
}

// admin styles layout builder container reset

.layout-builder {
  margin: $gutter 0;
  padding: $gutter;
}

// admin styles adjust vertical tabs at bottom of edit screen

.layout-builder-enabled {
  .vertical-tabs__menu-item {
    border: none;
  }

  .vertical-tabs {
    margin: $gutter 0;
    .form-type-checkbox {
      margin: $gutter 0;
    }
  }

  .vertical-tabs__menu {
    margin: 0;
    list-style: none;
    border: none;

    li {
      list-style-type: none;
    }
  }
}

// admin styles for full-width and mixed setting for local drupal admin blocks

.content__full {
  .block-local-tasks-block,
  .block-help-block,
  .form-actions,
  .layout-builder__message,
  .form-type-vertical-tabs {
    margin-right: $gutter;
    margin-left: $gutter;
  }
}
