// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
//@import 'utils/init';
// Import Typography



// Base
//
// Plain html element styling. Shouldn't require
// any classes.
// ========================================
@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "assets/scss/_fonts.scss";
@import "assets/scss/_base.scss";
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap');


// Layout Builder Editor Styles
.contextual .trigger {
  position: relative !important;
}

.layout-builder__region {
  width: 100%;
}

.layout-builder-block {
  padding: 0;
  cursor: move;
}

.layout-builder__add-block {
  padding: 1.5em;
}


.section-margin {
   @include margin($lg, 0);
   &__top {
     @include margin($lg, 0, 0, 0);
   }
  &__bottom {
    @include margin(0, 0, $lg, 0);
  }
}

// News Block

// Layout Builder Editor Only
//.block-inline-blockstatistic

.slick-container .layout-builder__region-label {
  display: none !important;
}


//.block-inline-blockstatistic
.block-inline-blockuiowa-card,
.block-inline-blockuiowa-noteworthy {
  position: relative;
  display: flex;
  flex: 1;
}

.card__wrapper .card__wrapper {
  width: 100%;
}

.region-title {
  background: #eff6fc;
  text-align: center;
  display: inline-block;
  position: absolute;
  padding: 10px 10px 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10.5px;
  letter-spacing: .2em;
  color: #2f91da;
  z-index: 100;
  button {
    z-index: 90000;
    cursor: pointer;
  }
}

/*
.layout-builder__add-block {
  padding: .3em 1.5em .5em 0;
  background-color: #fff!important;
}
*/

details.active[open] {
  display: block!important;
}

/*
.collapsible div[aria-hidden=true] {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
}
*/
details {
  padding: 1em;
  cursor: pointer;
  display: block;
  dd {
  /*  color: #B0B3C2;
    font-family: monospace;
    font-size: 16px;
    margin: 0 0 1.5em 0;
    margin: 0;
    margin-bottom: 1.5em;
    padding: 1em;
    */
  }
}


details>summary:first-of-type {
  list-style-type: none;
}

::-webkit-details-marker {
  display: none;
}
 details>summary {
  display: block
}


.layout-builder__layout {
    details {
      padding: 0;
    }
summary {
  display: block; // set as block to avoid default arrow
  position: relative;

  &:after {
    color: #ED3E44;
    content: "+";
    float: right;
    font-weight: bold;
    position: absolute;
    top: 4px;
    right: 10px;
  }
}

details[open] summary:after {
  content: "-";
}

summary::-webkit-details-marker {
  display: none!important;
}
details summary::-webkit-details-marker {
  display: none!important;
}
}


/*
.layout-builder__region {
  outline: none;
  border: 2px dashed #2f91da;
  border-top: none;
}
*/


/*

.layout--twocol-50-50 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-50-50>.layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--twocol-50-50>.layout__region--first {
    flex: 0 1 50%;
  }

  .layout--twocol-50-50>.layout__region--second {
    flex: 0 1 50%;
  }
}

*/

.hds-content .dropbutton-toggle [type="submit"],
.hds-content .dropbutton-toggle [type="button"] {
  position: unset;
}




.block-inline-blockuiowa-feature {
  display: flex;
  flex: 1;
}

.feature__container-expanded .block-inline-blockuiowa-feature .feature {
  flex: 1;
}

.block-inline-blockuiowa-feature .feature:hover .feature__content,
.block-inline-blockuiowa-feature .feature:focus .feature__content {
  opacity: 0;
}

.block-inline-blockuiowa-feature .feature:nth-child(1) .feature__teaser {
  opacity: 1;
}

.block-inline-blockuiowa-feature .feature {
  flex: 1 1 0%;
  display: flex;
  min-height: 500px;
}

.block-inline-blockuiowa-feature .feature__wrapper {
  width: 100%;
}



.feature__container .layout__region .layout-builder__region  {
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  display: flex;
}


.feature__container-expanded .layout__region .layout-builder__region:hover>.feature,
.feature__container-expanded .layout__region .layout-builder__region:focus-within>.feature {
  @include breakpoint(sm) {
    flex: unset;
    flex-grow: 0;
  }
}



.feature__container-expanded .layout__region .layout-builder__region:hover>.feature:hover,
.feature__container-expanded .layout__region .layout-builder__region:focus-within>.feature:focus {
  flex-grow: 1;
}

