@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "assets/scss/_fonts.scss";
@import "assets/scss/_base.scss";
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap');

.section-margin {
  &__top {
    margin-top: $md;

    &.page__container {
      margin-top: $md;
    }
  }

  &__bottom {
    margin-bottom: $md;

    &.page__container {
      margin-bottom: $md;
    }
  }
}

.layout--fourcol,
.layout--threecol,
.layout--twocol,
.layout--onecol {
  margin-bottom: $md;

  &.section-margin__removed {
    margin-bottom: 0;
  }

  &.section-margin__removed.section-margin__bottom {
    margin-bottom: $md;
  }
}

.layout--onecol,
.layout--onecol-flex {
  &.page__container {
    margin-bottom: $md;
  }

  &.page__container.section-margin__removed {
    margin-bottom: 0;
  }
}

.section-padding {
  @include breakpoint(sm) {
    &__top {
      padding-top: $md;
    }

    &__right {
      padding-right: $md;
    }

    &__bottom {
      padding-bottom: $md;
    }

    &__left {
      padding-left: $md;
    }
  }
}

.block-margin {
  @include breakpoint(sm) {
    &__top {
      margin-top: $md;
    }

    &__right {
      margin-right: $md;
    }

    &__bottom {
      margin-bottom: $md;
    }

    &__left {
      margin-left: $md;
    }
  }
}

.layout__region {

  .feature,
  .banner {
    flex-basis: 100%;

    .section-column__row & {
      flex-basis: unset;
    }
  }
}

.layout__region.section-column__row .feature,
.layout__region.section-column__row .banner {
  -ms-flex-preferred-size: unset;
  flex-basis: unset;
}

// Admin only styles
.toolbar-menu {
  font-size: unset;
}

.layout--fourcol,
.layout--threecol,
.layout--twocol,
.layout--onecol {
  .block-system-breadcrumb-block,
  .block-field-blocknodepagetitle,
  .block-field-blocknodepagebody {
    flex-basis: 100%;
  }
}
