{#
/**
 * @file
 * Default theme implementation to display a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 * @see https://v4-alpha.getbootstrap.com/layout/grid/
 */
#}

{% set sidebar = content.sidebar | render %}

{%
  set classes = [
  'layout',
  'layout--page--paragraph',
  'layout__container',
  settings.extra_classes,
  sidebar ? 'layout--has-sidebar' : 'layout--no-sidebar',
]
%}

{{ attach_library('uids_base/fields') }}

{% if sidebar or content.content %}
	<div{{attributes.addClass(classes)}}>
		<div class="lb__container">
			{% if sidebar %}
				<div class="layout__region layout__region--sidebar">
					<div class="block-menu-block card">
						<div class="card-header">
							<div class="h6 mb-0">In this section</div>
						</div>
						<div class="card-body">
							{{ sidebar }}
						</div>
					</div>
				</div>
			{% endif %}

			{% if content.content %}
				<div class="layout__region layout__region--main">
					{{ content.content }}
				</div>
			{% endif %}
		</div>
	</div>

{% endif %}
