@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";
// @use url('../../../../../core/themes/claro/css/components/dropbutton.css');
variables.$imgpath: '../../uids/assets/images';

@use "admin/_off-canvas.scss";
@use "admin/_chosen.scss";
@use "admin/_lb-direct-add.scss";
@use "admin/_toolbar.scss";
@use "admin/_grid.scss";
@use "admin/_claro.scss";
@use "admin/_ui_icons.scss";

.uiowa-headline--container {
  border: 1px solid #999;
  padding: 0 10px;
}

.node-preview-container {
  position: relative;
  margin-bottom: 1em;
  padding: variables.$md 0;
  border-bottom: 2px solid variables.$warning;
  background: variables.$warning-light;

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .js-hide {
      display: none;
    }
  }

  .node-preview-backlink {
    @include bttn;
    @include bttn--primary;
    @include bttn--focus;
    font-family: variables.$font-family-caps-bold;
  }
}

// Override first child margin rule.
.headline.h2:not(:first-child), h2.headline:not(:first-child) {
  margin-top: 0;
}

.content__container {
  // Add a container to edit forms.
  .block-local-tasks-block,
  .block-help-block,
  .form-type-vertical-tabs,
  #edit-moderation-state-0 {
    @include container-width;
  }
}

// Admin styles for full-width and mixed setting for local drupal admin blocks
.content__full {
  .block-local-tasks-block,
  .block-help-block,
  .form-actions,
  .form-type-vertical-tabs {
    margin-right: variables.$gutter;
    margin-left: variables.$gutter;
  }
}

// Set a minimum height for smallest height components.
.layout-builder .layout-builder-block.block-inline-blockuiowa-card .card.borderless:not([class*="bg--"]) {
  min-height: 120px;
}

// Add padding to icons in the media library.
.media-library-widget-modal img[src$=".svg"] {
  padding: 2rem 1rem 0;
}
