@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "assets/scss/_local-fonts.scss";
@import url('../../../../../core/themes/claro/css/components/dropbutton.css');
$imgpath: '../../uids/assets/images';

@import "admin/_off-canvas.scss";
@import "admin/_lb-builder.scss";
@import "admin/_chosen.scss";
@import "admin/_lb-direct-add.scss";
@import "admin/_toolbar.scss";
@import "admin/_grid.scss";
@import "admin/_paragraphs.scss";
@import "admin/_claro.scss";

.uiowa-headline--container {
  border: 1px solid #999;
  padding: 0 10px;
}

.node-preview-container {
  position: relative;
  margin-bottom: 1em;
  padding: $md 0;
  border-bottom: 2px solid $warning;
  background: $warning-light;

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .js-hide {
      display: none;
    }
  }

  .node-preview-backlink {
    @include bttn;
    @include bttn--primary;
    @include bttn--focus;
    font-family: $font-family-caps-bold;
  }
}

// Edit layout for textblock not displaying correctly
.block-inline-blockuiowa-text-area {
  min-height: 40px;
}
