@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "assets/scss/_local-fonts.scss";
@import url('../../../../../core/themes/claro/css/components/dropbutton.css');
// lb claro styles

.search-field {
  background: #fff !important;
}

/*
 * Off-canvas overrides
 */
#drupal-off-canvas .search-choice span,
#drupal-off-canvas .search-field .chosen-search-input {
  color: #000 !important;
  background: #fff !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
  border: none !important;
  outline: none !important;
  width: 100% !important;
}

#drupal-off-canvas .ui-autocomplete {
  li {
    background: #fff !important;

    a {
      color: #000 !important;
      background: inherit !important;
      font-size: $small-font-size;
    }
  }
}

#drupal-off-canvas .search-choice span {
  background: transparent !important;
}

#drupal-off-canvas .field--type-entity-reference-revisions>div>fieldset {
  border: 1px solid #999;
  padding: 15px;

  .fieldset-wrapper {

    table {
      min-width: 100%;
      margin: 0;
    }

    .container-inline.form-wrapper {
      margin-top: 10px
    }
  }
}

#drupal-off-canvas th.ief-tabledrag-header,
#drupal-off-canvas td.ief-tabledrag-handle {
  width: 20px
}

/*
 * Layout builder overrides
 */
.layout-builder-enabled .vertical-tabs {
  border: none;
  display: none;
}

// admin styles layout builder container reset

.layout-builder {
  border: none;
  margin: $gutter 0;
  padding: 0;

  &__section {

    &:hover,
    &:focus {
      .layout-builder__link {
        opacity: 1;
      }
    }

    .layout-builder {
      &__link {
        padding: .7rem 1.3rem .7rem 3rem;
        z-index: 2;
        background: #f7f7f7;
        font-size: .8rem;
        position: absolute;
        opacity: 0;
        height: 38px;
        border: 1px solid #ccc;

        &--remove {
          z-index: 3;
          padding: 0;
          border-radius: 0;
          box-shadow: none;
          height: 38px;
          width: 40px;
          margin-left: 0;
          border: 1px solid #ccc;
          background: url(/core/misc/icons/bebebe/ex.svg) #fff center center / 16px 16px no-repeat !important;
        }
      }
    }
  }

  &__add-block {
    background-color: transparent;
    margin-top: 0;
    outline: 1px dotted #dedede;
    padding: .5rem;
    text-align: center;
  }

  &__add-section {
    background-color: transparent;
    margin: 0;
    width: 100%;
    padding: $gutter/2;
    outline: none;
  }

  &__link {
    color: #545454;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: bold;
    border-bottom: 0;
    padding: .3rem 0 0 0;
    font-size: 1rem;

    &--add {
      background-color: #f7f7f7;
      background-position: .625rem center;
      border: 1px solid #f7f7f7;
      display: block;
      outline: 2px dashed #dedede;
      outline-offset: 8px;
      padding: 1rem 1rem 1rem 2.5rem;
      text-align: left;

      &:hover {
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
        outline: 2px dashed #0036b1;
      }
    }

    &--configure {}

    &--remove {

      &:hover {
        background-color: #111111;
        background-image: url(/core/misc/icons/ffffff/ex.svg);
      }
    }
  }

  .layout-builder-block {
    &:hover {
      outline: 1px dashed #d6d6d6;
      outline-offset: -1px;
    }
  }

  .contextual-region.focus {
    outline: 1px dashed #0036b1;
    outline-offset: -1px;
  }
}

.layout-builder__region {
  outline: none;
}

.layout-builder__section {
  margin-bottom: 0;
  padding: 2px;

  .hero {
    height: auto;
    min-height: 500px;
  }

  &:hover {
    .layout-builder__layout {
      .lb__container {
        outline: 2px dashed #0036b1;
      }
    }
  }
}

.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text;
}

.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
#drupal-off-canvas label {
  color: #fff;
}
#drupal-off-canvas .description {
  margin: 10px 0 20px;
}
#drupal-off-canvas form {
  color: #fff;
}
.form-item-settings-label-display {
  margin: 15px 0;
}
.form-item-settings-admin-label {
  margin-bottom: 20px;
}
*/
// Admin only styles

.toolbar-menu {
  font-size: unset;
}

// Layout Builder Editor Styles

.contextual .trigger {
  position: relative !important;
}

.layout-builder__region,
.layout-builder__region .lb__container {
  width: 100%;
}

.layout--fourcol .lb__container>.layout__region.js-layout-builder-region {
  display: block !important;
}

.layout--threecol .lb__container>.layout__region.js-layout-builder-region {
  display: block !important;
}



.layout-builder-block {
  //padding: 0;
  cursor: move;
  background: transparent;

  &.bg--gray {
    background: $light;
  }

  &.bg--black,
  &.bg-pattern--brain-black {
    background: $secondary;
  }

  &.bg--gold {
    background: $primary;
  }
}

.layout__container .lb__container {

  .layout-builder-block,
  .layout-builder__add-block {
    flex-basis: 100%;
  }

  &.section-column__row {

    .layout-builder-block,
    .layout-builder__add-block {
      flex: 1 1 0%;
      flex-basis: unset;
    }
  }
}

.feature__container .layout__region .layout-builder__region {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#drupal-off-canvas select[multiple] option {
  color: #000;
  background: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
}

// admin styles for responsive layout sections for container

.content__container .layout-builder__section,
.content__mixed .layout-builder__section {
  .layout__container .lb__container {
    margin: 0;

    @include breakpoint(container) {
      position: relative;
      max-width: 81.875em;
      margin: 0 auto;
    }
  }

  .layout__container {
    margin-bottom: 0;
  }

  .layout__container.page__container--full .lb__container {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .layout__container.page__container--edge .lb__container {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;

    .layout-builder-block {
      padding: 0;
    }
  }

}

// admin styles for responsive layout sections for full width or mixed settings

.content__full .layout-builder__section {
  .layout__container .lb__container {
    margin: 0;
  }

  .layout__container .page__container .lb__container {
    @include breakpoint(container) {
      position: relative;
      max-width: 84.375em;
      margin: 0 auto;
    }
  }

}

// admin styles for container setting local drupal admin blocks

.content__container,
.content__mixed {

  .block-local-tasks-block,
  .block-help-block,
  .form-actions,
  .layout-builder__message,
  .form-type-vertical-tabs,
  #edit-moderation-state-0,
  .layout-builder-revert-overrides,
  .layout-builder-discard-changes {
    @extend %container;
  }
}

.layout-builder-revert-overrides,
.layout-builder-discard-changes {
  padding-top: 50px;

  input {
    margin-top: 20px;
  }

  a {
    color: $secondary;
  }
}

// unstyle message for layout builder edit screen

.layout-builder__message--overrides .alert-success {
  border: none;
  background-color: #fff;
  box-shadow: none;
  background-image: none;
  text-align: center;
  padding: 0;
  color: $secondary;
  font-weight: $font-weight-light;

  a {
    color: #0036b1;
  }

  .close {
    padding: 0;
  }
}

// admin styles adjust vertical tabs at bottom of edit screen

.layout-builder-enabled {
  .vertical-tabs__menu-item {
    border: none;
  }

  .vertical-tabs {
    margin: $gutter 0;

    .form-type-checkbox {
      margin: 0;
    }
  }

  .vertical-tabs__menu-item a {
    padding: 0;
  }

  .vertical-tabs__menu {
    margin: 0;
    list-style: none;
    border: none;

    li {
      list-style-type: none;
    }
  }
}

// admin styles for full-width and mixed setting for local drupal admin blocks

.content__full {

  .block-local-tasks-block,
  .block-help-block,
  .form-actions,
  .layout-builder__message,
  .form-type-vertical-tabs {
    margin-right: $gutter;
    margin-left: $gutter;
  }
}


@media (min-width: 84.375em) {
  .toolbar-vertical.toolbar-tray-open.search-is-open .search-overlay .hds-search {
    width: 60%;
  }
}


@media (min-width: 855px) {
  .toolbar-vertical.toolbar-tray-open.search-is-open .search-overlay .hds-search {
    width: 60%;
  }
}

// admin styles for search toggle
body.toolbar-vertical.toolbar-tray-open {
  .search-button {
    @include breakpoint(container) {
      right: 294px;
    }
  }

  .search-is-open .search-overlay .hds-search {
    @include breakpoint(container) {
      margin-right: 209px;
    }
  }
}

.js-off-canvas-dialog-open {
  .search-button {
    right: 310px;
  }
}

.js-off-canvas-dialog-open.search-is-open .search-overlay .hds-search {
  width: 63%;
}

// admin styles for off-canvas menu

.o-canvas__drawer {
  .o-canvas__wrapper & {
    top: 179px;

    @include breakpoint(menu) {
      top: 119px;

      .toolbar-vertical & {
        top: 119px;
        height: calc(100% - 119px);
      }

      .iowa-bar--narrow & {
        top: 179px;

        .toolbar-horizontal & {
          top: 179px !important;
        }

        .toolbar-vertical & {
          top: 179px;
        }
      }
    }
  }

  .o-canvas--open & {
    top: 179px;
    height: calc(100% - 179px);

    @include breakpoint(menu) {
      top: 119px;
      height: calc(100% - 119px);

      .toolbar-tray-open & {
        top: 159px;
        height: calc(100% - 159px);
      }

      .toolbar-vertical.toolbar-tray-open & {
        top: 119px;
        height: calc(100% - 119px);
      }

      .iowa-bar--narrow & {
        top: 179px;
        height: calc(100% - 179px);

        .toolbar-horizontal.toolbar-tray-open & {
          top: 219px !important;
          height: calc(100% - 219px);
        }

        .toolbar-vertical.toolbar-tray-open & {
          top: 179px;
          height: calc(100% - 179px);
        }
      }
    }
  }
}

.iowa-bar--narrow .o-canvas--open .o-canvas__drawer {
  top: 239px;
}


// admin toolbar style for sticky header

.header-sticky.toolbar-horizontal,
.header-sticky.toolbar-vertical {
  @include breakpoint(menu) {
    padding-top: 120px !important;
  }

  &.below {
    @include breakpoint(menu) {
      padding-top: 160px !important;
    }
  }
}

.header-sticky.scroll-down.toolbar-horizontal,
.header-sticky.scroll-down.toolbar-vertical {
  @include breakpoint(menu) {
    padding-top: 80px !important;
  }
}


.header-sticky.toolbar-horizontal.toolbar-tray-open {
  @include breakpoint(menu) {
    padding-top: 160px !important;
  }

  &.below {
    @include breakpoint(menu) {
      padding-top: 210px !important;
    }
  }
}

.header-sticky.toolbar-vertical.toolbar-tray-open {
  @include breakpoint(menu) {
    header {
      padding-left: 15rem;
    }
  }
}

.header-sticky.toolbar-vertical {
  header {
    top: 40px;
  }
}

.header-sticky.toolbar-horizontal {
  header {
    top: 40px;
  }
}

.header-sticky.toolbar-horizontal.toolbar-tray-open {
  header {
    top: 80px;
  }
}

.toolbar-horizontal,
.toolbar-vertical {
  .ui-dialog-off-canvas.ui-dialog-position-side {
    top: 39px !important;
  }
}

.toolbar-horizontal.toolbar-tray-open {
  .ui-dialog-off-canvas.ui-dialog-position-side {
    top: 69px !important;
  }
}

// todo - add styles for College level toolbar settings

// grid 3x2

.grid--3-2 .js-layout-builder-region>.layout-builder-block:nth-child(2) {
  order: 1;
}

.grid--3-2 .js-layout-builder-region>.layout-builder-block:nth-child(3) {
  order: 2;
}

.grid--3-2 .js-layout-builder-region>.layout-builder-block:nth-child(4) {
  order: 4;

  @include breakpoint(sm) {
    order: 3;
  }
}

.grid--3-2 .js-layout-builder-region>.layout-builder-block:nth-child(5) {
  order: 3;

  @include breakpoint(sm) {
    order: 4;
  }
}

.grid--3-2 .js-layout-builder-region>.layout-builder-block:nth-child(6) {
  order: 5;
}

.grid--3-2 .js-layout-builder-region>.layout-builder-block:nth-child(7) {
  order: 6;
}


.grid--3-2 .js-layout-builder-region {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
  }
}


// place grid add block at the end of grid

.grid--3-2 .layout-builder__add-block {
  order: 50;
}


// Reveal hidden blocks in layout.

.js-layout-builder-block.element-invisible {
  @include element-invisible-off;
  position: relative !important;
  width: 100%;

  &:before {
    content: "This block is set to be visually hidden";
    display: block;
    width: 100%;
    height: auto;
    font-style: italic;
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff4f4; // Same as .node--unpublished.
    opacity: 0.6;
  }
}


// Chosen

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com
Version 1.8.7
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2018 Harvest http://getharvest.com
MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative !important;
  display: inline-block !important;
  vertical-align: middle !important;
  font-size: 13px !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.chosen-container * {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.chosen-container .chosen-drop {
  position: absolute !important;
  top: 100% !important;
  z-index: 1010 !important;
  width: 100% !important;
  border: 1px solid #aaa !important;
  border-top: 0 !important;
  background: #fff !important;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(100% 100%) !important;
  clip-path: inset(100% 100%) !important;
}

.chosen-container.chosen-with-drop .chosen-drop {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}

.chosen-container a {
  cursor: pointer !important;
}

.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  font-weight: normal !important;
  color: #999999 !important;
}

.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":" !important;
  padding-left: 2px !important;
  vertical-align: top !important;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative !important;
  display: block !important;
  overflow: hidden !important;
  padding: 0 0 0 8px !important;
  height: 25px !important;
  border: 1px solid #aaa !important;
  border-radius: 5px !important;
  background-color: #fff !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4)) !important;
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%) !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  color: #444 !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  line-height: 24px !important;
}

.chosen-container-single .chosen-default {
  color: #999 !important;
}

.chosen-container-single .chosen-single span {
  display: block !important;
  overflow: hidden !important;
  margin-right: 26px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px !important;
}

.chosen-container-single .chosen-single abbr {
  position: absolute !important;
  top: 6px !important;
  right: 26px !important;
  display: block !important;
  width: 12px !important;
  height: 12px !important;
  background: url("../../../../../libraries/chosen/chosen-sprite.png") -42px 1px no-repeat !important;
  font-size: 1px !important;
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px !important;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px !important;
}

.chosen-container-single .chosen-single div {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  display: block !important;
  width: 18px !important;
  height: 100% !important;
}

.chosen-container-single .chosen-single div b {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  background: url("../../../../../libraries/chosen/chosen-sprite.png") no-repeat 0px 2px !important;
}

.chosen-container-single .chosen-search {
  position: relative !important;
  z-index: 1010 !important;
  margin: 0 !important;
  padding: 3px 4px !important;
  white-space: nowrap !important;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0 !important;
  padding: 4px 20px 4px 5px !important;
  width: 100% !important;
  height: auto !important;
  outline: 0 !important;
  border: 1px solid #aaa !important;
  background: url("../../../../../libraries/chosen/chosen-sprite.png") no-repeat 100% -20px !important;
  font-size: 1em !important;
  font-family: sans-serif !important;
  line-height: normal !important;
  border-radius: 0 !important;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px !important;
  border-radius: 0 0 4px 4px !important;
  background-clip: padding-box !important;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(100% 100%) !important;
  clip-path: inset(100% 100%) !important;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444 !important;
  position: relative !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  margin: 0 4px 4px 0 !important;
  padding: 0 0 0 4px !important;
  max-height: 240px !important;
  -webkit-overflow-scrolling: touch !important;
}

.chosen-container .chosen-results li {
  display: none !important;
  margin: 0 !important;
  padding: 5px 6px !important;
  list-style: none !important;
  line-height: 15px !important;
  word-wrap: break-word !important;
  -webkit-touch-callout: none !important;
}

.chosen-container .chosen-results li.active-result {
  display: list-item !important;
  cursor: pointer !important;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item !important;
  color: #ccc !important;
  cursor: default !important;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc)) !important;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%) !important;
  color: #fff !important;
}

.chosen-container .chosen-results li.no-results {
  color: #777 !important;
  display: list-item !important;
  background: #f4f4f4 !important;
}

.chosen-container .chosen-results li.group-result {
  display: list-item !important;
  font-weight: bold !important;
  cursor: default !important;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px !important;
}

.chosen-container .chosen-results li em {
  font-style: normal !important;
  text-decoration: underline !important;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 5px !important;
  width: 100% !important;
  height: auto !important;
  border: 1px solid #aaa !important;
  background-color: #fff !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff)) !important;
  background-image: linear-gradient(#eee 1%, #fff 15%) !important;
  cursor: text !important;
}

.chosen-container-multi .chosen-choices li {
  float: left !important;
  list-style: none !important;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0 !important;
  padding: 0 !important;
  height: 25px !important;
  outline: 0 !important;
  border: 0 !important !important;
  background: transparent !important !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #999 !important;
  font-size: 100% !important;
  font-family: sans-serif !important;
  line-height: normal !important;
  border-radius: 0 !important;
  width: 25px !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative !important;
  margin: 3px 5px 3px 0 !important;
  padding: 3px 20px 3px 5px !important;
  border: 1px solid #aaa !important;
  max-width: 100% !important;
  border-radius: 3px !important;
  background-color: #eeeeee !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee)) !important;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%) !important;
  background-size: 100% 19px !important;
  background-repeat: repeat-x !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  color: #333 !important;
  line-height: 13px !important;
  cursor: default !important;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute !important;
  top: 4px !important;
  right: 3px !important;
  display: block !important;
  width: 12px !important;
  height: 12px !important;
  background: url("../../../../../libraries/chosen/chosen-sprite.png") -42px 1px no-repeat !important;
  font-size: 1px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px !important;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px !important;
  border: 1px solid #ccc !important;
  background-color: #e4e4e4 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee)) !important;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%) !important;
  color: #666 !important;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4 !important;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px !important;
}

.chosen-container-multi .chosen-results {
  margin: 0 !important;
  padding: 0 !important;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item !important;
  color: #ccc !important;
  cursor: default !important;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff)) !important;
  background-image: linear-gradient(#eee 20%, #fff 80%) !important;
  -webkit-box-shadow: 0 1px 0 #fff inset !important;
  box-shadow: 0 1px 0 #fff inset !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none !important;
  background: transparent !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px !important;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important !important;
  cursor: default !important;
}

.chosen-disabled .chosen-single {
  cursor: default !important;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default !important;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right !important;
}

.chosen-rtl .chosen-single {
  overflow: visible !important;
  padding: 0 8px 0 0 !important;
}

.chosen-rtl .chosen-single span {
  margin-right: 0 !important;
  margin-left: 26px !important;
  direction: rtl !important;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px !important;
}

.chosen-rtl .chosen-single div {
  right: auto !important;
  left: 3px !important;
}

.chosen-rtl .chosen-single abbr {
  right: auto !important;
  left: 26px !important;
}

.chosen-rtl .chosen-choices li {
  float: right !important;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl !important;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0 !important;
  padding: 3px 5px 3px 19px !important;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto !important;
  left: 4px !important;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px !important;
  padding: 0 4px 0 0 !important;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px !important;
  padding-left: 0 !important;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none !important;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px !important;
  background: url("../../../../../libraries/chosen/chosen-sprite.png") no-repeat -30px -20px !important;
  direction: rtl !important;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px !important;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px !important;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {

  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../../../../../libraries/chosen/chosen-sprite@2x.png") !important !important;
    background-size: 52px 37px !important !important;
    background-repeat: no-repeat !important !important;
  }
}

/* @end */


// Hide header if off canvas tray is open

.js-off-canvas-dialog-open header {
  display: none;
}

// layout page buttons

.layout-builder-form .button {
  background: #f1f1f1;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  font-size: 1rem !important;
  border-radius: 4px;
}

.layout-builder-form .button--primary {
  color: #fff !important;
  background: #0035b0 !important;
}

div[aria-label="Layout Builder tools"] {
  @include breakpoint(menu) {
    display: flex;
    justify-content: center;
  }

  >* {
    margin-right: 15px;
  }

  #edit-preview-toggle {
    margin-left: 20px;
  }
}

div[data-drupal-selector="edit-moderation-state-0"] {
  label {
    font-weight: $font-weight-light;
    padding-bottom: 8px;
  }

  @include breakpoint(menu) {
    display: flex;
    justify-content: center;
  }

  #edit-moderation-state-0-current {
    @include breakpoint(menu) {
      flex: 0 0 10%;
    }

    label {
      margin-bottom: 18px;
    }
  }

  .form-item-moderation-state-0-state {
    @include breakpoint(menu) {
      flex: 0 0 40%;
    }
  }
}

#drupal-off-canvas form {
  padding-top: 10px;
}

.js-layout-builder-block .contextual .trigger,
.uids-content .js-layout-builder-block .contextual [type=button] {
  width: 36px !important;
  height: 36px !important;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 50%;
  right: 15px;
  top: 10px;
  padding: 0;
  background-image: url(/core/themes/stable/images/core/icons/787878/pencil.svg) !important;
}

.js-layout-builder-block .contextual.open .trigger {
  border-radius: 50% 50% 0 0;
  border: none;
  box-shadow: 0px -2px 1px rgba(50, 50, 50, 0.15);
}

// Claro Dropbutton

.dropbutton-wrapper {
  align-content: stretch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  align-items: stretch;
  flex-direction: row;
}

.dropbutton-arrow {
  right: 25%;
}


.dropbutton-widget {
  padding-right: 2.6em;
}

.dropbutton-multiple .dropbutton .dropbutton-action>* {
  margin-right: 0;
  color: #545454;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.js .dropbutton {
  min-height: 3rem;
  height: auto !important;
}

ul.dropbutton li {
  line-height: 2.5;

  a {

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

// Set above admin toolbar and superfish.
.joyride-tip-guide {
  z-index: 550;

  a.btn.btn-primary.btn-block {
    color: $secondary;
    margin-bottom: $md;

    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

.node-preview-container {
  position: relative;
  margin-bottom: 1em;
  padding: $md 0;
  border-bottom: 2px solid $warning;
  background: $warning-light;

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .js-hide {
      display: none;
    }
  }

  .node-preview-backlink {
    @include bttn;
    @include bttn--primary;
    @include bttn--focus;
    font-family: $font-family-caps-bold;
  }
}
