@import "../uids/assets/scss/_variables.scss";
$imgpath: '../../uids/assets/images';
@import "../uids/assets/scss/_utilities.scss";
@import "../uids/assets/scss/_fonts.scss";
@import "../uids/assets/scss/_base.scss";
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

.layout__container {
  .block-inline-blockuiowa-text-area {
    //width: 100%;
    //flex: 1 0 auto;
    flex-basis: 100%;
  }

  .block-system-breadcrumb-block,
  .block-field-blocknodepagetitle,
  .block-field-blocknodepagebody,
  .block-inline-blockuiowa-text-area,
  .block-views {
    //flex-basis: 100%;
  }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .layout__container .block-inline-blockuiowa-text-area {
    flex-basis: auto;
  }
}

.layout--onecol {

  .feature,
  .banner {
    flex-basis: 100%;

    .section-column__row & {
      flex-basis: unset;
    }
  }
}

// default spacing for pages without layout builder

// SiteNow Paragraphs Page
.page-node-type-page.layout-builder-disabled main.page__container {
  max-width: 100%;
  margin: 0;
}

.layout-builder-disabled main.page__container {
  margin: $mobile-width-gutter;

  @include breakpoint(container) {
    margin: 0 auto;
    width: 100%;
  }
}

.layout-builder-disabled .uiowa-bar .page__container {
  margin-top: 0;

  @include breakpoint(container) {
    margin: 0 auto;
  }
}

// default left/right gutter spacing for full width settings without layout builder

.page__container--full .region-content {
  // margin-right: $gutter;
  //margin-left: $gutter;
  margin-right: $mobile-width-gutter;
  margin-left: $mobile-width-gutter;
}

// default left/right gutter spacing for full width settings w/ layout builder enabled

.content__full .layout__container {
  margin-right: $mobile-width-gutter;
  margin-left: $mobile-width-gutter;
  margin-bottom: $mobile-width-gutter;

  &.page__container--extended {

    @include breakpoint(container) {
      max-width: 100em;
      padding: 0 $lg;
    }
  }

  //margin-right: $gutter;
  //margin-bottom: $gutter;
  //margin-left: $gutter;

  // layout builder styles padding classes

  &.section-padding {
    @include breakpoint(sm) {
      &__top {
        padding-top: $md;
      }

      &__top-extra {
        padding-top: $desktop-width-gutter;
      }

      &__bottom-extra {
        padding-bottom: $desktop-width-gutter;
      }

      &__right {
        padding-right: $desktop-width-gutter;
      }

      &__bottom {
        padding-bottom: $desktop-width-gutter;
      }

      &__left {
        padding-left: $desktop-width-gutter;
      }
    }
  }

  // layout builder styles margin classes

  &.section-margin {
    &__top {
      margin-top: $md;

      &.page__container {
        margin-top: $md;
      }
    }

    &__bottom {
      margin-bottom: $md;

      &.page__container {
        margin-bottom: $md;
      }
    }
  }

  &.page__container--edge {
    margin-right: 0;
    margin-left: 0;
  }

  &.page__container {
    //margin: 0 auto;
    @extend %container;
  }

  &.section-margin__removed {
    margin-top: 0;
    margin-bottom: 0;
  }

}

// settings if page container full or edge is selected on section

.page__container--full.layout__container {
  // margin-right: $gutter;
  // margin-left: $gutter;
  margin-right: $mobile-width-gutter;
  margin-left: $mobile-width-gutter;

  @include breakpoint(menu) {
    margin-right: $desktop-width-gutter;
    margin-left: $desktop-width-gutter;
  }

  &.page__container--edge {
    margin-right: 0;
    margin-left: 0;
  }
}


// default spacing for layout builder pages with container set in theme settings

.content__container,
.content__mixed {
  .layout__container {
    margin-bottom: $desktop-width-gutter;
    @extend %container;

    &.page__container--extended {
      @include breakpoint(container) {
        max-width: 100em;
        padding: 0 $lg;
      }
    }

    // layout builder styles padding classes

    &.section-padding {
      @include breakpoint(sm) {
        &__top {
          padding-top: $desktop-width-gutter;
        }

        &__top-extra {
          padding-top: $desktop-width-gutter;
        }

        &__bottom-extra {
          padding-bottom: $desktop-width-gutter;
        }

        &__right {
          padding-right: $desktop-width-gutter;
        }

        &__bottom {
          padding-bottom: $desktop-width-gutter;
        }

        &__left {
          padding-left: $desktop-width-gutter;
        }
      }
    }

    // layout builder styles margin classes
    &.section-margin {
      &__top {
        margin-top: $md;

        &.page__container {
          margin-top: $md;
        }
      }

      &__bottom {
        margin-bottom: $md;

        &.page__container {
          margin-bottom: $md;
        }
      }
    }

    &.section-margin__removed {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.page__container--full {
      max-width: 100%;
      margin-right: $mobile-width-gutter;
      margin-left: $mobile-width-gutter;

      @include breakpoint(menu) {
        margin-right: $desktop-width-gutter;
        margin-left: $desktop-width-gutter;
      }
    }

    &.page__container--edge {
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// Block Margins / Padding

.block-padding {
  &__all {
    padding: $desktop-width-gutter;
  }
}

.block-margin {
  @include breakpoint(sm) {
    &__top {
      margin-top: $md;
    }

    &__right {
      margin-right: $md;
    }

    &__bottom {
      margin-bottom: $md;
    }

    &__left {
      margin-left: $md;
    }
  }
}

// mobile search

.search-button[aria-expanded="true"] {
  margin-left: auto;
}

// skip link

.skip-link-region {
  text-align: center;
  background: #f1f1f1;
  display: block;

  a {
    color: blue;
    padding: 10px;
    display: block;
  }
}


// todo move back to uids as toc style also create tag style for term edit

.view-a-z-list {
  .views-row {
    margin-bottom: $md;
    font-size: 1.3rem;
    border-bottom: 1px solid $light;
    padding: $sm 0;

    &:last-child {
      border-bottom: none;
    }

    a {
      text-decoration: none;
      font-weight: $font-weight-light;
      color: $secondary;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}


.view-display-id-attachment_a_z_list {
  >div {
    @include flexbox;
    @include margin($top: 0, $left: 0, $bottom: $xlg);
    flex-wrap: wrap;

    span {
      border: 1px solid $grey-light;
      display: block;
      text-align: center;
      margin: 0 $sm $sm 0;

      @include breakpoint(container) {
        border-right: none;
        margin: 0;
        flex: 1;
      }

      a {
        display: block;
        text-decoration: none;
        color: #4F4F4F;
        line-height: 1;
        @include padding($top: $md, $right: $md, $bottom: $md, $left: $md);

        &:hover,
        &:focus,
        &.is-active {
          background: $light;
        }
      }

      &:last-child {
        a {
          @include breakpoint(container) {
            border-right: 1px solid $grey-light;
          }
        }
      }
    }
  }
}

.views-element-container {
  @include margin($top: $lg);
  .views-element-container {
    margin-top: inherit;
  }
}


// todo remomve
.uids-component--alert {
  margin-top: 0;
}
