@import "../uids/assets/scss/_variables.scss";
@import "../uids/assets/scss/_utilities.scss";
@import "../uids/assets/scss/_fonts.scss";
@import "../uids/assets/scss/_base.scss";
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap');


.layout__container {

  .block-system-breadcrumb-block,
  .block-field-blocknodepagetitle,
  .block-field-blocknodepagebody,
  .block-views {
    flex-basis: 100%;
  }
}

.layout--onecol {

  .feature,
  .banner {
    flex-basis: 100%;

    .section-column__row & {
      flex-basis: unset;
    }
  }
}

// default spacing for pages without layout builder

.layout-builder-disabled .page__container {
  margin: $mobile-width-gutter;

  @include breakpoint(container) {
    margin: 0 auto;
  }
}

.layout-builder-disabled .uiowa-bar .page__container {
  margin-top: 0;

  @include breakpoint(container) {
    margin: 0 auto;
  }
}

// default left/right gutter spacing for full width settings without layout builder

.page__container--full .region-content {
 // margin-right: $gutter;
  //margin-left: $gutter;
    margin-right: $mobile-width-gutter;
    margin-left: $mobile-width-gutter;
}

// default left/right gutter spacing for full width settings w/ layout builder enabled

.content__full .layout__container {
       margin-right: $mobile-width-gutter;
       margin-left: $mobile-width-gutter;
       margin-bottom: $mobile-width-gutter;

         &.page__container--extended {

           @include breakpoint(container) {
             max-width: 100em;
             padding: 0 $lg;
           }
         }

  //margin-right: $gutter;
  //margin-bottom: $gutter;
  //margin-left: $gutter;

  // layout builder styles padding classes

  &.section-padding {
    @include breakpoint(sm) {
      &__top {
        padding-top: $md;
      }

      &__right {
        padding-right: $md;
      }

      &__bottom {
        padding-bottom: $md;
      }

      &__left {
        padding-left: $md;
      }
    }
  }

  // layout builder styles margin classes

  &.section-margin {
    &__top {
      margin-top: $md;

      &.page__container {
        margin-top: $md;
      }
    }

    &__bottom {
      margin-bottom: $md;

      &.page__container {
        margin-bottom: $md;
      }
    }
  }

  &.page__container--edge {
    margin-right: 0;
    margin-left: 0;
  }

  &.page__container {
    //margin: 0 auto;
    @extend %container;
  }

  &.section-margin__removed {
    margin-top: 0;
    margin-bottom: 0;
  }

}

// settings if page container full or edge is selected on section

.page__container--full.layout__container {
 // margin-right: $gutter;
 // margin-left: $gutter;
       margin-right: $mobile-width-gutter;
       margin-left: $mobile-width-gutter;

       @include breakpoint(menu) {
         margin-right: $desktop-width-gutter;
         margin-left: $desktop-width-gutter;
       }

  &.page__container--edge {
    margin-right: 0;
    margin-left: 0;
  }
}


// default spacing for layout builder pages with container set in theme settings

.content__container,
.content__mixed {
  .layout__container {
    margin-bottom: $mobile-width-gutter;
    @extend %container;

    &.page__container--extended {
       @include breakpoint(container) {
         max-width: 100em;
         padding: 0 $lg;
       }
    }

    // layout builder styles padding classes

    &.section-padding {
      @include breakpoint(sm) {
        &__top {
          padding-top: $md;
        }

        &__right {
          padding-right: $md;
        }

        &__bottom {
          padding-bottom: $md;
        }

        &__left {
          padding-left: $md;
        }
      }
    }

    // layout builder styles margin classes
    &.section-margin {
      &__top {
        margin-top: $md;

        &.page__container {
          margin-top: $md;
        }
      }

      &__bottom {
        margin-bottom: $md;

        &.page__container {
          margin-bottom: $md;
        }
      }
    }

    &.section-margin__removed {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.page__container--full {
      max-width: 100%;
      margin-right: $mobile-width-gutter;
      margin-left: $mobile-width-gutter;
          @include breakpoint(menu) {
             margin-right: $desktop-width-gutter;
             margin-left: $desktop-width-gutter;
          }
    }

    &.page__container--edge {
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// Block Margins / Padding

.block-padding {
  &__all {
    padding: $lg;
  }
}

.block-margin {
  @include breakpoint(sm) {
    &__top {
      margin-top: $md;
    }

    &__right {
      margin-right: $md;
    }

    &__bottom {
      margin-bottom: $md;
    }

    &__left {
      margin-left: $md;
    }
  }
}

// mobile search

.search-button[aria-expanded="true"] {
  margin-left: auto;
}
