@import "../uids/assets/scss/_variables.scss";
$imgpath: '../../uids/assets/images';
@import "../uids/assets/scss/_utilities.scss";
@import "../uids/assets/scss/_local-fonts.scss";
@import "../uids/assets/scss/_base.scss";



// Layout container padding

.layout__container {
  margin-top: 0;
  padding-bottom: $mobile-width-gutter;
  // This will be overridden by a subsequent style for 1+n containers.
  padding-top: $mobile-width-gutter;

  @include breakpoint(container) {
    padding-top: $desktop-width-gutter;
    padding-bottom: $desktop-width-gutter;
  }

  &:first-child {
    padding-top: 0;
  }

  // @todo Should this be moved to the header layout scss file?
  &.layout--title {
    padding-bottom: 1.25rem;

    &.layout--title--hidden {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.layout--title + &:not([class*="bg-"]) {
    padding-top: 0;
  }

  // Define a list of background treatments.
  $backgrounds:
    ':not([class*="bg-"])',
    '.bg--gold',
    '.bg--black',
    '.bg--gray',
    '.bg-pattern--brain',
    '.bg-pattern--brain-reversed',
    '.bg-pattern--brain-black';

  // Loop through each background.
  @each $background in $backgrounds {

    // When an element follows a previous element
    // with the same background treatment, remove the
    // top padding of the target element.
    &#{$background} + &#{$background} {
      padding-top: 0;

      // Necessary to restore padding
      &.section-padding {
        &__top-restored {
          padding-top: $desktop-width-gutter;
        }

        &__top-extra {
          padding-top: 6rem;
        }
      }
    }
  }

  // LBS padding classes
  &.section-padding {
    &__removed-top {
      padding-top: 0;
    }

    &__removed-bottom {
      padding-bottom: 0;
    }

    &__top-restored {
      padding-top: $desktop-width-gutter;
    }

    &__top-extra {
      padding-top: 6rem;
    }

    &__bottom-extra {
      padding-bottom: 6rem;
    }
  }

  // @todo Where should this live?
  .block-inline-blockuiowa-text-area {
    //width: 100%;
    //flex: 1 0 auto;
    flex-basis: 100%;

    &[class*="bg--"],
    &[class*="bg-pattern--"] {
      padding: $desktop-width-gutter;
    }
  }
}

// default spacing for pages without layout builder

// Neither Paragraphs or Layout Builder.
body:not(.page-node-type-article, .page-node-type-page).layout-builder-disabled main.page__container {
  margin-bottom: 1.25rem;
}

// SiteNow Paragraphs Page
.page-node-type-page.layout-builder-disabled main.page__container {
  max-width: 100%;
  margin: 0;
}

.path-node.layout-builder-disabled:not(.page-node-type-page) {
  .node--view-mode-full {
    margin-bottom: $lg;
  }
}

.layout-builder-disabled main.page__container {
  margin: 0 $mobile-width-gutter $mobile-width-gutter;

  @include breakpoint(container) {
    margin: 0 auto;
    width: 100%;
  }
}

.layout-builder-disabled .uiowa-bar .page__container {
  margin-top: 0;

  @include breakpoint(container) {
    margin: 0 auto;
  }
}

.page__container.layout__container {
  max-width: 100%;
}

// default spacing for layout builder pages with container set in theme settings

.content__container {
  .layout__spacing_container {
    @extend %container;
  }

  .page__container--extended {
    .layout__spacing_container {
      @include breakpoint(container) {
        max-width: 100em;
        padding-right: $lg;
        padding-left: $lg;
      }
    }
  }

  .page__container--narrow {
    .layout__spacing_container {
      @include breakpoint(md) {
        max-width: 63.75em;
        margin: 0 auto;
        padding-right: $lg;
        padding-left: $lg;
      }
    }
  }
}

// default left/right gutter spacing for full width settings without layout builder
// settings if page container full or edge is selected on section

.page__container--full.layout__container .layout__spacing_container {
  margin-right: $mobile-width-gutter;
  margin-left: $mobile-width-gutter;
  max-width: 100%;

  @include breakpoint(menu) {
    margin-right: $desktop-width-gutter;
    margin-left: $desktop-width-gutter;
  }
}

.page__container--edge {
  .layout__spacing_container {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

// Block Margins / Padding

.block-padding {
  &__all {
    padding: $desktop-width-gutter;
  }
}

.block-margin {
  @include breakpoint(sm) {
    &__top {
      margin-top: $md;
    }

    &__right {
      margin-right: $md;
    }

    &__bottom {
      margin-bottom: $md;
    }

    &__left {
      margin-left: $md;
    }
  }
}

// mobile search

.search-button[aria-expanded="true"] {
  margin-left: auto;
}

// skip link

.skip-link-region {
  text-align: center;
  background: #f1f1f1;
  display: block;

  a {
    color: blue;
    padding: 10px;
    display: block;
  }
}

// todo move back to uids as toc style also create tag style for term edit

.view-a-z-list,
.view-book-a-z-list,
.view-book-search,
.view-book-whats-new {
  .view-header {
    margin-bottom: $md;
  }

  .views-row {
    margin-bottom: $md;
    font-size: 1.3rem;
    border-bottom: 1px solid $light;
    padding: $sm 0;

    &:last-child {
      border-bottom: none;
    }

    a {
      text-decoration: none;
      font-weight: $font-weight-light;
      color: $secondary;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.view-book-toc {
  span {
    margin-bottom: $md;
    font-size: 1.3rem;
    padding: $sm 0;

    a {
      text-decoration: none;
      font-weight: $font-weight-light;
      color: $secondary;
    }
  }

  ul li {
    list-style: inherit;
  }
}

.view-book-toc .views-field-book-owner,
.view-book-whats-new .views-field-book-amended-date {
  font-size: small;
  font-weight: $font-weight-light;
  color: $text-muted;
  margin-left: $sm-md;
}

.view-display-id-attachment_a_z_list,
.view-display-id-attachment_book_a_z_list {
  >div {
    @include flexbox;
    @include margin($top: 0, $left: 0, $bottom: $xlg);
    flex-wrap: wrap;

    span {
      border: 1px solid $grey-light;
      display: block;
      text-align: center;
      margin: 0 $sm $sm 0;

      @include breakpoint(container) {
        border-right: none;
        margin: 0;
        flex: 1;
      }

      a {
        display: block;
        text-decoration: none;
        color: #4F4F4F;
        line-height: 1;
        @include padding($top: $md, $right: $md, $bottom: $md, $left: $md);

        &:hover,
        &:focus,
        &.is-active {
          background: $light;
        }
      }

      &:last-child {
        a {
          @include breakpoint(container) {
            border-right: 1px solid $grey-light;
          }
        }
      }
    }
  }
}

.views-element-container {
  @include margin($top: $lg);

  .views-element-container {
    margin-top: inherit;
  }
}


// @todo remove

.uids-component--alert {
  margin-top: 0;
}

// ie11

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .layout__container .block-inline-blockuiowa-text-area {
    flex-basis: auto;
  }

  .o-canvas__group {
    -ms-flex-preferred-size: auto !important;
    flex-basis: auto !important;
  }

  .card__body {
    flex: auto !important;
  }

  .card.card--horizontal .card__body {
    flex: 1 !important;
    flex-direction: column;
  }

  .card.card--horizontal>* {
    flex-direction: unset;
    display: block !important;
  }

  .paragraph--type--articles.list .card__body,
  .paragraph--type--people.list .card__body,
  .paragraph--type--events.list .card__body,
  .view-display-id-page_articles .card__body,
  .paragraph--type--featured-content.list .card__body,
  .view-id-people .card__body,
  .view-display-id-page_articles .view-content {
    flex: 1 !important;
  }

  .paragraph--type--articles.list .view-content,
  .paragraph--type--people.list .view-content,
  .view-display-id-page_articles .view-content,
  .paragraph--type--featured-content.list .field--name-field-featured-content {
    display: block !important;
  }

  .view-id-people .card--list,
  .view-id-people .node--type-article {
    display: flex !important;
  }

  #superfish-main-accordion {
    position: relative !important;
  }
}

@media all and (min-width: 0px) and (max-width: 855px) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .o-canvas__group {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
  }
}

.layout--twocol.layout,
.layout--twocol.layout .layout__spacing_container {
  flex-basis: 100%;
}

.layout--onecol {

  .feature,
  .banner {
    flex-basis: 100%;

    .section-column__row & {
      flex-basis: unset;
    }
  }
}
