@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

html {
  scroll-behavior: auto;
}

/*
 * Layout builder overrides
 */
.layout-builder-enabled .vertical-tabs {
  border: none;
  display: none;
}

// Add some space at the top of the LB controls form.
form {
  &#fragment-region-item-layout-builder-form,
  &#node-page-layout-builder-form {
    margin-top: 1.25rem;
  }
}

// admin styles layout builder container reset

.layout-builder {
  border: none;
  margin: $gutter 0;
  padding: 0;

  &__section {
    margin-bottom: 0;
    padding: 2px;

    // When hovering over a section, show the structure of it.
    &:hover,
    &:focus {
      .layout-builder__layout {
        //.layout__spacing_container {
        outline: 2px dashed #0036b1;
        //}
      }

      .layout-builder__link {
        opacity: 1;
      }

      .layout-builder-block {
        outline: 1px dashed #d6d6d6;
        outline-offset: -1px;
      }
    }

    .ui-state-drop {
      margin: 10px;
      padding: 0;
      outline: 2px dashed #fedb60 !important;
      outline-offset: 10px !important;
    }

    .layout-builder {
      &__link {
        padding: .7rem 1.3rem .7rem 3rem;
        z-index: 2;
        background: #f7f7f7;
        font-size: .8rem;
        position: absolute;
        opacity: 0;
        height: 38px;
        border: 1px solid #ccc;

        &--remove {
          z-index: 3;
          padding: 0;
          border-radius: 0;
          box-shadow: none;
          height: 38px;
          width: 40px;
          margin-left: 0;
          border: 1px solid #ccc;
          background: url(/core/misc/icons/bebebe/ex.svg) #fff center center / 16px 16px no-repeat !important;
        }
      }
    }
  }

  .layout-builder__link:focus {
    opacity: 1;
  }

  &__add-block {
    background-color: transparent;
    margin-top: 0;
    outline: 1px dashed #dedede;
    outline-offset: -1px;
    padding: .5rem;
    text-align: center;

    &:hover,
    &:focus {
      outline: 1px dashed #222222;
    }
  }

  &__add-section {
    background-color: transparent;
    margin: 0;
    width: 100%;
    padding: $gutter/2;
    outline: none;
  }

  &__link {
    color: #545454!important;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: bold;
    border-bottom: 0;
    padding: .3rem 0 0 0;
    font-size: 1rem;

    &--add {
      background-color: #f7f7f7;
      background-position: .625rem center;
      border: 1px solid #f7f7f7;
      display: block;
      outline: 2px dashed #dedede;
      outline-offset: 8px;
      padding: 1rem 1rem 1rem 2.5rem;
      text-align: left;

      &:hover {
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
        outline: 2px dashed #0036b1;
      }
    }

    &--configure {}

    &--remove {

      &:hover {
        background-color: #111111;
        background-image: url(/core/misc/icons/ffffff/ex.svg);
      }
    }
  }

  .layout-builder-block {

    &:hover {
      outline: 1px dashed #d6d6d6;
      outline-offset: -1px;
    }
  }

  .contextual-region {
    &:hover {
      outline: 1px dashed #222222;
      outline-offset: -1px;
    }

    &.focus {
      outline: 1px dashed #0036b1;
      outline-offset: -1px;
    }
  }
}

.layout-builder__region {
  outline: none;
}

.layout-builder__section {}

.layout-builder-block {
  padding: 0;
  cursor: move;
  background: transparent;

  // Add padding to all placeholder blocks.
  &--placeholder {
    margin: 0 !important;
    padding: $gutter 0 !important;
  }
}

// Layout Builder Lock
.layout-builder-block-locked {
  padding: 0;
}

// Layout Builder Editor Styles

.layout-builder__region,
.layout-builder__region .layout__spacing_container {
  width: 100%;
}

.layout__container .layout__spacing_container {

  .layout-builder-block,
  .layout-builder__add-block {
    flex-basis: 100%;
  }

  &.section-column__row {

    .layout-builder-block,
    .layout-builder__add-block {
      flex: 1 1 0%;
      flex-basis: unset;
    }
  }
}

.layout__spacing_container {
  // Loop through all the background options and create a
  // rule to remove top padding from the second one.
  $backgrounds:
    ':not([class*="bg-"])',
    '[class*="bg--gold"]',
    '[class*="bg--black"]',
    '[class*="bg--gray"]',
    '[class*="bg--white"]',
    '.bg-pattern--brain',
    '.bg-pattern--brain-reversed',
    '.bg-pattern--brain-black';

  @each $background in $backgrounds {

    // This targets the second item in a pair that match the rule.
    &#{$background}+.layout-builder__add-section+&#{$background} {

      >.layout__container {
        padding-top: 0;

        // Necessary to restore padding
        &.section-padding {
          &__top-restored {
            padding-top: $desktop-width-gutter;
          }

          &__top-extra {
            padding-top: 6rem;
          }
        }
      }
    }
  }
}

.feature__container .layout__region .layout-builder__region {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

// Add a container to edit forms.
.content__container {
  form.layout-builder-form .form-actions,
  .layout-builder__message,
  .layout-builder-revert-overrides,
  .layout-builder-discard-changes {
    @include container-width;
  }

  // Remove margin-top from .layout--has-sidebar
  .layout-builder__layout.layout__container.layout--has-sidebar {
    margin-top: 0 !important;
  }
}

.layout-builder-revert-overrides,
.layout-builder-discard-changes {
  padding-top: 50px;

  input {
    margin-top: 20px;
  }

  a {
    color: $secondary;
  }
}

// admin styles adjust vertical tabs at bottom of edit screen

.layout-builder-enabled {
  .vertical-tabs__menu-item {
    border: none;
  }

  .vertical-tabs {
    margin: $gutter 0;

    .form-type-checkbox {
      margin: 0;
    }
  }

  .vertical-tabs__menu-item a {
    padding: 0;
  }

  .vertical-tabs__menu {
    margin: 0;
    list-style: none;
    border: none;

    li {
      list-style-type: none;
    }
  }
}

// Admin styles for full-width and mixed setting for local drupal admin blocks
.content__full {
  .layout-builder__message {
    margin-right: $gutter;
    margin-left: $gutter;
  }
}


// Reveal hidden blocks in layout.

.js-layout-builder-block.element-invisible {
  @include element-invisible-off;
  position: relative !important;
  width: 100%;

  &:before {
    content: "This block is set to be visually hidden";
    display: block;
    width: 100%;
    height: auto;
    font-style: italic;
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff4f4; // Same as .node--unpublished.
    opacity: 0.6;
  }
}

// layout page buttons

.layout-builder-form .button {
  background: #f1f1f1;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-bold;
  font-size: 1rem !important;
  border-radius: 4px;
}

.layout-builder-form .button--primary {
  color: #fff !important;
  background: #0035b0 !important;
}

div[aria-label="Layout Builder tools"] {
  @include breakpoint(md) {
    display: flex;
    justify-content: center;
  }

  >* {
    margin-right: 15px;
  }

  #edit-preview-toggle {
    margin-left: 20px;
  }
}

div[data-drupal-selector="edit-moderation-state-0"] {
  label {
    font-weight: $font-weight-light;
    padding-bottom: 8px;
  }

  @include breakpoint(md) {
    display: flex;
    justify-content: center;
  }

  #edit-moderation-state-0-current {
    @include breakpoint(md) {
      flex: 0 0 10%;
    }

    label {
      margin-bottom: 18px;
    }
  }

  .form-item-moderation-state-0-state {
    @include breakpoint(md) {
      flex: 0 0 40%;
    }
  }
}

.uids-content.js-layout-builder-block .contextual [type=button] {
  border: 1px solid #ccc;
  padding: 0;
}

// @todo https://github.com/uiowa/uids/issues/768.
blockquote.layout-builder-block {
  &.blockquote--left,
  &.blockquote--right  {
    @include padding($top: $xsm, $bottom: $xsm, $left: $lg);
  }
}

// Override blockquote borders to show block highlighted.
blockquote.layout-builder-block.is-layout-builder-highlighted  {
  margin: revert;
  &.blockquote--img-above {
    border: 4px solid #000;
  }
  &.blockquote--left:not(.blockquote--img-above) {
    border-left: 10px solid $primary;
  }
  &.blockquote--right:not(.blockquote--img-above)  {
    border-right: 10px solid $primary;
  }
}

.layout-builder-block .contextual .contextual-links a {
  color: $secondary!important;
}

// Edit layout for textblock not displaying correctly.
.block-inline-blockuiowa-text-area.layout-builder-block {
  min-height: 40px;
}

// Alerts.
// Set max-width for duplicate unsaved changes alert in layout builder layout.
.layout-builder {
  .alert--dismissible {
    max-width: 1310px;
    margin: 0 $mobile-width-gutter;
    @include breakpoint(page-container) {
      margin: 0 auto;
      width: 100%;
    }
  }
}

// Hide the edit message on layout builder pages.
[data-drupal-selector="edit-message"] {
  display: none;
}
