@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";
@import "components/typography/headings/_headings.scss";
@import "components/headline/_headline.scss";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.field--label-inline .field__label::after {
  content: ":";
}

.field.field--label-above {
  line-height: 1.5;
}

.field__label {
  font-weight: bold;
}

.field--label-inline>* {
  display: inline;
}

// UIDS

// variables

// classes
/*
.media--view-mode-edgy {
  width: 100%;
  img {
    width: 100%;
  }
}
*/
.bg-dark.semi-transparent {
  background-color: rgba(52, 58, 64, 0.8) !important;
  color: #fff;
}

/*
p {
  margin-top: 0;
}
*/
.bg-light {
  @include bg-light;
}

.bg-dark>*,
.bg-black>* {
  color: #fff;
}

.bg-dark .bg-light *:not(.btn):not(.bttn),
.bg-dark .bg-yellow *:not(.btn):not(.bttn),
.bg-black .bg-light *:not(.btn):not(.bttn),
.bg-black .bg-yellow *:not(.btn):not(.bttn) {
  color: $secondary !important;
}


.text-light {
  @include text-light
}

.bg-dark {
  @include bg-dark;
}

.bg-black {
  @include bg-black;
}

.bg-yellow {
  @include bg-yellow;
}

// Grid

.page-node-type-page.layout-builder-disabled main.page__container {

  .region-breadcrumb,
  .block-page-title-block,
  .block-local-tasks-block,
  .content-moderation-entity-moderation-form {
    @extend %container;
    clear: both;
  }
}

.region-breadcrumb,
.block-page-title-block,
.block-local-tasks-block,
.content-moderation-entity-moderation-form {
  clear: both;
}

.container {
  @include fullwidth-container;
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    margin: 0 auto;
    max-width: 83.875em;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@mixin col-base {
  position: relative;
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
}

.col-sm-6,
.col-12,
.col-xl-6,
.col-xl-3,
.col-xl-9,
.col-xl-12,
.col,
.col-md,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
}

.col-md.paragraph--type--card,
.col-md-3.paragraph--type--card,
.col-md-4.paragraph--type--card,
.col-md-6.paragraph--type--card {
  display: flex;
}


.col {
  @include flex(1, 0, 0);
  max-width: 100%;
}


.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.col-sm-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}



.col-md {
  @include breakpoint(menu) {
    @include flex(1, 0, 0);
    max-width: 100%;
  }
}

.col-md-3 {
  @include breakpoint(menu) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-md-4 {
  @include breakpoint(menu) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.col-md-6 {
  @include breakpoint(menu) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-md-12 {
  @include breakpoint(menu) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}





.col-xl-3 {
  @include breakpoint(lg) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-xl-9 {
  @include breakpoint(lg) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col-xl-12 {
  @include breakpoint(lg) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

// feed icons

.feed-icons {
  padding: 1rem 0;
}

// node

.node--unpublished {
  background-color: inherit;
}


//  field body

.field--name-field-text-body {
  p:last-child {
    margin-bottom: 0;
  }
}


// field address

.field--type-address {
  .address {
    margin-bottom: 0;
  }
}

// field

.field--label-inline {
  @include clearfix;
}


// mark

mark {
  background-color: $primary;
  padding: 0.1em;
}

// lead


.lead {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

// forms

input.btn {
  background-clip: initial;
}


// Classes

figure.caption {
  display: block;
}

figure.caption .embedded-entity+figcaption {
  font-size: 90%;
  color: #737373;
}

.caption>figcaption {
  display: block;
  max-width: none;
  caption-side: bottom;
}

.caption>* {
  display: block;
  max-width: 100%;
}


// Btn

.btn {
  @extend %bttn;
  text-transform: uppercase;
  font-family: $font-family-caps-bold;
  padding: 1rem 2rem;
}

.btn-secondary,
.btn-success,
.btn-danger,
.btn-info,
.btn-warning,
.btn-link {
  @extend %bttn--secondary;
  border: 1px solid $secondary;
  @extend %bttn--focus;
}

.btn-primary,
.button--primary {
  @extend %bttn--primary;
  border: 1px solid $primary;
  @extend %bttn--focus;

  &:after {
    background-color: $secondary;
  }
}
