@import "../uids/assets/scss/_base.scss";
@import "../uids/assets/scss/local-fonts";

.ck.ck-content,
.ck-content {
  // Added here to prevent ckeditor from leaking styles to outside the editor.
  @import "components/tables";
  @import "components/typography/paragraph";
  @import "../uids/components/alert/alert";
  @import "../uids3/components/blockquote/blockquote";
  @import "../uids3/components/typography/lists/lists";
  @import "../uids/components/button/button";
  @import "sitenow";
  @import "components/typography/global-serif";
  @import "../uids/components/callout/callout";
  @import "../uids/components/inline/inline";

  font-family: Roboto, sans-serif;

  .table {
    table,
    table caption,
    table > tr > td,
    table > tr > th,
    table > tbody > tr > td,
    table > tbody > tr > th,
    table > thead > tr > td,
    table > thead > tr > th,
    table > tfoot > tr > td,
    table > tfoot > tr > th {
      border: #d3d3d3 1px dotted;
    }
  }

  // CKEditor uses figcaption for table captions, but renders as caption..
  figure.table {
    table {
      display: table-footer-group;
    }
    figcaption {
      display: table-header-group;
      width: 100%;
      padding: 1.05rem;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      text-transform: uppercase;
      background-color: #333;
      font-weight: bold;
      a,
      :where(p) a:not(.bttn) {
        color: $primary;
        [class*="bg--"] &,
        [class*="bg--"] [class*="bg--"] & {
          color: $primary;
        }
      }
    }
  }

  figure.table .table-responsive {
    figcaption {
      text-align: left;
      @include breakpoint(sm) {
        text-align: center;
      }
    }
  }

  figure.table table.table--gray-borders {
    & > figcaption {
      & > td,
      & > th {
        border: #7c7c7c 1px solid;
      }
    }
  }


  .drupal-media {
    max-width: max-content;
    figcaption {
      display: block;
    }
    img {
      min-width: initial;
    }
  }

  // Deal with drupal-media wysiwyg issue for align none originals.
  .media:not(.align-left):not(.align-right):not(.align-center) {
    &.media--type-remote-video.media--view-mode-default,
    &.media--type-remote-video.media--view-mode-full,
    &.media--type-panopto.media--view-mode-default,
    &.media--type-panopto.media--view-mode-full {
      width: 854px;
      max-width: 100%;
      height: 480px;
      position: unset;
      display: inherit;
      padding: 0;
      overflow: auto;

      .field--name-field-media-oembed-video,
      .field--name-field-media-panopto-url {
        height: 100%;

        & > iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  figure.caption {
    .media:not(.align-left):not(.align-right):not(.align-center) {
      &.media--type-remote-video.media--view-mode-default,
      &.media--type-remote-video.media--view-mode-full,
      &.media--type-panopto.media--view-mode-default,
      &.media--type-panopto.media--view-mode-full {
        width: 300px;
        // 150px + edit button + border/padding.
        height: calc(150px + 40px + 9px);

        .field--name-field-media-oembed-video,
        .field--name-field-media-panopto-url {
          height: unset;
        }
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // Adjust responsive positioning to make room for edit button
  .embed-responsive embed,
  .embed-responsive iframe,
  .embed-responsive object,
  .embed-responsive video,
  .media--type-panopto embed,
  .media--type-panopto iframe,
  .media--type-panopto object,
  .media--type-panopto video,
  .media--type-remote-video embed,
  .media--type-remote-video iframe,
  .media--type-remote-video object,
  .media--type-remote-video video {
    top: 40px;
  }

  // Placeholder twitter for within CKEditor.
  .media--type-twitter {
    height: 150px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
    background-image: url("../images/twitter.png") !important;
  }
}

// Remove uppercase styling from editor buttons.
.ck.ck-button {
  text-transform: inherit;
}

// Fix overlapping grid spacing under styles dropdown.
.ck.ck-style-panel .ck-style-grid {
  row-gap: 2rem!important;
}
