@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

article.node--type-page.node--view-mode-teaser,
div[role=article].node--type-page.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  .field--name-title {
    display: block;
  }
}



.content__container .page__container--edge .lb__container.has-uids-menu,
.content__mixed .page__container--edge .lb__container.has-uids-menu {
  display: flex;
  flex-wrap: wrap;
  @extend %container;
}


.page-node-type-page .block-field-blocknodepagefield-image {
  flex-basis: 200%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.has-uids-menu .block-field-blocknodepagefield-page-content-block {
  @include breakpoint(menu) {
  flex: 1;
  }
}


/*

.page-node-type-page .hero {

  margin-left: calc(0% - 50vw);
}

.page-node-type-page article {
      margin-left: calc(-35% - 0vw);
      width: 100%;
}

.has-sidebar {
  .hero__container {

    margin-left: calc(19% - 0vw);

  }

  .layout-sidebar-first {
    @include breakpoint(container) {
             margin-top: calc(90% - 0vw);
             margin-left: calc(38% - 0vw);
             width: 30%;
    }
  }
}

*/
