@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

article.node--type-page.node--view-mode-teaser,
div[role=article].node--type-page.node--view-mode-teaser {
  .content-image img {
    height: auto;
  }

  .field--name-title {
    display: block;
  }
}



.content__container .page__container--edge .lb__container.has-uids-menu,
.content__mixed .page__container--edge .lb__container.has-uids-menu {
  display: flex;
  flex-wrap: wrap;
  @extend %container;
}


.page-node-type-page .block-field-blocknodepagefield-image {
  flex-basis: 200%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-bottom: $gutter;
}

.has-uids-menu .main--secondary--vertical {
  @include breakpoint(menu) {
    flex: 0 1 24.25%;
  }
}

.has-uids-menu .block-field-blocknodepagefield-page-content-block {
  @include breakpoint(menu) {
   flex: 0 1 74.75%;
  }
}

