<div id="uiowa-search" class="uiowa-bar--navbar d-flex align-items-center mt-2 mt-sm-0">
    <ul class="uiowa-bar--navbar--links d-inline-flex px-0 mx-1"></ul>
    <form class="uiowa-bar--navbar--search-form form-row search-google-appliance-search-form" aria-label="site search" role="search" data-drupal-selector="uiowa-bar-search-form" action="http://iowasuperfund.uiowa.lndo.site:8000/google-search" method="post" id="uiowa-bar-search-form" accept-charset="UTF-8" data-drupal-form-fields="edit-search-terms,edit-submit-search">
        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search-terms form-item-search-terms">
            <label class="sr-only" for="edit-search-terms">Search</label>
<input placeholder="{{ search.title }}" class="form-control form-control-sm mt-0 form-text" data-drupal-selector="edit-search-terms" type="text" id="edit-search-terms" name="search-terms" value="" size="15" maxlength="256">
        </div>
        <input class="mx-0 form-control-sm btn-sm btn-dark button js-form-submit btn form-submit" data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" name="btnG" value="Search">
        <input autocomplete="off" data-drupal-selector="form-wwapt2pnelnvvvf6jg0zatqo2o1jdqpfmcnviqdhpq0" type="hidden" name="form_build_id" value="form-WwAPt2PnElnvvvf6jg0ZaTQo2o1jDqPFmCnVIqDHPq0">
        <input data-drupal-selector="edit-uiowa-bar-search-form-form-token" type="hidden" name="form_token" value="ZeoM7GSaKfuhVPstwmtubp-LvC3SA4rlizajpv8FT1M">
        <input data-drupal-selector="edit-uiowa-bar-search-form" type="hidden" name="form_id" value="uiowa_bar_search_form">
    </form>
</div>

