<a href="http://www.uiowa.edu" title="The University of Iowa" id="wordmark-link" class="uiowa--bar--wordmark uiowa--bar--wordmark--uiowa">
<svg aria-labelledby="uiowa-wordmark" role="img" xmlns="http://www.w3.org/2000/svg" id="wordmark">
<use xlink:href="{{ logo_path }}"></use>
</svg>
    </a>

