// lb claro styles
.search-field {
  background: #fff !important;
}

// Claro Dropbutton

.dropbutton-wrapper {
  align-content: stretch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  align-items: stretch;
  flex-direction: row;
}

.dropbutton-arrow {
  right: 25%;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;

  [class*="bg--black"] &,
  .bg--black--pattern--brain &,
  .bg-pattern--brain-black & {
    color: $secondary;
  }
}


.dropbutton-widget {
  padding-right: 2.6em;
}

.dropbutton-multiple .dropbutton .dropbutton-action>* {
  margin-right: 0;
  color: #545454;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.dropbutton-multiple.open .dropbutton-arrow {
  border-top-color: inherit;
}

.js .dropbutton {
  min-height: 3rem;
  height: auto !important;
}

ul.dropbutton li {
  line-height: 2.9;

  a {

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

