// Gin
.gin--vertical-toolbar {
  &.search-is-open {
    .iowa-bar.toggle .search-overlay .uids-search {
      width: 63%;
    }
  }
  .iowa-bar.toggle .search-button {
    @include breakpoint(container) {
      right: 237px;
    }
  }
}

.gin--vertical-toolbar[data-toolbar-menu="open"] {
  .iowa-bar.toggle .search-button {
    @include breakpoint(container) {
      right: 307px;
    }
  }
}

.toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-logo img {
  margin-top: 20px;
}

.gin--vertical-toolbar[data-toolbar-menu="open"] .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-logo img {
  max-width: auto!important;
  width: 40% !important;
}

.glb-canvas-form__settings {
  overflow: revert;
}

.toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-logo img {
  max-width: unset!important;
  max-height: unset!important;
}
