// Fix for off-canvas dialog update button being hidden.
.ui-dialog-off-canvas #drupal-off-canvas:not(.drupal-off-canvas-reset),
.ui-dialog-off-canvas #drupal-off-canvas-wrapper {
  overflow-y: scroll!important;
  &::after {
    float: left;
    padding-bottom: 100px;
    content: '';
    clear: both;
    display: list-item;
    color: #444;
  }
}

// Grid for image gallery block.
#drupal-off-canvas:not(.drupal-off-canvas-reset),
#drupal-off-canvas-wrapper  {
  .media-library-selection {
    @include grid-base;
    @include breakpoint(sm) {
      @include threecol-grid;
    }
  }
}
// Responsive images within drupal-off-canvas and cursor move for media library grid.
#drupal-off-canvas:not(.drupal-off-canvas-reset),
#drupal-off-canvas-wrapper {
  img {
    width: 100%;
  }
  .media-library-item--grid[draggable="true"] {
    img {
      cursor: move;
    }
  }
}

/*
 * Off-canvas overrides
 */
#drupal-off-canvas:not(.drupal-off-canvas-reset) .search-choice span,
#drupal-off-canvas-wrapper .search-choice span,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .search-field .chosen-search-input,
#drupal-off-canvas-wrapper .search-field .chosen-search-input {
  color: #000 !important;
  background: #fff !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
  border: none !important;
  outline: none !important;
  width: 100% !important;
}

// Override classy negative bottom margin.
#drupal-off-canvas:not(.drupal-off-canvas-reset) table,
#drupal-off-canvas-wrapper table {
  margin: 0 -20px 0 -20px;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .layout-builder-style-heading,
#drupal-off-canvas-wrapper .layout-builder-style-heading {
  border-bottom: 1px solid #999;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .ui-autocomplete,
#drupal-off-canvas-wrapper .ui-autocomplete {
  li {
    background: #fff !important;

    a {
      color: #000 !important;
      background: inherit !important;
      font-size: $small-font-size;
    }
  }
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .search-choice span,
#drupal-off-canvas-wrapper .search-choice span {
  background: transparent !important;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .field--type-entity-reference-revisions>div>fieldset,
#drupal-off-canvas-wrapper .field--type-entity-reference-revisions>div>fieldset {
  border: 1px solid #999;
  padding: 15px;

  .fieldset-wrapper {

    table {
      min-width: 100%;
      margin: 0;
    }

    .container-inline.form-wrapper {
      margin-top: 10px
    }
  }
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) th.ief-tabledrag-header,
#drupal-off-canvas-wrapper th.ief-tabledrag-header,
#drupal-off-canvas:not(.drupal-off-canvas-reset) td.ief-tabledrag-handle,
#drupal-off-canvas-wrapper td.ief-tabledrag-handle {
  width: 20px
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) select[multiple] option,
#drupal-off-canvas-wrapper select[multiple] option {
  color: #000;
  background: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) form,
#drupal-off-canvas-wrapper form {
  padding-top: 10px;
}

// Statistic admin UX.
#drupal-off-canvas:not(.drupal-off-canvas-reset),
#drupal-off-canvas-wrapper {
  [id*="edit-settings-block-form-group-uiowa-statistic-title--"] {

    .fieldset-legend {
      display: none !important;
    }

    .fieldset-wrapper {
      display: grid;
      grid-template-columns: 19% 56% 19%;
      grid-gap: 3%;
    }
  }
}

// Allow the details summary open/close marker to appear.
#drupal-off-canvas:not(.drupal-off-canvas-reset) details,
#drupal-off-canvas-wrapper details,
#drupal-off-canvas:not(.drupal-off-canvas-reset) summary,
#drupal-off-canvas-wrapper summary {
  list-style-position:revert;
  list-style-image: none;
  list-style-type: revert;
}

// Styles for smart date date range.
#drupal-off-canvas:not(.drupal-off-canvas-reset) .smartdate--time-inline,
#drupal-off-canvas-wrapper .smartdate--time-inline {
  @include breakpoint(sm) {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 25rem !important;
  }
}

// Alerts.
#drupal-off-canvas .alert span,
#drupal-off-canvas .alert svg.fa-stack-2x {
  position: relative!important;
}

#drupal-off-canvas .alert svg {
  margin: 0;
}

#drupal-off-canvas .alert__icon .svg-inline--fa.fa-stack-1x {
  margin: 0;
  left: -2px;
  top: -1px;
}

#drupal-off-canvas .alert__icon .svg-inline--fa.fa-stack-2x {
  height: 2rem;
  width: 2rem;
}

#drupal-off-canvas .alert a {
  color: $link-color;
}

#drupal-off-canvas .alert button  {
  color: $secondary;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

#drupal-off-canvas form .alert div {
  color: $secondary;
}

#drupal-off-canvas .alert ul li {
  display: inline-block;
  border-bottom: none;
  + li {
    &:before {
      content: ",";
      padding: 0 .2rem 0 .1rem;
    }
  }
}

// Accessible off-canvas form item error color.
#drupal-off-canvas .uids-content .form-item--error-message * {
  color: #E8A392 !important;
}
