// Paragraphs widget admin UX. Collections and Slider.

.paragraphs-tabs-wrapper {
  .field-multiple-drag {
    width: 48px !important;
    padding: 6px 8px !important;
  }

  [id*="settings-block-form-field-uiowa-"][id*="-item-wrapper-"] {
    padding: 12px;
    margin: 6px;
  }

  .paragraph-top {
    grid-template-columns: auto 10px auto 100px;
  }

  .summary-content {
    display: inline-block;
    width: 100%;
  }

  .paragraphs-dropdown-toggle {
    width: 26px !important;
    height: 26px !important;
    border: none !important;
    background: url(/modules/contrib/paragraphs/icons/icon-actions.svg) no-repeat center !important;
  }

  .paragraphs-dropdown-actions {
    border: none;
    top: 1px;
    right: 26px;
    width: 98px;
    box-shadow: none;
    background: inherit;
  }
}
