// Set above admin toolbar and superfish.
.joyride-tip-guide {
  z-index: 550;

  a {
    background: transparent;

    .btn.btn-primary.btn-block {
      color: $secondary;
      margin-bottom: $md;

      &:hover,
      &:focus {
        color: $secondary;
      }
    }
  }
}

// Admin only styles
.toolbar-menu {
  font-size: unset;
}

// Hide header if off canvas tray is open
.js-off-canvas-dialog-open header.iowa-bar {
  display: none;
}

// admin toolbar style for sticky header.
.header-sticky.toolbar-horizontal,
.header-sticky.toolbar-vertical {
  &.header-uihc {
    @include breakpoint(md) {
      padding-top: 140px !important;
    }
  }
  @include breakpoint(md) {
    padding-top: 120px !important;
  }

  &.below {
    @include breakpoint(md) {
      padding-top: 160px !important;
    }
    &.header-uihc {
      @include breakpoint(md) {
        padding-top: 190px !important;
      }
    }
  }
}

.header-sticky.scroll-down.toolbar-horizontal,
.header-sticky.scroll-down.toolbar-vertical {
  @include breakpoint(md) {
    padding-top: 80px !important;
  }
}

.header-sticky.toolbar-horizontal.toolbar-tray-open {
  &.header-uihc {
    @include breakpoint(md) {
      padding-top: 180px !important;
    }
  }
  @include breakpoint(md) {
    padding-top: 160px !important;
  }

  &.below {
    &.header-uihc {
      @include breakpoint(md) {
        padding-top: 230px !important;
      }
    }
    @include breakpoint(md) {
      padding-top: 210px !important;
    }
  }
}

.header-sticky.toolbar-vertical.toolbar-tray-open {
  @include breakpoint(md) {
    header.iowa-bar {
      padding-left: 15rem;
    }
  }
}

.header-sticky.toolbar-vertical,
.header-sticky.toolbar-horizontal {
  header.iowa-bar {
    @include breakpoint(md) {
      top: 39px;
    }
  }
}

.header-sticky.toolbar-horizontal.toolbar-tray-open {
  header.iowa-bar {
    @include breakpoint(md) {
      top: 79px;
    }
  }
}

// Create more space in the header when the vertical toolbar is open.
@media (min-width: 1200px) {
  body.toolbar-vertical.toolbar-tray-open .search-wrapper {
    margin-right: auto;
  }

  body.toolbar-vertical.toolbar-tray-open  .iowa-bar--full.toggle .site-name {
    flex: 0 1 30%;
  }

  body.toolbar-vertical.toolbar-tray-open .search-overlay[aria-hidden=false] {
    width: 90%;
  }
}

// Adjust search wrapper when vertical toolbar is open.
@media (min-width: 1350px) {
  body.toolbar-vertical.toolbar-tray-open .search-wrapper {
    margin-right: calc(60% - 50vw);
  }
}

// Position top links if vertical toolbar is open.
@media (min-width: 1550px) {
  body.toolbar-vertical.toolbar-tray-open  .iowa-bar--full.toggle .site-name+.menu--top {
    right: calc(41% - 40vw);
  }
}

// Hide top links for edge case with vertical toolbar open.
@media only screen and (min-width: 980px) and (max-width: 1200px) {
  body.toolbar-vertical.toolbar-tray-open  .iowa-bar--full.toggle .site-name+.menu--top .menu {
    display: none;
  }
}

// Position mobile menu to make room for vertical toolbar.
@media only screen and (min-width: 0) and (max-width: 980px) {
  body.toolbar-vertical.toolbar-tray-open .o-canvas--open .o-canvas__drawer {
    width: calc(100% - 15rem);
  }
}
