{% if background_type == 'bg-type--dark' %}
<div class="bg-type--dark">
  {% elseif background_type == 'bg-type--light' %}
  <div class="bg-type--light">
    {% endif %}

    <h2 class="bold-headline {{ headline_type }}">{{ bold_headline }}</h2>

    {% if background_type == 'bg-type--dark' %}
  </div>
  {% elseif background_type == 'bg-type--light' %}
</div>
{% endif %}
