@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/01 - elements/paragraph/_paragraph.scss";

.card {
  figure {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  figure:not(:last-child) {
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;
}

.small {
  font-size: $sm!important;
  line-height: $sm-md!important;
  font-family: Arial, Helvetica, sans-serif;
}
