adding:
  display:
    default:
      display_options:
        style:
          options:
            grouping:
              -
                field: field_event_when_value
                rendered: true
                rendered_strip: false
            row_class: 'card card--enclosed'
    page_upcoming:
      display_options:
        fields:
          field_event_when_value:
            id: field_event_when_value
            table: node__field_event_when
            field: field_event_when_value
            relationship: none
            group_type: group
            admin_label: ''
            plugin_id: date
            label: ''
            exclude: false
            alter:
              alter_text: false
              text: ''
              make_link: false
              path: ''
              absolute: false
              external: false
              replace_spaces: false
              path_case: none
              trim_whitespace: false
              alt: ''
              rel: ''
              link_class: ''
              prefix: ''
              suffix: ''
              target: ''
              nl2br: false
              max_length: 0
              word_boundary: true
              ellipsis: true
              more_link: false
              more_link_text: ''
              more_link_path: ''
              strip_tags: false
              trim: false
              preserve_tags: ''
              html: false
            element_type: ''
            element_class: ''
            element_label_type: ''
            element_label_class: ''
            element_label_colon: false
            element_wrapper_type: ''
            element_wrapper_class: ''
            element_default_classes: true
            empty: ''
            hide_empty: false
            empty_zero: false
            hide_alter_empty: true
            date_format: medium
            custom_date_format: ''
            timezone: ''
removing:
  display:
    default:
      display_options:
        style:
          options:
            row_class: ''
