.tabs.form-wrapper {
  border: none;
  box-shadow: none;
}

.tabs .profiles-instance-fieldset {
  margin: 0;
  box-shadow: none;
}

.tabs .tabs--list {
  margin-bottom: -1px;
  z-index: 1;
}

.tabs .tabs--list .button {
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #d4d4d8 !important;
  border-bottom: none !important;
}

.tabs .tabs--list .button[aria-selected="true"] {
  background-color: white;
  box-shadow: none;
}

.tabs .tabs--list .button[aria-selected="false"] {
  background-color: #d4d4d8;
  border-color: #bfbfbf !important;
  box-shadow: none;
}
