{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set media_attributes = media_attributes?: create_attribute() %}
{% set media_attributes = media_attributes.addClass('card__media--small card__media media--circle') %}
{% set row_classes = [
  default_row_class ? 'views-row',
] %}
{% for key, row in rows %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {%
      set classes = [
      'bg--white',
      'card--centered',
      'card--alignment-left',
      'card--stacked ',
      'card--enclosed',
      'card__row',
    ]
    %}

    {% set projects_card = {
      'attributes': attributes.addClass(classes),
      'card_image': view.style_plugin.getField(key, 'field_image'),
      'card_title': view.style_plugin.getField(key, 'name'),
      'card_link_url': view.style_plugin.getField(key, 'view_taxonomy_term')|render|striptags|trim,
      'media_attributes': media_attributes
    } %}

    {% embed '@uids_base/uids/card.html.twig' with projects_card only %}{% endembed %}
  </div>
{% endfor %}
