{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% set row_classes = [
  default_row_class ? 'views-row',
] %}
{% for key, row in rows %}
  <div{{ row.attributes.addClass(row_classes) }}>

    {%
      set headline_classes = [
      'headline',
      'headline--highlight',
      'headline--uppercase',
      'headline--small',
    ]
    %}

    {%
      set classes = [
      'banner--vertical-bottom',
      'banner--horizontal-left',
      'banner--list',
      'click-container',
    ]
    %}

    {% set headline_level = heading_size ?: 'h3' %}

    {% set block_banner = {
      'attributes': attributes.addClass(classes),
      'banner_image': view.style_plugin.getField(key, 'field_image'),
      'banner_title': view.style_plugin.getField(key, 'title'),
      'headline_level': headline_level,
      'headline_class': headline_classes,
      'link_element': 'title',
      'link': {
        'link_url': view.style_plugin.getField(key, 'view_node')|render|striptags|trim
      }
    } %}

    {% embed '@uids_base/uids/banner.html.twig' with block_banner only %}{% endembed %}

  </div>
{% endfor %}
