.portrait {
  @include flexbox;
  @include flex-wrap($value: wrap);
  @include flex($fg: 1, $fs: 1, $fb: 0);
  @include breakpoint(sm) {
    @include margin($right: $md, $left: $md);
  }

  &:first-child {
    @include margin($left: 0);
  }
  &:last-child {
    @include margin($right: 0);
  }

  &__bg {
    background: url('../images/social.jpg');
    background-size: cover;
    @include margin($top: $xxlg, $bottom: $xxlg);
    @include padding($top: $xxlg, $bottom: $xxlg);
  }

  &__wrapper {
    @extend %container;
  }

  &__container {
    @include breakpoint(sm) {
      @include flexbox;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__gradient {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    min-height: 150px;
    padding: $md;
    color: $white;
    background: $secondary;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23faf8fd' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: $h6-font-size;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
  }

  &__title {
    margin: 0;
    font-size: $h6-font-size;
    color: #fff;
    span {
      font-weight: $font-weight-light;
    }
  }
}

