.gallery-jump-link {
  font-family: Zilla Slab,serif;
  font-size: 1.2rem;
}

.gallery-jump-link a {
  text-decoration: none;
}

.gallery-jump-link a:hover {
  text-decoration: underline;
}

.gallery-jump-link svg {
  margin-right: 0.3rem;
}
