@import "node_modules/uids_base/uids/assets/scss/variables";
@import "node_modules/uids_base/uids/assets/scss/utilities";
@import "node_modules/uids_base/uids/components/card/_card-mixins.scss";
@import "node_modules/uids_base/uids/components/pagination/pagination";

#apr-directory-service {
  .list-view {
    margin: $gutter 0;
  }

  // Duplicated from uids_base views exposed filters.
  .apr-filter {
    min-height: $sm;
    padding: $sm;
    margin-bottom: $sm;
    background-color: $light;
    border: $border-width solid $grey;
    border-radius: $border-radius;

    .form-inline {
      @include list-group;

      // Duplicated from uids_base forms.
      #apr-query-input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 3.5rem;
        margin: 0 0 1rem;
        padding: 0.5rem;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
        color: #0a0a0a;
        border: 1px solid #cacaca;
        background-color: #fefefe;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        font-family: inherit;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        appearance: none;
      }
    }
  }

  .profiles {
    ul, ol {
      @extend %no-ul-list;
    }

    // Last TD is not wrapped in anything for some reason.
    table {
      td:last-child {
        font-size: $content-font-size;
        line-height: 1.7;
      }
    }

    .apr-cards {
      display: flex;

      .card {
        @include card;
      }
    }
  }

  nav {
    text-align: center;
    @extend .pager;

    li.active {
      font-weight: $font-weight-bold;
    }
  }
}
