@import "../../../../node_modules/@uiowa/uids/src/assets/scss/variables";
@import "../../../../node_modules/@uiowa/uids/src/assets/scss/utilities";
@import "../../../../node_modules/@uiowa/uids/src/components/card/_card-mixins.scss";
@import "../../../../node_modules/@uiowa/uids/src/components/headline/headline-mixins";
@import "../../../../node_modules/@uiowa/uids/src/components/pagination/pagination";


.apr-filter {
  min-height: 20px;
  padding: 1rem;
  margin: $gutter 0;
  background-color: $light;

  .form-inline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  [type="button"].btn {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    &.btn-default {
      background-color: $primary;
    }
  }

  .form-group {
    flex: 0 1 100%;
    @include breakpoint(menu) {
      flex: 0 1 auto;
      margin: 0 1rem 1rem 0;
    }
    @include breakpoint(container) {
      flex: auto 1 1;
      margin: 0;
    }
    + .form-group {
      @include breakpoint(container) {
        margin-left: 1rem;
      }
    }
    select, #apr-query-input.form-control {
      margin: 0;
    }
  }
}


#apr-directory-service {

  .apr-profile .apr-section.summary {
    ul {
      @extend %no-ul-list;
      li {
        margin-bottom: $md;
      }
    }
  }

  .apr-profile.apr-profile-grid .groups {
    figure {
      margin: 0;
    }
    @include breakpoint(sm) {
      grid-template-columns: 300px auto;
      column-gap: 1.5em;
    }
  }
  .apr-profile .apr-section.intro {
    @include breakpoint(sm) {
      grid-column: 1 /2;
    }
  }
  .apr-profile .apr-section.profile-details {
    @include breakpoint(sm) {
      grid-row: 1 / span 5;
      grid-column: 2 / 3;
      margin-left: 1rem;
    }
  }
  .apr-profile div.groups,
  .apr-profile .apr-section {
    @include breakpoint(sm) {
      display: grid;
      grid-gap: 1.5em;
      row-gap: 1em;
      align-content: start;
    }
  }

  .list-view {
    margin: $gutter 0;
  }

  .profiles {
    ul, ol {
      @extend %no-ul-list;
    }

    // Last TD is not wrapped in anything for some reason.
    table {
      td:last-child {
        font-size: $content-font-size;
        line-height: 1.7;
      }
    }

    .apr-cards {
      @include grid-base;
      @include breakpoint(sm) {
        @include threecol-grid;
      }

      .card {
        @include card;
      }
    }
  }

  nav {
    text-align: center;
    @extend .pager;

    li.active {
      font-weight: $font-weight-bold;
    }
  }
}

#apr-publication-service {

  .apr-publication-list {
    ul {
      @extend %no-ul-list;

      li {
        margin: $gutter 0;
        .pub-author {
          @include card-header;
          @include headline;
          margin-bottom: 0;
        }
        .pub-department {
          @include card-subtitle;
        }
        .pub-citation {
          @include card-paragraph;
          margin-top: $sm;
        }
      }
    }
  }

  nav {
    text-align: center;
    @extend .pager;

    li.active {
      font-weight: $font-weight-bold;
    }
  }
}
