@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/card/_card-mixins.scss";

.aggregator-wrapper {
  .card {
    &__row {
      @include breakpoint(sm) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        border: none;
        padding: 1.5rem 0;
        background: transparent;
      }
    }
  }
  .card--alignment-center {
    .card__label {
      padding-left: 0;
    }
    .svg-inline--fa {
      @include element-invisible;
    }
  }
}
.aggregator-item {
  &.hide-descriptions {
    .card__description,
    .item-description {
      display: none;
    }
  }
  &.hide-images {
    .card__media {
      display: none;

      &+.card__body {
        padding: 0;
      }
    }
  }
  &.hide-details .card__details {
    display: none;
  }
}
