// @todo: Ideally, these styles would match the event component when finalized.

@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.block-inline-blockuiowa-events {
  margin-top: $gutter;

  .card__title {
    display: block;
    @include h5;
  }

  .event-location {
    font-family: Zilla Slab, serif;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .more-link {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}

.block-inline-blockuiowa-events {
  .card__media {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
      margin-bottom: $gutter;
    }
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }

    .badge {
      margin-left: $sm;
    }
  }

  .card--list {
    display: flex;
  }
}

// Events List
.block-inline-blockuiowa-events {
  .card {
    @include breakpoint(sm) {
      border-bottom: 1px solid #ccc;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .events-card {
    &__row {
      @include breakpoint(sm) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        border: none;
        padding: 1.5rem;
        background: transparent;
      }
    }

    &__image {
      @include breakpoint(sm) {
        flex: 1 0 10%;
        margin-right: 15px;
        min-width: 125px;
      }
    }

    &__body {
      @include breakpoint(sm) {
        flex: 1 1 90%;
        padding: 0;
        text-align: left;
      }
    }

    &__description {
      line-height: 1.7;
      margin-top: .5rem;
    }
  }

  .bg--black & {
    .events-card {
      &__description {
        color: $white;
      }
    }
  }

  .layout--twocol .layout__spacing_container & {
    @media screen and (min-width: 40em) {
      .events-card__image img {
        border-radius: 50%;
        margin-top: 0;
        height: auto;
        padding: 8px;
        border: 1px solid #737373;
      }
    }
  }

  .layout--fourcol .layout__spacing_container & {
    @media screen and (min-width: 40em) {
      .events-card__image img {
        border-radius: 50%;
        margin-top: 0;
        height: auto;
        padding: 8px;
        border: 1px solid #737373;
      }
    }
  }

  &.hide-descriptions {
    .events-card {
      &__description {
        display: none;
      }
    }
  }

  &.hide-images .events-card__image {
    display: none;
  }

  &.hide-details .events-card__details {
    display: none;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
