@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.block-inline-blockuiowa-events {
  margin-top: $gutter;
  .card__title {
    display: block;
    @include h5;
  }

  .event-location {
   font-family: Zilla Slab, serif;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .more-link {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}

.block-inline-blockuiowa-events {
  &.hide-images .card__media,
  &.hide-images .content-image {
    display: none;
  }
}

.block-inline-blockuiowa-events {
  &.hide-details .event-location {
    display: none;
  }
}

.block-inline-blockuiowa-events {
  .card__media {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
      margin-bottom: $gutter;
    }
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }

    .badge {
      margin-left: $sm;
    }
  }

  .card--list {
    display: flex;
    flex-direction: row-reverse;
  }
}

// Events List
.block-inline-blockuiowa-events {
  .card {
    @include breakpoint(sm) {
      border-bottom: 1px solid #ccc;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.block-inline-blockuiowa-events.hide-descriptions {
  p {
    display: none;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
