@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";

.block-inline-blockuiowa-people {
  &.hide-images .card__media,
  &.hide-images .content-image {
    display: none;
  }
  &.hide-descriptions {
    .field--name-field-teaser {
      display: none;
    }
  }
  p {
    display: none;
  }

  .h6 {
    margin-top: .7rem;
    margin-bottom: 1.5rem;
  }

  .field--name-field-person-position {}

  .field--name-field-teaser {
    margin-top: $gutter;
  }
  .more-link {
    margin-bottom: $gutter;
  }
  .card__media {
    @include card-media-horizontal-right;

    @include breakpoint(sm) {
      margin-top: $lg;
      margin-bottom: $gutter;
    }
  }

  .card__body {
    flex: 1;
  }

  .card__title {
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  .card--list {
    display: flex;
    flex-direction: row-reverse;
  }

  .view-content {
    @include list-group;
    @include list-group-flush;
    margin-top: $gutter;
  }

  .views-row {
    @include list-group-item;

    &:last-child {
      border-bottom: none;
    }
  }

  .node__content {
    @include media-body;
  }
}
