{#
/**
* @file
* Theme override to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - provider: The module or other provider that provided this block plugin.
*   - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
*   be added to the main container tag of this template.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*/
#}

{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}

{% if attributes.hasClass('js-layout-builder-block') %}
  <div{{ attributes.addclass(classes) }}>
  {% endif %}

  {% block content %}

    {{ title_prefix }}
    {{ title_suffix }}
    {{ attach_library('collegiate_theme/news-block') }}

      {% include "@news-block/news-block--advanced.twig" with {
        "news_card_image": file_url(content.field_uiowa_noteworthy_image['#items'].entity.uri.value),
        "news_card_title": content.field_uiowa_noteworthy_title,
        "news_card_text": content.field_uiowa_noteworthy_excerpt,
        "news_card_tag": content.field_uiowa_noteworthy_sub,
        "news_card_link_url": content.field_uiowa_noteworthy_link[0]['#url'],
        "news_card_link_title": content.field_uiowa_noteworthy_link[0]['#title'],
        "news_card_position": elements['#weight']
      } %}

  {% endblock %}
  {% if attributes.hasClass('js-layout-builder-block') %}
  </div>
{% endif %}
