@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/01 - elements/forms/_forms.scss";

.button {
  @extend %bttn;
  text-transform: uppercase;
  font-family: $font-family-caps-bold;
  border: 1px solid #FFCD00;
}
