@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// Chosen override styles.
.uids-content {
  .chosen-container-multi .chosen-choices li.search-choice span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    background-image: none;
  }

  .chosen-container-multi .chosen-choices {
    display: flex;
    gap: 0.5rem;
    border: 1px solid #cacaca;
    background: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    font-family: inherit;
    padding: 0 .3rem 0 .3rem;
    min-height: 3.5rem;
    align-items: center;
  }

  .chosen-container-multi .chosen-drop .result-selected {
    color: $brand-cool-gray;
  }

  .chosen-container .chosen-results li {
    line-height: 1.2;
  }

  .chosen-container-multi .chosen-drop {
    color: $secondary;
  }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: $brand-cool-gray;
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    background: none;
    height: 2rem;
    line-height: 1;
    font-size: .8rem;
    border-radius: 4px;
    display: flex;
    padding-right: 30px;
    padding-left: 10px;
    align-items: center;
    margin: 0;
    border-color: $light-gray;
    max-width: 55%;
    color: $secondary;
  }

  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 30%;
    right: 11px;
  }
}
