@use 'sass:color';
@use '../../../uids/scss/abstracts/_variables.scss';
@use '../../../uids/scss/abstracts/_utilities.scss';
@use '../../../uids/scss/components/form.scss';

.form {

  .button--primary {


    [class*="bg--gray"] &,
    [class*="bg--white"] &,
    .bg-pattern--brain &,
    .bg--white--pattern--brain & {
      background: variables.$primary;
    }
  }

  fieldset {
    padding: 1.11111rem;
    border: 1px solid variables.$grey-light;
  }

  legend {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    white-space: normal;
    color: inherit;
    margin-bottom: 0;
    &:has(.headline) {
      padding: 1rem 1rem 0 1rem;
    }
  }

  progress {
    vertical-align: baseline;
  }

  .form-item--error-message {
    margin: variables.$xsm 0;

    * {
      color: variables.$danger !important;
    }
  }

  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
  }

  details {
    display: block;
  }

  summary {
    display: list-item;
  }

  template {
    display: none;
  }

  [hidden] {
    display: none;
  }

  select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    //border-radius: 3px;
  }


  pre {
    overflow: auto;
  }

  ::-webkit-input-placeholder {
    color: variables.$brand-cool-gray;
  }

  :-ms-input-placeholder {
    color: variables.$brand-cool-gray;
  }

  ::-ms-input-placeholder {
    color: variables.$brand-cool-gray;
  }

  ::placeholder {
    color: variables.$brand-cool-gray;
  }

  .help-text {
    margin-top: -0.5rem;
    color: variables.$secondary;
    font-size: variables.$small-font-size;
    font-style: italic;
  }

  .form-error {
    display: none;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    color: #c60f13;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .form-error.is-visible {
    display: block;
  }

  .help-text,
  .description {
    margin-top: -0.5rem;
    color: #0a0a0a;
    font-size: 0.8125rem;
    font-style: italic;
  }

  .description {
    margin: 0.5rem 0;
    .webform-element-more {
      margin-top: 0.3rem;
    }
  }

  .form-actions {
    &--stacked {
      width: 100%;
      margin-top: .5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .form-item:not(fieldset) {
    padding: 0rem 0rem;
  }

  .form-type-webform-multiple {
    .webform-multiple-table {
      margin-bottom: 10px;

      thead th {
        border-top: none;
        padding: 0px;
      }

      tr.draggable {
        position: relative;

        .webform-multiple-table--handle {
          padding: 0rem 0.75rem;

          .tabledrag-handle {
            margin: 0rem;
            height: 16px;
            width: 100%;
            display: flex;
            justify-content: center;

            .handle {
              background-position: 0rem;
              width: 16px;
              height: 16px;
              padding: 0rem;
              margin: 0rem;
            }
          }

          &+td {
            padding-left: 0rem;

            fieldset {
              margin-bottom: 0rem;
            }

            input {
              margin: 0;
            }
          }
        }

        td.webform-multiple-table--weight {
          vertical-align: middle;

          .form-group {
            margin-bottom: 0px;
          }
        }

        .webform-multiple-table--operations {
          width: 16px;
          padding: 0rem 1rem 0rem 0rem;

          .form-control {
            display: inline-block;
            margin-bottom: -3px;
            border: none;
            width: 18px;
            height: 18px;
          }
        }

        &.drag {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }
    }

    .webform-multiple-add {
      display: flex;

      .button {
        @include utilities.bttn--primary;
      }

      div[class*="-add-more-items"] {
        display: flex;
        margin: 0;

        input {
          height: unset;
          width: unset;
          margin: 0 1rem;
        }
      }

      .form-control {
        width: unset;

        &.form-number {
          display: inline-block;
        }
      }

      .field-suffix {
        display: inline-block;
        color: color.scale(#000, variables.$lightness: 40%);
        line-height: 1.4;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
      }
    }

    .tabledrag-toggle-weight {
      font-size: inherit;
      color: color.scale(#000, variables.$lightness: 40%);
      padding: 1rem;
    }

    .tabledrag-toggle-weight-wrapper {
      justify-content: flex-end;
    }

    .webform-multiple-table--weight .webform-multiple-sort-weight {
      width: 4em;
    }

    .webform-multiple-table--operations input[type='image'] {
      border: none;
    }
  }

  .fieldgroup {
    padding: 0.75rem;
  }

  .webform-scale {
    .webform-scale-options {
      .webform-scale-option {
        display: inline-block;
      }

      input {
        transition: all 0.3s ease-in-out;
        transition-property: border-color, background-color;
      }

      input:checked+label {
        border-color: variables.$primary;
        background-color: rgba(variables.$primary, 0.2);
      }
    }

    label {
      width: 36px;
      height: 36px;
      font-size: 1.2em;
      line-height: 1.7em;
      margin: 0 .625rem;
      text-align: center;
      color: #666;
      border: 3px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .form-managed-file {
    .button {
      @include utilities.bttn--primary;
      display: block;
    }

    input[multiple="multiple"].button {
      margin: 0 0 1rem 0;
    }
  }
}


.button {
  @include utilities.bttn;
  text-transform: uppercase;
  font-family: variables.$font-family-caps-bold;
  border: 1px solid variables.$primary;
}

.form .help-text,
.form .description {
  font-style: normal;
}

[class*="bg--gold"],
.bg--brain-reversed,
.bg-pattern--brain-reversed,
.bg-yellow {
  & .block-webform {

    input[id^='edit-actions-submit'],
    input[id^='edit-actions'],
    input[id^='edit-submit'],
    input#edit-actions-submit {
      @include utilities.bttn--secondary;
      border: 1px solid variables.$secondary;
      @include utilities.bttn--focus;
      color: variables.$white !important;
      background-color: variables.$secondary !important;

      &:after {
        background-color: variables.$primary;
      }
    }
  }
}

[class*="bg--black"],
.bg-pattern--brain-black,
.bg-dark {
  & .block-webform {

    input[id^='edit-actions-submit'],
    input[id^='edit-actions'],
    input[id^='edit-submit'],
    input#edit-actions-submit {
      @include utilities.bttn--primary;
      border: 1px solid variables.$primary;
      @include utilities.bttn--focus;
      color: variables.$secondary !important;

      &:after {
        background-color: variables.$secondary;
      }
    }
    .description {
      color: variables.$white;
    }
  }
}

[class*="bg--black"]  {
  & .block-webform[class*="bg--gray"],
  & .block-webform[class*="bg--white"] {
    .description {
      color: inherit;
    }
  }
}

// Horizontal form.
.form--horizontal {
  @include utilities.breakpoint(sm) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
  .form--horizontal-flex {
    flex: 1;
  }
  &.form:not(.uids-search) .button {
    padding: .9rem 1.25rem 1.1rem;
    max-height: 3.45rem;
    @include utilities.breakpoint(sm) {
      margin-block-start: .75rem;
    }
  }
  .form-actions {
    display: flex;
    column-gap: 1rem;
    align-self: center;
  }
}
