@use 'sass:color';
@use '../../../uids/scss/abstracts/_variables.scss';
@use '../../../uids/scss/abstracts/_utilities.scss';

.uids-content {

  .button--primary {


    [class*="bg--gray"] &,
    [class*="bg--white"] &,
    .bg-pattern--brain &,
    .bg--white--pattern--brain & {
      background: variables.$primary;
    }
  }

  fieldset {
    margin: 1rem 0;
    padding: 1.11111rem;
    border: 1px solid variables.$grey-light;
  }

  legend {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    white-space: normal;
    color: inherit;
    margin-bottom: 0;
  }

  progress {
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
  }

  label.form-required {
    &:after {
      margin-left: variables.$xsm;
      content: "*";
      color: variables.$danger;
      vertical-align: middle;
    }
  }

  .form-item--error-message {
    margin: variables.$xsm 0;

    * {
      color: variables.$danger !important;
    }
  }

  [type="checkbox"],
  [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
  }

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
  }

  details {
    display: block;
  }

  summary {
    display: list-item;
  }

  template {
    display: none;
  }

  [hidden] {
    display: none;
  }

  textarea {
    height: auto;
    min-height: 100px;
    //border-radius: 3px;
  }

  select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    //border-radius: 3px;
  }


  pre {
    overflow: auto;
  }

  optgroup,
  select,
  textarea {
    font-family: inherit;
  }

  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea,
  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    color: #0a0a0a;
    border: 1px solid #cacaca;
    //border-radius: 3px;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    appearance: none;
  }

  [type='text']:focus,
  [type='password']:focus,
  [type='date']:focus,
  [type='datetime']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='week']:focus,
  [type='email']:focus,
  [type='number']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='url']:focus,
  [type='color']:focus,
  textarea:focus {
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    border: 1px solid #8a8a8a;
    outline: none;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
  }

  textarea {
    max-width: 100%;
  }

  textarea[rows] {
    height: auto;
  }

  input:disabled,
  input[readonly],
  textarea:disabled,
  textarea[readonly] {
    cursor: not-allowed;
    color: #63666A;
    border-color: #bababf;
    background-color: #f3f3f3 !important;
    box-shadow: none;
    -webkit-text-fill-color: #63666A;
  }

  [type='submit'],
  [type='button'] {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include utilities.bttn;
    font-family: variables.$font-family-caps-bold;

    &.button--small {
      padding: 0.6rem 1rem 0.8rem;
      font-size: 1.05rem;
    }

    &.button--full-width {
      width: 100%;
    }
  }

  input[type='search'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[id^='edit-submit'][type='submit'],
  input[id^='edit-actions-submit'] {
    @include utilities.bttn--primary;
  }

  input#edit-preview {
    //@include utilities.bttn--outline;
    @include utilities.bttn--tertiary;
    @include utilities.margin(variables.$left: variables.$md);

  }

  ::-webkit-input-placeholder {
    color: variables.$brand-cool-gray;
  }

  :-ms-input-placeholder {
    color: variables.$brand-cool-gray;
  }

  ::-ms-input-placeholder {
    color: variables.$brand-cool-gray;
  }

  ::placeholder {
    color: variables.$brand-cool-gray;
  }

  [type='file'],
  [type='checkbox'],
  [type='radio'] {
    @include utilities.margin(variables.$top: 0, variables.$right: 0, variables.$bottom: variables.$sm);
  }

  [type='checkbox']+label,
  [type='radio']+label {
    display: inline-block;
    vertical-align: baseline;
    @include utilities.margin(variables.$right: variables.$sm, variables.$bottom: 0, variables.$left: variables.$xsm);
  }

  [type='checkbox']+label[for],
  [type='radio']+label[for] {
    cursor: pointer;
  }

  label>[type='checkbox'],
  label>[type='radio'] {
    @include utilities.margin(variables.$right: variables.$sm);
  }

  [type='file'] {
    width: 100%;
  }

  label {
    display: block;
    margin: 0 0 .3rem;
    font-size: variables.$small-font-size;
    font-weight: 500;
    line-height: 1.8;
  }

  .help-text {
    margin-top: -0.5rem;
    color: variables.$secondary;
    font-size: variables.$small-font-size;
    font-style: italic;
  }

  select {
    height: 3.5rem;
    padding: variables.$xsm;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    color: variables.$secondary;
    border: 1px solid variables.$grey-light;
    //border-radius: 3px;
    background-color: variables.$white;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-repeat: no-repeat;
    background-position: right -1rem center;
    background-origin: content-box;
    background-size: 9px 6px;
    font-family: inherit;
    font-size: variables.$base-font-size;
    font-weight: normal;
    line-height: 1.5;
    @include utilities.margin(variables.$top: 0, variables.$right: 0, variables.$bottom: 1rem);
    appearance: none;
    @include utilities.padding(variables.$right: variables.$lg, variables.$left: variables.$md);
  }

  @media screen and (min-width: 0\0) {
    select {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
    }
  }

  select:focus {
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    border: 1px solid #8a8a8a;
    outline: none;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
  }

  select:disabled {
    cursor: not-allowed;
    background-color: #e6e6e6;
  }

  select::-ms-expand {
    display: none;
  }

  select[multiple] {
    height: auto;
    background-image: none;
  }


  .form-error {
    display: none;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    color: #c60f13;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .form-error.is-visible {
    display: block;
  }

  .help-text,
  .description {
    margin-top: -0.5rem;
    color: #0a0a0a;
    font-size: 0.8125rem;
    font-style: italic;
  }

  .description {
    margin: 0.5rem 0;
    .webform-element-more {
      margin-top: 0.3rem;
    }
  }

  .form-item,
  .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .form-actions {
    &--stacked {
      width: 100%;
      margin-top: .5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .form-item:not(fieldset) {
    padding: 0rem 0rem;
  }

  .form-type-webform-multiple {
    .webform-multiple-table {
      margin-bottom: 10px;

      thead th {
        border-top: none;
        padding: 0px;
      }

      tr.draggable {
        position: relative;

        .webform-multiple-table--handle {
          padding: 0rem 0.75rem;

          .tabledrag-handle {
            margin: 0rem;
            height: 16px;
            width: 100%;
            display: flex;
            justify-content: center;

            .handle {
              background-position: 0rem;
              width: 16px;
              height: 16px;
              padding: 0rem;
              margin: 0rem;
            }
          }

          &+td {
            padding-left: 0rem;

            fieldset {
              margin-bottom: 0rem;
            }

            input {
              margin: 0;
            }
          }
        }

        td.webform-multiple-table--weight {
          vertical-align: middle;

          .form-group {
            margin-bottom: 0px;
          }
        }

        .webform-multiple-table--operations {
          width: 16px;
          padding: 0rem 1rem 0rem 0rem;

          .form-control {
            display: inline-block;
            margin-bottom: -3px;
            border: none;
            width: 18px;
            height: 18px;
          }
        }

        &.drag {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }
    }

    .webform-multiple-add {
      display: flex;

      .button {
        @include utilities.bttn--primary;
      }

      div[class*="-add-more-items"] {
        display: flex;
        margin: 0;

        input {
          height: unset;
          width: unset;
          margin: 0 1rem;
        }
      }

      .form-control {
        width: unset;

        &.form-number {
          display: inline-block;
        }
      }

      .field-suffix {
        display: inline-block;
        color: color.scale(#000, variables.$lightness: 40%);
        line-height: 1.4;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
      }
    }

    .tabledrag-toggle-weight {
      font-size: inherit;
      color: color.scale(#000, variables.$lightness: 40%);
      padding: 1rem;
    }

    .tabledrag-toggle-weight-wrapper {
      justify-content: flex-end;
    }

    .webform-multiple-table--weight .webform-multiple-sort-weight {
      width: 4em;
    }

    .webform-multiple-table--operations input[type="image"] {
      border: none;
    }
  }

  .fieldgroup {
    padding: 0.75rem;
  }

  .webform-scale {
    .webform-scale-options {
      .webform-scale-option {
        display: inline-block;
      }

      input {
        transition: all 0.3s ease-in-out;
        transition-property: border-color, background-color;
      }

      input:checked+label {
        border-color: variables.$primary;
        background-color: rgba(variables.$primary, 0.2);
      }
    }

    label {
      width: 36px;
      height: 36px;
      font-size: 1.2em;
      line-height: 1.7em;
      margin: 0 .625rem;
      text-align: center;
      color: #666;
      border: 3px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .form-managed-file {
    .button {
      @include utilities.bttn--primary;
      display: block;
    }

    input[multiple="multiple"].button {
      margin: 0 0 1rem 0;
    }
  }

  input.form-autocomplete {
    background-position: 98% center;
  }
}


.button {
  @include utilities.bttn;
  text-transform: uppercase;
  font-family: variables.$font-family-caps-bold;
  border: 1px solid variables.$primary;
}

.uids-content .help-text,
.uids-content .description {
  font-style: normal;
}

[class*="bg--gold"],
.bg--brain-reversed,
.bg-pattern--brain-reversed,
.bg-yellow {
  & .block-webform {

    input[id^='edit-actions-submit'],
    input[id^='edit-actions'],
    input[id^='edit-submit'],
    input#edit-actions-submit {
      @include utilities.bttn--secondary;
      border: 1px solid variables.$secondary;
      @include utilities.bttn--focus;
      color: variables.$white !important;
      background-color: variables.$secondary !important;

      &:after {
        background-color: variables.$primary;
      }
    }
  }
}

[class*="bg--black"],
.bg-pattern--brain-black,
.bg-dark {
  & .block-webform {

    input[id^='edit-actions-submit'],
    input[id^='edit-actions'],
    input[id^='edit-submit'],
    input#edit-actions-submit {
      @include utilities.bttn--primary;
      border: 1px solid variables.$primary;
      @include utilities.bttn--focus;
      color: variables.$secondary !important;

      &:after {
        background-color: variables.$secondary;
      }
    }
    .description {
      color: variables.$white;
    }
  }
}

[class*="bg--black"]  {
  & .block-webform[class*="bg--gray"],
  & .block-webform[class*="bg--white"] {
    .description {
      color: inherit;
    }
  }
}

// Horizontal form.
.uids-content--horizontal {
  @include utilities.breakpoint(sm) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
  .uids-content--horizontal-flex {
    flex: 1;
  }
  &.uids-content:not(.uids-search) .button {
    padding: .9rem 1.25rem 1.1rem;
    max-height: 3.45rem;
    @include utilities.breakpoint(sm) {
      margin-block-start: .75rem;
    }
  }
  .form-actions {
    display: flex;
    column-gap: 1rem;
    align-self: center;
  }
}
