@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/form/forms/forms.scss";

.button {
  @include bttn;
  text-transform: uppercase;
  font-family: $font-family-caps-bold;
  border: 1px solid #FFCD00;
}
.uids-content .help-text,
.uids-content .description {
  font-style: normal;
}
.views-exposed-form.uids-content:not(.uids-search) {
  padding: 5px 19px;
  .form--inline {
    align-items: flex-start;
  }
  .form-item, .form-actions {
    margin-right: 1em;
  }
  .form-actions {
    margin-top: 2.5em;
  }
  .button {
    @include bttn--secondary;
    border: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
