@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/form/search/search.scss";

// full width for any elements not part of the form

.uids-search .search-help-link {
  width: 100%;
}

.container-inline .uids-search div,
.container-inline .uids-search label {
  display: flex;
}

// Custom Search Block
.uiowa-search-form {
  padding: 5px 19px;
  border-radius: 0;
  border: none;
  background: transparent;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  &.uids-content:not(.uids-search) {
    padding: 5px 0;
    .form-item {
      margin-top: 0;
      margin-right: 0;
    }
    .form-actions {
      margin-right: 0;
      margin-top: 0;
    }
    input#edit-submit {
      @include bttn--secondary;
      padding-top: 13px;
      padding-bottom: 13px;
      border: 1px solid $secondary;
    }
  }
  .js-form-item {
    flex: 1;
    label {
      @include element-invisible;
    }
  }
}
