@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/form/search/search.scss";

// full width for any elements not part of the form

.uids-search .search-help-link {
  width: 100%;
}

.container-inline .uids-search div,
.container-inline .uids-search label {
  display: flex;
}

.search-wrapper {
  @include breakpoint(menu) {
    flex: 0 1 15%;
  }
}
