
  <div class="region region-breadcrumbs">
    <div id="block-breadcrumbs"
      class="contextual-region block block-system block-system-breadcrumb-block">
      <div data-contextual-id="block:block=breadcrumbs:langcode=en"
        data-contextual-token="raSTNUTOg9EHJ4KZ5MKSfPzf2n6pDwSK-xjAntA_Q1o">
      </div>
      <nav class="breadcrumb" role="navigation"
        aria-labelledby="system-breadcrumb">
        <ol>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/">Undergraduate Programs</a>
          </li>
          <li>
            Major and Minors</li>
        </ol>
      </nav>
    </div>
  </div>
</div>



