@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/03 - global/menus/superfish/_superfish.scss";


.block-superfish .sf-style-none ul,
.block-superfish .menu ul,
.region-primary-menu .sf-style-none ul,
.region-primary-menu .menu ul {
  background: black !important;
}

.menu-horizontal.nav--header--primary,
.menu-horizontal.nav--header--secondary {
  border-bottom: 1px solid #ccc;
}

// mega menu

.sf-multicolumn {
  width: 955px !important;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(50vw - 280px);
    left: calc(-50vw + 290px);
    background: #f1f1f1;
    box-shadow: 0 4px 2px -2px gainsboro;
  }

  &:after {
    left: auto;
    right: calc(-50vw + 290px);
  }
}

.block-superfish .menu ul.sf-multicolumn {
  background: #f1f1f1 !important;
  transition: background-color 2s ease-in;
}

ul.sf-menu.sf-mega-menu li {
  position: unset;
}

.block-superfish .menu ul.sf-multicolumn li a {
  color: #333;
  font-size: 1.2rem;
  padding: .325rem 0;
  font-weight: 400;
  font-family: 'Zilla Slab';
}

ul.sf-multicolumn ol {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: $lg 0;

  li {
    width: 50%;
  }
}

.block-superfish .menu ul.sf-multicolumn {
  box-shadow: none;
  box-shadow: 0 4px 2px -2px gainsboro;
}

// horizontal only

ul.sf-menu.sf-horiz-menu li li a {
  padding: .45rem 1rem;
  font-size: .95rem;
}

ul.sf-menu.sf-horiz-menu ul {
  padding-top: $sm !important;
  padding-bottom: $md !important;
}

ul.sf-menu.sf-horiz li ul li a:hover {
  color: $primary;
}

// both horizontal and mega menu

ul.sf-menu.sf-horizontal > li > a {
  position: relative;
  transition: background 0.8s ease-out;
}

ul.sf-menu.sf-horizontal > li > a:after {
  background: $primary;
}

ul.sf-menu.sf-horizontal>li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  content: "";
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.sf-menu.sf-horizontal>li:hover>a
ul.sf-menu.sf-horizontal>li.sfHover>a {
border-top: 1px soild red!important;
}

.menu-horizontal.nav--header--primary ul.sf-menu.sf-horizontal>li,
.menu-horizontal.nav--header--secondary ul.sf-menu.sf-horizontal>li {
  //padding-bottom: 5px;
}

ul.sf-menu.sf-horizontal>li>a.sf-depth-1.menuparent:before {
  right: 2.3rem;
  margin-top: -0.4rem;
  font-size: .7rem;
  line-height: 1.4;
  color: #999;
}

ul.sf-menu.sf-horizontal>li.sfHover>a.sf-depth-1.menuparent:before {
  content: "\f106";
}

ul.sf-menu.sf-horizontal>li:first-child>a.sf-depth-1.menuparent {
  padding-left: 0;
}

ul.sf-menu.sf-horizontal>li>a.sf-depth-1.menuparent {
  padding-right: 3.5rem;
}

.menu-horizontal.nav--header--secondary ul.sf-menu.sf-horizontal,
.menu-horizontal.nav--header--primary ul.sf-menu.sf-horizontal {
  margin-top: 10px;
}
