@import "../../../themes/custom/uids_base/uids/assets/scss/variables";
@import "../../../themes/custom/uids_base/uids/assets/scss/utilities";

#block-uids-base-local-tasks nav {
  border-bottom: none;
}

#uiprof {
  h1.page-title:not(.profile-title) {
    display: none;
  }
  h2 a {
    text-decoration: none;
  }

  .crumbs {
    display: none;
  }
  .svg-inline--fa.fa-w-16 {
    color: $secondary;
  }

  ol {
    list-style-type: none;
    margin-left: 0;
  }

  figure {
    @include breakpoint(sm) {
      margin: 0;
    }
  }
}
