.paragraph--type--faqs {
  padding: 1rem !important;
}
.node--type-faq {
  border-radius: 0;
  margin-bottom: 2px;
  border-color: $gray-100;
  @extend %accordion;
  .card-header {
    width: 100%;
  }
  .card-header button {
    position: relative;
    overflow: hidden;
    padding-right: 17%;
    border: none;

    &:focus,&:hover {
      text-decoration: none;
      box-shadow: none;
    }

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 200px;
      top: 0;
      right: -125px;
      background-color: #f38f8f;
      transform: skew(-45deg);
      transition: all 0.3s ease-in-out;
      transition-property: right, transform, background-color;
    }

    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-times);
      position: absolute;
      height: 100%;
      width: auto;
      top: 0;
      right: 24px;
      background-color: transparent;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      transition-property: right, transform;
      transform: rotate(0deg);
    }

    &.collapsed{
      &:before {
        right: -150px;
        background-color: $yellow;
        transform: skew(45deg);
      }

      &:after {
        right: 12px;
        transform: rotate(45deg);
      }
    }
  }
}

