/**
 * @file
 * Default styling for the Entity Types module.
 *
 * This styling is intended to provide a default layout for both the default
 * Views listings and content nodes, leaving much of the styling up to the
 * site itself.
 */
