@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_utilities.scss"; // Residence Hall content type.

.page-node-type-residence-hall {
  .badge {
    font-size: 100%;
  }

  .banner {

    [class*="block-field-blocknoderesidence-hallfield-"] {
      display: inline-block;
      margin-bottom: 1rem;
      @include breakpoint(sm) {
        margin-bottom: 0;
      }
    }

    .block-field-blocknoderesidence-hallfield-residence-hall-population {
      @include breakpoint(sm) {
        display: inline;
      }
    }

    .block-field-blocknoderesidence-hallfield-residence-hall-population:before {
      @include breakpoint(sm) {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }

  .accordion .grid--twocol--50-50 .list-container__inner {
    column-gap: 1rem;
  }

  .card .bttn {
    background: #fff;
  }
  // Banner view mode style adjustments.
  .field--name-field-residence-hall-llc .field__items {
    display: flex;
    flex-flow: wrap;
    margin-top: 2rem;
    @include breakpoint(md) {
      flex-flow: row nowrap;
    }
  }

  .field--name-field-residence-hall-llc .field__item {
    width: 100%;
  }

  .field--name-field-housing-floor-plan-image {
    width: 40%;
    float: right;
    margin: 1rem 0 2rem 2rem;
  }

  [class*="block-field-blocknoderesidence-hallfield-residence-hall-emerg-"] {
    text-align: center;
  }
}
