@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids3/assets/scss/_utilities.scss"; // Residence Hall content type.

.page-node-type-residence-hall {
  .fa-ul li .field,
  .fa-ul li svg {
    display: inline-block;
  }

  .fa-ul li {
    margin-bottom: 0.5rem;
  }

  .fa-ul svg {
    margin-right: 0.5rem;
  }

  .badge {
    font-size: 100%;
  }

  .banner {

    [class*="block-field-blocknoderesidence-hallfield-"] {
      display: inline-block;
      margin-bottom: 1rem;
      @include breakpoint(sm) {
        margin-bottom: 0;
      }
    }

    .block-field-blocknoderesidence-hallfield-residence-hall-population {
      @include breakpoint(sm) {
        display: inline;
      }
    }

    .block-field-blocknoderesidence-hallfield-residence-hall-population:before {
      @include breakpoint(sm) {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }

  .accordion .grid--twocol--50-50 .list-container__inner {
    column-gap: 1rem;
  }

  .card .bttn {
    background: #fff;
  }
  // Banner view mode style adjustments.
  .field--name-field-residence-hall-llc .field__items {
    display: flex;
    flex-flow: wrap;
    margin-top: 2rem;
    @include breakpoint(md) {
      flex-flow: row nowrap;
    }
  }

  .field--name-field-residence-hall-llc .field__item {
    width: 100%;
  }

  .field--name-field-housing-floor-plan-image {
    width: 40%;
    float: right;
    margin: 1rem 0 2rem 2rem;
  }

  [class*="block-field-blocknoderesidence-hallfield-residence-hall-emerg-"] {
    text-align: center;
  }
}
// Residence Hall search page.

.view-residence-halls {
  .views-exposed-form.uids-content:not(.uids-search) .form-item:not(:last-child) {
    margin-right: 0;
  }
  .views-exposed-form details.form-wrapper {
    width: 100%;
  }

  @include breakpoint(sm) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .view-header {
    width: 100%;
  }

  .view-filters {
    @include breakpoint(sm) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-right: 3rem;
    }
  }

  .view-content,
  .view-empty {
    flex: 1 0 0;
  }

  .views-exposed-form .form--inline {
    flex-wrap: wrap;
  }

  .views-exposed-form.uids-content:not(.uids-search) {
    .form-actions {
      margin-top: 0.5rem;
      width: 100%;
      margin-right: 0;
    }

    .button {
      width: 100%;
      margin-bottom: 1rem;
    }

    .form-item {
      margin-right: 0;
    }
  }

  .uids-content {
    .form-item:first-child {
      margin-top: 1rem;
    }

    .form-item {
      margin-top: 0.5rem;
    }
  }
}
