@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.embedded-entity {
  max-width: 100%;
  margin-bottom: 0;

  figure & {
    margin-bottom: 0;
  }

  figcaption {
    margin-top: $sm;
  }
}


.embedded-entity+p {
  margin-top: $md !important;
}

.embedded-entity.align-center {
  .field--name-field-media-oembed-video {
    margin: 0 auto;
  }
}

figure.caption {
  display: block;

  @include breakpoint(sm) {
    display: table;
  }

  margin: 0;
  margin-bottom: .5rem;

  &.align-center {
    margin-right: auto;
    margin-left: auto;
  }

  figcaption {
    display: block;

    @include breakpoint(sm) {
      display: table-caption;
    }

    max-width: none;
    caption-side: bottom;
  }
}

.align-left,
figure.align-left,
.align-left.embedded-entity,
.align-left .embedded-entity {
  float: none;
  margin: 0;

  @include breakpoint(sm) {
    margin-right: 1rem;
    margin-bottom: .5rem;
    float: left;
  }
}

.align-right,
figure.align-right,
.align-right.embedded-entity,
.align-right .embedded-entity {
  float: none;
  margin: 0;

  @include breakpoint(sm) {
    margin-left: 1rem;
    margin-bottom: .5rem;
    float: right;
  }
}

figure.caption .embedded-entity+figcaption {
  font-size: 90%;
  color: $grey;
  margin-top: $sm;
  margin-bottom: $sm;
}

figure.caption.align-right .embedded-entity+figcaption {
  @include breakpoint(sm) {
    text-align: right;
  }
}

.alert {
  figure.caption .embedded-entity+figcaption {
    color: $grey;
  }
}
