@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

// Media alignment

@media (min-width: 576px) {

  .align-right.embedded-entity,
  .align-right .embedded-entity {
    margin-left: $gutter;
  }

  .align-left.embedded-entity,
  .align-left .embedded-entity {
    margin-right: $gutter;
  }

}


.align-center {
  text-align: center;
}

.embedded-entity.align-center {

  .media--type-image,
  .field--name-field-media-image {
    margin: 0 auto;
  }
}

.field--name-field-media-image {
  min-width: 1px;
}

// Full width images
.media--type-image {
  // Add fade-in for lazy images.
  img {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  &--full {
    img {
      width: 100%;
    }
  }
  &--full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    img {
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}

.block-field-blocknodepagebody,
.block-inline-blockuiowa-text-area {
  [class*="media--type-"] {
    position: relative;
  }
}
