@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.embedded-entity {
  max-width: 100%;
  margin-bottom: $lg;
  figure & {
    margin-bottom: 0;
  }
}

.embedded-entity.align-center {
  .field--name-field-media-oembed-video {
    margin: 0 auto;
  }
}

.align-left.embedded-entity,
.align-left .embedded-entity {
  @include breakpoint(sm) {
    margin-right: 1rem;
  }
}

.align-right.embedded-entity,
.align-right .embedded-entity {
  @include breakpoint(sm) {
    margin-left: 1rem;
  }
}

figure.caption .embedded-entity+figcaption {
  font-size: 90%;
  color: $grey;
}

figure.caption.align-right .embedded-entity+figcaption {
  text-align: right;
}

.alert {
  figure.caption .embedded-entity+figcaption {
    color: $grey;
  }
}
