.banner {
  position: relative;
  overflow: hidden;
  @include flex($fg: 1, $fs: 1, $fb: 0%);
    @include breakpoint(sm) {
      min-height: 400px;
    }

  &__container {
    position: relative;
    @include padding($top: $xlg, $right: $xlg, $bottom: $xlg, $left: $md);
    @include margin($top: $sm, $right: $xlg, $bottom: 0, $left: $xlg);
    @include breakpoint(sm) {
      width: 50%;
      @include margin($top: $xlg);
    }
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: $font-family-caps-bold;
    font-size: $h2-font-size;
  }

  &__summary {
    font-weight: $font-weight-normal;
    @include margin($bottom: $lg);
  }

  &__image {
    position: relative;
    display: inline-block;
    @include padding($top: $lg, $right: $lg, $bottom: 0, $left: $lg);
    @include breakpoint(sm) {
      float: right;
      width: 40%;
      @include padding($top: 0, $left: 0);
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $primary;
    background-color: rgba(255, 194, 16, 0.7);
  }
}

