<div class="bg-primary">Primary</div>
<div class="bg-secondary text-white">Secondary</div>
<div class="bg-success">Success<span>&nbsp;</span></div>
<div class="bg-danger">Danger</div>
<div class="bg-warning">Warning</div>
<div class="bg-info text-white">Info</div>
<div class="bg-light">Light</div>

<style>
    div{
        width: 400px;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
