<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" href="/css/uiowa.css">
        <title>Preview Layout</title>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="http://uiowa.lndo.site:8000/core/misc/drupalSettingsLoader.js?v=8.7.1"></script>
<script src="http://uiowa.lndo.site:8000/core/misc/drupal.js?v=8.7.1"></script>

<script src="http://uiowa.lndo.site:8000/libraries/superfish/superfish.js?prnre3"></script>
<script src="http://uiowa.lndo.site:8000/libraries/superfish/jquery.hoverIntent.minified.js?prnre3"></script>
<script src="http://uiowa.lndo.site:8000/libraries/superfish/sfsmallscreen.js?prnre3"></script>
<script src="http://uiowa.lndo.site:8000/libraries/superfish/supposition.js?prnre3"></script>
<script src="http://uiowa.lndo.site:8000/libraries/superfish/supersubs.js?prnre3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/js/superfish.min.js"></script>
<script src="http://uiowa.lndo.site:8000/modules/contrib/superfish/js/superfish.js?v=2.0"></script>
    </head>
    <body>

        {{ yield }}

    </body>
</html>
