@import "assets/scss/_variables.scss";
@import "assets/scss/_utilities.scss";
@import "components/04 - templates/page-layouts/_page-layouts.scss";


.block-inline-blockuiowa-spacer-separator {
  @include margin($top: $sm, $bottom: $sm);
  flex-basis: 100%;
  background: #fff;
  clear: both;
  float: none;
  width: 100%;
  height: 0px;
  border: 1px solid #fff;
}

.block-spacer-separator {
   @include margin($top: $sm, $bottom: $sm);
   flex-basis: 100%;
   background: #ccc;
   height: 23px;
}


