.uiowa-area-of-study-search-form {
  padding: 5px 19px;
  border-radius: 0;
  border: none;
  background: transparent;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) {
  padding: 5px 0;
}
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) .form-item {
  margin-top: 0;
  margin-right: 0;
}
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) .form-actions {
  margin-right: 0;
  margin-top: 0;
}
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) input#edit-submit {
  color: #fff;
  background: #151515;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid #151515;
}
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) input#edit-submit i,
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) input#edit-submit svg,
.uiowa-area-of-study-search-form.uids-content:not(.uids-search) input#edit-submit span {
  color: #ffcd00;
}
.uiowa-area-of-study-search-form .js-form-item {
  flex: 1;
}
.uiowa-area-of-study-search-form .js-form-item label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
