
@media (min-width:0) and (max-width:768px) {
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.uids-content:not(.uids-search) .form-item{
    margin: 0;
  }
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.uids-content:not(.uids-search) .form-item:first-child {
    margin-top: 1rem;
  }
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.uids-content:not(.uids-search) .form-actions {
    margin-top: 1rem;
  }
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.uids-content:not(.uids-search) .js-form-item {
    flex: 100%;
  }
}

.block-views-blockareas-of-study-areas-of-study-block .views-element-container {
  margin-top: 0;
}
