{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('uids_base/event') }}
{{ attach_library('uids_base/card') }}

{% if title %}
<h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% set card_view =
    row.card_options|merge({
      attributes: row.card_options.attributes.addClass('card--enclosed')
    })
  %}
  {% embed '@uids_base/uids/card.html.twig' with card_view only  %}

    {% block card_img %}
      {% if card_image|striptags('<img><picture>')|trim is not empty %}
        {{ parent() }}
      {% endif %}
    {% endblock %}

  {% endembed %}
{% endfor %}
