@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_grid.scss";

.page-node-type-area-of-study,
.page-node-type-grad-area-of-study {
  .field--name-field-area-of-study-college {
    .field__items div a {
      font-size: 1.2rem;
      line-height: 1.7;
      margin-top: 0;
    }
  }

.block-field-blocknodearea-of-studyfield-area-of-study-requirements,
.block-field-blocknodearea-of-studyfield-area-of-study-procedures,
.field--name-field-area-of-study-deadlines,
.field--name-field-area-of-study-requirements,
.field--name-field-area-of-study-procedures {
  // @include breakpoint(sm) {
  //   display: flex;
  // }

  .media--circle img {
    border-radius: unset;
  }
}

.field--name-field-area-of-study-deadlines,
.field--name-field-area-of-study-requirements,
.field--name-field-area-of-study-procedures {

    // ul.class =fa-ul {element--list-none fa-ul
    // margin-left: 1.875rem;

    li {
      margin-bottom: $sm;
      line-height: 1.4;
    }
  }
}
