@import "../../../../../themes/custom/uids_base/uids/assets/scss/_variables.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_utilities.scss";
@import "../../../../../themes/custom/uids_base/uids/assets/scss/_grid.scss";


.node--type-grad-costs-estimate {
  .horizontal-tabs {
    width: fit-content;
    ul.horizontal-tabs-list {
    background: white;
    li a {
      background: $light;
      color: $secondary;
      margin-bottom: -2px;
    }
    li.selected a {
      background: white;
      border-top: 2px solid $primary;
    }
    .horizontal-tab-button-0.first {
      border-right: 1px solid #ccc;
    }
    .horizontal-tab-button-1.last {
      border-right: unset; 
    }
  }}
}
