/* Paragraph labels */
.field--widget-paragraphs .paragraph-type-label {
  background-color: #003cc5;
  color: #ffffff;
  padding: 0.2em;
  border-radius: 4px;
}

/* Add padding for all textarea fields */
.field--type-text-long  .cke_contents {
  padding: 10px;
}

.media-library-item__preview {
  min-height: 185px;
}

.joyride-content-wrapper a:not(.button):not(.joyride-close-tip) {
  text-decoration: underline;
}
