/* Paragraph labels */
.field--widget-paragraphs .paragraph-type-label {
  background-color: #003cc5;
  color: #ffffff;
  padding: 0.2em;
  border-radius: 4px;
}

/* Add padding for all textarea fields */
.field--type-text-long  .cke_contents {
  padding: 10px;
}

.media-library-item__preview {
  min-height: 185px;
}

.joyride-content-wrapper a:not(.button):not(.joyride-close-tip) {
  text-decoration: underline;
}

/* Extend Claro form styles to Chosen */
.chosen-container {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 3rem;
  color: #222330;
  border: 1px solid #8e929c;
  border-radius: 0.125rem;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 2.75rem 0.5625rem;

  padding: 0;
}
.chosen-choices {
  min-height: 3rem;
}
.chosen-container:hover {
  border-color: #222330;
  box-shadow: inset 0 0 0 1px #222330;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 44px;
}
.chosen-container-multi .chosen-choices li.search-choice {
  line-height: 30px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 13px;
}
.chosen-container-active, .chosen-container-active:hover, .chosen-container:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}
.chosen-container-active .chosen-choices {
  box-shadow: none;
  border-color: #222330;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #003cc5;
  background-image: none;
}

@media screen and (min-width: 40em) {
  #edit-field-person-types.form-checkboxes {
    column-count: 3;
  }
}

