// Menu
.region-primary-menu,
.region-secondary-menu,
.region-footer,
.region-breadcrumb,
aside nav {
  ul,
  ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.region-primary-menu li,
.region-secondary-menu li,
.region-footer li,
.region-breadcrumb li {
  display: inline-block;
  margin-right: 1.5em;
}
