.media-library-add-form__source-field .image-widget .image-preview {
    display: block;
}

.field--type-static-map .static-map {
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
}
