<div class="block-superfish">
  <ul id="superfish-main"
    class="menu sf-menu sf-main sf-horizontal sf-style-none sf-js-enabled">
    <li id="main-menu-link-contentea79128c-7c12-49cd-add9-791c1b44692b"
      class="sf-depth-1 menuparent">
      <a href="/" class="sf-depth-1 menuparent">Admissions</a>
      <ul class="sf-hidden" style="float: none; width: 12em;">
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2  menuparent" style="">
          <a href="/" class="sf-depth-2" style="">Undergraduate</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Graduate</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Online</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">International</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Financial Aid</a>
        </li>
      </ul>
    </li>
    <li id="main-menu-link-content20cfd05e-bafd-452e-9aeb-58beeb25f34a"
      class="sf-depth-1 sf-no-children">
      <a href="/" class="sf-depth-1 menuparent">Academics</a>
      <ul class="sf-hidden" style="float: none; width: 12em;">
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Areas of Study</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Research</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Colleges</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">International Programs</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Sub Page</a>
        </li>
      </ul>
    </li>
    <li id="main-menu-link-content2774b21a-5cb9-4638-8ffc-51c5177e4640"
      class="sf-depth-1  menuparent">
      <a href="/" class="sf-depth-1  menuparent">Hawkeye Life</a>
      <ul class="sf-hidden" style="float: none; width: 12em;">
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Iowa City</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Big10 Athletics</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">The Arts</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Alumni Network</a>
        </li>
      </ul>
    </li>

    <li id="main-menu-link-content2774b21a-5cb9-4638-8ffc-51c5177e4640"
      class="sf-depth-1  menuparent">
      <a href="/" class="sf-depth-1  menuparent">News</a>
      <ul class="sf-hidden" style="float: none; width: 12em;">
        <li>
          <a href="/" class="sf-depth-2" style="">Latest News</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">Features</a>
        </li>
        <li id="main-menu-link-content4045e9bb-c602-420d-8060-fb9c989236fc"
          class="sf-depth-2 sf-no-children" style="">
          <a href="/" class="sf-depth-2" style="">For Media</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<style>
  /* overrides superfish cdn css that is built-in to drupal module */

  .sf-menu a {
    border: none;
  }

  .sf-menu li {
    background: none;
  }

  .sf-menu ul li {
    background: #ccc;
  }

  .sf-menu li:hover,
  .sf-menu li.sfHover {
    background: none !important;
  }

  .sf-menu {
    margin-bottom: 0;
  }

</style>
