<div class="card--person">
  <div class="card__date">
{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <i role="presentation" class="fas fa-link" aria-hidden="true"></i>
  {% endblock %}
{% endembed %}
</div>
</div>
