{% if view_mode == 'teaser' %}
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
{% else %}
  {%
    set classes = [
    'page-title',
    'headline--serif',
    'headline',
  ]
  %}
  {%- for item in items -%}
    <h1 {{ attributes.addClass(classes) }}><span>{{ item.content }}</span></h1>
  {%- endfor -%}
  {% if title %}
    {{ title }}
  {% endif %}
{% endif %}
