{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <span class="fa-li"><i role="presentation" class="fas fa-fw fa-microphone" aria-hidden="true"></i></span>
  {% endblock %}
{% endembed %}
