{% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <span class="card__icon"><i role="presentation" class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
  {% endblock %}
{% endembed %}
