{%
  set classes = [
  'page-title',
  'headline',
  'headline--underline',
]
%}
<h1 {{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    <span>{{ item.content }}</span>
  {%- endfor -%}
</h1>
