{% if view_mode == 'teaser' %}
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
{% else %}
  {%- for item in items -%}
    <h1 {{ attributes }}><span>{{ item.content }}</span></h1>
  {%- endfor -%}
  {% if title %}
    {{ title }}
  {% endif %}
{% endif %}
