<div class="card--person">
  <div class="card__meta">
    {% embed '@uids_base/field/field.html.twig' %}
  {% block field_icon %}
    <i role="presentation" class="fas fa-clock" aria-hidden="true"></i>
  {% endblock %}
{% endembed %}
  </div>
</div>
