{% embed '@uids_base/field/field.html.twig' %}
  {% set label_display = 'visually_hidden' %}
  {% block field_icon %}
    <span class="fa-li"><i role="presentation" class="fas fa-phone" aria-hidden="true"></i></span>
  {% endblock %}
{% endembed %}
