{#
/**
* @file
* Default theme implementation to display the file entity as a video tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   video tag.
* - files: And array of files to be added as sources for the video tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*
* @ingroup themeable
*/
#}
<div class="media--video">
  {{ attach_library('uids_base/banner-video') }}
  {% if attributes.storage.autoplay and attributes.storage.muted %}
    <div class="video-controls video">
      {% if attributes.storage.autoplay %}
      <button class="video-btn video-btn__pause" id="video-btn">
        <span class="element-invisible">Pause</span>
      </button>
      {% else %}
      <button class="video-btn video-btn__play" id="video-btn">
        <span class="element-invisible">Play</span>
      </button>
      {% endif %}
    </div>
  <video {{ attributes }} id="video-container">
    {% for file in files %}
      <source {{ file.source_attributes }} />
    {% endfor %}
  </video>
</div>
