{{ attach_library('uids_base/search-toggle') }}
{{ attach_library('uids_base/search') }}

<div class="search-wrapper">
    <div class="search-overlay" aria-hidden="true" aria-label="search tools for this site">
        {{ search_form }}
        {{ under_search }}
    </div>

  {% if uiowa_search_form %}
    {% include '@uids_base/uids/search-toggle--bttn.twig' %}
  {% endif %}

</div>
