{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  <div class="lockup-preview-wrapper">
    <div id="lockup-preview">
      <h2 class="h3">Horizontal lockup preview</h2>
      <p class="small">Follow directions in step 2 of the form.</p>
      <div class="lockup-horizontal">
        <img class="block-iowa" src="/{{ element['#module_path'] }}/images/iowa.svg">
        <div class="lockup-content">
          <div class="lockup-content-inner">
            <div class="primary-unit"></div>
            <div class="sub-unit"></div>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="h3">Stacked lockup preview</h2>
      <p class="small">Follow directions in step 3 of the form.</p>
      <div class="lockup-stacked">
        <img class="block-iowa" src="/{{ element['#module_path'] }}/images/iowa.svg">
        <div class="lockup-content">
          <div class="lockup-content-inner">
            <div class="primary-unit"></div>
            <div class="sub-unit"></div>
          </div>
        </div>

      </div>
    </div>
    <p class="lockup-preview-disclaimer"><em><strong>Disclaimer:</strong> This preview is for illustrative purposes only and is not an exact representation of final product.</em></p>
  </div>
  <div class="lockup-form-wrapper">
    {{ children }}
  </div>
</form>
