/**
 * @file
 * Default styling for the Basic Types People module.
 *
 * This styling is intended to provide a default layout for both the default
 * Views listings and content nodes, leaving much of the styling up to the
 * site itself.
 */

/* Default styling for the default Views listings. */
.view-people { line-height: 1.5; }
.view-people table caption { display: none; }
.view-people .item-list ul { padding: 0; }
.view-people .item-list ul.pager { margin: 1rem 0; }
.view-people .item-list ul li.views-row {
    list-style-type: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
}
.view-people .item-list ul li:last-child { border-bottom: none; }
.view-people table td.views-field-title h3,
.view-people table td.views-field-person-address,
.view-people table td.views-field-person-email,
.view-people table td.views-field-person-phone {
    white-space: nowrap;
}
.view-people table td.views-field-title h3 { margin: 0; }
.view-people table td.views-field-person-address p.address { margin: 0; }

/* Default styling for the person nodes. */
.page-node-type-person { line-height: 1.5; }
/*
.page-node-type-person .field ul.field-items {
    margin: 0;
    padding: 0 0 0 1.25em;
}
.page-node-type-person .field ul.field-items li.field-item {
    list-style: outside;
    margin: 0;
    padding: 0;
}
*/
.page-node-type-person .field-name-person-image { float: right; }
.page-node-type-person .field-name-person-last-modified { padding-top: 1rem; }
