@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.view-taxonomy-term {
  // Style the term image.
  .view-header {
    // Add spacing between header and content area if using fields.
    .content {
      .field + .field:last-child {
        margin-bottom: $mobile-height-gutter;
      }
    }
  }
  .content {
    .field--name-field-image {
      @include breakpoint(sm) {
        float: right;
        width: 35%;
        margin-left: $mobile-height-gutter;
        margin-bottom: $mobile-height-gutter;
      }
    }
  }
  @include margin($top: $lg);
  &[class*="grid--"] {
    .view-content.list-container__inner {
      @include breakpoint(sm) {
        display: grid;
      }
    }
  }
}

