@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

// Events List Block
.view-events-list-block,
.view-display-id-card_list {
  .field--name-field-event-location {

   p.address {
     font-size: 1.1rem;
     line-height: 1.7;

     .address-line1, .locality, .administrative-area, .postal-code, .country {
       opacity: .7;
     }
   }
  }

  .field--name-field-event-location,
  .field--name-field-event-virtual {
    margin-top: $xsm;
  }
}
