@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.view-display-id-page_articles {
  @include margin($top: $lg);
  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: minmax(50%, 1fr) 25%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .view-content {
    grid-area: 1 / 1 / 2 / 3;
    @include breakpoint(sm) {
      margin-bottom: $mobile-height-gutter;
    }
  }

  .pager {
    grid-area: 2 / 1 / 3 / 4;
    @include breakpoint(sm) {
      margin-bottom: 4rem;
    }
  }

  .view-footer {
    grid-area: 1 / 4 / 4 / 4;
    @include breakpoint(sm) {
      margin-left: 6rem;
    }
  }

  .feed-icons {
    @include breakpoint(sm) {
      grid-area: 2 / 1 / 3 / 3;
      margin-top: 6rem;
    }
  }
}
