@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.view-taxonomy-term {
  .content {
    .field--name-field-image {
      @include breakpoint(sm) {
        float: right;
        width: 35%;
        margin-left: $mobile-height-gutter;
        margin-bottom: $mobile-height-gutter;
      }
    }
  }
  @include margin($top: $lg);
  &[class*="grid--"] {
    .view-content.list-container {
      .views-row {
        border: none;
      }
      @include breakpoint(sm) {
        display: grid;
      }
    }
  }
  .view-content {
    @include list-group;
    @include list-group-flush;

    .views-row {
      @include list-group-item;
      padding: 0;
      .card[class*="card--layout"] {
        margin-top: 1.6rem;
      }
      &:first-child {
        border-top: none;
      }
    }
  }
}

