@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

// Events List Block
.view-events-list-block {
  .field--name-field-event-location {
    margin-top: $xsm;
    flex: 0 1 100%;
    display: flex;
   p.address {
     display: inline;
     font-size: 1.1rem;
     line-height: 1.4;
     .address-line1, .locality, .administrative-area, .postal-code, .country {
       opacity: .7;
     }
   }
  }
}
