@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";
@import "view-calendar.scss";
@import "view-bef.scss";


.views-exposed-form {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 2rem;
  position: relative;

  [type=checkbox], [type=radio] {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 .35rem 0 .25rem;
    -webkit-transform: scale(1.3, 1.3);
  }
  [type='checkbox']+label,
  [type='radio']+label {
    font-weight: $font-weight-normal;
    flex-basis: 75%;
  }

  .form-type-checkbox {
    display: flex;
  }

  &.uids-content:not(.uids-search) {
    padding: 5px 19px;

    .form--inline {
      align-items: flex-start;
    }

    .form-item:not(:last-child),
    .form-actions:not(:last-child) {
      @include breakpoint(sm) {
        margin-right: 1em;
      }
    }

    .form-actions {
      @include breakpoint(sm) {
        margin-top: 2.5em;
      }
    }

    .button {
      @include bttn--secondary;
      border: 0;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }


  details {
    &.form-wrapper {
      display: block;
      border: 1px solid;
      border-color: #c4c4c4;
      flex-basis: 100%;
      background: #fff;
    }

    .details-wrapper {
      padding: 0 1rem 1rem;
    }

    summary {
      position: relative;
      padding: 1rem;
      cursor: pointer;
    }

    &[open] summary {
      border-bottom: 1px solid;
      border-color: #c4c4c4;
      margin-bottom: 1em;
    }
  }

  .form--inline {
    @include breakpoint(sm) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  .js-form-item {
    flex: auto 1 1;
    @include breakpoint(sm) {
      flex: 1;
    }
  }

  .form-group {
    margin: 0 1rem 1rem 1rem;
  }
}

.bg-dark, .bg-black {
  .pager__item.pager__item--ellipsis {
    color: #5d5656;
  }
  .pager__item a {
    color: $primary;
  }
}
.bg-yellow {
  .pager__item a {
    color: $secondary;
  }
  .pager__item.is-active a {
    color: white;
  }
}

// feed icons

.feed-icons {
  .bttn {
    svg{
      margin-left: 0;
      margin-right: $xsm;
    }
    padding-left: 0;
    padding-right: 0;
  }
}

// default styles for views fields.
.views-field {
  line-height: 1.7;
  margin-top: 0;
  font-size: $content-font-size;
}
