@use '../../uids/scss/abstracts/_variables.scss';
@use '../../uids/scss/abstracts/_utilities.scss';

// Events List Block
.view-events-list-block,
.view-display-id-card_list {
  .field--name-field-event-location,
  .field--name-field-event-virtual {
    margin-top: variables.$xsm;
  }
}

// Adds fixed size to Time column on OnIowa events table
.view-id-events.view-display-id-page_upcoming {
  table.views-table {
    table-layout: fixed;

    .views-field-field-event-when-value-1 {
      width: 8rem;

      @include utilities.breakpoint(xsm) {
        width: 14rem;
      }
    }
  }
}
