@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// Full Calendar styles
a.fc-event {
  border: none;
}
.fc-button-primary {
  background-color: $secondary;
}

.fc-button-primary:hover {
  background-color: $secondary;
}

.fc-button-primary:focus {
  box-shadow: 0 0 0 0 darken(#000000, 15%);
}

.fc-button-primary:disabled {
  background-color: rgb(66, 66, 66);
  border-color: rgb(66, 66, 66);
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  border-color: darken(#000000, 15%);
}

.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: 0 0 0 0.2rem darken(#000000, 15%);
}

.fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary:not(:disabled):active {
  background-color: $brand-cool-gray;
}

.fc-day-grid-event {
  padding: .5rem !important;
}
.fc-day-header {
  padding: .5rem !important;
}
.fc-day-number {
  padding: .5rem !important;
}

// Adjustment to allow for text wrapping.
.fc-day-grid-event .fc-content {
  white-space: normal;
}
