@use 'uids/scss/abstracts/_variables.scss';
@use 'uids/scss/abstracts/_utilities.scss';

.view-taxonomy-term {
  @include utilities.margin(variables.$top: variables.$lg);
  // Style the term image.
  .view-header {
    // Add spacing between header and content area if using fields.
    .content {
      .field + .field:last-child {
        margin-bottom: variables.$mobile-height-gutter;
      }
    }
  }
  .content {
    .field--name-field-image {
      @include utilities.breakpoint(sm) {
        float: right;
        width: 35%;
        margin-left: variables.$mobile-height-gutter;
        margin-bottom: variables.$mobile-height-gutter;
      }
    }
  }

  &[class*="grid--"] {
    .view-content.list-container__inner {
      @include utilities.breakpoint(sm) {
        display: grid;
      }
    }
  }
}

