@import "uids/scss/abstracts/_variables.scss";
@import "uids/scss/abstracts/_utilities.scss";

// This file contains the styles for the archive block for the /admin/config/sitenow/uiowa-articles page.

.view-display-id-page_articles .view-display-id-block_articles_archive {
  .view-header {
    @include h6;
    margin-bottom: 0;
    padding: 0;
  }

  .view-content {
    padding: 0;
    margin-bottom: 0;
    display: block;

    ul {
      li {
        margin: 0;
      }

      li a {
        border-radius: 0;
        background-color: transparent;
      }

      li a:first-child,
      li a:last-child {
        border-radius: 0;
      }
    }
  }
}
