@use "uids/scss/abstracts/_variables.scss";
@use "uids/scss/abstracts/_utilities.scss";

.view-display-id-page_articles {
  @include utilities.margin(variables.$top: variables.$lg);
  @include utilities.breakpoint(sm) {
    display: grid;
    grid-template-columns: minmax(50%, 1fr) 25%;
    //grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .view-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: variables.$mobile-height-gutter;
  }

  .view-content {
    grid-area: 2 / 1 / 3 / 3;
    @include utilities.breakpoint(sm) {
      margin-bottom: variables.$mobile-height-gutter;
    }
  }

  .pager {
    grid-area: 5 / 1 / 3 / 3;
    @include utilities.breakpoint(sm) {
      margin-bottom: 4rem;
    }
  }

  .view-footer {
    margin-top: variables.$mobile-height-gutter;
    grid-area: 2 / 3 / 4 / 4;
    @include utilities.breakpoint(sm) {
      margin-top: 0;
      margin-left: 3rem;
    }
    @include utilities.breakpoint(page-container) {
      margin-left: 6rem;
    }
  }

  .feed-icons {
    @include utilities.breakpoint(sm) {
      grid-area: 5 / 1 / 3 / 3;
      margin-top: 6rem;
    }
  }
}
