@import "uids3/assets/scss/_variables.scss";
@import "uids3/assets/scss/_utilities.scss";

.bef-form {
  label:not(.option) {
    @include element-invisible;
  }

  .form-type-textfield,
  .form-type-select {
    @include breakpoint(sm) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  .bef--secondary {
    @include breakpoint(sm) {
      grid-area: 2 / 1 / 3 / 3;
    }

    .details-wrapper {
      @include breakpoint(sm) {
        display: flex;
      }
    }
  }

  // Sidebar display.
  &.bef-form--sidebar {
    .views-exposed-form.uids-content:not(.uids-search) .button[data-drupal-selector*=edit-reset] {
      @include breakpoint(sm) {
        top: 120px;
      }
    }

    .views-exposed-form {
      fieldset legend {
        text-align: center;
      }
      &.uids-content:not(.uids-search) {
        .form-item {
          margin-right: 0;
        }
        fieldset.form-wrapper {
          display: flex;
          flex-direction: column;
        }
        fieldset.form-wrapper .fieldset-wrapper {
          padding: 1rem 1rem 0 1rem;
        }
      }
    }
    .bef--secondary {
      .details-wrapper {
        @include breakpoint(sm) {
          display: block;
        }
      }
    }
  }

  .form-actions {
    display: flex;
    gap: 1rem;
    @include breakpoint(md) {
      gap: 0;
    }
    @include breakpoint(sm) {
        grid-area: 1 / 3 / 3 / 4;
    }
  }

  .uids-content {
    .form-item {
      margin-top: 0;
      margin-bottom: 0;
    }

    [type=submit] {
      padding: 1rem 1.25rem;
    }
  }

  .views-exposed-form {
    &.uids-content:not(.uids-search) {
      padding: 1.5rem;

      .form-actions {
        margin: 0;
      }

      // Sort select.
      .form-item:not(:last-child).form-item-sort-bef-combine {
        background: #fff;
        padding: 2rem 0.5rem 1rem 0;
        grid-column: 1/-1;
        margin: 1rem -2rem -3rem -1.5rem;
        @include breakpoint(sm) {
          padding: 2rem 2rem 1rem 0;
          grid-area: auto;
        }
        select {
          @include breakpoint(sm) {
            width: auto;
          }
        }
      }

      .form-item {
        margin-right: 0;
        @include breakpoint(sm) {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }

        > &.form-type-textfield:first-of-type {
          margin-right: 0;
        }
      }

      .button {
        flex: 1;

        &[data-drupal-selector*=edit-reset] {
          @include breakpoint(md) {
            margin-left: .7rem;
          }
        }
      }
    }

    .form--inline {
      @include breakpoint(sm) {
        display: grid !important;
        grid-template-columns: minmax(50%, 1fr) 25%;
        grid-column-gap: 0;
        grid-row-gap: 0;
      }
    }

    .select-wrapper {
      margin-right: 0;
    }

    &[data-drupal-form-fields*="edit-reset--"] {
      details.bef--secondary {
        @include breakpoint(sm) {
          width: calc(100% + 175px);
        }
      }
    }
    details.bef--secondary {
      @include breakpoint(sm) {
        width: calc(100% + 84px);
      }

      @include breakpoint(sm) {
        padding-top: #{3 * $xsm-sm};
        margin-top: $xsm-sm;
      }

      &.form-wrapper {
        border: none;

        @include breakpoint(sm) {
          border-top: 1px solid $grey-light;
        }

        background: none;
      }

      &[open]>summary {
        border-bottom: none;
        margin-bottom: 0;
        padding: 0 0 #{2 * $xsm-sm};
      }

      >summary {
        padding: 0;
        font-weight: 600;
        display: block;
        margin-bottom: 1rem;
        @include breakpoint(sm) {
          margin-bottom: 0;
        }

        &::marker,
        &::-webkit-details-marker {
          display: none;
        }
      }

      summary::before{
        padding: $xsm;
        padding-right: .6rem;
        content: "\f13a";
        color: $brand-cool-gray;
        @include fas();
      }

      &[open] > summary::before{
        content: "\f139";
      }

      >.details-wrapper {
        padding: 0;
      }

      details {
        --elemHeight: 3.5rem;

        flex: 1;
        background: unset;
        border: unset;
        position: relative;

        &[open] > summary::before{
          content: "\f139";
        }

        summary {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          width: 100%;
          height: var(--elemHeight);
          padding: 0.5rem;
          margin: 0 0 1rem;
          transition: box-shadow .5s,border-color .25s ease-in-out;
          color: $grey;
          border: 1px solid $grey-light;
          background-color: $white;
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          font-family: inherit;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &:before {
            padding-left: 0;
          }
        }

        .details-wrapper {
          overflow: auto;
          max-height: 346px;
          z-index: 500;
          display: flex;
          flex-direction: column;
          background: $white;
          border: 1px solid $grey-light;
          position: absolute;
          padding: 0;
          top: calc(var(--elemHeight) - 1px);
          width: calc(100% - 2px);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);

          .bef-toggle {
            padding: #{2 * $xsm-sm} $xsm-sm;
            display: block;
            border: none;
            border-bottom: 1px solid $grey-light;
            text-decoration: none;
            font-size: 0.8rem;
            color: $grey;

            &:focus {
              font-weight: bold;
              text-decoration: underline;
            }
          }

          .bef-checkboxes {
            padding: 0.5rem 0;
          }

          .form-type-checkbox {
            padding: 0.5rem;
            margin-right: 0;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

// Override module float.
.bef-exposed-form .form--inline .form-item {
  float: none;
}
