@import "uids/assets/scss/_variables.scss";
@import "uids/assets/scss/_utilities.scss";

.view-id-people {
  @include margin($top: $lg);
  .view-header {
    width: 100%;
  }
  .card__media {
    @include breakpoint(sm) {
      margin-top: 0;
    }
  }
  .view-content {
    @include list-group;
    @include list-group-flush;
  }

  .views-row {
    //@include list-group-item;
  }

  .view-content:first-child .views-row:first-child {
    border-top: none;
  }

  .view-content:last-child .views-row:last-child {
    border-bottom: none;
  }
}


.view-display-id-page_people_table {
  table {
    @include breakpoint(sm) {
      display: block;
    }
    tbody tr:not(.is-selected):nth-child(2n),
    tbody tr:not(.is-selected):nth-child(2n) th {
      background-color: #fff;
    }
  }
  .tabledrag-changed-warning {
    // @extend .alert;
    // @extend .alert-warning;
  }

  thead {
    @include element-invisible;
  }

  .views-field-title,
  .views-field-draggableviews {
    width: 0px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  .tabledrag-title {
    @include element-invisible;
  }

  tr.draggable {
    position: relative;

    .tabledrag-handle {
      margin: 0 0.5rem 0 0;
      height: 16px;

      .handle {
        background-position: 0rem;
        width: 16px;
        height: 16px;
        padding: 0rem;
        margin: 0rem;
      }
    }

    &+td {
      padding-left: 0rem;

      fieldset {
        margin-bottom: 0rem;
      }

      input {
        margin: 0;
      }
    }

    &.drag {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

// Draggableviews weight inputs are not hidden to site visitors...
body:not(.user-logged-in) {
  .draggableviews-weight {
    @include element-invisible;
  }
}
