{% if site_type == 'primary' %}

{% include '@uiowa-bar' with {
  "bg_color": 'uiowa-bar--primary',
  "site_type": 'uiowa-bar--standard'
} %}

{% elseif site_type == 'secondary' %}

{% include '@uiowa-bar' with {
  "bg_color": 'uiowa-bar--secondary',
  "site_type": 'uiowa-bar--standard'
} %}

{% elseif site_type == 'tertiary' %}

{% include '@uiowa-bar' with {
  "bg_color": 'uiowa-bar--primary',
  "site_type": 'uiowa-bar--home'
} %}

{% endif %}

<header class="header site-header {{ header_type }} {{ header_alignment }}">
  <div class="header__container {{ header_color }}">

    {% if site_type == 'primary' %}
    {% include '@site-name' %}
    {% elseif site_type == 'secondary' %}
    {% include '@site-name' %}
    {% elseif site_type == 'tertiary' %}
    {% endif %}

    <nav class="navbar navbar--main {{ nav_type }}">
      <div id="nav" class="region-primary-menu">
        {% if menu_type == 'superfish' %}
        {% include '@superfish' %}
        {% elseif menu_type == 'main' %}
        {% include '@main-menu' %}
        {% elseif menu_type == 'mega' %}
        {% include '@mega-menu' %}
        {% endif %}
      </div>
    </nav>
  </div>
</header>

{% include "@feature-block" with {
  "feature_banner_image": item.feature_banner_image,
  "feature_link": item.feature_link,
  "feature_title": item.feature_title,
  "feature_sub": item.feature_sub,
  "block_type": 'basic',
  "feature_state": 'feature__container-expanded'
} %}

{% include '@icon-block' with {
  "icon_image_1": '../../images/stack-of-books.svg#icon',
  "icon_image_2": '../../images/scholarship.svg#icon',
  "icon_image_3": '../../images/map-pin.svg#icon',
  "icon_image_4": '../../images/paper.svg#icon'
} %}

<hr class="spacing" />

{% include '@headline' with {
  "headline_level": 'h2',
  "headline_title": 'Bold Hawkeye Headline Here',
  "headline_type": 'bold-headline bold-headline--positive'
} %}

<div class="layout-container">

  {% include '@stat-block' with {
    "stat_title_1": '24,000',
    "stat_summary_1": 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    "stat_image_1": '../../images/feature1.jpg',
    "stat_title_2": '25,000',
    "stat_summary_2": 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    "stat_image_2": '../../images/feature2.jpg',
    "stat_title_3": '26,000',
    "stat_summary_3": 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    "stat_image_3": '../../images/feature3.jpg',
    "stat_title_4": '27,000',
    "stat_summary_4": 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    "stat_image_4": '../../images/feature1.jpg',
    "stat_items": '3'
  } %}

</div>

<hr class="spacing" />
<hr class="spacing" />

{% include '@banner-block' with {
  "banner_title": 'Bold Hawkeye Headline Here',
  "banner_summary": 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.',
  "banner_link_url": 'https://example.com',
  "banner_link_title": 'Call to Action',
  "banner_bg_image": '../../images/bg.jpg',
  "banner_image": '../../images/herky-01.png'
} %}

<hr class="spacing" />

{% include '@headline' with {
  "headline_level": 'h2',
  "headline_title": 'News and Features',
  "headline_type": 'bold-headline bold-headline--positive'
} %}

<div class="layout-container">
  {% include "@news-block" with {
    "news_card_image": item.news_card_image,
    "news_card_link_url": item.news_card_link_url,
    "news_card_title": item.news_card_title,
    "news_card_text": item.news_card_text,
    "news_card_link_title": item.news_card_link_title,
    "block_type": 'advanced'
  } %}

</div>

<hr class="spacing" />

{% include '@portraits-block' %}

<hr class="spacing" />

{% include '@headline' with {
  "headline_level": 'h2',
  "headline_title": 'Rotating Highlight Area',
  "headline_type": 'bold-headline bold-headline--positive'
} %}

<div class="layout-container">

  {% include "@card-block" with {
    "card_image": item.card_image,
    "card_link_url": item.card_link_url,
    "card_title": item.card_title,
    "card_text": item.card_text,
    "card_link_title": item.card_link_title,
    "block_type": 'basic'
  } %}

</div>

<hr class="spacing" />

{% include '@footer' with {
  "footer_logo": '../../images/dome.png'
} %}

<style>
  hr.spacing {
    border: 0;
    height: 1px;
    background: transparent;
    margin: 50px 0;
  }
</style>
