{{ attach_library('uids_base/off-canvas') }}
{{ attach_library('uids_base/vertical') }}

<div class="o-canvas__group">
  <div class="o-canvas__wrapper">
    {% include '@uids/03 - global/menus/off-canvas/off-canvas--bttn.twig' %}
    {% embed '@uids_base/navigation/off-canvas--drawer.html.twig' %}
      {% block drawer %}
        <div class="block-superfish-alt">
          {{ page.primary_menu }}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>
