{{ attach_library('uids_base/top-scroll') }}
<div class="scroll-up">
  <div class="top-scroll">
    <nav id="vertical-dots" role="navigation" aria-label="Navigation"><ul><li><a class="v-dot-link current" href="#" aria-labelledby="v-dot-nav-section" data-section="hero-banner">
      <a class="v-dot-link" href="#" aria-labelledby="v-dot-nav-section" data-section="hero-banner">
        <div class="scroll-icon">
        <span class="fas fa-arrow-up"></span>
        </div>
      </a>
    </nav>
  </div>
</div>
