{{ attach_library('uids_base/top-scroll') }}
<div class="scroll-up">
  <div class="top-scroll">
      <a class="v-dot-link" href="#" aria-labelledby="v-dot-nav-section" data-section="hero-banner">
        <div class="scroll-icon">
        <span class="fas fa-arrow-up"></span>
        </div>
      </a>
  </div>
</div>
