<div class="o-canvas__drawer o-canvas__menu" aria-labelledby="o-canvas__menulabel">
    <div class="drawer-content">
        <h2 id="o-canvas__menulabel" class="element-invisible">Menu Drawer Options</h2>
        {% block drawer %}
        {{ drawer-content }}
        {% endblock %}
    </div>
</div>