{{ attach_library('uids_base/top-scroll') }}
<div class="top-scroll">
  <nav id="top-scroll" role="navigation" aria-label="Navigation">
    <ul>
      <li>
        <div class="top-scroll-wrapper">
          <a class="v-dot-link" href="#" aria-labelledby="v-dot-nav-section">
            <span class="fas fa-arrow-up"></span>
          </a>
        </div>
      </li>
    </ul>
  </nav>
</div>
