{{ attach_library('uids_base/top-scroll') }}
  <nav class="top-scroll-container js-scroll" id="top-scroll" role="navigation" aria-label="Navigation">
    <ul>
      <li>
        <a class="v-dot-link" href="#" aria-labelledby="v-dot-nav-section">
          <span class="fas fa-arrow-up"></span>
        </a>
      </li>
    </ul>
  </nav>
